<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/style/css/bootstrap.min.css" rel="stylesheet">
    <link href="/style/css/plugins/dataTables.bootstrap.css" rel="stylesheet">
    <script src="/style/js/jquery-1.11.1.min.js"></script>
    <script src="/style/js/bootstrap.min.js"></script>
    <script src="/style/js/jquery.twbsPagination.min.js"></script>
    <script type="text/javascript" src="/style/js/layer/layer.js"></script>
</head>
<body>
<div class="row" style="margin:5px 5px 0 5px;">
    <div class="panel panel-primary">
        <div class="row">
            <div class="pull-right">
                <form class="navbar-form navbar-left" action="" method="get">
                    <input value="1" type="hidden" name="page">
                    <input value="" type="hidden" name="sid">

                    <div class="btn-group btn-group-xs">
                        <a type="button" class="btn btn-default" href="/admin/store_liquidity/{{sid}}?type=1" style="padding:8px 4px;border:1px solid #ccc;border-bottom-left-radius:4px;border-top-left-radius:4px;">积分</a>
                        <a type="button" class="btn btn-default" href="/admin/store_liquidity/{{sid}}?type=2" style="padding:8px 4px;border:1px solid #ccc;border-left:none;">资金</a>
                    </div>
                    <div class="input-group custom-search-form">
                        <input type="text" name="begindate" id="begindate" value="{{begindate}}" class="Wdate form-control"  onClick="WdatePicker()" placeholder="开始日期" style="width:110px;height:34px;margin-right:5px;border:1px solid #ccc;border-radius:4px;"/>
                        <input type="text" name="enddate" id="enddate" value="{{enddate}}" class="Wdate form-control" onClick="WdatePicker()" placeholder="截止日期" style="width:110px;height:34px;margin-right:5px;border:1px solid #ccc;border-radius:4px;"/>
                    </div>
                    <div class="input-group custom-search-form">
                        <input type="text" id="keyword" name="keyword" class="form-control" style="width:180px;" value="" placeholder="订单号">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">查找</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover" id="tb_user" cellpadding="0" cellspacing="0" border="0">
                <thead>
                <tr style="background:#528acb;color:#fff;text-align:center;height:38px;line-height:38px;">
                    <th style="width:10%;text-align:center;">单号</th>
                    <th style="width:10%;text-align:center;">出入账</th>
                    <th style="width:10%;text-align:center;">类别</th>
                    <th style="width:10%;text-align:center;">数值</th>
                    <th style="width:10%;text-align:center;">日志</th>
                    <th style="width:12%;text-align:center;">时间</th>
                </tr>
                </thead>
                <tbody>
                {% for a in lists %}
                {% if type == '1' %}
                <tr>
                    <td>{{a.ordernum}}</td>
                    <td>{{a.process_type==0 and '入账' or '出账'}}</td>
                    {% if a.type == 1 %}
                    <td>兑换商品</td>
                    {% elif a.type == 2 %}
                    <td>兑现</td>
                    {% elif a.type == 3 %}
                    <td>卖保险获取</td>
                    {% else %}
                    <td>其它</td>
                    {% endif %}
                    <td>{{a.score}}</td>
                    <td>{{a.process_log}}</td>
                    <td>{{a.created | datetimeformat}}</td>
                </tr>
                {% else %}
                <tr>
                    <td>{{a.in_num}}</td>
                    {% if a.process_type==1 %}
                    <td>入账</td>
                    {% elif a.process_type==2 %}
                    <td>出账</td>
                    {% endif %}
                    <td>{{a.process_message}}</td>
                    <td>{{a.money}}</td>
                    <td>{{a.process_log}}</td>
                    <td>{{a.apply_time | datetimeformat}}</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <div>
                <div class="col-sm-4">
                    <div class="dataTables_info" role="alert" aria-live="polite" aria-relevant="all">
                        当前：第{{page}}页 / {{totalpage}}页，合计{{total}}条
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination  pagination-sm" id="pageUl" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script language="javascript" type="text/javascript" src="/style/js/My97DatePicker/WdatePicker.js"></script>
<script>
    function changePrice() {
        $("#tb_user input[type='text']").val($("#price").val());
    }

    function checkChanged(flag)
    {
        if(flag == 1) {
            $("#tb_user input[type='checkbox']").prop("checked",true);
        }
        else {
            $("#tb_user input[type='checkbox']").prop("checked",false);
        }
    }

    function findAllSelectedData(){
        var data = [];
        $("#tb_user input[type='checkbox']:checked").each(function(){
                var item = {};
                item.id = this.value;
                item.price = $("#price"+this.value).val();
                data.push(item);
            }
        );
        return data;
    }

    var xsrf='{{handler.xsrf_token}}';
    function process() {
        var data2 = findAllSelectedData();
        if(data2.length == 0) {
            layer.alert('请先选择需要处理的商品');
            return;
        }
        $.post("/ajax/add_product_release/{{store_id}}", { _xsrf:xsrf, json:JSON.stringify(data2) }, function (data) {
            data = jQuery.parseJSON(data);
            if(data.flag==1){
                layer.alert('添加成功，进入商户产品库刷新可查看');
            }
            else
            {
                layer.alert('添加失败，请联系管理员');
            }
        });
    }

    $(document).ready(function() {
        $('#pageUl').twbsPagination({
            first:'首页',
            prev:'上一页',
            next:'下一页',
            last:'尾页',
            totalPages: {{totalpage}},
            startPage: {{page}},
            visiblePages: 8,
            onPageClick: function (event, page) {
                self.location="/admin/product_release_add/{{store_id}}?keyword={{keyword}}&pagesize={{pagesize}}&page="+page;
            }
        });
    });

</script>
