<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>车装甲管理系统登录界面</title>
    <link rel="stylesheet" type="text/css" href="/style/css/basic.css" />
    <link rel="stylesheet" type="text/css" href="/style/css/admin_login.css" />

    <!-- Bootstrap Core CSS -->
    <link href="/style/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/style/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/style/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/style/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
<body style="background: #EBFBFF;">
<div class="head">
    <a href="#"><img src="/style/images/logo.png" /></a>
    <h1 class="jrsc"><a href="#">车装甲管理系统</a></h1>
</div>
<div class="main clearfix" style="margin: 0 auto; text-align: center;">
        <h1>您请求的页面不存在</h1>
</div>
</body>
</html>
