{% extends "layout/admin.html" %}
{% block content %}
<div class="row">
{%set messages=handler.get_flashed_messages() %}
        {%if messages%}
            <div class="msg">
                {% for type, msg in messages%}
                    <span style="color:red;">{{msg}}</span>
                {% endfor %}
            </div>
        {%endif%}
   <nav>
   <div class="navbar-header" style="float: left">
      <a class="navbar-brand" href="#">广告管理</a>
   </div>
       <div class="pull-right">
      <form class="navbar-form navbar-left" action="" method="post" role="search">
       {{xsrf()}}
         <div class="input-group custom-search-form">
             <input type="text" name="adname" id="adname" value="{{ key }}"  class="form-control"  style="width:110px; height:34px;margin-right:5px;border:1px solid #ccc;border-radius:4px;" placeholder="广告名称" />
             <select class="form-control" name="sel_category" id="sel_category" style="width:110px; height:34px;margin-right:5px;border:1px solid #ccc;border-radius:4px;" data-default="">
             <option value=""  >全部</option>
                    <option value="用户端PC" {% if category == "用户端PC" %}selected="selected"{%endif%} >用户端PC</option>
                    <option value="手机端APP" {% if category == "手机端APP" %}selected="selected"{%endif%} >手机端APP</option>
                </select>
             <select name="province_code" id="province_code" class="form-control" style="width:110px; height:34px;margin-right:5px;border:1px solid #ccc;border-radius:4px;" data-default="">
                      <option value="">全国</option>
                     {% for area in items %}
                          <option value="{{area.code}}" {% if area.code == sheng %}selected="selected"{%endif%}>{{area.name}}</option>
                      {% endfor %}
                  </select>
             <span class="input-group-btn">
                 <button class="btn btn-default" type="submit" id="bt_submit" style="border:1px solid #ccc;border-radius:4px;">
                     <i class="fa fa-search"></i>
                 </button>
            </span>
         </div>
      </form>
   </div>
      <div class="navbar-header" style="float: right;margin-top:15px;">
          <a href="/admin/addad" style="padding:5px 8px;border:1px solid #438bca;border-radius:4px;color:#438bca;font-size:16px;">添加广告</a>
      </div>
</nav>
</div>
<div class="row">
    <div class="panel panel-primary">
    <!--<div class="panel-body">-->
        <div class="table-responsive">
        <table class="table table-hover" id="tb_users" cellpadding="0" cellspacing="0" border="0" style="text-align:center;width:100%;">
            <thead>
                <tr style="background:#528acb;color:#fff;text-align:center;height:38px;line-height:38px;">
                    <th style="width:10%;text-align:center;">编号</th>
                    <th style="width:30%;text-align:center;">广告名称</th>
                    <th style="width:10%;text-align:center;">开通省份</th>
                    <th style="width:10%;text-align:center;">广告端口</th>
                    <th style="width:20%;text-align:center;">广告位置</th>
                    <th style="width:10%;text-align:center;">广告尺寸</th>
                    <th style="width:10%;text-align:center;">操作</th>
                </tr>
            </thead>
            <tbody>
            {% for ad in ads -%}
            <tr>
              <td>{{ad.id}}</td>
              <td>{{ ad.imgalt }}</td>
              <td>{{ad.city.pid and ad.city.pid.name}} &nbsp; {{ad.city.name or ''}}</td>
                <td>{{ad.atype.category or ''}}</td>
            <td>{{ad.atype.name}}</td>
              <td>{{ad.adsize or ''}}</td>

              <td>
                  <a href="/admin/editad/{{ad.id}}"style="padding:4px 5px;border:1px solid #438bca;color:#438bca;border-radius:4px;font-size:12px;text-decoration:none;">修改</a>
                  {% if ad.flag == 0 %}
                  <a style="padding:4px 5px;border:1px solid #438bca;color:#438bca;border-radius:4px;font-size:12px;text-decoration:none;" href="/admin/delad/{{ad.id}}/1 " onclick="return confirm('确定启用此广告?')">启用</a>
                      {%else%}
                  <a href="/admin/delad/{{ad.id}}/0 " onclick="return confirm('确定停用此广告?')" style="padding:4px 5px;border:1px solid #438bca;color:#438bca;border-radius:4px;font-size:12px;text-decoration:none;">停用</a>
                  {%endif%}
              </td>
            </tr>
			{%- endfor %}
            </tbody>
        </table>
        </div>
    <!--</div>-->
    </div>
</div>
{% endblock %}