{% extends "layout/admin.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/style2/integral/css/integral.css"/>

<!--[if lt IE 9]>
<script type="text/javascript" src="/style/integral/js/html5shiv.min.js"></script>
<script type="text/javascript" src="/style/integral/js/respond.min.js"></script>
<![endif]-->

<script type="text/javascript" src="/style2/integral/js/jquery.min.js"></script>
<script type="text/javascript" src="/style2/integral/js/bootstrap.min.js"></script>

{% endblock %}
{% block content %}

<div class="row main">
    <div>
        <a class="navbar-brand" href="#">积分生成规则</a>
    </div>
    <div class="content">
        <form class="form-inline" role="form" action="" method="post">
            <div class="form-group">
                <label>选择地区</label>
			     <select class="form-control" name="province_code" id="province_code" onchange="province_change(this.value,0)" data-default="{{default_province}}" style="width:150px;">
				 	 <option value="">--请选择省份--</option>
				     {% for area in items %}
	                 <option value="{{area.code}}" {{area.code==default_province and 'selected' or ''}}>{{area.name}}</option>
	                 {% endfor %}
			     </select>
			     <select class="form-control" name="city_code" id="city_code" data-default="{{default_city}}" style="width:150px;">
				     <option value="">--请选择城市--</option>
                </select>
            </div>
            <button type="submit" class="btn btn_search btn-primary">查询</button>
            <a class="a_link" href="/admin/integralhistory">查看历史记录</a>
            <a class="a_link add" href="/admin/integraladd">新增</a>

            <table class="table table-hover text-center">
                <thead>
                <tr>
                    <th>地区</th>
                    <th>保险公司</th>
                    <th>规则【积分 = (（交强险-交强险*税率）*交强险返佣率 + （商业险-商业险*税率）*商业险返佣率) * (1-转账费率-收益率)】</th>
                    <th>操作</th>
                </tr>
                </thead>

                <tbody>
                {% for cel in cels %}
                <tr>
                    <td style="vertical-align: middle;">{{ cel.address }}</td>
                    <td>
                        <select class="form-control">
                            <option selected> {{cel.iid.name}} </option>
                        </select>
                    </td>
                    <td>
                        <span>积分&nbsp;=&nbsp;（（交强险-交强险*<input type="text" id="forceTaxRate{{cel.id}}" class="form-control small" name="forceTaxRate{{cel.id}}" value="{{cel.forceTaxRate}}">）
                            *<input type="text" id="forceRate{{cel.id}}" class="form-control small" name="forceRate{{cel.id}}" value="{{cel.forceRate}}">&nbsp;+
                            &nbsp;（商业险-商业险*<input type="text" id="businessTaxRate{{cel.id}}" class="form-control small" name="businessTaxRate{{cel.id}}" value="{{cel.businessTaxRate}}">）
                            *<input type="text" id="rate{{cel.id}}" class="form-control small" name="rate{{cel.id}}" value="{{cel.rate}}">）&nbsp;*
                            （1-<input id="aliRate{{cel.id}}" type="text" class="form-control small" name="aliRate{{cel.id}}" value="{{cel.aliRate}}">-
                            <input id="profitRate{{cel.id}}" type="text" class="form-control small" name="profitRate{{cel.id}}" value="{{cel.profitRate}}">）
                        </span>
                        <span>起兑金额&nbsp;<input type="text" id="baseMoney{{cel.id}}" class="form-control small" name="baseMoney{{cel.id}}" value="{{cel.baseMoney}}"></span>
                    </td>
                    <td style="vertical-align: middle;">
                        <a href="javascript:void(0)" onclick="change_integral({{cel.id}})">保存</a>
                        <a href="javascript:void(0)" onclick="delete_integral({{cel.id}})">删除</a>
                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </form>
        <div class="col-sm-6">
            <div class="dataTables_info" role="alert" aria-live="polite" aria-relevant="all">
                当前：第{{page}}页 / {{totalpage}}页，合计{{total}}条
            </div>
        </div>
        <div style="float:right;">
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination  pagination-sm" id="pageUl" />
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script src="/style2/js/jquery.twbsPagination.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#pageUl').twbsPagination({
            first:'首页',
            prev:'上一页',
            next:'下一页',
            last:'尾页',
            totalPages: {{totalpage}},
            startPage: {{page}},
            visiblePages: 8,
            onPageClick: function (event, page) {
                self.location="/admin/integralshow?province_code={{default_province or ''}}&city_code={{default_city or ''}}&page="+page;
            }
        });
    });

    var xsrf='{{handler.xsrf_token}}';
    function change_integral(id){
        var tmpF = "forceRate"+id;
        var tmpR = "rate"+id;
        var tmpA = "aliRate"+id;
        var tmpP = "profitRate"+id;
        var tmpB = "baseMoney"+id;
        var tmpFTR = "forceTaxRate"+id;
        var tmpBTR = "businessTaxRate"+id;
        var forceRate = document.getElementById(tmpF).value;
        var rate = document.getElementById(tmpR).value;
        var aliRate = document.getElementById(tmpA).value;
        var profitRate = document.getElementById(tmpP).value;
        var baseMoney = document.getElementById(tmpB).value;
        var forceTaxRate = document.getElementById(tmpFTR).value;
        var businessTaxRate = document.getElementById(tmpBTR).value;

        console.debug(id, rate, aliRate, baseMoney);
        $.post("/ajax/change_integral", { _xsrf:xsrf, id, forceRate, rate,aliRate, aliRate,profitRate, baseMoney, forceTaxRate, businessTaxRate}, function (data) {
            data = jQuery.parseJSON(data);
            alert(data.msg);
            location.reload('true');
        });
    };
    function delete_integral(id){
        console.debug(id)
        $.post("/ajax/delete_integral", { _xsrf:xsrf, id}, function (data) {
            data = jQuery.parseJSON(data);
            alert(data.msg);
            location.reload('true');
        });
    };


    $(function(){
        init_province();
            var r = {{result |default('-1')}};
            if(r == '1')
            {
                alert('保存成功！');
                //location.reload();
            }
            else if(r == '0'){
                alert('保存失败！');
            }
    });

    function init_province(){
        var province_code=$("#province_code").attr("data-default");
        var city_code=$("#city_code").attr("data-default");

        if(province_code.length>0){
            console.debug(city_code)
            province_change(province_code, city_code);
        }
    }
    function province_change(id, default_id){
        $("#city_code > option").remove();
        $("#city_code").append("<option value=\"0\">--请选择城市--</option>");
        if(id > 0){
            console.debug(default_id)
            GetSubAreas(id, "city_code", default_id);
        }
    }

    function GetSubAreas(id,ddl_id, default_id) {
        $.get("/ajax/GetSubAreas", { pcode: id,  t: Math.random() }, function (data) {
            data = jQuery.parseJSON(data);
            if(data.flag==1){
                for(var i=0; i< data.data.length; i++){
                    if(default_id.length>0){
                        console.debug(data.data[i]["code"])
                        if(data.data[i]["code"]+'%'==default_id){
                            console.debug(default_id)
                            $("#" + ddl_id).append("<option value=\"" + data.data[i]["code"] + "\" selected>" + data.data[i]["name"] + "</option>");
                        }
                        else{
                            console.debug('not default id')
                            $("#" + ddl_id).append("<option value=\"" + data.data[i]["code"] + "\">" + data.data[i]["name"] + "</option>");
                        }
                    }
                    else {
                        console.debug('default id length < 0')
                        $("#" + ddl_id).append("<option value=\"" + data.data[i]["code"] + "\">" + data.data[i]["name"] + "</option>");
                    }
                }
            }
            else{
                alert(data.msg)
            }
        });
    }
</script>
{% endblock %}


































