{% extends "layout/admin.html" %}
{% block content %}


<div class="row">
    <nav>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">编辑种植信息</a>
        </div>
    </nav>
</div>
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-body">

            {%set messages=handler.get_flashed_messages() %}
            {%if messages%}
            <div class="msg" style="color:red;">
                {% for type, msg in messages%}
                <span>{{msg}}</span>
                {% endfor %}
            </div>
            {%endif%}

            <form action="" method="post" enctype="multipart/form-data">
                {{xsrf()}}
                <div class="form-group has-success">
                    <label class="control-label">种植类别(当前地里种植的作物)</label>
                    <input type="text" name="plant_type" class="form-control" value="{{cfp.plant_type}}" required  placeholder="种植类别" />
                    <input name="fid" type="hidden" value="{{fid}}">
                </div>

                  
                <div class="form-group has-success">
                    <label class="control-label">品种</label>
                    <input type="text" name="breed" class="form-control" value="{{cfp.breed}}"   placeholder="品种" />
                </div>

                           <div class="form-group has-success">
                    <label class="control-label">产品规格(比如芹菜70公分)【文本】</label>
                    <input type="text" name="product_standard" class="form-control" value="{{cfp.product_standard}}"   placeholder="产品规格" />
                </div>

                <div class="form-group has-success">
                    <label class="control-label">采集时间</label>
                    <input type="date" name="collect_time" id="collect_time" class="form-control" value="{{cfp.collect_time and cfp.collect_time|dateformat or ''}}" placeholder="采集时间" />
                </div>

                 <div class="form-group has-success">
                    <label class="control-label">种植环境</label>
                    <div class="form-control">
                        <input type="radio" id="dapeng" name="is_hj" value="0" {{cfp.hj=='0' and 'checked' or ''}} checked ><label for="dapeng">拱棚/大棚</label>
                        <input type="radio" id="wenshi" name="is_hj" value="1" {{cfp.hj=='1' and 'checked' or ''}}><label for="wenshi">温室</label>
                         <input type="radio" id="loutian" name="is_hj" value="2" {{cfp.hj=='2' and 'checked' or ''}}><label for="loutian">露天</label>
                    </div>
                </div>

                 <div class="form-group has-success">
                    <label class="control-label">数量【浮点】</label>
                    <input type="text" name="quantity" class="form-control" value="{{cfp.quantity or 0.0}}"  placeholder="数量" />
                </div>

                <div class="form-group has-success">
                    <label class="control-label">面积【浮点】</label>
                    <input type="text" name="plant_area" class="form-control"   value="{{cfp.plant_area or 0.0}}"   placeholder="面积" />
                </div>

                <div class="form-group has-success">
                    <label class="control-label">预计上市月份</label>
                    <select data-placeholder="请选择月份" class="chosen-select" name="anticipated_time" multiple style="width:100%; height:50px;" >
                        {% if cfp.anticipated_time!=''%}
                            <option value="{{cfp.anticipated_time}}" selected>{{cfp.anticipated_time}}</option>
                        {% endif%}
                        <option value="1月">1月</option>
                        <option value="2月">2月</option>
                        <option value="3月">3月</option>
                        <option value="4月">4月</option>
                        <option value="5月">5月</option>
                        <option value="6月">6月</option>
                        <option value="7月">7月</option>
                        <option value="8月">8月</option>
                        <option value="9月">9月</option>
                        <option value="10月">10月</option>
                        <option value="11月">11月</option>
                        <option value="12月">12月</option>
                    </select>
                </div>

                 

                

                <div class="form-group has-success">
                    <label class="control-label">预计产量【文本】</label>
                    <input type="text" name="anticipated_output" class="form-control" value="{{cfp.anticipated_output}}"    placeholder="预计产量" />
                </div>

                <div class="form-group has-success">
                    <label class="control-label">预计收购价格【文本】</label>
                    <input type="text" name="anticipated_bid_price" class="form-control" value="{{cfp.anticipated_bid_price}}"    placeholder="预计收购价格" />
                </div>

                <div class="form-group has-success">
                    <label class="control-label">往年收购价格【文本】</label>
                    <input type="text" name="old_bid_price" class="form-control" value="{{cfp.old_bid_price}}"    placeholder="往年收购价格" />
                </div>

                <div class="form-group has-success">
                    <label class="control-label">往年销往何地</label>
                    <input type="text" name="old_xiaolu" class="form-control" value="{{cfp.old_xiaolu}}"    placeholder="往年销往何地" />
                </div>

                <div class="form-group has-success">
                    <label class="control-label">产品质量观察期</label>
                    <input type="text" name="product_quality" class="form-control" value="{{cfp.product_quality}}"    placeholder="产品质量观察期" />
                </div> 
                  <div class="form-group has-success">
                    <label class="control-label">用药频次【文本】</label>
                    <input type="text" name="frequency" class="form-control" value="{{cfp.frequency}}"  placeholder="用药频次" />
                </div>

                <div class="form-group has-success">
                    <label class="control-label">农药名称</label>
                    <input type="text" name="pesticide_name" class="form-control" value="{{cfp.pesticide_name}}"    placeholder="农药名称" />
                </div>

                <div class="form-group has-success">
                    <label class="control-label">距离上市用药时间【数字】</label>
                    <input type="text" name="listed_day" class="form-control" value="{{cfp.listed_day or 0}}" placeholder="距离上市用药时间" />
                </div>


                 <div class="form-group has-success">
                    <label class="control-label">下茬种植类别</label>
                    <input type="text" name="nexttype" class="form-control" value="{{cfp.nexttype}}"   placeholder="下茬种植类别" />
                     
                </div>

                  
                <div class="form-group has-success">
                    <label class="control-label">下茬品种</label>
                    <input type="text" name="nextbreed" class="form-control" value="{{cfp.nextbreed}}"   placeholder="下茬品种" />
                </div>

                <div class="form-group has-success">
                    <label class="control-label">下茬种植月份</label>
                    <select data-placeholder="请选择月份" class="chosen-select" name="nextzz" multiple style="width:100%; height:50px;">
                        {% if cfp.nextzz!=''%}
                            <option value="{{cfp.nextzz}}" selected>{{cfp.nextzz}}</option>
                        {% endif%}
                        <option value="1月">1月</option>
                        <option value="2月" >2月</option>
                        <option value="3月">3月</option>
                        <option value="4月">4月</option>
                        <option value="5月">5月</option>
                        <option value="6月">6月</option>
                        <option value="7月">7月</option>
                        <option value="8月">8月</option>
                        <option value="9月">9月</option>
                        <option value="10月">10月</option>
                        <option value="11月">11月</option>
                        <option value="12月">12月</option>
                    </select>
                </div>

                 <div class="form-group has-success">
                    <label class="control-label">下茬上市月份</label>
                    <select data-placeholder="请选择月份" class="chosen-select" name="nextss" multiple style="width:100%; height:50px;" >
                        {% if cfp.nextss!=''%}
                            <option value="{{cfp.nextss}}" selected>{{cfp.nextss}}</option>
                        {% endif%}
                        <option value="1月">1月</option>
                        <option value="2月" >2月</option>
                        <option value="3月">3月</option>
                        <option value="4月" >4月</option>
                        <option value="5月">5月</option>
                        <option value="6月">6月</option>
                        <option value="7月">7月</option>
                        <option value="8月" >8月</option>
                        <option value="9月">9月</option>
                        <option value="10月">10月</option>
                        <option value="11月">11月</option>
                        <option value="12月">12月</option>
                    </select>
                </div>

                <div class="form-group has-success">
                    <label class="control-label">备注</label>
                    <input type="text" name="remark" class="form-control" value="{{cfp.remark}}"  placeholder="备注" />
                </div>

                <div class="form-group has-success">
                    <input type="checkbox" id="continue" name="continue" /><label for="continue">连续添加</label>
                    <input type="submit" name="sub" value="提 交" class="btn btn-outline btn-primary btn-sm">
                    <input type="reset" name="sub" value="重 置" class="btn btn-outline btn-primary btn-sm">
                </div>
            </form>

        </div>
        {% if cid != '0' %}
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">图片信息 <a href="" id="fileupload">选择图片</a></h3>
                </div>
                <div class="panel-body" id="pic-box">
                    {% if cps %}
                    {% for c in cps -%}
                    <div class="col-lg-2 .col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading center-block">
                                <img src="/upload/collect/{{fid}}/{{c.pic_path}}" width="80" height="80">
                            </div>
                            <div class="panel-footer">
                                <div class="btn-group btn-group-xs">
                                    <a type="button" class="btn btn-default" href="/admin/collect/delpic/{{c.id}}?cid={{cfp.id}}&fid={{fid}}">删除</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%- endfor %}
                    {% endif %}
                    </div>
                </div>
        {% endif %}
    </div>

</div>



{% endblock %}
{% block js %}
<script src="/style2/xheditor/xheditor-1.2.2.min.js"></script>
<script src="/style2/xheditor/xheditor_lang/zh-cn.js"></script>
<script src="/style2/js/jquery.ocupload.js?v=1"></script>
<script>
    $(document).ready(function(){
        $('#pintro').xheditor({tools:'Source,Fullscreen,Img', html5Upload:false, upImgUrl:"/ajax/upload/collect/{{fid}}/",upImgExt:"jpg,gif,png"});

        var myUpload = $('#fileupload').upload({
            name: 'filedata',
            action: '/ajax/collect/pic/{{cfp.id}}?type=0',
            enctype: 'multipart/form-data',
            autoSubmit: true,
            onClick: function(){

            },
            onSelect: function(){
                var ext = myUpload.filename().substr(myUpload.filename().length - 3, 3).toLowerCase();
                if (ext != 'jpg' || ext != 'gif' || ext != 'png')
                {
                    return false;
                }
            },
            onComplete: function(response) {
                eval('var c = ' + response);
                if (c.id > 0) {

                    $('#pic-box').append('<div class="col-lg-2 .col-xs-12"><div class="panel panel-default"><div class="panel-heading center-block"><img src="/upload/collect/' + c.path + '" width="80" height="80"></div><div class="panel-footer"><div class="btn-group btn-group-xs"><a type="button" class="btn btn-default" href="/admin/collect/delpic/'+c.id+'?cid={{cfp.id}}&fid={{fid}}">删除</a></div></div></div></div>');

                }
                else{
                    alert(c.path);
                }

            }
        });

        var myDate = new Date();
        var strMonth = myDate.getMonth()>9?(myDate.getMonth()+1):'0' + (myDate.getMonth()+1);
        var strDay = myDate.getDate()>9?myDate.getDate().toString():'0' + myDate.getDate();
        var c_time = $("#collect_time").val();
        if(c_time == '')
            $("#collect_time").val(myDate.getFullYear() + '-' + strMonth + '-' + strDay);
    });

</script>
{% endblock %}