{% extends "layout/admin.html" %}
{% block css %}
<link href="/style2/css/plugins/dataTables.bootstrap.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="row">
   <nav>
   <div class="navbar-header" style="float: left">

        <a class="navbar-brand" href="#">报表管理</a>
   </div>

          <div class="navbar-header" style="float: right"><a class="navbar-brand" href="/admin/info/jobber">返回</a></div>
</nav>
</div>
<div class="row">
    <div class="panel panel-primary">
    <div class="panel-body">
        <div class="table-responsive">
        
            
        </div>
    </div>
    </div>
</div>

{% endblock %}
{% block js %}
{% endblock %}