{% extends "layout/admin.html" %}
{% block css %}
<link href="/style2/css/plugins/dataTables.bootstrap.css" rel="stylesheet">
<link href="/style2/css/select2.css" rel="stylesheet"/>
{% endblock %}
{% block content %}


<div class="row">
	<div class="col-xs-6">
		<div class="row">
			<nav>
				<div>
					<a class="navbar-brand" href="#">发布地域</a>
				</div>
				<div class="pull-right">
					<form action="" method="get" style="margin-top:10px;">
						<p>
							<!--<a class="btn btn-info" style="margin-top:8px;" href="/admin/refereeadd/0">新加推广人</a>-->
							<!--<input id="bt_export" class="btn btn-info" type="button" value="导出EXCEL" style="margin-top:8px;" />-->
						</p>
					</form>
				</div>
			</nav>
		</div>
		<div class="panel panel-primary">
			<div class="panel-body">
				<div>
					<ul id="treeDemo" class="ztree"></ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="row">
			<nav>
				<div>
					<a class="navbar-brand" href="#">保险公司</a>
				</div>
				<div class="pull-right">
					<form action="" method="get" style="margin-top:10px;">
						<p>
							<!--<a class="btn btn-info" style="margin-top:8px;" href="/admin/refereeadd/0">新加推广人</a>-->
							<!--<input id="bt_export" class="btn btn-info" type="button" value="导出EXCEL" style="margin-top:8px;" />-->
						</p>
					</form>
				</div>
			</nav>
		</div>
		<div class="panel panel-primary">

			<div class="table-responsive">
				<table class="table table-hover" style="text-align:center;">
					<thead>
					<tr style="background:#528ACB;color:#fff;">
						<th style="text-align:center;">名称</th>
						<th style="text-align:center;">logo</th>
						<th style="text-align:center;">排序</th>
						<th style="text-align:center;">返油</th>
						<th style="text-align:center;">返积分</th>
					</tr>
					</thead>
					<tbody>
					{% for r in insurances %}
					<tr>
						<td>{{ r.insurance.name }}</td>
						<td><img class="preview" src="{{r.insurance.logo}}" title="保险Logo" width="40" height="40" />
						</td>
						<td>{{ r.sort }}</td>
						<td>
							{% if r.lube_ok==0 %}
							<span style="color: red;">未开通</span><br>
							{% elif r.lube_ok==1 %}
							<span style="color: #5cb85c;">已开通</span> (<a href="#">查看</a>)<br>
							{% endif %}
						</td>
						<td>
							{% if r.score_ok==0 %}
							<span style="color: red;">未开通</span><br>
							{% elif r.score_ok==1 %}
							<span style="color: #5cb85c;">已开通</span> (<a href="#">查看</a>)<br>
							{% endif %}</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function() {

    });

</script>
{% endblock %}