<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/style/css/bootstrap.min.css" rel="stylesheet">
    <script src="/style/js/jquery-1.11.1.min.js"></script>
    <script src="/style/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/style/js/layer/layer.js"></script>
</head>
<body>
<div class="row" style="margin:5px 5px 0 5px;">
    <div class="panel panel-primary">
        <div class="panel-body">
            <h4>给保险公司支付优惠</h4>
            <form action="/admin/insurance/privilege" method="post">
                <input type="hidden" name="ia_id" value="{{item['id'] or 0}}">
                <input type="hidden" name="iid" value="{{iid}}">
                <input type="hidden" name="sid" value="{{sid}}">
                <input type="hidden" name="area_code" value="{{area_code}}">
                <div class="col-sm-12">
                    <input class="btn btn-primary" type="submit" value="保存"/>
                </div>
                {{xsrf()}}
                <input value="{{item.id}}" type="hidden" name="page">
                <div class="col-xs-6">
                    <div class="form-group has-success">
                        <label class="control-label">{{ item['privilege']['reinsurance']['name'] }}</label>
                        <input type="text" name="reinsurance_force_rate" class="form-control" value="{{item['privilege']['reinsurance']['force_rate'] or ''}}"  required placeholder="交强险返佣率" />
                        <input type="text" name="reinsurance_force_tax" class="form-control" value="{{item['privilege']['reinsurance']['force_tax'] or ''}}"  required placeholder="交强险税率" />
                        <input type="text" name="reinsurance_business_rate" class="form-control" value="{{item['privilege']['reinsurance']['business_rate'] or ''}}"  required placeholder="商业险返佣率" />
                        <input type="text" name="reinsurance_business_tax" class="form-control" value="{{item['privilege']['reinsurance']['business_tax'] or ''}}"  required placeholder="商业险税率" />
                    </div>
                </div>
                <br/>
                {% if item['privilege']['renewal'] %}
                <div class="col-xs-6">
                    <div class="form-group has-success">
                        <label class="control-label">{{ item['privilege']['renewal']['name'] }}</label>
                        <input type="text" name="renewal_force_rate" class="form-control" value="{{item['privilege']['renewal']['force_rate'] or ''}}"  required placeholder="交强险返佣率" />
                        <input type="text" name="renewal_force_tax" class="form-control" value="{{item['privilege']['renewal']['force_tax'] or ''}}"  required placeholder="交强险税率" />
                        <input type="text" name="renewal_business_rate" class="form-control" value="{{item['privilege']['renewal']['business_rate'] or ''}}"  required placeholder="商业险返佣率" />
                        <input type="text" name="renewal_business_tax" class="form-control" value="{{item['privilege']['renewal']['business_tax'] or ''}}"  required placeholder="商业险税率" />
                    </div>
                </div>
                <br/>
                {% endif %}
            </form>
        </div>
    </div>
</div>
</body>
</html>
