<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/style/css/bootstrap.min.css" rel="stylesheet">
    <script src="/style/js/jquery-1.11.1.min.js"></script>
    <script src="/style/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/style/js/layer/layer.js"></script>
</head>
<body>
<div class="row" style="margin:5px 5px 0 5px;">
    <div class="panel panel-primary">
        <div class="panel-body">
            <h4>给保险公司支付优惠</h4>
            <form action="/admin/insurance/privilege" method="post">
                <input type="hidden" name="ia_id" value="{{item['id'] or 0}}">
                <input type="hidden" name="iid" value="{{iid}}">
                <input type="hidden" name="sid" value="{{sid}}">
                <input type="hidden" name="area_code" value="{{area_code}}">
                <div class="col-sm-12">
                    <input class="btn btn-primary" type="submit" value="保存"/>
                </div>
                {{xsrf()}}
                <input value="{{item.id}}" type="hidden" name="page">
                {% for key in item['privilege'] %}
                <div class="col-xs-4">
                    <div class="form-group has-success">
                        <label class="control-label">{{ item['privilege'][key]['name'] }} {{item['id'] or 0}}</label>
                        <input type="text" name="{{key}}" class="form-control" value="{{item['privilege'][key]['rate'] or ''}}"  required placeholder="0.3" />
                    </div>
                </div>
                {% endfor %}
            </form>
        </div>
    </div>
</div>
</body>
</html>
