<!--保险公司详情页面-->
{% extends "weixin/none_foot_nav_tab.html" %}
{% block css %}
<title>关注引导页</title>
<style>
a {
    width: 80%;
}
</style>
{% endblock %}
{% block content %}
    <div align="center" style="padding-top: 2rem;">
        <img style="height:5rem" src="/style/wximg/focus_qrcode.jpg">
    </div>
    <div>
        <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzIyNDMyODk2NQ==&scene=124#wechat_redirect" class="weui-btn weui-btn_primary">关注车生活</a>
    </div>
{% endblock %}
{% block js %}
<script>

</script>
{% endblock %}