<!--底部导航栏-->
<div class="weui_tabbar" style="position:fixed;z-index:999;max-width:640px;">
    <a href="$makeUrl('/index')" class="foot weui_tabbar_item weui_bar_item_on" id="home">
        <p class="icon-style" align="center">
            <span class="iconfont icon-shouye"></span>
        </p>
        <p class="weui_tabbar_label">首页</p>
    </a>
    <a href="$makeUrl('/category_list',{'category':'3'})" class="weui_tabbar_item" id="category">
        <p class="icon-style" align="center">
            <span class="icon iconfont icon-fenlei"></span>
        </p>
    <p class="weui_tabbar_label">分类</p>
    </a>
    <a href="$makeUrl('/member_center')" class="weui_tabbar_item" id="me">
        <p class="icon-style" align="center">
            <span class="iconfont icon-huiyuanzhongxin"></span>
        </p>
        <p class="weui_tabbar_label">会员中心</p>
    </a>
</div>