{% extends "weixin/foot_nav_tab.html" %}
{% block css %}
<title>index</title>
<link rel="stylesheet" href="/style/mobile/swiper3.07.min.css">
{% endblock %}
{% block content %}
<div class='weui-content czj_wx_body'>
    <div class="swiper-container swiper-banner">
        <div class="swiper-wrapper">
            {% for ad in banner %}
            <div class="swiper-slide"><a href="#">
                <img src="{{ad['img']}}"/></a>
            </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </div>
    {% if msg['show'] == 1 %}
    <div class="notify-title">
        <div class="weui-panel__hd notify_no_padding">
            <a href="{{msg['link']}}" class="weui-cell weui-cell_access notify-wy">
                <div class="weui-cell__bd notify-cell">
                    <div class="weui-cell__hd"><img src="./../style/wximg/news-icon.png" alt=""
                                                    class="notify_center-list-icon"></div>
                    <div class="weui-cell__bd weui-cell_primary"><p class="notify-txt">{{msg['msg']}}</p></div>
                </div>
                <span class="weui-cell__ft"></span>
            </a>
        </div>
    </div>
    {% endif %}
    <div class="wy-Module">
        <div class="wy-Module-tit"><span>保险公司</span></div>
    </div>
    <div class="czj-grid-insurances">
        <div class="weui-grids">
            {% for i in insurance %}
            <a href="{{i['link']}}" class="weui-grid js_grid">
                <div class="weui-grid__icon logo">
                    <img src="{{i['img']}}" alt="">
                </div>
                <p class="weui-grid__label">
                    {{i['name']}}
                </p>
            </a>
            {% endfor %}
        </div>

    </div>
    <div class="weui-btn-area" style="padding-bottom: 50px;">
        <a class="weui-btn weui-btn_primary" href="/insurance_order_base/0" id="showTooltips">拍照报价</a>
    </div>
</div>

{% endblock %}
{% block js %}
<script>
    $(".swiper-container").swiper({
        loop: true,
        autoplay: 1500
    });
</script>
{% endblock %}