{% extends "weixin/none_foot_nav_tab.html" %}
{% block css %}
<title>选择收货地址、返佣方式</title>
<link rel="stylesheet" href="/style/mobile/swiper3.07.min.css">
<style>
    .parent {
        background-color: #F1F1F1;
    }

    .weui-cells__title {
        font-size: 17px;
        color: #000;
        background-color: #FFFFFF;
        margin-top: 5px;
        margin-bottom: 1px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .default-addr {
        padding-left: 35px;
        padding-right: 20px;
        padding-bottom: 10px;
    }

    .write-addr {
        padding-left: 25px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .gift_policy {
        background-color: #FFFFFF;
        margin-top: 5px;
    }

    .weui-col-50 {
        margin: auto;
        text-align: center
    }

    .weui-col-50 label {
        display: inline-flex;
    }

    .goto_next {
        background-color: #FFFFFF;
        padding: 20px;
    }

    .weui-cells weui-cells_checkbox hr {
        margin-left: 10px;
        margin-right: 10px;
        background-color: #F1F1F1;
    }

    .weui-cell__hd img {
        width: 22px;
        height: 22px;
    }

    .hr {
        width: 100%;
        height: 1px;
        background-color: #f1f1f1;
        margin-bottom: 5px;
    }

    .weui_czj_gift {
        padding-bottom: 10px;
    }

    .weui_czj_gift a {
        color: #00A73B;
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 10px;
        text-align: center;
    }

    .weui-cells_radio .weui-check:checked + .weui-icon-checked:before {
        display: block;
        content: "\EA06";
        color: #09bb07;
        font-size: 23px
    }

    .weui-cells_radio .weui-icon-checked:before {
        display: block;
        content: "\EA01";
        color: #c9c9c9;
        font-size: 23px
    }


</style>
{% endblock %}
{% block content %}
<div class="parent">
    <div class="weui-cells__title">
        地址选择
    </div>
    <div class="weui-cells weui-cells_radio">
        <label class="weui-cell weui-check__label" for="default_addr">

            <div class="weui-cell weui-check__label order_price_statue">

                <input type="radio" name="radio1" class="weui-check" style="display: none" checked="checked"
                       id="default_addr">
                <span class="weui-icon-checked"></span>
            </div>
            <div class="weui-cell__bd">
                <p> 默认地址</p>
            </div>
        </label>

        <div class="default-addr">
            <div class="hr">
            </div>
            <div class="weui-row">
                <div class="weui-row-50">
                    <p id="default_name">
                        {{address["delivery_to"]}}
                    </p>
                </div>
                <div class="weui-row-50">
                    <p id="default_tel">
                        {{address["delivery_tel"]}}
                    </p>

                </div>
            </div>
            <div class="weui-row">
                <p id="default_detailed_address">
                    {{address["delivery_province"]
                    +address["delivery_city"]
                    +address["delivery_district"]
                    +address["delivery_address"]}}
                </p>
            </div>

        </div>
        <label class="weui-cell weui-check__label" for="write_addr">

            <div class="weui-cell weui-check__label order_price_statue">
                <input type="radio" name="radio1" class="weui-check" style="display: none" id="write_addr">
                <span class="weui-icon-checked"></span>
            </div>
            <div class="weui-cell__bd">
                <p> 填写地址</p>
            </div>
        </label>

        <div class="write-addr">
            <p/>
            <div class="weui-cell">
                <div class="weui-label">收货人</div>
                <div class="weui-cell__bd">
                    <input class="weui-input" id="name" type="input" placeholder="请输入收货人姓名">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-label">联系电话</div>
                <div class="weui-cell__bd">
                    <input class="weui-input" id="tel" type="input" placeholder="请输入收货人电话">
                </div>
            </div>
            <div class="weui-cell weui-cell">
                <div class="weui-cell__hd">
                    所在地区&#8195&#8195
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" id="address" type="text" value="陕西省 西安市 碑林区" readonly>
                </div>
            </div>
            <div class="hr">
            </div>
            <div class="weui-cells__title">
                详细地址
            </div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <textarea class="weui-textarea" id="detailed_address" placeholder="请输入详细地址" rows="2"></textarea>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="gift_policy">
        <div class="weui-cells__title">
            <p>选择优惠方式</p>
        </div>
        <div class="weui-cells weui-cells_radio">
            <div class="weui-row">
                {% for gift in rake_back %}
                <div class="weui-col-50">
                    <label class="weui-cell weui-check__label order_price_statue" for="{{gift['name']}}">
                        <div class="weui-cell__hd">
                            <input type="radio" class="weui-check" name="radio2" id="{{gift['name']}}"
                                   value="{{gift['type']}}">
                            <span class="weui-icon-checked"></span>
                        </div>
                        <div class="weui-cell__bd">
                            <p> {{gift['name']}}</p>
                        </div>
                    </label>
                    <div class="weui_czj_gift">
                        <a href="{{gift['link']}}"> {{gift['link_str']}}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="goto_next">
        <input id="token" style="display:none" value="{{token}}">
        <a href="#" id="goto_next" class="weui-btn weui-btn_primary">完成</a>
    </div>
</div>

{% endblock %}
{% block js %}
<script>
    $(document).ready(function () {

        if ($('#write_addr').is(':checked')) {
            $(".write-addr").show();
        } else {
            $(".write-addr").hide();
        }
        if ($(".gift_policy,input").length > 0) {
            $(".gift_policy").show();
        } else {
            $(".gift_policy").hide();
        }

        $(document).on("click", "#write_addr", function () {
            if ($('#write_addr').is(':checked')) {
                $(".write-addr").show();

            } else {
                $(".write-addr").hide();
            }
        });
        $(document).on("click", "#default_addr", function () {
            if ($('#default_addr').is(':checked')) {
                $(".write-addr").hide();
            }
        });
        $("#address").cityPicker({
            onChange: function (picker, values, displayValues) {
                console.log(values, displayValues)
            }
        });

        $(document).on("click", "#goto_next", function () {
            var list = $('input:radio[name="radio2"]:checked').val();
            if (list == null) {
                $.toast("请选择优惠方式", "text");
            } else {
                console.log(window.localStorage.getItem("insurance"));
                var insurance = JSON.parse(window.localStorage.getItem("insurance"));
                insurance.gift_policy = list;
                if (!$('#default_addr').is(':checked')) {
                    var tel = $("#tel").val();
                    var re = /^1\d{10}$/;
                    if ($("#name").val() == "") {
                        $.toast("请输入收货人姓名", "text");
                    } else if (tel == "") {
                        $.toast("请输入收货人电话", "text");
                    } else if (!re.test(tel)) {
                        $.toast("手机号格式错误", "text");
                    } else if ($("#detailed_address").val() == "") {
                        $.toast("请输入详细地址", "text");
                    } else {
                        insurance.delivery_to = $("#name").val();
                        insurance.delivery_tel = $("#tel").val();
                        insurance.delivery_address = $("#detailed_address").val();
                        var address = $("#address").val();
                        var arr = new Array();
                        arr = address.split(' ');
                        console.log(arr[0]);
                        insurance.delivery_province = arr[0];
                        insurance.delivery_city = arr[1];
                        insurance.delivery_district = arr[2];
                        window.localStorage.setItem("insurance", JSON.stringify(insurance));
                        console.log(insurance);
                        submit(insurance);
                    }
                } else {
                    insurance.delivery_to = "{{address['delivery_to']}}";
                    insurance.delivery_tel = "{{address['delivery_tel']}}";
                    insurance.delivery_address = "{{address['delivery_address']}}";
                    insurance.delivery_province = "{{address['delivery_province']}}";
                    insurance.delivery_city = "{{address['delivery_city']}}";
                    insurance.delivery_district = "{{address['delivery_district']}}";
                    window.localStorage.setItem("insurance", JSON.stringify(insurance));
                    console.log(insurance);
                    submit(insurance);
                }
            }
        });
        function submit(insurance) {
            $.showLoading();
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:8889/mobile/newinsuranceorder",
                data: insurance,
                cache: false,
                dataType: 'jsonp',
                contentType: false,
                processData: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("token", "{{token}}");
                },
                success: function (data) {
                    $.hideLoading();
                    var data = JSON.parse(data);
                    if (data.flag == 1) {
                        console.log(data);
                        /*     document.location.href = "/insurance_success"*/
                    } else {
                        $.toast(data.msg, "text");
                        console.log(data);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $.hideLoading();
                    $.toast("创建订单失败，请检查网络后重试", "text");
                    console.log(XMLHttpRequest);
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });
        }
    });

</script>
{% endblock %}