{% extends "weixin/none_foot_nav_tab.html" %}
{% block css %}
<title>选择保险内容</title>
<link rel="stylesheet" href="/style/mobile/swiper3.07.min.css">
<style>

</style>
{% endblock %}
{% block content %}
<div>
    <div class="weui-cell weui-cell_access">
        <div class="weui-cell__bd">
            保险公司
        </div>
        <div class="weui-cell__ft">
            太平保险
        </div>
    </div>

    <div >
        <div >
          交强险
        </div>
        <p>交强险</p>
        <div>

        </div>
    </div>
    <a href="/insurance_order_new" class="weui-btn weui-btn_primary">下一步</a>
</div>

{% endblock %}
{% block js %}
<script>

</script>
{% endblock %}