<!--订单历史方案页面-->
{% extends "weixin/none_foot_nav_tab.html" %}
{% block css %}
<title>订单列表</title>
<style>
    p{
        font-size: 16px;
        color: gray;
        display: inline-block;
    }
    .time {
        float: right;
    }
    .money{
        float: right;
    }
    .contain_head{
        width: 180%;
    }
    hr{
        height:1px;border:none;border-top:1px solid #e7e7e7;
    }
    /*.cell_div{*/
    /*background-color: red;*/
    /*!*display: inline-block;*!*/
    /*}*/
</style>
{% endblock %}
{% block content %}

<div class="weui-pull-to-refresh__layer">
    <div class="weui-pull-to-refresh__arrow"></div>
    <div class="weui-pull-to-refresh__preloader"></div>
    <div class="down">下拉刷新</div>
    <div class="up">释放刷新</div>
    <div class="refresh">正在刷新</div>
</div>

<div id="list" class="weui-cells weui-cells_checkbox">

</div>

<div class="weui-loadmore">
    <i class="weui-loading"></i>
    <span class="weui-loadmore__tips">正在加载</span>
</div>
{% endblock %}
{% block js %}
<script>
    var page = 1,offset = 1;
    var loading = false; //上拉状态标记
    var toend = false; //数据加载完标记

    function down() {
        jQuery.getJSON("/income_record_list", {
            'offset': 1,
            'type': 1
        },function(data) {
            var data = data.data;
            console.log(data);
            for (var i = data.length; i > 0; i--) {
                var str ="";
                jQuery("#list").append(
//                        '<hr/>'+
                        '<div class="weui-cell">'+
                        '<i class="weui-icon-checked">'+'</i>'+
                        '<div>'+
                        '<p>'+ '提交时间'+ '</p>'+
                        '<p>'+ '2017-06-29'+ '</p>'+
                        '<p>'+ '现金'+ '</p>'+
                        '<p>'+ '200'+ '</p>'+
                        '</div>'+
                        '<div class="weui-cells__title">'+'交强险'+'</div>'+
                        '<div class="weui-cells__title">'+'商业险(主险)'+'</div>'+
                        '<div class="weui-cells__title">'+'商业险(附加险)'+'</div>'+
                        '</div>');
            };

//            for (var i = data.length; i > 0; i--) {
//                var str ="";
                jQuery("#list").append(
//                        '<hr/>'+
                        '<div class="weui-cell">'+
                        '<i class="weui-icon-checked">'+'</i>'+
                        '<div>'+
                        '<p>'+ '提交时间'+ '</p>'+
                        '<p>'+ '2017-06-29'+ '</p>'+
                        '<p>'+ '现金'+ '</p>'+
                        '<p>'+ '200'+ '</p>'+
                        '</div>'+
                        '<div class="weui-cells__title">'+'交强险'+'</div>'+
                        '<div class="weui-cells__title">'+'商业险(主险)'+'</div>'+
                        '<div class="weui-cells__title">'+'商业险(附加险)'+'</div>'+
                        '</div>');
//            };
        })
    }
    function up() {
        jQuery.getJSON("/income_record_list", {
            'offset': 1,
            'type': 1
        },function(data) {
            var data = data.data;

            if (data.length < 10) {
                toend = true;
            }
            for (var i = data.length; i > 0; i--) {
                var str ="";
                jQuery("#list").append(
                        '<div class="weui-cell">'+
                        '<i class="weui-icon-checked">'+'</i>'+
                        '<div>'+
                        '<div class="contain_head">'+
                        '<p>'+ '提交时间'+ '</p>'+
                        '<p class="time">'+ '2017-06-29'+ '</p>'+
                        '</div>'+
                        '<div class="contain_head">'+
                        '<p>'+ '现金'+ '</p>'+
                        '<p class="money">'+ '200'+ '</p>'+
                        '</div>'+
                        '<div>'+
                        '<div class="weui-cells__title">'+'交强险'+'</div>'+
                        '<div class="weui-cells__title">'+'商业险(主险)'+'</div>'+
                        '<div class="weui-cells__title">'+'商业险(附加险)'+'</div>'+
                        '</div>'+
                        '</div>'+

                        '</div>');
                ;
            };
            if (toend) {
                console.log(toend);
                $(document.body).destroyInfinite();
            }
            if (data.length == 10) {
                page++;
            }
            loading = false;
        })
        setTimeout(function() {
            jQuery(".weui-infinite-scroll").hide()
        }, 1000);
    }
    $(function() {
        up();
    });
    $(document.body).pullToRefresh().on("pull-to-refresh", function() {
        //清空现有数据
        $('.list').empty();
        //加载新数据
        down();
        //重置下拉状态
        $(document.body).pullToRefreshDone();
    });

    $(document.body).infinite().on("infinite", function() {
        if (loading) return;
        loading = true;
        jQuery(".weui-infinite-scroll").show();
        up();
    });

</script>
{% endblock %}