<!--订单历史方案页面-->
{% extends "weixin/none_foot_nav_tab.html" %}
{% block css %}
<title>订单列表</title>
<style>

    p{
        font-size: 18px;
        color: gray;
        display: inline-block;
        line-height: 26px;
        margin-top: 3px;
    }
    .row_right{
        float: right;
    }
    hr{
        height:0.3px;
        border:none;
        border-top:1px solid #e7e7e7;
        width: 220%;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .detail_content{
        background-color: #f5f6f7;
        margin-top: 8px;
        padding:5px 15px 10px 15px;
    }
    .row_container{
        alignment: center;
        background-image: url("../../style/wximg/img_expired.png");
        background-repeat: no-repeat;
        background-position:center;
        background-origin:content-box;
    }
    .weui-check__label{
        -webkit-tap-highlight-color:rgba(0,0,0,0);
        -webkit-user-select: none;
        -moz-user-select: none;
    }
    .list-box{position:relative;}
    .row_bd {border-bottom:10px solid #e0e0e0;}
    .weui-cells{
        margin-top:0;
    }
    .weui-check__label:active {
        background-color: rgba(0,0,0,0)
    }
    .weui-flex__item{
        color: gray;
        margin: 5px;
    }
    .main_praice{
        color: #00A73B;
    }
    .title{
        font-size: 18px;
        line-height: 24px;
        color: black;
        display: inline-block;
    }

    .weui-cells_radio .weui-check:checked+.weui-icon-checked:before {
        display: block;
        content: "\EA06";
        color: #09bb07;
        font-size: 16px
    }
    .weui-cells:after{
        border-bottom:0px;
    }
</style>
{% endblock %}
{% block content %}

<div  class="weui-cells weui-cells_radio">
    <div id="list" class="weui-panel row-box">
        <div class="row_bd">
        <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_text list-box">
            <div class="row_container" >
                    <label class="weui-cell weui-check__label" for="x11">
                        <div class=" weui-cell__bd">
                            <input type="radio" name="radio1" class="weui-check" id="x11" checked="checked">
                            <span class="weui-icon-checked"></span>
                            <span>人保车险</span>
                        </div>
                        <div class="weui-cell__ft">
                            <p class="row_right">待付款</p>
                        </div>
                    </label>
                <hr>
                <div class="weui-flex">
                    <div class="weui-flex__item">
                        提交时间
                    </div>
                    <div class="weui-flex__item" style="text-align: right;">
                        2017-06-29
                    </div>
                </div>
            </div>
        </div>
        </div>
            <div class="detail_content">
                <div class="weui-flex">
                    <div class="weui-flex__item title">
                        交强险
                    </div>
                    <div class="weui-flex__item main_praice" style="text-align: right;">
                        ￥1234
                    </div>
                </div>
                <div class="weui-flex">
                    <div class="weui-flex__item">
                        车船税
                    </div>
                    <div class="weui-flex__item" style="text-align: right;">
                        ￥1234
                    </div>
                </div>
                <div class="weui-flex">
                    <div class="weui-flex__item title">
                        商业险(主险)
                    </div>
                    <div class="weui-flex__item main_praice" style="text-align: right;">
                        ￥1234
                    </div>
                </div>
                <div class="weui-flex">
                    <div class="weui-flex__item">
                        车辆损失险
                    </div>
                    <div class="weui-flex__item" style="text-align: right;">
                        ￥1234
                    </div>
                </div>

                <div class="weui-flex">
                    <div class="weui-flex__item title">
                        商业险(附加险)
                    </div>
                    <div class="weui-flex__item main_praice" style="text-align: right;">
                        ￥1234
                    </div>
                </div>

                <div class="weui-flex">
                    <div class="weui-flex__item">
                        玻璃单独损失险
                    </div>
                    <div class="weui-flex__item" style="text-align: right;">
                        ￥1234
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" href="" id="showTooltips">修改方案</a>
    </div>
</div>

{% endblock %}
{% block js %}

{% endblock %}