{% extends "weixin/none_foot_nav_tab.html" %}
{% block css %}
<title>上传个人信息</title>
<link rel="stylesheet" href="/style/mobile/swiper3.07.min.css">
<style>
    .parent {
        padding: 0.2rem;
        background-color: #F1F1F1;
    }

    .weui-row {
        background-color: #FFFFFF;
        padding: 0.2rem;
        margin-top: 0.2rem;
        vertical-align: middle;
        text-align: center;
        height: 7rem;
    }

    .weui-col-60 {
        align-content: center;
        algin: center;
        height: 100%;
    }

    .weui-col-40 {
        margin: auto;
    }

    .weui-row img {
        width: 100%;
        height: 100%;
        padding-left: 10px;
    }

    .weui-row p {
        align-content: center;
    }

    .weui-cell {
        background-color: #FFFFFF;
        margin-top: 0.2rem;
    }

    .name {
        font-size: 14px;
        margin-top: 6px;
        line-height: 20px;
    }

    .alias {
        font-size: 14px;
        color: #f5a929;
        line-height: 20px;
        margin-top: 6px;
    }


</style>
{% endblock %}
{% block content %}
<div class="parent">
    <div class="weui-row">
        <div class="weui-col-60">
            <img src="../../style/wximg/id_card.png">
        </div>
        <div class="weui-col-40">
            <a href="javascript:;" class="weui-btn weui-btn_mini  weui-btn_plain-primary"
               id="id_card">
                选择
                <input type="file" class="weui-uploader__input" accept="image/*" multiple="">
            </a>
            <p class="name">
                被保人身份证<br/>
                (正面)
            </p>
            <p class="alias">
                企业用户请上传<br/>
                组织机构代码证
            </p>


        </div>
    </div>
    <div class="weui-row">
        <div class="weui-col-60">
            <img src="../../style/wximg/id_card.png">
        </div>

        <div class="weui-col-40">
            <a href="javascript:;" class="weui-btn weui-btn_mini  weui-btn_plain-primary"
               id="id_card_back">选择</a>
            <p class="name">
                被保人身份证<br/>
                (反面)
            </p>
            <p class="alias">
                企业用户请上传<br/>
                组织机构代码证
            </p>

        </div>
    </div>
    <div class="weui-row">
        <div class="weui-col-60">
            <img src="../../style/wximg/id_card.png">
        </div>

        <div class="weui-col-40">
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_plain-primary"
               id="drive_card">选择</a>
            <p class="name">
                行驶证
            </p>
            <p class="alias">
                新车用户请上传<br/>
                购买发票
            </p>

        </div>
    </div>
    <div class="weui-row">
        <div class="weui-col-60">
            <img src="../../style/wximg/id_card.png">
        </div>

        <div class="weui-col-40">
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_plain-primary"
               id="drive_card_back">选择</a>
            <p class="name">
                行驶证(副本)

            </p>
            <p class="alias">
                新车用户请上传<br/>
                购买发票
            </p>


        </div>
    </div>
    <div class="weui-cell weui-cell_switch">
        <div class="weui-cell__bd">
            车主同被保险人
        </div>
        <div class="weui-cell__ft">
            <input class="weui-switch" type="checkbox" checked="checked" id="switch_owner"/>
        </div>
    </div>
    <div class="owner">
        <div class="weui-row">
            <div class="weui-col-60">
                <img src="../../style/wximg/id_card.png">
            </div>

            <div class="weui-col-40">
                <a href="javascript:;" class="weui-btn weui-btn_mini  weui-btn_plain-primary"
                   id="id_card_front_owner">选择</a>
                <p class="name">
                    车主身份证<br/>
                    (正面)
                </p>


            </div>
        </div>
        <div class="weui-row">
            <div class="weui-col-60">
                <img src="../../style/wximg/id_card.png">
            </div>

            <div class="weui-col-40">
                <a href="javascript:;" class="weui-btn weui-btn_mini  weui-btn_plain-primary"

                   id="id_card_back_owner">选择</a>
                <p class="name">
                    车主身份证<br/>
                    (反面)
                </p>


            </div>
        </div>
    </div>
    <div style="margin-top: 0.5rem">
        <a href="javascript:;" class="weui-btn  weui-btn_primary" id="next">下一步</a>
    </div>
</div>

{% endblock %}
{% block js %}
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/utitls.js"></script>
<script>
    $(document).ready(function () {
        if ($('#switch_owner').is(':checked')) {
            $(".owner").hide();
        } else {
            $(".owner").show();
        }
    });
    $(document).on("click", "#next", function () {
        document.location.href = "insurance_order_items"
    })
    $(document).on("click", "#switch_owner", function () {
        if ($('#switch_owner').is(':checked')) {
            $(".owner").hide();
        } else {
            $(".owner").show();
        }
    })
    /*  $(document).on("click", "#id_card", function () {
     $.actions({title: "选择图片", actions: [{text: "相机",}, {text: "相册",}]});
     })*/
    $(document).on("click", "#id_card_back", function () {
        $.actions({
            title: "选择图片",
            actions: [{text: "相机",}, {text: "相册",}],

        });
    })

    $(document).on("click", "#drive_card", function () {
        $.actions({title: "选择图片", actions: [{text: "相机",}, {text: "相册",}]});
    })
    $(document).on("click", "#drive_card_back", function () {
        $.actions({title: "选择图片", actions: [{text: "相机",}, {text: "相册",}]});
    })

    $(document).on("click", "#id_card_front_owner", function () {
        $.actions({
            title: "选择图片", actions: [{
                text: "相机", onclick: function () {
                    galleryImg("#id_card_front_owner");
                }
            }, {
                text: "相册", onclick: function () {
                    galleryImg("#id_card_front_owner");
                }
            }]
        });
    })
    $(document).on("click", "#id_card_back_owner", function () {
        $.actions({title: "选择图片", actions: [{text: "相机",}, {text: "相册",}]});
    });

    //相册选取图片
    function galleryImg(divid) {
        plus.gallery.pick(function (p) {
            //alert(p);//file:///storage/emulated/0/DCIM/Camera/IMG_20160704_112620.jpg
            plus.io.resolveLocalFileSystemURL(p, function (entry) {
                compressImage(entry.toLocalURL(), entry.name, divid);
            }, function (e) {
                plus.nativeUI.toast("读取拍照文件错误：" + e.message);
            });
        }, function (e) {
        }, {
            filename: "_doc/camera/",
            filter: "image"
        });
    }


</script>
{% endblock %}