<!--订单列表页面-->
{% extends "weixin/none_foot_nav_tab.html" %}
{% block css %}
<title>订单列表</title>
<style>
    .weui-navbar__item.weui-bar__item--on {
        color: #42d161;
        background-color: #fff;
        border-bottom: 2px solid;
    }

    .weui-navbar__item:after {
        border-right: 0 solid #ccc;
    }

</style>
{% endblock %}
{% block content %}
<div class="weui-tab czj_wx_body">
    <div class="weui-navbar order-list-tab-bar">
        <a type="all" class="weui-navbar__item {% if active=='all' %} weui-bar__item--on {% endif %}" href="/insurance_orders?active=all">
            全部
        </a>
        <a type="unverify" class="weui-navbar__item {% if active=='unverify' %} weui-bar__item--on {% endif %}" href="/insurance_orders?active=unverify">
            待核价
        </a>
        <a type="unpay" class="weui-navbar__item {% if active=='unpay' %} weui-bar__item--on {% endif %}" href="/insurance_orders?active=unpay">
            待付款
        </a>
        <a type="paid" class="weui-navbar__item {% if active=='paid' %} weui-bar__item--on {% endif %}" href="/insurance_orders?active=paid">
            已付款
        </a>
        <a type="success" class="weui-navbar__item {% if active=='success' %} weui-bar__item--on {% endif %}" href="/insurance_orders?active=success">
            已完成
        </a>
    </div>
    <div class="weui-tab__bd">
        <div id="loadMoreContainer">
            <div class="weui-pull-to-refresh__layer">
                <div class="weui-pull-to-refresh__arrow"></div>
                <div class="weui-pull-to-refresh__preloader"></div>
                <div class="down">下拉刷新</div>
                <div class="up">释放刷新</div>
                <div class="refresh">正在刷新</div>
            </div>
            <div id="taball" class="weui-tab__bd-item {% if active=='all' %} weui-tab__bd-item--active {% endif %}">
            </div>
            <div id="tabunverify" class="weui-tab__bd-item {% if active=='unverify' %} weui-tab__bd-item--active {% endif %}">

            </div>
            <div id="tabunpay" class="weui-tab__bd-item {% if active=='unpay' %} weui-tab__bd-item--active {% endif %}">

            </div>
            <div id="tabpaid" class="weui-tab__bd-item {% if active=='paid' %}  weui-tab__bd-item--active {% endif %}">

            </div>
            <div id="tabsuccess" class="weui-tab__bd-item {% if active=='success' %} weui-tab__bd-item--active {% endif %}">

            </div>
            <div class="weui-loadmore">
                <i class="weui-loading"></i>
                <span class="weui-loadmore__tips">正在加载</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    var loading = false; //上拉状态标记
    var index = 1;
    //加载更多，flag=0刷新，falg==1加载更多
    function loadmore(flag) {
        var type = $(".weui-bar__item--on").attr('type');
        var current_tab = 'tab' + type;
        console.log(type);
        console.log(current_tab);
        if (flag == 0) {
            index = 1;
        }

        jQuery.getJSON("/wxapi/insurance_orders", {
            'index': index,
            'type': type,
            'platform':'wx_b'
        }, function (data) {
            console.log(data);
            if (data.flag == 1) {
                if (flag == 0) {
                    $('#' + current_tab).html('');
                    $('#loadMoreContainer').pullToRefreshDone();
                }

                index = index + 1;

                for (var i = 0; i < data.data.length; i++) {
                    var html = OrderItemToHtml(data.data[i]);
                    $('#' + current_tab).append(html);
                }
                if (data.data.length < 20) {
                    $(".weui-loadmore").hide();
                    $(document.body).destroyInfinite();
                }
                if (data.data.length >= 20 && flag == 0) {
                    $(document.body).destroyInfinite();
                    $(document.body).infinite().on("infinite", function () {
                        if (loading) return;
                        loading = true;
                        loadmore(1);
                    });
                }
            }
            loading = false;
        });
    }

    function OrderItemToHtml(data) {
        console.log(data);
        paystr = '';
        paybtn = '';
        // 0待报价 1已核价/待支付 2已支付/待出单 3完成（已送积分/油） -1已删除(取消)
        if (data.status==0) {
            paystr = '待核价';
        } else if (data.status == 1) {
            paystr = '待付款';
            paybtn = '<div class="weui-flex__item" style=" flex: 5;text-align: right;">\
                           <a href="javascript:;" onclick="code_pay('+data.id+')" class="weui-btn weui-btn_mini weui-btn_primary">\
                            扫码支付</a>\
                      </div>'
        } else if (data.status == 2) {
            paystr = '待出单';
        } else if (data.status == 3) {
            paystr = '已完成';
        } else {
            paystr = '已删除';
        }

        var html = '<a href="/insurance_order_detail/'+data.id+'">\
                    <div class="weui-panel">\
                        <div class="weui-panel__hd order_title">\
                            <div class="weui-flex">\
                                <div class="weui-flex__item order-num">\
                                    订单编号:'+data.ordernum +'\
                                </div>\
                                <div class="weui-flex__item order-status">\
                                    <span>'+paystr+'</span>\
                                </div>\
                            </div>\
                        </div>\
                        <div class="weui-panel__bd order-bd">\
                            <div class="weui-flex">\
                                <div class="weui-flex__item left">\
                                    保险公司:'+data.iName+'\
                                </div>\
                                <div class="weui-flex__item right">\
                                    '+data.ordered+'\
                                </div>\
                            </div>\
                            <div class="weui-flex">\
                                <div class="weui-flex__item left">\
                                    寄送人:'+data.recipients+'\
                                </div>\
                                <div class="weui-flex__item right" >\
                                    '+data.recipientsTel+'\
                                </div>\
                            </div>\
                            <div class="weui-flex">\
                                <div class="weui-flex__item left">\
                                    '+data.recipientsAddr+'\
                                </div>\
                            </div>\
                        </div>\
                    </div>\
                </a> \
                <div class="weui-panel__ft order-ft" style="background-color:#fff">\
                    <div class="weui-flex">\
                        <div class="weui-flex__item" style=" flex: 3;">\
                            <span class="order_price_title">订单金额:</span><span style="font-size: 13px; color:red;">￥</span><span class="order_price">'+data.price+'</span>\
                        </div>\
                        '+paybtn+'\
                    </div>\
                </div> \
                <div class="order-split-line" style="margin:0px;padding:0px"> \
                </div>\';
        return html;
    }

    $('#loadMoreContainer').pullToRefresh().on("pull-to-refresh", function () {
        loadmore(0);
    });

    loadmore(0);

    $(document).on("click", "#soon_pay", function () {
        $.actions({
            title: "支付方式", actions: [{
                text: "微信", onclick: function () {

                }
            }, {
                text: "支付宝", onclick: function () {

                }
            }]
        });
    })

    function code_pay(oid) {
        $.actions({
            title: "扫码支付",
            actions: [{
                    text: "微信扫码",
                    onClick: function () {
                        console.log("/pay_detail/"+oid+"?type=alipayqrcode");
                        window.location.href = "/pay_detail/"+oid+"?type=wxqrcode"
                }
                }, {
                    text: "支付宝扫码",
                    onClick: function () {
                        console.log("/pay_detail/"+oid+"?type=wxqrcode");
                        window.location.href  = "/pay_detail/"+oid+"?type=alipayqrcode"
                    }
                }]
        });
    }

</script>
{% endblock %}