<!--订单详情页面-->
{% extends "weixin/none_foot_nav_tab.html" %}
{% block css %}
<title>订单详情</title>
<style>
    p{
        font-size: 16px;
        color: gray;
    }
    .time{
        margin-top: 5px;
    }
    .tel{
        margin-bottom: 5px;
    }
    .statue{
        display: inline-block;float: right;color: red;
    }
    hr{
        height:0.3px;border:none;border-top:1px solid #e7e7e7;
    }
    /*.cell_div{*/
    /*background-color: red;*/
    /*!*display: inline-block;*!*/
    /*}*/
</style>
{% endblock %}
{% block content %}
<div class="bd">
    <div class="page__bd">
        <div class="weui-cells_-title">保险明细</div>
        <div class="weui-cells">
            <div class="weui-cell"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}


{% endblock %}