<!--订单历史方案页面-->
{% extends "weixin/none_foot_nav_tab.html" %}
{% block css %}
<title>订单历史方案</title>
<style>

    .weui-check__label{
        -webkit-tap-highlight-color:rgba(0,0,0,0);
        -webkit-user-select: none;
        -moz-user-select: none;
    }
    .weui-check__label:active {
        background-color: rgba(0,0,0,0)
    }

    .weui-cells_radio .weui-check:checked+.weui-icon-checked:before {
        display: block;
        content: "\EA06";
        color: #09bb07;
        font-size: 23px
    }
    .weui-cells_radio .weui-icon-checked:before {
        display: block;
        content: "\EA01";
        color: #c9c9c9;
        font-size: 23px
    }


</style>
{% endblock %}
{% block content %}

<div  class="weui-cells weui-cells_radio order_price_base">
    <div id="list" class="weui-panel row-box">
        {% for i in data %}
        <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_text list-box">
            <div class="row_container{% if i['status']==1 %}_active{% endif %}" >
                    <label class="weui-cell weui-check__label order_price_statue" for="x11">
                        <div class=" weui-cell__bd">
                            <input type="radio" name="radio1" class="weui-check" id="x11" checked="checked">
                            <span class="weui-icon-checked"></span>
                            <span>{{i['insurancename']}}</span>
                        </div>
                        <div class="weui-cell__ft">
                            <p class="row_right">待付款</p>
                        </div>
                    </label>
                <div class="order-split-line"></div>
                <div class="weui-flex">
                    <div class="weui-flex__item">
                        提交时间
                    </div>
                    <div class="weui-flex__item order_price_right">
                        {{i['created']}}
                    </div>
                </div>
            </div>
        </div>
            <div class="order-detail-content">
                <div class=" header weui-row">
                    <div class="wweui-col-80">
                        交强险
                    </div>
                    <div class="weui-col-20" style="text-align: right;">
                        <span class="order-price">￥{{i['forceprice']}}</span>
                    </div>
                </div>
                <div class="weui-flex body weui-row">
                    <div class="weui-col-80">
                        车船税
                    </div>
                    <div class="weui-col-20" style="text-align: right;">
                        ￥{{i['vehicle_tax_price']}}
                    </div>
                </div>
                <div class="weui-flex header weui-row">
                    <div class="weui-col-80">
                        商业险(主险)
                    </div>
                    <div class="weui-col-20" style="text-align: right;">
                        <span class="order-price">￥{{i['mainprice']}}</span>
                    </div>
                </div>
                {% for m in i['main'] %}
                <div class="weui-flex body weui-row">
                    <div class="weui-col-80">
                        {{m['name']}}
                    </div>
                    <div class="weui-col-20" style="text-align: right;">
                        ￥{{m['price']}}
                    </div>
                </div>
                {% endfor %}
                <div class="header weui-row">
                    <div class="weui-col-80">
                        商业险(附加险)
                    </div>
                    <div class="weui-col-20" style="text-align: right;">
                        <span class="order-price">￥{{i['subjoinprice']}}</span>
                    </div>
                </div>
                {% for m in i['subjoin'] %}
                <div class="weui-flex body weui-row">
                    <div class="weui-col-80">
                        {{m['name']}}
                    </div>
                    <div class="weui-col-20" style="text-align: right;">
                        ￥{{m['price']}}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <!--<div class="weui-btn-area">-->
        <!--<a class="weui-btn weui-btn_primary" href="" id="showTooltips">修改方案</a>-->
    <!--</div>-->
</div>

{% endblock %}
{% block js %}

{% endblock %}