{% extends "weixin/none_foot_nav_tab.html" %}
{% block css %}
<title>上传个人信息</title>
<link rel="stylesheet" href="/style/mobile/swiper3.07.min.css">

<style>
    .parent {
        padding: 0.2rem;
        background-color: #F1F1F1;
    }

    .weui-row {
        background-color: #FFFFFF;
        padding: 0.2rem;
        margin-top: 0.2rem;
        vertical-align: middle;
        text-align: center;
        height: 7rem;
    }

    .weui-col-60 {
        align-content: center;
        algin: center;
        height: 100%;
    }

    .weui-col-40 {
        margin: auto;
    }

    .weui-row img {
        width: 100%;
        height: 100%;
        padding-left: 10px;
    }

    .weui-row p {
        align-content: center;
    }

    .weui-cell {
        background-color: #FFFFFF;
        margin-top: 0.2rem;
    }

    .name {
        font-size: 14px;
        margin-top: 6px;
        line-height: 20px;
    }

    .alias {
        font-size: 14px;
        color: #f5a929;
        line-height: 20px;
        margin-top: 6px;
    }

    .goto_next {
        padding: 20px;
    }

    .file {
        position: relative;
        display: inline-block;
        background: #FFFFFF;
        border: 1px solid #1aad19;
        border-radius: 4px;
        padding: 4px 12px;
        overflow: hidden;
        color: #1aad19;
        text-decoration: none;
        text-indent: 0;
        line-height: 20px;
    }

    .file input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
    }

    .file:hover {
        background: #FFFFFF;
        border-color: #1aad19;
        color: #1aad19;
        text-decoration: none;
    }

</style>
{% endblock %}
{% block content %}
<div class="parent">
    <div class="weui-row">
        <div class="weui-col-60">
            <img src="../../style/wximg/id_card.png" id="id_card_front">
        </div>
        <div class="weui-col-40">
            <a href="javascript:;" class="file">
                选择
                <input type="file" name="id_card_front" accept="image/*">
            </a>
            <p class="name">
                被保人身份证<br/>
                (正面)
            </p>
            <p class="alias">
                企业用户请上传<br/>
                组织机构代码证
            </p>
        </div>
    </div>
    <div class="weui-row">
        <div class="weui-col-60">
            <img src="../../style/wximg/id_card.png" class="" id="id_card_back">
        </div>

        <div class="weui-col-40">
            <a href="javascript:;" class="file">
                选择
                <input type="file" name="id_card_back"
                       accept="image/*">
            </a>
            <p class="name">
                被保人身份证<br/>
                (反面)
            </p>
            <p class="alias">
                企业用户请上传<br/>
                组织机构代码证
            </p>

        </div>
    </div>
    <div class="weui-row">
        <div class="weui-col-60">
            <img src="../../style/wximg/id_card.png" id="drive_card_front">
        </div>

        <div class="weui-col-40">
            <a href="javascript:;" class="file">
                选择
                <input type="file" name="drive_card_front" accept="image/*">
            </a>
            <p class="name">
                行驶证
            </p>
            <p class="alias">
                新车用户请上传<br/>
                购买发票
            </p>

        </div>
    </div>
    <div class="weui-row">
        <div class="weui-col-60">
            <img src="../../style/wximg/id_card.png" id="drive_card_back">
        </div>

        <div class="weui-col-40">
            <a href="javascript:;" class="file">
                选择
                <input type="file" name="drive_card_back" accept="image/*">
            </a>
            <p class="name">
                行驶证(副本)

            </p>
            <p class="alias">
                新车用户请上传<br/>
                购买发票
            </p>


        </div>
    </div>
    <div class="weui-cell weui-cell_switch">
        <div class="weui-cell__bd">
            车主同被保险人
        </div>
        <div class="weui-cell__ft">
            <input class="weui-switch" type="checkbox" checked="checked" id="switch_owner"/>
        </div>
    </div>
    <div class="owner">
        <div class="weui-row">
            <div class="weui-col-60">
                <img src="../../style/wximg/id_card.png" id="id_card_front_owner">
            </div>

            <div class="weui-col-40">
                <a href="javascript:;" class="file">
                    选择
                    <input type="file" name="id_card_front_owner"
                           onchange="loadingImg(this,'id_card_front_owner_img')"
                           accept="image/*">
                </a>
                <p class="name">
                    车主身份证<br/>
                    (正面)
                </p>


            </div>
        </div>
        <div class="weui-row">
            <div class="weui-col-60">
                <img src="../../style/wximg/id_card.png" id="id_card_back_owner">
            </div>

            <div class="weui-col-40">
                <a href="javascript:;" class="file" id="id_card_back_owner_div">
                    选择
                </a>
                <p class="name">
                    车主身份证<br/>
                    (反面)
                </p>
            </div>
        </div>
    </div>
    <div class="goto_next">
        <a href="javascript:;" class="weui-btn  weui-btn_primary" id="next">下一步</a>
    </div>
</div>

{% endblock %}
{% block js %}
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
    $(document).ready(function () {
        localStorage.removeItem("insurance");
        if ($('#switch_owner').is(':checked')) {
            $(".owner").hide();
        } else {
            $(".owner").show();
        }

        $(':file').on("change", function () {
            loadingImg(this);
        });
        $(document).on("click", "#next", function () {

            var insurance = JSON.parse(window.localStorage.getItem("insurance"));
            if (insurance == null) {
                var insurance = {};
            }
            if (insurance.id_card_front == null) {
                $.toast("请上传被保人身份证(正面)", "text");
            } else if (insurance.id_card_back == null) {
                $.toast("请上传被保人身份证(反面)", "text");
            } else if (insurance.drive_card_front == null) {
                $.toast("请上传行驶证", "text");
            } else if (insurance.drive_card_back == null) {
                $.toast("请上传行驶证(副本)", "text");
            } else {
                if ($('#switch_owner').is(':checked')) {
                    insurance.is_same_person = 1;
                    window.localStorage.setItem("insurance", JSON.stringify(insurance));
                    document.location.href = "/insurance_order_items"
                } else {
                    if (insurance.id_card_front_owner == null) {
                        $.toast("请上传车主身份证(正面)", "text");
                    } else if (insurance.id_card_back_owner == null) {
                        $.toast("请上传车主身份证(反面)", "text");
                    } else {
                        insurance.is_same_person = 0;
                        window.localStorage.setItem("insurance", JSON.stringify(insurance));
                        document.location.href = "/insurance_order_items";
                    }
                }
            }
        });
        $(document).on("click", "#switch_owner", function () {
            if ($('#switch_owner').is(':checked')) {
                $(".owner").hide();
            } else {
                $(".owner").show();
            }
        });
        function loadingImg(parent) {
            var file = parent.files[0];
            $(parent).replaceWith('<input type="file" name="' + parent.name + '" accept="image/*">');
            $('input[name="' + parent.name + '"]').on("change", function () {
                loadingImg(this);
            });
            if (!/image\/\w+/.test(file.type)) {
                $.toast("请确保文件为图像类型", "text");
                return false;
            }
            var formData = new FormData();
            formData.append("file", file);
            $.ajax({
                type: "POST",
                url: "http://img.520czj.com/upload/image",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    //页面loading, 不能再进行其他操作，适合比如提交按钮
                    $.showLoading();
                },
                success: function (data) {
                    $.hideLoading();
                    var data = JSON.parse(data);
                    if (data.flag == 1) {
                        $("#" + parent.name).attr('src', data.data);
                        var insurance = JSON.parse(window.localStorage.getItem("insurance"));
                        if (insurance == null) {
                            var insurance = {};
                        }
                        insurance[parent.name] = data.data;
                        window.localStorage.setItem("insurance", JSON.stringify(insurance));
                        console.log(insurance);
                    } else {
                        $.toast(data.msg, "text");
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $.hideLoading();
                    $.toast("上传失败，请检查网络后重试", "text");
                }
            });
        }

        $("img").on("click", function () {
            var index = 0;
            switch (this.id) {
                case "id_card_front":
                    index = 0;
                    break;
                case "id_card_back":
                    index = 1;
                    break;
                case "drive_card_front":
                    index = 2;
                    break;
                case "drive_card_back":
                    index = 3;
                    break;
                case "id_card_front_owner":
                    index = 4;
                    break;
                case "id_card_back_owner":
                    index = 5;
                    break;
            }
            if ($('#switch_owner').is(':checked')) {
                var pb = $.photoBrowser({
                    items: [
                        $("#id_card_front").attr("src"),
                        $("#id_card_back").attr("src"),
                        $("#drive_card_front").attr("src"),
                        $("#drive_card_back").attr("src"),
                    ],
                    initIndex: index
                });

            } else {
                var pb = $.photoBrowser({
                    items: [
                        $("#id_card_front").attr("src"),
                        $("#id_card_back").attr("src"),
                        $("#drive_card_front").attr("src"),
                        $("#drive_card_back").attr("src"),
                        $("#id_card_front_owner").attr("src"),
                        $("#id_card_back_owner").attr("src")
                    ],
                    initIndex: index
                });
            }
            pb.open();
        });

    });

wx.config({
    debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
    appId: '{{ret["appid"]}}', // 必填，公众号的唯一标识
    timestamp: '{{ret["timeStamp"]}}', // 必填，生成签名的时间戳
    nonceStr: '{{ret["nonceStr"]}}', // 必填，生成签名的随机串
    signature: '{{ret["signature"]}}',// 必填，签名，见附录1
    jsApiList: ['chooseImage','uploadImage','downloadImage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
});
$('#id_card_back_owner_div').on('click', function () {
    wx.chooseImage({
          count: 1,
        success: function (res) {
            var localIds = res.localIds;
            syncUpload(localIds);
        }
    });
});
var syncUpload = function(localIds){
    var localId = localIds.pop();
    wx.uploadImage({
        localId: localId,
        isShowProgressTips: 1,
        success: function (res) {
            var serverId = res.serverId; // 返回图片的服务器端ID
            $.ajax({
                type: "POST",
                dataType:"json",
                url: "http://img.520czj.com/upload/urlimage",
                data: {
                    media_id:serverId
                },
                success: function (data) {
                    $.hideLoading();

                    console.log(data);
                    if (data.flag == 1) {

                    } else {
                        $.toast(data.msg, "text");
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $.hideLoading();
                    $.toast("上传失败，请检查网络后重试", "text");
                }
            });
        }
    });
};
</script>
{% endblock %}