{% extends "weixin/none_foot_nav_tab.html" %}
{% block css %}
<title>选择保险内容</title>
<link rel="stylesheet" href="/style/mobile/swiper3.07.min.css">
<style>
    .parent {
        background-color: #F1F1F1;
        height: 100%;
    }

    .insurance {
        width: 50%;
    }

    .insurance_parent {
        background-color: #FFFFFF;
    }

    .insurance_main_plus {
        background-color: #FFFFFF;
    }

    .insurance_parent-main {
        padding: 10px;
    }

    .weui-cell {
        background-color: #FFFFFF;
    }

    .goto_next {
        background-color: #FFFFFF;
        padding: 20px;
    }

    .weui-switch_insurance {
        position: relative;
        width: 52px;
        height: 32px;
        border: 1px solid #dfdfdf;
        outline: 0;
        border-radius: 16px;
        box-sizing: border-box;
        background-color: #FFFFFF;
        -webkit-transition: background-color .1s, border .1s;
        transition: background-color .1s, border .1s;
        text-align: center;
        font-size: 14px;
    }

    #insurance_name {
        text-align: right;
    }

</style>
{% endblock %}
{% block content %}
<div class="parent">
    <div class="weui-cell weui-cell_access">
        <div class="weui-cell__bd">
            保险公司
        </div>
        <div class="weui-cell__ft">

            <input class="weui-input" id="insurance_name" type="text" >
        </div>
    </div>
    <div class="insurance_parent">
        <div class="weui-cells weui-cells_checkbox">
            <p class="insurance_parent-main">
                交强险
            </p>
            <div class="weui-cell weui-cell_switch">
                <div class="insurance">
                    交强险
                </div>
                <div class="weui-cell__ft">
                    <input class="weui-switch" id="forceI" type="checkbox"/>
                </div>
            </div>
        </div>
    </div>
    <div class="insurance_parent">
        <div class="weui-cells weui-cells_checkbox">
            <div class="insurance_parent-main">
                商业险—主险
            </div>
            <div class="weui-cell weui-cell_switch">
                <div class="insurance">
                    车辆损失险
                </div>
                <div class="weui-cell__ft">
                    <input class="weui-switch" type="checkbox" id="damageI"/>
                </div>
                <label class="weui-row" for="damageIPlus">
                    <div class="weui-cell__hd">
                        <input type="checkbox" class="weui-check" id="damageIPlus"/>
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div>
                        不计免赔
                    </div>
                </label>
            </div>
            <div class="weui-cell weui-cell_switch">
                <div class="insurance">
                    第三者责任险
                </div>
                <div class="weui-cell__ft">
                    <input class="weui-switch_insurance " id="thirdDutyI" type="text" value="不投"/>
                </div>
                <label class="weui-row" for="thirdDutyIPlus">
                    <div class="weui-cell__hd">
                        <input type="checkbox" class="weui-check" id="thirdDutyIPlus"/>
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div>
                        不计免赔
                    </div>
                </label>
            </div>
            <div class="weui-cell weui-cell_switch">
                <div class="insurance">
                    车上人员险(司机)
                </div>
                <div class="weui-cell__ft">

                    <input class="weui-switch_insurance" id="driverDutyI" type="text" value="不投"/>

                </div>
                <label class="weui-row" for="driverDutyIPlus">
                    <div class="weui-cell__hd">
                        <input type="checkbox" class="weui-check" id="driverDutyIPlus"/>
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div>
                        不计免赔
                    </div>
                </label>
            </div>
            <div class="weui-cell weui-cell_switch">
                <div class="insurance">
                    车上人员险(乘客)
                </div>
                <div class="weui-cell__ft">
                    <input class="weui-switch_insurance " id="passengerDutyI" type="text" value="不投"/>
                </div>
                <label class="weui-row" for="passengerDutyIPlus">
                    <div class="weui-cell__hd">
                        <input type="checkbox" class="weui-check" id="passengerDutyIPlus"/>
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div>
                        不计免赔
                    </div>
                </label>
            </div>
            <div class="weui-cell weui-cell_switch">
                <div class="insurance">
                    全车盗抢险
                </div>
                <div class="weui-cell__ft">
                    <input class="weui-switch" id="robbingI" type="checkbox"/>
                </div>
                <label class="weui-row" for="robbingIPlus">
                    <div class="weui-cell__hd">
                        <input type="checkbox" class="weui-check" id="robbingIPlus"/>
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div>
                        不计免赔
                    </div>
                </label>
            </div>
        </div>
    </div>
    <div class="insurance_main_plus">
        <div class="weui-cells weui-cells_checkbox">
            <div class="insurance_parent-main">
                商业险—附加险
            </div>
            <div class="weui-cell weui-cell_switch">
                <div class="insurance">
                    玻璃单独破碎险
                </div>
                <div class="weui-cell__ft">
                    <input class="weui-switch" type="checkbox"/>
                </div>

            </div>
            <div class="weui-cell weui-cell_switch">
                <div class="insurance">
                    车身划痕损失险
                </div>

                <div class="weui-cell__ft">
                    <input class="weui-switch_insurance " id="scratchI" type="text" value="不投"/>
                </div>
                <label class="weui-row" for="scratchIPlus">
                    <div class="weui-cell__hd">
                        <input type="checkbox" class="weui-check" id="scratchIPlus"/>
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div>
                        不计免赔
                    </div>
                </label>
            </div>
            <div class="weui-cell weui-cell_switch">
                <div class="insurance">
                    自燃损失险
                </div>
                <div class="weui-cell__ft">
                    <input class="weui-switch" id="fireDamageI" type="checkbox"/>
                </div>
                <label class="weui-row" for="fireDamageIPlus">
                    <div class="weui-cell__hd">
                        <input type="checkbox" class="weui-check" id="fireDamageIPlus"/>
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div>
                        不计免赔
                    </div>
                </label>
            </div>
            <div class="weui-cell weui-cell_switch">
                <div class="insurance">
                    发动机涉水损失险
                </div>
                <div class="weui-cell__ft">
                    <input class="weui-switch" id="wadeI" type="checkbox"/>
                </div>
                <label class="weui-row" for="wadeIPlus">
                    <div class="weui-cell__hd">
                        <input type="checkbox" class="weui-check" id="wadeIPlus"/>
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div>
                        不计免赔
                    </div>
                </label>
            </div>
            <div class="weui-cell weui-cell_switch">
                <div class="insurance">
                    无法找到第三方险
                </div>
                <div class="weui-cell__ft">
                    <input class="weui-switch" type="checkbox"/>
                </div>
            </div>
        </div>
    </div>
    <div class="goto_next">
        <a href="#" id="next" class="weui-btn weui-btn_primary">下一步</a>
    </div>
</div>

{% endblock %}
{% block js %}
<script>
    $(document).ready(function () {

        var insurance_list = JSON.parse('{{insurance_message}}');
        var nameValues = [];
        for (var i = 0; i < insurance_list.length; i++) {
            nameValues.push(insurance_list[i].name);
        }

        $("#insurance_name").picker({
            title: "选择保险公司",
            cols: [{
                textAlign: 'center',
                values: nameValues
            }],
            onClose: function () {
            }
        });
        $("#insurance_name").val('{{selectinsurance}}');

        if ($('#damageI').is(':checked')) {
            $(".insurance_main_plus").show();
        } else {
            $(".insurance_main_plus").hide();
        }
        if ($('#thirdDutyI').val() != "不投") {
            $('#thirdDutyI').css("background-color", "#04be02").css("color", "#ffffff")
        } else {
            $('#thirdDutyI').css("background-color", "#ffffff").css("color", "#262626");
            $("#thirdDutyIPlus").prop("checked", false);
        }
        if ($('#driverDutyI').val() != "不投") {
            $('#driverDutyI').css("background-color", "#04be02").css("color", "#ffffff");
        } else {
            $('#driverDutyI').css("background-color", "#ffffff").css("color", "#262626");
            $("#driverDutyIPlus").prop("checked", false);
        }
        if ($('#passengerDutyI').val() != "不投") {
            $('#passengerDutyI').css("background-color", "#04be02").css("color", "#ffffff");
        } else {
            $('#passengerDutyI').css("background-color", "#ffffff").css("color", "#262626");
            $("#passengerDutyIPlus").prop("checked", false);
        }
        if ($('#scratchI').val() != "不投") {
            $('#scratchI').css("background-color", "#04be02").css("color", "#ffffff");
        } else {
            $('#scratchI').css("background-color", "#ffffff").css("color", "#262626");
            $("#scratchIPlus").prop("checked", false);
        }

        $("#next").bind("click", function () {
            var insurance_list = JSON.parse('{{insurance_message}}');
            var company = $('#insurance_name').val();
            var insurance = JSON.parse(window.localStorage.getItem("insurance"));
            for (var i = 0; i < insurance_list.length; i++) {
                if (insurance_list[i].name == company) {
                    insurance.insurance = insurance_list[i].id;
                    window.localStorage.setItem("insurance", JSON.stringify(insurance));
                }
            }
            if (insurance == null) {
                var insurance = {};
            }
            if (!$('#forceI').is(':checked')
                && !$('#damageI').is(':checked')
                && $('#thirdDutyI').val() == "不投"
                && $('#driverDutyI').val() == "不投"
                && $('#passengerDutyI').val() == "不投"
                && !$('#robbingI').is(':checked')) {
                $.toast("请选择险种", "text");
            } else {
                if ($('#forceI').is(':checked')) {
                    insurance.forceI = "1";
                } else {
                    insurance.forceI = "";
                }

                if (!$('#damageI').is(':checked')) {
                    insurance.damageI = "";
                    insurance.damageIPlus = "";
                    insurance.glassI = "";
                    insurance.scratchI = "";
                    insurance.scratchIPlus = "";
                    insurance.fireDamageI = "";
                    insurance.fireDamageIPlus = "";
                    insurance.wadeI = "";
                    insurance.wadeIPlus = "";
                    insurance.thirdSpecialI = "";
                } else {
                    insurance.damageI = "1";
                    if ($('#damageIPlus').is(':checked')) {
                        insurance.damageIPlus = "1";
                    } else {
                        insurance.damageIPlus = "";
                    }
                    if ($('#glassI').is(':checked')) {
                        insurance.glassI = "1";
                    } else {
                        insurance.glassI = "";
                    }
                    if ($('#scratchI').val() == "不投") {
                        insurance.scratchI = "";
                        insurance.scratchIPlus = "";
                    } else {
                        insurance.scratchI = $('#scratchI').val();
                        if ($('#scratchIPlus').is(':checked')) {
                            insurance.scratchIPlus = "1";
                        } else {
                            insurance.scratchIPlus = "";
                        }
                    }
                    if (!$('#fireDamageI').is(':checked')) {
                        insurance.fireDamageI = "";
                        insurance.fireDamageIPlus = "";
                    } else {
                        insurance.fireDamageI = "1";
                        if ($('#fireDamageIPlus').is(':checked')) {
                            insurance.fireDamageIPlus = "1";
                        } else {
                            insurance.fireDamageIPlus = "";
                        }
                    }
                    if (!$('#wadeI').is(':checked')) {
                        insurance.wadeI = "";
                        insurance.wadeIPlus = "";
                    } else {
                        insurance.wadeI = "1";
                        if ($('#fireDamageIPlus').is(':checked')) {
                            insurance.wadeIPlus = "1";
                        } else {
                            insurance.wadeIPlus = "";
                        }
                    }

                    if (!$('#thirdSpecialI').is(':checked')) {
                        insurance.thirdSpecialI = "";
                    } else {
                        insurance.thirdSpecialI = "1";
                    }
                }
                if ($('#thirdDutyI').val() == "不投") {
                    insurance.thirdDutyI = "";
                    insurance.thirdDutyIPlus = "";
                } else {
                    insurance.thirdDutyI = $('#thirdDutyI').val();
                    if ($('#thirdDutyIPlus').is(':checked')) {
                        insurance.thirdDutyIPlus = "1";
                    } else {
                        insurance.thirdDutyIPlus = "";
                    }
                }
                if ($('#driverDutyI').val() == "不投") {
                    insurance.thirdDutyI = "";
                    insurance.thirdDutyIPlus = "";
                } else {
                    insurance.driverDutyI = $('#driverDutyI').val();
                    if ($('#driverDutyIPlus').is(':checked')) {
                        insurance.driverDutyIPlus = "1";
                    } else {
                        insurance.driverDutyIPlus = "";
                    }
                }
                if ($('#passengerDutyI').val() == "不投") {
                    insurance.passengerDutyI = "";
                    insurance.passengerDutyIPlus = "";
                } else {
                    insurance.passengerDutyI = $('#passengerDutyI').val();
                    if ($('#passengerDutyIPlus').is(':checked')) {
                        insurance.passengerDutyIPlus = "1";
                    } else {
                        insurance.passengerDutyIPlus = "";
                    }
                }
                if (!$('#robbingI').is(':checked')) {
                    insurance.robbingI = "";
                    insurance.robbingIPlus = "";
                } else {
                    insurance.robbingI = "1";
                    if ($('#robbingIPlus').is(':checked')) {
                        insurance.robbingIPlus = "1";
                    } else {
                        insurance.robbingIPlus = "";
                    }
                }
                window.localStorage.setItem("insurance", JSON.stringify(insurance));
                console.log(insurance);
                document.location.href = "/insurance_order_new?i_name=" + $('#insurance_name').val();
            }
        });
        var third = JSON.parse('{{thirdDutyI}}');

        $("#thirdDutyI").picker({
            title: "选择保额",
            cols: [{
                textAlign: 'center',
                values: third
            }
            ],
            onClose: function () {
                if ($('#thirdDutyI').val() != "不投") {
                    $('#thirdDutyI').css("background-color", "#04be02").css("color", "#ffffff");
                    $("#thirdDutyIPlus").prop("checked", true);
                    console.log($('#thirdDutyIPlus').is(':checked'));
                } else {
                    $('#thirdDutyI').css("background-color", "#ffffff").css("color", "#262626");
                    $("#thirdDutyIPlus").prop("checked", false);
                }
            }
        });
        var driver = JSON.parse('{{driverDutyI}}');
        $("#driverDutyI").picker({
            title: "选择保额",
            cols: [{
                textAlign: 'center',
                values: driver
            }
            ],
            onClose: function () {
                if ($('#driverDutyI').val() != "不投") {
                    $('#driverDutyI').css("background-color", "#04be02").css("color", "#ffffff");
                    $("#driverDutyIPlus").prop("checked", true);

                } else {
                    $('#driverDutyI').css("background-color", "#ffffff").css("color", "#262626");
                    $("#driverDutyIPlus").prop("checked", false);
                }
            }
        });
        var passenger = JSON.parse('{{passengerDutyI}}');
        $("#passengerDutyI").picker({
            title: "选择保额",
            cols: [{
                textAlign: 'center',
                values: passenger
            }
            ],
            onClose: function () {
                if ($('#passengerDutyI').val() != "不投") {
                    $('#passengerDutyI').css("background-color", "#04be02").css("color", "#ffffff");
                    $("#passengerDutyIPlus").prop("checked", true);
                } else {
                    $('#passengerDutyI').css("background-color", "#ffffff").css("color", "#262626");
                    $("#passengerDutyIPlus").prop("checked", false);
                }
            }
        });
        var scratch = JSON.parse('{{scratchI}}');
        $("#scratchI").picker({
            title: "选择保额",
            cols: [{
                textAlign: 'center',
                values: scratch
            }
            ],
            onClose: function () {
                if ($('#scratchI').val() != "不投") {
                    $('#scratchI').css("background-color", "#04be02").css("color", "#ffffff");
                    $("#scratchIPlus").prop("checked", true);
                } else {
                    $('#scratchI').css("background-color", "#ffffff").css("color", "#262626");
                    $("#scratchIPlus").prop("checked", false);
                }
            }
        });

        $(document).on("click", "#damageI", function () {
            if ($('#damageI').is(':checked')) {
                $(".insurance_main_plus").show();
                $("#damageIPlus").prop("checked", true);
            } else {
                $(".insurance_main_plus").hide();
                $("#damageIPlus").prop("checked", false);
            }
        });
        $(document).on("click", "#robbingI", function () {
            if (!$('#robbingI').is(':checked')) {
                $("#robbingIPlus").prop("checked", false);
            } else {
                $("#robbingIPlus").prop("checked", true);
            }
        });
        $(document).on("click", "#fireDamageI", function () {
            if (!$('#fireDamageI').is(':checked')) {
                $("#fireDamageIPlus").prop("checked", false);
            } else {
                $("#fireDamageIPlus").prop("checked", true);
            }
        });
        $(document).on("click", "#wadeI", function () {
            if (!$('#wadeI').is(':checked')) {
                $("#wadeIPlus").prop("checked", false);
            } else {
                $("#wadeIPlus").prop("checked", true);
            }
        });
        $(document).on("click", "#damageIPlus", function () {
            if (!$('#damageI').is(':checked')) {
                $("#damageIPlus").prop("checked", false);
            }
        });
        $(document).on("click", "#thirdDutyIPlus", function () {
            console.log($('#thirdDutyI').val());
            if ($('#thirdDutyI').val() == "不投") {
                $("#thirdDutyIPlus").prop("checked", false);
            }
        });
        $(document).on("click", "#driverDutyIPlus", function () {
            if ($('#driverDutyI').val() == "不投") {
                $("#driverDutyIPlus").prop("checked", false);
            }

        });
        $(document).on("click", "#passengerDutyIPlus", function () {
            if ($('#passengerDutyI').val() == "不投") {
                $("#passengerDutyIPlus").prop("checked", false);
            }
        });
        $(document).on("click", "#robbingIPlus", function () {
            if (!$('#robbingI').is(':checked')) {
                $("#robbingIPlus").prop("checked", false);
            }
        });
        $(document).on("click", "#scratchIPlus", function () {
            console.log($('#scratchI').val());
            if ($('#scratchI').val() == "不投") {
                $("#scratchIPlus").prop("checked", false);
            }
        });
        $(document).on("click", "#fireDamageIPlus", function () {
            if (!$('#fireDamageI').is(':checked')) {
                $("#fireDamageIPlus").prop("checked", false);
            }
        });
        $(document).on("click", "#wadeIPlus", function () {
            if (!$('#wadeI').is(':checked')) {
                $("#wadeIPlus").prop("checked", false);
            }
        });
    });


</script>
{% endblock %}