<!--保险公司详情页面-->
{% extends "weixin/none_foot_nav_tab.html" %}
{% block css %}
<title>保险公司详情</title>
<style>
a {
    width: 80%;
}
</style>
{% endblock %}
{% block content %}
    <div align="center" style="padding-top: 2rem;">
        <img style="height:5rem" src="{{insurance.logo}}">
    </div>
    <div class="content-padded">
        <p style="margin:0.8rem">{{insurance.intro}}</p>
    </div>
    <div>
        <a href="/insurance_order_base" class="weui-btn weui-btn_primary">车险报价</a>
    </div>
    <div>
        <a href="/pay_detail" class="weui-btn weui-btn_primary">支付详情</a>
    </div>
    <div>
        <a href="/login" class="weui-btn weui-btn_primary">登录</a>
    </div>
    <div>
        <a href="weixin://contacts/profile/gh_3ab86b068b0c" class="weui-btn weui-btn_primary">关注车生活</a>
    </div>
{% endblock %}
{% block js %}
<script>

</script>
{% endblock %}