<!--订单详情页面-->
{% extends "weixin/none_foot_nav_tab.html" %}
{% block css %}
<title>订单详情</title>
<style>
    
    hr{
        height:0.3px;border:none;border-top:1px solid #e7e7e7;
    }
    .moblie{
         display: inline-block;
     }
    .tel{
        display: inline-block;
        float: right;
    }
    .a_history{
        color: gray;
        font-size: 15px;
    }
    .weui-col-60 img {
        width:70%;
        margin-left: 1.2rem;
        height:5rem;
    }
    .weui-col-60 p {
        text-align: center;
    }
    .wy-insurance-img-block {
        text-align: center;
    }
    .wy-insurance-img-block img {
        height: 100px;
        width: auto;
    }
    .wy-insurance-img-block p {
        padding: 0;
        margin: 0;
        font-size: 13px;
        line-height: 17px;
    }

    .wy-insurance-img-block .display_block {
        position: relative;
        width: 100%;
    }

    .wy-insurance-img-block .display_block .btn_2 {
        width: 25px;
        position: absolute;
        height: 25px;
        right: 20px;
        top: 4px;
    }

    .wy-insurance-img-block .display_block .btn_1 {
        width: 25px;
        position: absolute;
        height: 25px;
        right: 20px;
        top: 1px;
    }
    .wy-insurance-img-block .display_block .single_line{
        padding: 0;
        margin: 0;
        font-size: 13px;
        line-height: 25px;
    }
    p{
        color: black;
    }
    .order_remind{
        background-color: #f39b00;
        text-align: center;
        color: white;
    }
    .list-box{position:relative;}
    .address-box .weui-panel__bd{border-bottom:10px solid #f5f5f5;}
    .address-box{
        border-top:10px solid #f5f5f5;
    }
    #soon_pay{
        background-color: #FFA602;
        color: white;
    }
    .adderss_icon{
        width: 14px;
        height: 16px;
        alignment: center;
    }
    .address_detail{
        padding-left: 16px;
    }
</style>
{% endblock %}
{% block content %}
<div class="bd">
    <div class="page__bd">
        <div class="weui-cells__title">保险明细</div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>保险明细</p>
                </div>
                <div class="weui-cell__ft">
                    <a class="a_history" href="/insurance_order_price">历史方案></a>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>人保车险</p>
                </div>
                <div class="weui-cell__ft">￥1234</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>提交时间</p>
                </div>
                <div class="weui-cell__ft">2017-06-08</div>
            </div>
            <div id="insrue_detail">

            </div>
        </div>
        <div class="weui-cells__title">证件信息</div>
        <p class="order_remind">图片不符合要求,请重新上传</p>
        <div class="weui-flex wy-insurance-img-block">
            <div class="weui-flex__item">
                <div>
                    <img class="img_card" src="../../style/wximg/id_card.png">
                </div>
                <div class="display_block">
                    <div>
                <p>
                    <span>身份证正面</span>
                </p>
                <p>
                    <span>(被保险人)</span>
                </p>
                        </div>
                    <img class="btn_2" src="../../style/wximg/btn_photo_upload.png">
                    </div>
            </div>
             <div class="weui-flex__item">
                <div>
                    <img class="img_card" src="../../style/wximg/id_card.png">
                </div>
                <div class="display_block">
                    <div>
                        <p>
                            <span>身份证反面</span>
                        </p>
                        <p>
                            <span>(被保险人)</span>
                        </p>
                        </div>
                    <img class="btn_2" src="../../style/wximg/btn_photo_upload.png">
                    </div>
            </div>
        </div>
        <div class="weui-flex wy-insurance-img-block">
            <div class="weui-flex__item">
                <div>
                    <img class="img_card" src="../../style/wximg/id_card.png">
                </div>
                <div class="display_block">
                    <div>
                <p class="single_line">
                    <span>行驶证</span>
                </p>
                        </div>
                    <img class="btn_1" src="../../style/wximg/btn_photo_upload.png">
                    </div>
            </div>
             <div class="weui-flex__item">
                <div>
                    <img class="img_card" src="../../style/wximg/id_card.png">
                </div>
                <div class="display_block">
                    <div>
                <p class="single_line">
                    <span>行驶证副本</span>
                </p>
                        </div>
                    <img class="btn_1" src="../../style/wximg/btn_photo_upload.png">
                    </div>
            </div>
        </div>

        <div class="weui-flex wy-insurance-img-block">
            <div class="weui-flex__item">
                <div>
                    <img class="img_card" src="../../style/wximg/id_card.png">
                </div>
                <div class="display_block">
                    <div>
                        <p class="single_line">
                            <span>身份证正面</span>
                        </p>
                    </div>
                    <img class="btn_1" src="../../style/wximg/btn_photo_upload.png">
                </div>
            </div>
            <div class="weui-flex__item">
                <div>
                    <img class="img_card" src="../../style/wximg/id_card.png">
                </div>
                <div class="display_block">
                    <div>
                        <p class="single_line">
                            <span>身份证背面</span>
                        </p>
                    </div>
                    <img class="btn_1" src="../../style/wximg/btn_photo_upload.png">
                </div>
            </div>
        </div>

        <div class="weui-panel address-box">
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text list-box">
                    <div>
                        <img class="adderss_icon" src="../../style/wximg/img_location.png">
                        <p class="moblie">收货人:测试ios</p>
                        <p class="tel">13389202687</p>
                    </div>
                    <p class="address_detail">陕西省 西安市 新城区 测试地址</p>
                </div>
            </div>
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text list-box">
                    <a  id="soon_pay" class="weui-btn weui-btn_mini  weui-btn_default" >立即支付</a>
                    <a  id="code_pay" class="weui-btn weui-btn_mini  weui-btn_primary" >扫码支付</a>
                    <a href="/insurance_order_items" class="weui-btn weui-btn_mini  weui-btn_default" >重新报价</a>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block js %}
<script>
    $(document).on("click", "#soon_pay", function () {
        $.actions({
            title: "支付方式", actions: [{
                text: "微信", onclick: function () {
                    galleryImg("#id_card_front_owner");
                }
            }, {
                text: "支付宝", onclick: function () {
                    galleryImg("#id_card_front_owner");
                }
            }]
        });
    })

    $(document).on("click", "#code_pay", function () {
        $.actions({
            title: "扫码支付", actions: [{
                text: "微信扫码", onclick: function () {
                    galleryImg("#id_card_front_owner");
                }
            }, {
                text: "支付宝扫码", onclick: function () {
                    galleryImg("#id_card_front_owner");
                }
            }]
        });
    })
</script>

{% endblock %}