{% extends "weixin/none_foot_nav_tab.html" %}
{% block css %}
<title>选择保险内容</title>
<link rel="stylesheet" href="/style/mobile/swiper3.07.min.css">
<style>
    .insurance {
        width: 50%;
    }

    .parent {
        background-color: #F1F1F1;
        height: 100%;
    }

    .insurance_parent {
        background-color: #FFFFFF;
    }

    .insurance_main_plus {
        background-color: #FFFFFF;
    }

    .insurance_parent-main {
        padding: 10px;
    }

    .weui-cell {
        background-color: #FFFFFF;
    }

    .goto_next {
        background-color: #FFFFFF;
        padding: 20px;
    }

    .weui-switch_insurance {
        position: relative;
        width: 52px;
        height: 32px;
        border: 1px solid #dfdfdf;
        outline: 0;
        border-radius: 16px;
        box-sizing: border-box;
        background-color: #FFFFFF;
        -webkit-transition: background-color .1s, border .1s;
        transition: background-color .1s, border .1s;
        text-align: center;
        font-size: 14px;
    }


</style>
{% endblock %}
{% block content %}
<div class="parent">
    <div class="weui-cell weui-cell_access">
        <div class="weui-cell__bd">
            保险公司
        </div>
        <div class="weui-cell__ft">
            <input class="weui-input" id="insurance_name" type="text" value="太平保险">
        </div>
    </div>
    <div class="insurance_parent">
        <div class="weui-cells weui-cells_checkbox">
            <p class="insurance_parent-main">
                交强险
            </p>
            <div class="weui-cell weui-cell_switch">
                <div class="insurance">
                    交强险
                </div>
                <div class="weui-cell__ft">
                    <input class="weui-switch" type="checkbox"/>
                </div>
            </div>
        </div>
    </div>
    <div class="insurance_parent">
        <div class="weui-cells weui-cells_checkbox">
            <div class="insurance_parent-main">
                商业险—主险
            </div>
            <div class="weui-cell weui-cell_switch">
                <div class="insurance">
                    车辆损失险
                </div>
                <div class="weui-cell__ft">
                    <input class="weui-switch" type="checkbox" id="damageI"/>
                </div>
                <label class="weui-row" for="damageIPlus">
                    <div class="weui-cell__hd">
                        <input type="checkbox" class="weui-check" id="damageIPlus"/>
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div>
                        不计免赔
                    </div>
                </label>
            </div>
            <div class="weui-cell weui-cell_switch">
                <div class="insurance">
                    第三者责任险
                </div>
                <div class="weui-cell__ft">
                    <input class="weui-switch_insurance " id="thirdDutyI" type="text" value="不投"/>
                </div>
                <label class="weui-row" for="thirdDutyIPlus">
                    <div class="weui-cell__hd">
                        <input type="checkbox" class="weui-check" id="thirdDutyIPlus"/>
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div>
                        不计免赔
                    </div>
                </label>
            </div>
            <div class="weui-cell weui-cell_switch">
                <div class="insurance">
                    车上人员险(司机)
                </div>
                <div class="weui-cell__ft">

                    <input class="weui-switch_insurance" id="driverDutyI" type="text" value="不投"/>

                </div>
                <label class="weui-row" for="driverDutyIPlus">
                    <div class="weui-cell__hd">
                        <input type="checkbox" class="weui-check" id="driverDutyIPlus"/>
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div>
                        不计免赔
                    </div>
                </label>
            </div>
            <div class="weui-cell weui-cell_switch">
                <div class="insurance">
                    车上人员险(乘客)
                </div>
                <div class="weui-cell__ft">
                    <input class="weui-switch_insurance " id="passengerDutyI" type="text" value="不投"/>
                </div>
                <label class="weui-row" for="passengerDutyIPlus">
                    <div class="weui-cell__hd">
                        <input type="checkbox" class="weui-check" id="passengerDutyIPlus"/>
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div>
                        不计免赔
                    </div>
                </label>
            </div>
            <div class="weui-cell weui-cell_switch">
                <div class="insurance">
                    全车盗抢险
                </div>
                <div class="weui-cell__ft">
                    <input class="weui-switch" id="robbingI" type="checkbox"/>
                </div>
                <label class="weui-row" for="robbingIPlus">
                    <div class="weui-cell__hd">
                        <input type="checkbox" class="weui-check" id="robbingIPlus"/>
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div>
                        不计免赔
                    </div>
                </label>
            </div>
        </div>
    </div>
    <div class="insurance_main_plus">
        <div class="weui-cells weui-cells_checkbox">
            <div class="insurance_parent-main">
                商业险—附加险
            </div>
            <div class="weui-cell weui-cell_switch">
                <div class="insurance">
                    玻璃单独破碎险
                </div>
                <div class="weui-cell__ft">
                    <input class="weui-switch" type="checkbox"/>
                </div>

            </div>
            <div class="weui-cell weui-cell_switch">
                <div class="insurance">
                    车身划痕损失险
                </div>
                <div class="weui-cell__ft">
                    <input class="weui-switch" id="scratchI" type="checkbox"/>
                </div>
                <label class="weui-row" for="scratchIPlus">
                    <div class="weui-cell__hd">
                        <input type="checkbox" class="weui-check" id="scratchIPlus"/>
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div>
                        不计免赔
                    </div>
                </label>
            </div>
            <div class="weui-cell weui-cell_switch">
                <div class="insurance">
                    自燃损失险
                </div>
                <div class="weui-cell__ft">
                    <input class="weui-switch" id="fireDamageI" type="checkbox"/>
                </div>
                <label class="weui-row" for="fireDamageIPlus">
                    <div class="weui-cell__hd">
                        <input type="checkbox" class="weui-check" id="fireDamageIPlus"/>
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div>
                        不计免赔
                    </div>
                </label>
            </div>
            <div class="weui-cell weui-cell_switch">
                <div class="insurance">
                    发动机涉水损失险
                </div>
                <div class="weui-cell__ft">
                    <input class="weui-switch" id="wadeI" type="checkbox"/>
                </div>
                <label class="weui-row" for="wadeIPlus">
                    <div class="weui-cell__hd">
                        <input type="checkbox" class="weui-check" id="wadeIPlus"/>
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div>
                        不计免赔
                    </div>
                </label>
            </div>
            <div class="weui-cell weui-cell_switch">
                <div class="insurance">
                    无法找到第三方险
                </div>
                <div class="weui-cell__ft">
                    <input class="weui-switch" type="checkbox"/>
                </div>
            </div>
        </div>
    </div>
    <div class="goto_next">
        <a href="/insurance_order_new" class="weui-btn weui-btn_primary">下一步</a>
    </div>
</div>

{% endblock %}
{% block js %}
<script>
    $(document).ready(function () {
        if ($('#damageI').is(':checked')) {
            $(".insurance_main_plus").show();
        } else {
            $(".insurance_main_plus").hide();
        }
    });
    $(document).on("click", "#damageI", function () {
        if ($('#damageI').is(':checked')) {
            $(".insurance_main_plus").show();
        } else {
            $(".insurance_main_plus").hide();
            $("#damageIPlus").attr("checked", false);
        }
    })

    $("#insurance_name").picker({
        title: "选择保险公司",
        cols: [{
            textAlign: 'center',
            values: ['太平保险', '人寿保险', '人保车险']
        }],

    });
    $("#thirdDutyI").picker({
        title: "选择保额",
        cols: [{
            textAlign: 'center',
            values: ['不投', '10万', '20万', '30万']
        }
        ],
        onchange: function () {
            $("#insurance_name").removeClass("btn_coverage").addClass("btn_coverage_green");
            $("#damageIPlus").attr("checked", true);
        }
    });
    $("#driverDutyI").picker({
        title: "选择保额",
        cols: [{
            textAlign: 'center',
            values: ['不投', '10万', '20万', '30万']
        }
        ],
    });
    $("#passengerDutyI").picker({
        title: "选择保额",
        cols: [{
            textAlign: 'center',
            values: ['不投', '10万', '20万', '30万']
        }
        ],
    });
    $(document).on("click", "#damageIPlus", function () {
        if (!$('#damageI').is(':checked')) {
            $("#damageIPlus").attr("checked", false);
        }
    })
    $(document).on("click", "#thirdDutyIPlus", function () {
        if (!$('#thirdDutyI').is(':checked')) {
            $("#thirdDutyIPlus").attr("checked", false);
        }
    })
    $(document).on("click", "#driverDutyIPlus", function () {
        if (!$('#driverDutyI').is(':checked')) {
            $("#driverDutyIPlus").attr("checked", false);
        }
    })
    $(document).on("click", "#passengerDutyIPlus", function () {
        if (!$('#passengerDutyI').is(':checked')) {
            $("#passengerDutyIPlus").attr("checked", false);
        }
    })
    $(document).on("click", "#robbingIPlus", function () {
        if (!$('#robbingI').is(':checked')) {
            $("#robbingIPlus").attr("checked", false);
        }
    })
    $(document).on("click", "#scratchIPlus", function () {
        if (!$('#scratchI').is(':checked')) {
            $("#scratchIPlus").attr("checked", false);
        }
    })
    $(document).on("click", "#fireDamageIPlus", function () {
        if (!$('#fireDamageI').is(':checked')) {
            $("#fireDamageIPlus").attr("checked", false);
        }
    })
    $(document).on("click", "#wadeIPlus", function () {
        if (!$('#wadeI').is(':checked')) {
            $("#wadeIPlus").attr("checked", false);
        }
    })
</script>
{% endblock %}