{% extends "weixin/none_foot_nav_tab.html" %}
{% block css %}
<title>选择收货地址、返佣方式</title>
<link rel="stylesheet" href="/style/mobile/swiper3.07.min.css">
<style>

</style>
{% endblock %}
{% block content %}
<div>
    <br/>
    <div class="weui-cells weui-cells_checkbox">
        <label class="weui-cell weui-check__label" for="default_addr">
            <div class="weui-cell__hd">
                <input type="checkbox" class="weui-check" id="default_addr"/>
                <i class="weui-icon-checked"></i>
            </div>
            <div>
                默认地址
            </div>
        </label>
        <div>
            <div>

            </div>
            <p>
                陕西省，西安市
            </p>
        </div>
        <label class="weui-cell weui-check__label" for="write_addr">
            <div class="weui-cell__hd">
                <input type="checkbox" class="weui-check" id="write_addr"/>
                <i class="weui-icon-checked"></i>
            </div>
            <div>
                填写地址
            </div>
        </label>
    </div>
    <a href="/mine" class="weui-btn weui-btn_primary">完成</a>
</div>

{% endblock %}
{% block js %}
<script>

</script>
{% endblock %}