<!--订单详情页面-->
{% extends "weixin/none_foot_nav_tab.html" %}
{% block css %}
<title>订单详情</title>
<style>
    .address-cell:before {
        border-top: 0;
    }
</style>
{% endblock %}
{% block content %}
<div class="weui-content czj_wx_body">
    <div class="weui-cells__title order-detail-title">保险明细</div>
    <div class="weui-cells order-detail-block">
        <a href="/insurance_order_price">
            <div class="weui-cell weui-cell_access line">
                <div class="weui-cell__bd">
                    <p class="left">保险明细</p>
                </div>
                <div class="weui-cell__ft">
                    <span class="right">历史方案</span>
                </div>
            </div>
        </a>
        <div class="weui-cell line">
            <div class="weui-cell__bd left">
                <p>{{insurance['insuranceorderprice']['insurance']}}</p>
            </div>
            <div class="weui-cell__ft">
                <span class="right order-price">￥{{insurance['total_price']}}</span></div>
        </div>
        <div class="weui-cell line">
            <div class="weui-cell__bd left">
                <p>提交时间</p>
            </div>
            <div class="weui-cell__ft cell_txt">
                <span class="right">{{data['insuranceorderprice']['created']}}</span></div>
        </div>
        <div class="order-detail-content">
            <div class="weui-flex header">
                <div class="weui-flex__item left">
                    交强险
                </div>
                <div class="weui-flex__item right">
                    <span class="order-price">￥1234</span>
                </div>
            </div>
            <div class="weui-flex body">
                <div class="weui-flex__item">
                    车船税
                </div>
                <div class="weui-flex__item" style="text-align: right;">
                    ￥1234
                </div>
            </div>
            <div class="weui-flex header">
                <div class="weui-flex__item left">
                    商业险(主险)
                </div>
                <div class="weui-flex__item right">
                    <span class="order-price">￥1234</span>
                </div>
            </div>
            <div class="weui-flex body">
                <div class="weui-flex__item">
                    车辆损失险
                </div>
                <div class="weui-flex__item" style="text-align: right;">
                    ￥1234
                </div>
            </div>
            <div class="weui-flex body">
                <div class="weui-flex__item">
                    车辆损失险
                </div>
                <div class="weui-flex__item" style="text-align: right;">
                    ￥1234
                </div>
            </div>
            <div class="weui-flex body">
                <div class="weui-flex__item">
                    车辆损失险
                </div>
                <div class="weui-flex__item" style="text-align: right;">
                    ￥1234
                </div>
            </div>
            <div class="weui-flex body">
                <div class="weui-flex__item">
                    车辆损失险
                </div>
                <div class="weui-flex__item" style="text-align: right;">
                    ￥1234
                </div>
            </div>
            <div class="weui-flex body">
                <div class="weui-flex__item">
                    车辆损失险
                </div>
                <div class="weui-flex__item" style="text-align: right;">
                    ￥1234
                </div>
            </div>
            <div class="weui-flex header">
                <div class="weui-flex__item left">
                    商业险(附加险)
                </div>
                <div class="weui-flex__item right">
                    <span class="order-price">￥1234</span>
                </div>
            </div>

            <div class="weui-flex body">
                <div class="weui-flex__item">
                    玻璃单独损失险
                </div>
                <div class="weui-flex__item" style="text-align: right;">
                    ￥1234
                </div>
            </div>
            <div class="weui-flex body">
                <div class="weui-flex__item">
                    玻璃单独损失险
                </div>
                <div class="weui-flex__item" style="text-align: right;">
                    ￥1234
                </div>
            </div>
        </div>
    </div>
    <div class="weui-cells__title order-detail-title">证件信息</div>
    <p class="order_remind">图片不符合要求,请重新上传</p>
    <div class="weui-flex wy-insurance-img-block">
        <div class="weui-flex__item">
            <div>
                <img id="own_id_card_font" class="img_card " src="../../style/wximg/id_card.png">
            </div>
            <div class="display_block">
                <div>
                    <p>
                        <span>身份证正面</span>
                    </p>
                    <p>
                        <span>(被保险人)</span>
                    </p>
                </div>
                <a href="javascript:" class="upload_btn">
                    <input type="file" name="own_id_card_font"
                           accept="image/*">
                </a>
            </div>
        </div>
        <div class="weui-flex__item">
            <div>
                <img id="own_id_card_back" class="img_card " src="../../style/wximg/id_card.png">
            </div>
            <div class="display_block">
                <div>
                    <p>
                        <span>身份证反面</span>
                    </p>
                    <p>
                        <span>(被保险人)</span>
                    </p>
                </div>
                <a href="javascript:" class="upload_btn">
                    <input type="file" name="own_id_card_back"
                           accept="image/*">
                </a>
            </div>
        </div>
    </div>
    <div class="weui-flex wy-insurance-img-block">
        <div class="weui-flex__item">
            <div>
                <img id="driver_card_font" class="img_card " src="../../style/wximg/id_card.png">
            </div>
            <div class="display_block">
                <div>
                    <p class="single_line">
                        <span>行驶证</span>
                    </p>
                </div>
                <a href="javascript:" class="upload_btn">
                    <input type="file" name="driver_card_font"
                           accept="image/*">
                </a>
            </div>
        </div>
        <div class="weui-flex__item">
            <div>
                <img id="driver_card_back" class="img_card " src="../../style/wximg/id_card.png">
            </div>
            <div class="display_block">
                <div>
                    <p class="single_line">
                        <span>行驶证副本</span>
                    </p>
                </div>
                <a href="javascript:" class="upload_btn">
                    <input type="file" name="driver_card_back"
                           accept="image/*">
                </a>
            </div>
        </div>
    </div>
    <div class="weui-flex wy-insurance-img-block">
        <div class="weui-flex__item">
            <div>
                <img id="id_card_font" class="img_card " src="../../style/wximg/id_card.png">
            </div>
            <div class="display_block">
                <div>
                    <p class="single_line">
                        <span>身份证正面</span>
                    </p>
                </div>
                <a href="javascript:" class="upload_btn">
                    <input type="file" name="id_card_font"
                           accept="image/*">
                </a>
            </div>
        </div>
        <div class="weui-flex__item">
            <div>
                <img id="id_card_back" class="img_card" src="../../style/wximg/id_card.png">
            </div>
            <div class="display_block">
                <div>
                    <p class="single_line">
                        <span>身份证背面</span>
                    </p>
                </div>
                <a href="javascript:" class="upload_btn">
                    <input type="file" name="id_card_back"
                           accept="image/*">
                </a>
            </div>
        </div>
    </div>

    <div class="wy-media-box weui-media-box_text address-block">
        <div class="weui-media-box_appmsg">
            <div class="weui-media-box__hd icon-left">
          <span class="promotion-label-tit">
              <img src="../../style/wximg/img_location.png"/></span></div>
            <div class="weui-media-box__bd weui-cell weui-cell_access address-cell">
                <a href="#" class="">
                    <div class="address-name"><span>测试ios</span><span>13389202687</span></div>
                    <div class="address-txt">陕西省 西安市 新城区 测试地址测试地址测试地址测试地址测试地址测试地址测试地址测试地址测试地址测试地址测试地址</div>

                </a>
                <div class="weui-cell__ft"></div>
            </div>

        </div>
    </div>


    <div class="order-pay-bottom">
        <a id="soon_pay" class="weui-btn weui-btn_mini  czj-btn-yellow">立即支付</a>
        <a href="/pay_detail" class="weui-btn weui-btn_mini  weui-btn_primary">扫码支付</a>
        <a href="/insurance_order_items" class="weui-btn weui-btn_mini  weui-btn_default">重新报价</a>

    </div>
</div>

{% endblock %}

{% block js %}
<script>

    $(document).ready(function () {

        $(':file').on("change", function () {
            loadingImg(this);
        });

        function loadingImg(parent) {
            var file = parent.files[0];
            $(parent).replaceWith('<input type="file" name="' + parent.name + '" accept="image/*">');
            $('input[name="' + parent.name + '"]').on("change", function () {
                loadingImg(this);
            });
            if (!/image\/\w+/.test(file.type)) {
                $.toast("请确保文件为图像类型", "text");
                return false;
            }
            var formData = new FormData();
            formData.append("file", file);
            $.ajax({
                type: "POST",
                url: "http://img.520czj.com/upload/image",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    //页面loading, 不能再进行其他操作，适合比如提交按钮
                    $.showLoading();
                },
                success: function (data) {
                    $.hideLoading();
                    console.log(data);
                    var data = JSON.parse(data);
                    if (data.flag == 1) {
                        $("#" + parent.name).attr('src', data.data);
                        //提交上传图片
                    } else {
                        $.toast(data.msg, "text");
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $.hideLoading();
                    $.toast("上传失败，请检查网络后重试", "text");
                }

            });
        }

        $(document).on("click", "#soon_pay", function () {
            $.actions({
                title: "支付方式", actions: [{
                    text: "微信", onclick: function () {

                    }
                }, {
                    text: "支付宝", onclick: function () {

                    }
                }]
            });
        })

        $(document).on("click", "#code_pay", function () {
            $.actions({
                title: "扫码支付", actions: [{
                    text: "微信扫码", onclick: function () {
                        document.location.href = "/pay_detail";
                    }
                }, {
                    text: "支付宝扫码", onclick: function () {
                        document.location.href = "/pay_detail";
                    }
                }]
            });
        });

        $(".img_card").on("click", function () {
            var pb = $.photoBrowser({
                items: [
                    $("#" + this.id).attr("src")
                ]
            });
            pb.open();
        });

    });

</script>

{% endblock %}