<!--登录页面-->
{% extends "weixin/none_foot_nav_tab.html" %}
{% block css %}
<title>登录</title>
<style>
a {
    width: 60%;
}
#logo {
    margin-top: 45%;
}
#btn {
    margin-top: 50%;
}
</style>
{% endblock %}
{% block content %}
<div class="has-max">
    <div id="logo" align="center">
        <img src="../../style/images/logo.png" alt="" />
    </div>
    <div id="btn" class="weui_cell" align="center">
        <a href="" class="weui-btn weui-btn_primary">微信登录</a>
    </div>
</div>
{% endblock %}
{% block js %}
<script>

</script>
{% endblock %}
