{% extends "weixin/foot_nav_tab.html" %}
{% block css %}
<title>我的界面</title>

{% endblock %}
{% block content %}
<div class="page-group">
    个人中心页面
</div>
<div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="/insurance_orders">
        <div class="weui-cell__bd">
            <p>订单列表</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
    <a class="weui-cell weui-cell_access" href="/bound_mobile">
        <div class="weui-cell__bd">
            <p>绑定手机号</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
    <a class="weui-cell weui-cell_access" href="/user_childrens">
        <div class="weui-cell__bd">
            <p>下线列表</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
    <a class="weui-cell weui-cell_access" href="/rake_back_setting">
        <div class="weui-cell__bd">
            <p>返佣配置</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
    <a class="weui-cell weui-cell_access" href="/user_income">
        <div class="weui-cell__bd">
            <p>我的收入</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
    <a class="weui-cell weui-cell_access" href="/user_income_record">
        <div class="weui-cell__bd">
            <p>收入明细</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
    <a class="weui-cell weui-cell_access" href="/user_address">
        <div class="weui-cell__bd">
            <p>我的收货地址</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
</div>
{% endblock %}
{% block js %}
<script>

</script>
{% endblock %}


<!--<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>-->
<!--<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>-->
<!--<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>-->
<!--<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>-->
<!--</body>-->
<!--</html>-->