{% extends "weixin/foot_nav_tab.html" %}
{% block css %}
<title>我的界面</title>
<style>

</style>
{% endblock %}
{% block content %}
<div class='weui-content czj_wx_body'>
    <div class="mine-center-top">
    <div class="weui-media-box weui-media-box_appmsg">
      <div class="weui-media-box__hd"><img class="weui-media-box__thumb radius" src="./../style/wximg/img_mine_head.png" alt=""></div>
      <div class="weui-media-box__bd">
        <h4 class="weui-media-box__title mine-user-name">{{mine['user_name']}}</h4>
        <p class="mine-user-grade">门店：{{mine['store_name']}}</p>
      </div>
    </div>
  </div>

<div class="weui-panel weui-panel_access">
    <div class="weui-panel__hd mine-panel">
      <a href="/insurance_orders?active=all" class="weui-cell weui-cell_access center-alloder">
        <div class="weui-cell__bd wy-cell">
          <div class="weui-cell__hd"><img src="./../style/wximg/category.png" alt="" class="center-list-icon"></div>
          <div class="weui-cell__bd weui-cell_primary"><p class="center-list-txt">全部订单</p></div>
        </div>
        <span class="weui-cell__ft"></span>
      </a>
    </div>
    <div class="weui-panel__bd">
      <div class="weui-flex">
        <div class="weui-flex__item">
          <a href="/insurance_orders?active=unverify" class="center-ordersModule">
            <span class="weui-badge" style="position: absolute;top:5px;right:10px; font-size:10px;">{{mine['insurance_orders']['wait_quote']}}</span>
            <div class="imgicon"><img src="./../style/wximg/category.png" /></div>
            <div class="name">待核价</div>
          </a>
        </div>
        <div class="weui-flex__item">
          <a href="/insurance_orders?active=unpay" class="center-ordersModule">
            <span class="weui-badge" style="position: absolute;top:5px;right:10px; font-size:10px;">{{mine['insurance_orders']['wait_pay']}}</span>
            <div class="imgicon"><img src="./../style/wximg/category.png" /></div>
            <div class="name">待支付</div>
          </a>
        </div>
        <div class="weui-flex__item">
          <a href="/insurance_orders?active=paid" class="center-ordersModule">
            <span class="weui-badge" style="position: absolute;top:5px;right:10px; font-size:10px;">{{mine['insurance_orders']['wait_send']}}</span>
            <div class="imgicon"><img src="./../style/wximg/category.png" /></div>
            <div class="name">待出单</div>
          </a>
        </div>
        <div class="weui-flex__item">
          <a href="/insurance_orders?active=success" class="center-ordersModule">
            <span class="weui-badge" style="position: absolute;top:5px;right:10px; font-size:10px;">{{mine['insurance_orders']['finish']}}</span>
            <div class="imgicon"><img src="./../style/wximg/category.png" /></div>
            <div class="name">已完成</div>
          </a>
        </div>
      </div>
    </div>
  </div>
<div class="weui-panel">
        <div class="weui-panel__bd">
          <div class="weui-media-box weui-media-box_small-appmsg">
            <div class="weui-cells">
              <a class="weui-cell weui-cell_access" href="/user_address">
                <div class="weui-cell__hd"><img src="./../style/wximg/mine.png" alt="" class="center-list-icon"></div>
                <div class="weui-cell__bd weui-cell_primary">
                  <p class="center-list-txt">收货地址</p>
                </div>
                <span class="weui-cell__ft"></span>
              </a>
              <a class="weui-cell weui-cell_access" href="tel:4006666717">
                <div class="weui-cell__hd"><img src="./../style/wximg/mine.png" alt="" class="center-list-icon"></div>
                <div class="weui-cell__bd weui-cell_primary">
                  <p class="center-list-txt">联系客服</p>
                </div>
                <span class="weui-cell__ft"></span>
              </a>
              <a class="weui-cell weui-cell_access" href="">
                <div class="weui-cell__hd"><img src="./../style/wximg/mine.png" alt="" class="center-list-icon"></div>
                <div class="weui-cell__bd weui-cell_primary">
                  <p class="center-list-txt">退出登陆</p>
                </div>
                <span class="weui-cell__ft"></span>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block js %}
<script>

</script>
{% endblock %}
