{% extends "weixin/none_foot_nav_tab.html" %}
{% block css %}
<title>返佣配置</title>

<style>
    .weui-cells{
        /*margin-top:80px;*/
    }
    .weui-cell{
        height: 50px;
    }
</style>
{% endblock %}
{% block content %}

<div class="weui-cells weui-cells_form">
    <div class="weui-cell weui-cell_vcode">
        <div class="weui-cell__hd">
            <label class="weui-label">交强险</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" id="insure_force" placeholder="请输入交强险返佣比例">
        </div>
    </div>
    <div class="weui-cell weui-cell_vcode">
        <div class="weui-cell__hd">
            <label class="weui-label">商业-主险</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" id="insure_main" placeholder="请输入商业-主险返佣比例">
        </div>
    </div>
    <div class="weui-cell weui-cell_vcode">
        <div class="weui-cell__hd">
            <label class="weui-label">商业-附加险</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" id="insure_sub" placeholder="请输入商业-附加险返佣比例">
        </div>
    </div>
</div>
<div class="weui-btn-area">
    <a href="#" class="weui-btn weui-btn_primary" id="showTooltips">设置</a>
</div>
{% endblock %}
{% block js %}
<script>

    $("#showTooltips").click(function() {
        var insure_force = $('#insure_force').val();
        var insure_main = $('#insure_main').val();
        var insure_sub = $('#insure_sub').val();
        if(!insure_force || !insure_main || !insure_sub ) $.toptip('请输入配置比例');
//        else if(!code || !/\d{6}/.test(code)) $.toptip('请输入六位手机验证码');
//        else $.toptip('提交成功', 'success');
    });

</script>
{% endblock %}