<!--推广分享页面-->
{% extends "weixin/none_foot_nav_tab.html" %}
{% block css %}
<title>车装甲推广分享</title>
<style>
    html,body {
        height:110%;
		margin:0rem;
        padding:0rem;
        background:url("/style/wximg/share_background.png");
        background-repeat: no-repeat;
		background-size:100%;
    }
    
</style>
{% endblock %}
{% block content %}
<div align="center">
    <img style="padding-top:85%;width:6rem;height:6rem" src="{{link}}">
</div>
{% endblock %}
{% block js %}
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
</script>
{% endblock %}