<!--推广分享页面-->
{% extends "weixin/none_foot_nav_tab.html" %}
{% block css %}
<title>车装甲推广分享</title>
{% endblock %}
{% block content %}
<div align="center" style="padding-top: 2rem;">
    <img style="width:80%" src="http://admin.520czj.com/style/images/logo.png">
</div>
<div align="center" style="padding-top: 2rem;">
    <img style="width:80%" src="{{link}}">
</div>
<div class="content-padded">
    <p style="text-algin:center;margin:0.8rem">一个自主买车险，卖车险的地方。扫描二维码即可加入！</p>
</div>
{% endblock %}
{% block js %}
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
</script>
{% endblock %}