{% extends "weixin/none_foot_nav_tab.html" %}
{% block css %}
<title>添加收货地址</title>

<style>
    .wy-address-edit {
    font-size: 14px;
    }
</style>
{% endblock %}
{% block content %}

<div class="weui-content">
  <form action="" method="post" enctype="multipart/form-data">
      <div class="weui-cells weui-cells_form wy-address-edit">
        <div class="weui-cell">
          <div class="weui-cell__hd"><label class="weui-label wy-lab">收货人</label></div>
          <div class="weui-cell__bd"><input name="receiver" class="weui-input" type="text" placeholder="" value="{{address.name}}"></div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd"><label class="weui-label wy-lab">手机号</label></div>
          <div class="weui-cell__bd"><input name="mobile" class="weui-input" type="number" pattern="[0-9]*" placeholder="" value="{{address.mobile}}"></div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd"><label class="weui-label wy-lab">省</label></div>
          <div class="weui-cell__bd"><input name="province" class="weui-input" id="province" type="text" value="{{address.province}}"></div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd"><label class="weui-label wy-lab">市</label></div>
          <div class="weui-cell__bd"><input name="city" class="weui-input" id="city" type="text" value="{{address.city}}"></div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd"><label class="weui-label wy-lab">区</label></div>
          <div class="weui-cell__bd"><input name="region" class="weui-input" id="region" type="text" value="{{address.district}}"></div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd"><label class="weui-label wy-lab">详细地址</label></div>
          <div class="weui-cell__bd">
            <textarea name="address" class="weui-textarea" placeholder="">{{address.address}}</textarea>
          </div>
        </div>
        <div class="weui-cell weui-cell_switch">
          <div class="weui-cell__bd">设为默认地址</div>
          <div class="weui-cell__ft"><input name="is_default" class="weui-switch" {% if address.is_default == 1 %} checked {% endif %}type="checkbox"></div>
        </div>
      </div>
      <div class="weui-btn-area">
         <input id="address_id" style="display:none" value="{{address.id and address.id or 0}}">
        <a class="weui-btn weui-btn_primary" type="submit" href="javascript:" id="showTooltips">保存此地址</a>
        <a href="javascript:;" class="weui-btn weui-btn_warn">删除此地址</a>
      </div>
  </form>
</div>

{% endblock %}
{% block js %}
<script>
    $("#province").cityPicker({
        title: "省",

    });

</script>
<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/city-picker.min.js"></script>
{% endblock %}