{% extends "weixin/none_foot_nav_tab.html" %}
{% block css %}
<title>添加收货地址</title>

<style>
    .weui-cells{
        /*margin-top:80px;*/
    }
    .weui-cell{
        height: 50px;
    }
</style>
{% endblock %}
{% block content %}

<div class="weui-cells">
    <div class="weui-cell weui-cell_vcode">
        <div class="weui-cell__hd">
            <label class="weui-label">收货人</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" placeholder="请输入收货人">
        </div>
    </div>
    <div class="weui-cell weui-cell_vcode">
        <div class="weui-cell__hd">
            <label class="weui-label">联系电话</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" placeholder="请输入联系电话">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">省市区</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="start" type="text" value="陕西省 西安市 新城区" readonly data-code="610102" data-codes="610000,610100,610102">
        </div>
    </div>
    <div class="weui-cell weui-cell_vcode">
        <div class="weui-cell__hd">
            <label class="weui-label">详细地址</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" placeholder="请输入详细地址">
        </div>
    </div>
</div>
<div class="weui-btn-area">
    <a href="" class="weui-btn weui-btn_primary">绑定</a>
</div>
{% endblock %}
{% block js %}
<script>
    $("#start").cityPicker({
        title: "选择出发地",
        onChange: function (picker, values, displayValues) {
            console.log(values, displayValues);
        }
    });
    $("#end").cityPicker({
        title: "选择目的地"
    });
    $("#home-city").cityPicker({
        title: "选择目的地",
        showDistrict: false,
        onChange: function (picker, values, displayValues) {
            console.log(values, displayValues);
        }
    });

</script>
<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/city-picker.min.js"></script>
{% endblock %}