{% extends "weixin/none_foot_nav_tab.html" %}
{% block css %}
<title>店铺详情</title>
<style>

</style>
{% endblock %}
{% block content %}
<div class='weui-content czj_wx_body'>
    <div class="mine-center-top">
        <div class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__hd"><img class="weui-media-box__thumb radius" src="{{ store_info.store_image }}" alt=""></div>
            <div class="weui-media-box__bd">
                <h4 class="weui-media-box__title mine-user-name">用户名</h4>
                <p class="mine-user-grade">门店：{{store_info.name}}</p>
            </div>
        </div>
    </div>

    <div class="weui-panel">
        <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_small-appmsg">
                <div class="weui-cells">
                    <a class="weui-cell weui-cell_access" href="/car_service_cards">
                        <div class="weui-cell__hd"><img src="./../style/wximg/address.png" alt=""
                                                        class="center-list-icon"></div>
                        <div class="weui-cell__bd weui-cell_primary">
                            <p class="center-list-txt">地址:{{store_info.address}}</p>
                        </div>
                        <span class="weui-cell__ft"></span>
                    </a>
                    <a class="weui-cell weui-cell_access" href="/user_address">
                        <div class="weui-cell__hd"><img src="./../style/wximg/address.png" alt=""
                                                        class="center-list-icon"></div>
                        <div class="weui-cell__bd weui-cell_primary">
                            <p class="center-list-txt">电话:{{store_info.mobile}}</p>
                        </div>
                        <span class="weui-cell__ft"></span>
                    </a>
                    <a class="weui-cell weui-cell_access" href="tel:4006666717">
                        <div class="weui-cell__hd"><img src="./../style/wximg/img_call.png" alt=""
                                                        class="center-list-icon"></div>
                        <div class="weui-cell__bd weui-cell_primary">
                            <p class="center-list-txt">简介</p>
                        </div>
                        <span class="weui-cell__ft"></span>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>

</script>
{% endblock %}
