{% extends "weixin/none_foot_nav_tab.html" %}
{% block css %}
<title>地址管理</title>
<style>

.address-list-box{position:relative;}
.weui-media-box__desc.address-txt{-webkit-line-clamp:10;}
.address-edit{width:24px; height:24px; display:block; position:absolute; right:15px; top:15px; background:url(./style/wximg/icon-edit.png) no-repeat; background-size:24px;}
.address-box .weui-panel__bd{border-bottom:10px solid #f5f5f5;}
.default-add{color:#fff; padding:0 5px; font-size:13px; margin-top:5px; display:inline-block; background:#e21323;}


</style>
{% endblock %}
{% block content %}
<div class="weui-content">
  <div class="weui-panel address-box">
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_text address-list-box">
        <a href="/user_address_detail" class="address-edit"></a>
        <h4 class="weui-media-box__title"><span>陈四无</span>&nbsp;&nbsp;<span>18912343850</span></h4>
        <p class="weui-media-box__desc address-txt">陕西省 西安市 未央区</p>
          <p class="weui-media-box__desc address-txt">洋河新区电商产业园2楼</p>
        <span class="default-add">默认地址</span>
      </div>
    </div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_text address-list-box">
        <a href="/user_address_detail" class="address-edit"></a>
        <h4 class="weui-media-box__title"><span>张三</span>&nbsp;&nbsp;<span>18912343850</span></h4>
          <p class="weui-media-box__desc address-txt">陕西省 西安市 灞桥区</p>
        <p class="weui-media-box__desc address-txt">电商产业园2楼</p>
      </div>
    </div>
  </div>
  <div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="/user_address_detail" id="showTooltips">添加收货地址</a>
  </div>
</div>

{% endblock %}
{% block js %}
<script>
    var page = 1,offset = 1;
    var loading = false; //上拉状态标记
    var toend = false; //数据加载完标记

</script>
{% endblock %}