<!--收支明细页面-->
{% extends "weixin/none_foot_nav_tab.html" %}
{% block css %}
<title>收支明细</title>
<style>

</style>
{% endblock %}
{% block content %}
 <!-- body 顶部加上如下代码 -->
    <div class="weui-pull-to-refresh__layer">
      <div class="weui-pull-to-refresh__arrow"></div>
      <div class="weui-pull-to-refresh__preloader"></div>
      <div class="down">下拉刷新</div>
      <div class="up">释放刷新</div>
      <div class="refresh">正在刷新</div>
    </div>

    <div id="list" class="weui-cells">
      <!--<div class="weui-cell">-->
        <!--<div class="weui-cell__bd">-->
          <!--<p>标题文字</p>-->
        <!--</div>-->
        <!--<div class="weui-cell__ft">说明文字</div>-->
      <!--</div>-->
    </div>
{% endblock %}
{% block js %}
<script>
        function down() {
           jQuery.getJSON("/income_record_list", {
              'offset': 1,
              'type': 1
           },function(data) {
                var data = data.data
                console.log(data);
               for (var i = data.length; i > 0; i--) {
                   var str ="";

                   jQuery("#list").append('<div class="weui-cell"> <div class="weui-cell__bd"> <p>'+data[i-1].name+
                   '</p> </div> <div class="weui-cell__ft">'+ '1024' +'</div> </div>');

             };
	  })
      }
    $(document.body).pullToRefresh().on("pull-to-refresh", function() {
        //清空现有数据
        $('.list').empty();
        //加载新数据
        down();
        //重置下拉状态
        $(document.body).pullToRefreshDone();
    });
</script>
{% endblock %}