{% extends "weixin/none_foot_nav_tab.html" %}
{% block css %}
<title>可使用优惠券店铺</title>

<style>

    .weui-cells_radio .weui-check:checked+.weui-icon-checked:before {
        display: block;
        content: "\EA06";
        color: #09bb07;
        font-size: 23px
    }
    .weui-cells_radio .weui-icon-checked:before {
        display: block;
        content: "\EA01";
        color: #c9c9c9;
        font-size: 23px
    }
    p{
        color: #c9c9c9;
    }
    .weui-media-box {
        padding: 5px;
        position: relative;
    }
    .card_bottom{
        margin-left: 32px;
    }
</style>
{% endblock %}
{% block content %}

<div class="weui-content">
      <div class="mine-center-top">
          <div class="weui-media-box weui-media-box_appmsg">
              <div class="weui-media-box__hd">
                    <p>{{card.name}}</p>
                    <p>{{card.deal_time}}</p>
              </div>
              <div class="weui-media-box__bd">
                  <p>{{card.desc}}</p>
              </div>
          </div>
      </div>
    <div  class="weui-cells weui-cells_radio order_price_base">
        <div id="list" class="weui-panel row-box">
            {% for s in stores %}
            <div class="weui-cell">
                <div class="weui-media-box weui-media-box_text list-box">
                        <label class=" weui-check__label" for="{{s.id}}">
                            <div class=" weui-cell__bd">
                                <input type="radio" name="radio1" class="weui-check" id="{{s.id}}" {% if loop.first %} checked = "checked"{% endif %}>
                                <span class="weui-icon-checked"></span>
                                <span>{{s.name}}</span>
                            </div>
                        </label>
                    <div class="card_bottom">
                        <p>地址:{{s.address}}</p>
                        <p>电话:{{s.mobile}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script>

</script>
<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/city-picker.min.js"></script>
{% endblock %}