{% extends "layout/admin.html" %}
{% block content %}


<div class="row">
    <nav>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">添加/编辑话题</a>
        </div>
    </nav>
</div>
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-body">

            {%set messages=handler.get_flashed_messages() %}
            {%if messages%}
            <div class="msg" style="color:red;">
                {% for type, msg in messages%}
                <span>{{msg}}</span>
                {% endfor %}
            </div>
            {%endif%}

            <form action="" method="get" enctype="multipart/form-data">
                {{xsrf()}}

                <div class="form-group has-success">
                    <label class="control-label">手机号码</label>
                    <input type="text" name="mobile" class="form-control" value="{{uv.mobile or ''}}"  required placeholder="请收入要查询的手机号码" />
                </div>


                <div class="form-group has-success">
                    <label class="control-label">验证码</label>
                    <span class="form-control-static">{{uv.vcode or '手机号码不存在'}}</span>
                </div>

                <div class="form-group has-success">
                    <input type="submit" name="sub" value="提 交" class="btn btn-outline btn-primary btn-sm">
                    <input type="reset" name="sub" value="重 置" class="btn btn-outline btn-primary btn-sm">
                </div>

            </form>

        </div>
    </div>

</div>

{% endblock %}