{% extends "layout/admin.html" %}
{% block content %}
<div class="row">
    {%set messages=handler.get_flashed_messages() %}
    {%if messages%}
    <div class="msg" style="color: red; font-size: 1.0em; margin-top: 25px;">
        {% for type, msg in messages%}
        <span>{{msg}}</span>
        {% endfor %}
    </div>
    {%endif%}
    <nav>
        <div class="navbar-header" style="float:left;">
            <a class="navbar-brand" href="#">分类与品牌</a>
        </div>
    </nav>
</div>

<div>
    <div class="panel panel-primary">
        <div class="table-responsive">
        <form action="" method="post">
            {{xsrf()}}
                <table class="table table-hover" id="tb_users" cellpadding="0" cellspacing="0" border="0" style="text-align:center;width:100%;">
                    <thead>
                    <tr style="background:#528acb;color:#fff;text-align:center;height:38px;line-height:38px;">
                        <th style="width:20%;text-align:center;">分类</th>
                        <th style="width:20%;text-align:center;">品牌</th>
                        <th style="width:20%;text-align:center;">操作</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td style="color:#438bca;">
                            <select class="form-control" name="category" id="sel_type" style="width:130px; margin:0 auto;">
                                <option value="" >--请选择--</option>
                                {% for c in categories %}
                                <option value="{{c.id}}">{{c.name}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select class="form-control" name="brand"  style="width:130px; margin:0 auto;">
                                <option value="" >--请选择--</option>
                                {% for b in brands %}
                                <option value="{{b.id}}">{{b.name}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="submit" value="添加" style="padding:4px 5px;border:1px solid #438bca;color:#438bca;border-radius:4px;font-size:12px;text-decoration:none;">
                        </td>
                    </tr>
                    {% for bc in brand_categories %}
                    <tr>
                        <td style="color:#438bca;">{{bc.category.name}}</td>
                        <td>{{bc.brand.name}}</td>
                        <td><a href="/admin/category_brand_del?bc={{bc.id}}"style="padding:4px 5px;border:1px solid #438bca;color:#438bca;border-radius:4px;font-size:12px;text-decoration:none;">删除</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </form>
        </div>
    </div>
</div>
{% endblock %}

