{% extends "layout/admin.html" %}
{% block content %}
<div class="row">
   <nav>
   <div class="navbar-header" style="float: left">
      <a class="navbar-brand" href="#">品牌分类</a>
   </div>
      <div class="navbar-header" style="float: right;margin-top:15px;">
          <a href="/admin/edit_pinpaitype/0" style="padding:5px 10px;border:1px solid #528ACB;border-radius:4px;color:#528ACB;">添加品牌分类</a>
      </div>
</nav>
</div>
<div class="row">
    <div class="panel panel-primary">
    <!--<div class="panel-body">-->
    {%set messages=handler.get_flashed_messages() %}
        {%if messages%}
            <div class="msg">
                {% for type, msg in messages%}
                    <span style="color:red;">{{msg}}</span>
                {% endfor %}
            </div>
        {%endif%}
        <div class="table-responsive">
        <table class="table table-hover" id="tb_users" cellpadding="0" cellspacing="0" border="0" style="text-align:center;width:100%;">
            <thead>
                <tr style="background:#528acb;color:#fff;text-align:center;height:38px;line-height:38px;">
                    <th style="width:25%;text-align:center;">编号</th>
                    <th style="width:50%;text-align:center;">品牌分类名</th>
                    <th style="width:25%;text-align:center;">操作</th>
                </tr>
            </thead>
            <tbody>
            {% for p in ps -%}
            <tr>
              <td>{{p.id}}</td>
              <td>{{p.name }}</td>
              <td>
                  <a href="/admin/edit_pinpaitype/{{p.id}}" style="padding:4px 8px;border:1px solid #528ACB;color:#528ACB;border-radius:4px;font-size:14px;">修改</a>
                  <a href="/admin/delete_pinpaitype/{{p.id}}" onclick="return confirm('确定删除此品牌分类?')" style="padding:4px 8px;border:1px solid #528ACB;color:#528ACB;border-radius:4px;font-size:14px;">删除</a>
              </td>
            </tr>
			{%- endfor %}
            </tbody>
        </table>
        </div>
    <!--</div>-->
    </div>
</div>
{% endblock %}