{% extends "layout/admin.html" %}
{% block css %}
<link href="/style2/css/plugins/dataTables.bootstrap.css" rel="stylesheet">
<style type="text/css">
    .actual{width:100px;}
</style>
{% endblock %}
{% block content %}

<div class="row">
   <nav>
       <div>
          <h3><span class="navbar-brand">商品价格信息列表</span></h3>
       </div>
   </nav>
</div>

<div class="row">
    <div class="panel panel-primary">
    <div class="panel-body">
        <div class="table-responsive">
        <table class="table table-hover" id="tb_people">
            <thead>
                <tr>
                    <th>商品名称</th>
                    <th>商品规格</th>
                    <th>提取规格</th>
                    <th>每斤价格</th>
                    <th>每份价格</th>
                </tr>

            </thead>
            <tbody>
                {% for n in products %}
                <tr>
                    <td>{{n.product.name}}</td>
                    <td>{{n.name}}</td>
                    <td>{{n.weight}}</td>
                    <td>{%if n.uprice%}{{'%.2f' % n.uprice}}{%else%}0{%endif%}</td>
                    <td>{{n.price}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
            <div>
                <div class="col-sm-4">
                    <div class="dataTables_info" role="alert" aria-live="polite" aria-relevant="all">
                        当前：第{{page}}页 / {{totalpage}}页，合计{{total}}条
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination  pagination-sm" id="pageUl" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/style2/js/jquery.twbsPagination.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#pageUl').twbsPagination({
                first:'首页',
                prev:'上一页',
                next:'下一页',
                last:'尾页',
                totalPages: '{{totalpage}}',
                startPage: '{{page}}',
                visiblePages: 8,
                onPageClick: function (event, page) {
                        self.location="/admin/product/price_list?page="+page;
                    }
            });
        });

    </script>
{% endblock %}