{% extends "layout/admin.html" %}
{% block css %}
<link href="/style/css/plugins/dataTables.bootstrap.css" rel="stylesheet">
<style>
    .green{color: green;}
</style>
{% endblock %}
{% block content %}
<div class="row">
    <nav>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">商品管理</a>
        </div>
        <div class="pull-right">
            <form class="navbar-form navbar-left" action="" method="get" role="search">
                <a id='newproduct' type="button" class="btn btn-info btn-xs" href="/admin/edit_product/0" style="padding:8px 4px;background:#528ACB;color:#fff;border:none;border-radius:4px;font-size:14px;margin-right:10px;">添加商品</a>
                <div class="btn-group btn-group-mg">
                    <a type="button" class="btn btn-mg btn-default {% if status==-1 %} active {% endif %}" href="/admin/product/{{is_score}}?status=-1"style="padding:8px 4px;border:1px solid #ccc;border-bottom-left-radius:4px;border-top-left-radius:4px;">全部</a>
                    <a type="button" class="btn btn-mg btn-default {% if status==1 %} active {% endif %}" href="/admin/product/{{is_score}}?status=1"style="padding:8px 4px;border:1px solid #ccc;border-bottom-left-radius:4px;border-top-left-radius:4px;">已上架</a>
                    <a type="button" class="btn btn-mg btn-default {% if status==0 %} active {% endif %}" href="/admin/product/{{is_score}}?status=0"style="padding:8px 4px;border:1px solid #ccc;border-left:none;border-bottom-right-radius:4px;border-top-right-radius:4px;">未上架</a>
                </div>

                <select class="form-control" name="category">
                    <option value="">全部</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}" {% if c_id==category.id %} selected {% endif %}>
                        {{ category.name }}
                    </option>
                    {% endfor %}
                </select>

                <div class="input-group custom-search-form">
                    <input type="text" name="keyword" class="form-control" style="width:210px;height:34px;border:1px solid #ccc;border-bottom-left-radius:4px;border-top-left-radius:4px;" value="{{keyword or ''}}" placeholder="按商品名查找" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </nav>
</div>
<div class="row">
    <div class="panel panel-primary">
        <div class="table-responsive">
            <table class="table table-hover" id="tb_users" cellpadding="0" cellspacing="0" border="0" style="text-align:center;">
                <thead>
                <tr style="background:#528acb;color:#fff;text-align:center;height:38px;line-height:38px;">
                    <th style="width:10%;text-align:center;">商品图片</th>
                    <th style="width:20%;text-align:center;">商品名称</th>
                    <th style="width:20%;text-align:center;">发布店铺</th>
                    <th style="width:20%;text-align:center;">发布地区</th>
                    <th style="width:20%;text-align:center;">基本信息</th>
                    <th style="width:10%;text-align:center;">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for p in products %}
                        <tr>
                            <td>
                                <img src="{{ p.product_release.product.cover }}" width="80" height="80" />
                            </td>
                            <td>
                                <h4>{{ p.product_release.product.name }}</h4>
                                <p>
                                <div>
                                    品牌：{{ p.product_release.product.brand.name }} |
                                    <font style="color:#6d6d6d;">创建时间：</font>
                                    <span style="color:#6d6d6d;">{{p.product_release.product.created | datetimeformat}}</span>
                                </div>
                                </p>
                            </td>
                            <td>
                                {{p.store.name}}<br/>{{Area.get_detailed_address(p.store.area_code)}}
                            </td>
                            <td>
                                {{Area.get_detailed_address(p.area_code)}}
                            </td>
                            <td>
                                <p>编号：{{ p.id }}</p>
                                <p>价格/积分：{{ p.price}}/{{p.score }}</p>
                                {% if is_score == 0 %}
                                <p><div>规格参数：{% for attribute in p.product_release.product.attributes %} {{ attribute.value }} {% endfor %}</div></p>
                                {% endif %}
                            </td>
                            <!--<td style="display: none;">-->
                            <!--</td>-->
                            <td>
                                <p><a href="/admin/edit_product/{{p.product_release.product.id}}" class="btn btn-outline btn-primary btn-xs" style="padding:5px 3px;border:1px solid #3071A9;border-radius:4px;margin-right:5px;font-size:14px;color:#3071A9;">修改</a>
                            </td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
            <div>
                <div class="col-sm-6">
                    <div class="dataTables_info" role="alert" aria-live="polite" aria-relevant="all">
                        当前：第{{page}}页 / {{totalpage}}页，合计{{total}}条
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination  pagination-sm" id="pageU" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/style/js/jquery.twbsPagination.min.js"></script>
<script>
    $(document).ready(function() {
        $('#pageU').twbsPagination({
            first:'首页',
            prev:'上一页',
            next:'下一页',
            last:'尾页',
            totalPages: {{totalpage}},
            startPage: {{page}},
            visiblePages: 8,
            onPageClick: function (event, page) {
                self.location="/admin/product/{{is_score}}?status={{status}}&keyword={{keyword or ''}}&page="+page;
            }
        });
    });
</script>
{% endblock %}