{% extends "layout/admin.html" %}
{% block css %}
<link href="/style2/css/plugins/dataTables.bootstrap.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="row">
   <nav>
   <div>
      <a class="navbar-brand" href="#">价格管理 [红色表示采购价变化；部分绿色表示已经预设过价格]</a>
   </div>
</nav>
</div>
<div style="color: red; font-size: 0.6em; margin-bottom: 25px;">
    {%set messages=handler.get_flashed_messages() %}
    {%-if messages-%}
        <div>
            {% for type, msg in messages%}
                {{msg}}
            {% endfor %}
        </div>
    {%-endif-%}
</div>
<div class="row">
    <form class="navbar-form navbar-left" action="" method="get" role="search">
    <div class="btn-group btn-group-mg">
        <a type="button" class="btn btn-mg btn-default {% if status==1 %} active {% endif %}" href="/admin/price?status=1">已上架</a>
        <a type="button" class="btn btn-mg btn-default {% if status==2 %} active {% endif %}" href="/admin/price?status=2">未上架</a>
    </div>
    <div class="input-group custom-search-form" style="left:20px;">
        <input type="text" name="keyword" class="form-control" style="width:150px;" value="{{keyword or ''}}" placeholder="按产品名查找" />
        <input type="text" name="defaultstandard" class="form-control" style="width:150px;" value="{{dp or ''}}" pattern="^\d{1,8}$" title="请输入1-8位数字" placeholder="按编号名查找" />
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
    </form>
    <div class="pull-right">
      <div class="btn-group ">
        <a href="javascript:void(0);" id="export_price" class="btn btn-default">采购价格</a>
        <a href="/admin/zhicai" class="btn btn-default">直采</a>
        <a href="/admin/delivery_order" class="btn btn-default">每日发货数据</a>
        <a href="/admin/product/price_list" class="btn btn-default">价格列表</a>
        <a type="button" class="btn btn-mg btn-default" target="_blank" href="{{PriceHistoryUrl}}?sid={{handler.get_secure_cookie('sid')}}">同行业网站价格</a>
      </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-primary">
    <div class="panel-body">
        <div class="table-responsive">
        <table class="table table-hover" id="tb_users">
            <thead>
                <tr>
                    <th>产品信息</th>
                    <th>当前价格</th>
                    <th>采购信息</th>
                    <th>{{date}}价格</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            {% for p in products -%}
            {% if p['last_unitprice'] %}
                <tr style="background-color: #e4a495;" >
            {% else %}
                <tr>
            {%endif%}

                <td>
                    <h4><a target="_blank" href="/product/{{p['sid']}}">{{p['name']}}</a><small> (SKU：{{p['sku']}})
            {% if p['status']==1 %}
                【已上架】
            {% else %}
                【未上架】
            {%endif%}</small></h4>
                    <div>
                        {{p['standard']}} (提取规格：{{p['weight']}}克)
                    </div>

              </td>
                <td>
                    <div>每斤：{{p['currentprice']}}</div>
                    <div>每份：{{p['currentpreprice']}}</div>
                </td>
                <td>
                    {% if p['last_unitprice'] %}
                    <div>上次采购价：{{p['last_unitprice']}}/斤</div>
                    <div style="color: {{p['differprice'] > 0 and 'red' or ''}};" >本次采购价：{{p['current_unitprice']}}/斤</div>
                    {% else %}
                        采购价未变化
                    {%endif%}
                    {% if p['current_unitprice'] %}
                    <div style="color: {{p['differprice'] > 0 and 'red' or ''}};">
                        毛利率：
                        {% if p['currentprice'] > 0 %}
                        {{'%.2f' % ((p['currentprice'] - p['current_unitprice']) /p['currentprice'] * 100)}}%
                        {% else %}
                        当前售价为0
                        {% endif %}
                    </div>
                    {%endif%}
                </td>
                <td {% if p['tomorrowprice'] %} style="background-color:#72d556;" {%endif%}>
                    {% if p['tomorrowprice'] %}
                        <div>每斤：{{p['tomorrowprice']}}</div>
                        <div>每份：{{p['tomorrowpreprice']}}</div>

                    {% else %}
                        <div>每斤：{{p['currentprice']}}</div>
                        <div>每份：{{p['currentpreprice']}}</div>
                    {%endif%}
                </td>
                <td>
                    <a href="/admin/analyze/{{p['id']}}" class="btn btn-outline btn-primary btn-xs">分析</a>
                </td>
            </tr>
			{%- endfor %}
            </tbody>
        </table>
        </div>
    </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    var xsrf='{{handler.xsrf_token}}';
    $(function(){
        $("#export_price").click(function(){
            $.post('/ajax/export/price', { _xsrf:xsrf, t: Math.random()}, function(data){
                var obj = jQuery.parseJSON(data);
                if (obj.err == 0) {
                    alert('生成成功，请保存CSV文件！');
                    window.open("/upload/" + obj.msg);
                }
                else {
                    alert('导出失败：' + obj.msg);
                }
            });
        });
    });
</script>
{% endblock %}