{% extends "layout/admin.html" %}
{% block css %}
<link href="/style2/css/plugins/dataTables.bootstrap.css" rel="stylesheet">
<style>
    .green{color: green;}
</style>
{% endblock %}
{% block content %}
<div class="row">
    <nav>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">商品管理</a>
        </div>
        <div class="pull-right">
            <form class="navbar-form navbar-left" action="" method="get" role="search">
                <a id='newproduct' type="button" class="btn btn-info btn-xs" href="/admin/scoreproduct/0?is_add=1" style="padding:8px 4px;background:#528ACB;color:#fff;border:none;border-radius:4px;font-size:14px;margin-right:10px;">添加商品</a>
                <div class="btn-group btn-group-mg">
                    <input type="hidden" name="status" value="{{status}}">
                    <input type="hidden" name="page" value="{{page}}">
                    <a type="button" class="btn btn-mg btn-default {% if is_score==1 %} active {% endif %}" href="/admin/scoreproducts?is_score=1&page=1"style="padding:8px 4px;border:1px solid #ccc;border-bottom-left-radius:4px;border-top-left-radius:4px;">积分商品</a>
                    <a type="button" class="btn btn-mg btn-default {% if is_score!=1 %} active {% endif %}" href="/admin/scoreproducts?is_score=0&page=1"style="padding:8px 4px;border:1px solid #ccc;border-left:none;border-bottom-right-radius:4px;border-top-right-radius:4px;">全部商品</a>
                </div>

                <div class="input-group custom-search-form">
                    <input type="text" name="keyword" class="form-control" style="width:210px;height:34px;border:1px solid #ccc;border-bottom-left-radius:4px;border-top-left-radius:4px;" value="{{keyword or ''}}" placeholder="按商品名查找" />
                    <span class="input-group-btn">
                 <button class="btn btn-default" type="submit">
                     <i class="fa fa-search"></i>
                 </button>
            </span>
                </div>
            </form>
        </div>
    </nav>
</div>
<div style="color: red; font-size: 1.0em; margin-bottom: 25px;">
    {%set messages=handler.get_flashed_messages() %}
    {%-if messages-%}
    <div id="err_div">
        {% for type, msg in messages%}
        {{msg}}
        {% endfor %}
    </div>
    {%-endif-%}
</div>
<div class="row">
    <div class="panel panel-primary">
        <div class="table-responsive">
            <table class="table table-hover" id="tb_users" cellpadding="0" cellspacing="0" border="0" style="text-align:center;">
                <thead>
                <tr style="background:#528acb;color:#fff;text-align:center;height:38px;line-height:38px;">

                    <th style="width:20%;text-align:center;">商品图片</th>
                    <th style="width:30%;text-align:center;">商品名称</th>
                    <th style="width:20%;text-align:center;">基本信息</th>
                    <th style="width:30%;text-align:center;">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for p in products %}
                <tr>
                    <td>

                        <img src="{{p.cover}}" width="80" height="80" />
                    </td>
                    <td>
                        <h4>{{p.name}}
                            <small>
                                {%if p.is_index == 0%}
                                普通
                                {%elif p.is_index == 1%}
                                保险
                                {%elif p.is_index == 2%}
                                钣喷
                                {%endif%}
                            </small>
                            <small style="display: none;"> (SKU：{{p.sku}})</small></h4>
                        <p>
                        <div>
                            分类：{{p.categoryfront.name}} |
                            <font style="color:#6d6d6d;">最后编辑：</font><span style="color:#6d6d6d;">{{p.updatedtime | datetimeformat}}</span>
                            {{p.updatedby and 'By' or '' }} <span style="color:#6d6d6d;">{{p.updatedby and p.updatedby.username or '' }}</span></div></p>

                    </td>
                    <td style="display: none;">
                    </td>
                    <td>
                        <p>编号：{{p.id}}</p>
                        <p>
                        <div>发布次数：{{p.standards.count()}}</div>
                        <div>购买次数：
                            {{p.created}}
                        </div>
                        </p>
                    </td>
                    <td style="display: none;">
                    </td>
                    <td>
                        <p><a href="/admin/scoreproduct/{{p.id}}" class="btn btn-outline btn-primary btn-xs" style="padding:5px 3px;border:1px solid #3071A9;border-radius:4px;margin-right:5px;font-size:14px;color:#3071A9;">查看</a>
                            {% if p.is_score==2 %}
                            <a href="/admin/changescoreproduct/{{p.id}}/1?keyword={{keyword or ''}}&page={{page}}" class="btn btn-outline btn-primary btn-xs" style="padding:5px 3px;border:1px solid #3071A9;border-radius:4px;margin-right:5px;font-size:14px;color:#3071A9;">上架</a>
                            <a href="/admin/changescoreproduct/{{p.id}}/0?keyword={{keyword or ''}}&page={{page}}" class="btn btn-outline btn-primary btn-xs" style="padding:5px 3px;border:1px solid #3071A9;border-radius:4px;margin-right:5px;font-size:14px;color:#3071A9;">删除</a>
                            {% elif p.is_score==1 %}
                            <a href="/admin/changescoreproduct/{{p.id}}/2?keyword={{keyword or ''}}&page={{page}}" class="btn btn-outline btn-primary btn-xs" style="padding:5px 3px;border:1px solid #3071A9;border-radius:4px;margin-right:5px;font-size:14px;color:#3071A9;">下架</a>
                            <a href="/admin/changescoreproduct/{{p.id}}/0?keyword={{keyword or ''}}&page={{page}}" class="btn btn-outline btn-primary btn-xs" style="padding:5px 3px;border:1px solid #3071A9;border-radius:4px;margin-right:5px;font-size:14px;color:#3071A9;">删除</a>
                            {% elif p.is_score==0 %}
                            <a href="/admin/changescoreproduct/{{p.id}}/1?keyword={{keyword or ''}}&page={{page}}" class="btn btn-outline btn-primary btn-xs" style="padding:5px 3px;border:1px solid #3071A9;border-radius:4px;margin-right:5px;font-size:14px;color:#3071A9;">加入积分商城</a>
                            {%endif%}
                    </td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div>
                <div class="col-sm-6">
                    <div class="dataTables_info" role="alert" aria-live="polite" aria-relevant="all">
                        当前：第{{page}}页 / {{totalpage}}页，合计{{total}}条
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination  pagination-sm" id="pageUl" />
                    </div>
                </div>
            </div>
        </div>
        <!--</div>-->
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/style2/js/jquery.twbsPagination.min.js"></script>
<script>
    $(document).ready(function() {
        $('#pageUl').twbsPagination({
            first:'首页',
            prev:'上一页',
            next:'下一页',
            last:'尾页',
            totalPages: {{totalpage}},
            startPage: {{page}},
            visiblePages: 8,
            onPageClick: function (event, page) {
                self.location="/admin/scoreproducts?is_index={{is_index}}&keyword={{keyword or ''}}&page="+page;
            }
        });
    });

    var xsrf='{{handler.xsrf_token}}';
    $(function(){
        $(".is_index").click(function(){
            var pid = $(this).attr('data-id');
            var aa = $(this);
            $.post('/ajax/change_event',{pid:pid, _xsrf:xsrf, t: Math.random()}, function(data){
                if(data == 1){
                    aa.html('取消活动');
                    //aa.removeClass('btnzcl');
                    aa.removeClass('btn-outline');
                    aa.removeClass('btn-primary');
                    aa.addClass('btn-info');
                }else if(data == 2){
                    aa.html('设为活动');
                    aa.addClass('btn-outline');
                    aa.addClass('btn-primary');
                    aa.removeClass('btn-info');
                }
            });
        });
        $(".is_pass").click(function(){
            var pid = $(this).attr('data-id');
            var aa = $(this);
            $.post('/ajax/product_change_pass',{pid:pid, _xsrf:xsrf, t: Math.random()}, function(data){
                if(data == 1){
                    aa.html('通过');
                    aa.addClass('btn-outline');
                    aa.addClass('btn-primary');
                    aa.removeClass('btn-info');
                }else if(data == 2){
                    aa.html('未通过');
                    aa.removeClass('btn-outline');
                    aa.removeClass('btn-primary');
                    aa.addClass('btn-info');
                }
            });
        });
        $(".is_bargain").click(function(){
            var pid = $(this).attr('data-id');
            var aa = $(this);
            $.post('/ajax/product_change_bargain',{pid:pid, _xsrf:xsrf, t: Math.random()}, function(data){
                if(data == 0){
                    aa.html('正常');
                }else if(data == 1){
                    aa.html('免费');
                }else if(data == 2){
                    aa.html('特价');
                }
            });
        });
    });
</script>
{% endblock %}