<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" type="image/png" href="/style/favicon.ico"/>
    <title>返油政策</title>
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
</head>

<body>
<div class="page" >
    <div class="content">
            <div class="list-block" style="margin: 0;">
                <div class="list-group" style="font-size: 0.65rem;">
                    <ul>
                        {% for policy in policylist %}
                        <li class="list-group-title" style="color:#000;padding: .4rem .3rem; background-color: #dff0d8;">
                            保险公司： {{policy['name']}}</li>
                        {% for lube in policy['lube'] %}
                        <li style="background-color:#eee;">
                            <div class="item-content" style="padding-left: 0.3rem;">
                                <div class="item-inner" style="padding: 0;">
                                    <div class="item-title" >
                                        油品型号：{{lube['gift']}}
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content" style="padding-left: 0.3rem;">
                                <div class="item-inner row no-gutter" style="padding: 0;">
                                    <div class="col-50">购买险种</div>
                                    <div class="col-25" style="text-align: center;">油品数量<br>（车主）</div>
                                    <div class="col-25" style="text-align: center;">油品数量<br>（门店）</div>
                                </div>
                            </div>
                        </li>
                        {% for item in lube['items'] %}
                        <li>
                            <div class="item-content" style="padding-left: 0.3rem;">
                                <div class="item-inner row no-gutter" style="padding: 0;">
                                <div class="col-50">{{item['name']}}</div>
                                    <div class="col-25" style="text-align: center;">{{item['driver']}}</div>
                                    <div class="col-25" style="text-align: center;">{{item['store']}}</div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                        {% endfor %}
                        {% endfor %}
                    </ul>
                </div>

            </div>
        {% if area_code[0:8]=='00160016'%}
            <div style="color:red; padding: 0.5rem 0.3rem; font-size: 0.65rem;">
                <p >注：大地车险承保仅限15万以内家庭使用非营运客车车辆</p>
            </div>
        {% endif %}
    </div>
</div>
</div>

</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
</body>
</html>

