<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" type="image/png" href="/style/favicon.ico"/>
    <title>反油政策</title>
    <link rel="stylesheet" href="/style/mobile/sm.css">
    <link rel="stylesheet" href="/style/mobile/swiper3.07.min.css">
    <link rel="stylesheet" href="/style/mobile/style.css">
</head>

<body>
<div class="page">
    <div class="content" style="background-color: #ededed;">
        <div class="tabs">
            <div id="tab1" class="tab active">
                <div class="list-block" style="margin: 0.2rem 0; padding:0.2rem 0 0.75rem 0; background-color:#ffffff;">
                    <div class="p_para_title">商品参数</div>
                    <div class="p_para_body" >
                        <div class="row p_para_item" >
                            <div class="col-50 p_para_item_left">品牌</div>
                            <div class="col-50">SK</div>
                        </div>
                        <div class="row p_para_item" >
                            <div class="col-50 p_para_item_left" >分类</div>
                            <div class="col-50">汽油机</div>
                        </div>
                        <div class="row p_para_item">
                            <div class="col-50 p_para_item_left">类别</div>
                            <div class="col-50">全合成机油</div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script src="/style/mobile/swiper3.07.jquery.min.js"></script>
</body>
</html>

