<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" type="image/png" href="/style/favicon.ico"/>
    <title>反油政策</title>
    <link rel="stylesheet" href="/style/mobile/sm.css">
    <link rel="stylesheet" href="/style/mobile/swiper3.07.min.css">
    <link rel="stylesheet" href="/style/mobile/style.css">
</head>

<body>
<div class="page">
    <div class="content" style="background-color: #ededed;">
        <div class="tabs">
            <div id="tab1" class="tab active">
                <div class="list-block" style="background-color:#ffffff;">
                    {% for policy in policylist %}
                    <div class="p_para_title">保险公司 :  {{policy['name']}}</div>
                        {% for lube in policy['lube'] %}
                        <div class="p_para_title" style="background-color:#e0e0e0">油品型号 : {{lube['gift']}}</div>
                        <div class="row p_para_body" >
                            <div class="col-40">购买险种</div>
                            <div class="col-25" >赠油数量(车主)</div>
                            <div class="col-25">赠油数量(修理厂)</div>
                        </div>
                        {% for item in lube['items'] %}
                        {% if item['flag'] == 1 %}
                        <div class="row p_para_body" style="background-color:#ffffff;">
                        {% elif item['flag'] == 2 %}
                        <div class="row p_para_body" style="background-color:#96fed1;">
                        {%else%}
                        <div class="row p_para_body" style="background-color:#c1ffe4;">
                        {%endif%}
                            {% if item['flag'] == 1 %}
                            <div class="col-40">单商业险({{item['minprice']}}-{{item['maxprice']}})</div>
                            {% elif item['flag'] == 2 %}
                            <div class="col-40">单交强险({{item['minprice']}}-{{item['maxprice']}})</div>
                            {%else%}
                            <div class="col-40">商业险+交强险({{item['minprice']}}-{{item['maxprice']}})</div>
                            {%endif%}
                            <div class="col-25" >{{item['driver']}}</div>
                            <div class="col-25">{{item['store']}}</div>
                        </div>
                        {% endfor %}
                        {% endfor %}
                    {% endfor %}
                    <div class="p_para_warning" style="padding:1rem">
                        <p style="color:red;font-size:0.5rem">注：单商业险兑付标准为补贴"修理厂赠油数量",不再送车主保养油品.修理厂如何分配给车主,由修理厂自行决定.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script src="/style/mobile/swiper3.07.jquery.min.js"></script>
</body>
</html>

