<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" type="image/png" href="/style/favicon.ico"/>
    <title>{{product['name']}}</title>
    <link rel="stylesheet" href="/style/mobile/sm.css">
    <link rel="stylesheet" href="/style/mobile/swiper3.07.min.css">
    <link rel="stylesheet" href="/style/mobile/style.css">
</head>

<body>
<div class="page">
    {% if product['type'] !='1' %}
    <header class="bar bar-nav">
        <div class="buttons-tab">
            <a href="#tab1" id="ctab1" class="tab-link active button">商品</a>
            <a href="#tab2" id="ctab2" class="tab-link button">详情</a>
        </div>
    </header>
     {% endif %}
    <div class="content" style="background-color: #ededed;">
        <div class="tabs">
            <div id="tab1" class="tab active">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="height:240px;"><img
                                src="http://img.520czj.com/image/2017/02/15/server1_20170215111526VDJrFZYbKUeiLjuGkcsxTIhW.png"
                                >
                        </div>
                        <div class="swiper-slide" style="height:240px;"><img
                                src="http://img.520czj.com/image/2017/02/15/server1_20170215111526VDJrFZYbKUeiLjuGkcsxTIhW.png"
                                >
                        </div>
                        <div class="swiper-slide" style="height:240px;"><img
                                src="http://img.520czj.com/image/2017/02/15/server1_20170215111526VDJrFZYbKUeiLjuGkcsxTIhW.png"
                                >
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="row no-gutter" style="background-color: white;">
                    <div class="col-85 p_name p_font_title"><span>嘉实多（Castrol）磁护5W-30 4L 启停保全合成机油润滑油SN全合成机油润滑油SN</span></div>
                    <div class="col-15 p_share">
                        <div class="icon icon-star" style="font-size:1.1rem;color:#aaa;"></div>
                        <div class="p_small_font">分享</div>
                    </div>
                </div>
                <div class="row no-gutter" style="background-color: white;">
                    <div class="col-30 p_price">￥239.0</div>
                    <div class="col-70 p_sale">23人购买</div>
                </div>
                <div class="list-block">
                  <ul style="background-color:#ebebeb;">
                    <li>
                      <div class="item-content">
                        <div class="item-media"><i class="icon icon-home"></i></div>
                        <div class="item-inner">
                          <div class="item-title p_font_title">XXXX有限公司</div>
                            <div class="item-after"><span class="icon icon-phone"></span></div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="list-block" style="margin: 0.2rem 0; padding:0.2rem 0 0.75rem 0; background-color:#ffffff;">
                    <div class="p_para_title">商品参数</div>
                    <div class="p_para_body" >
                        <div class="row p_para_item" >
                            <div class="col-50 p_para_item_left">品牌</div>
                            <div class="col-50">SK</div>
                        </div>
                        <div class="row p_para_item" >
                            <div class="col-50 p_para_item_left" >分类</div>
                            <div class="col-50">汽油机</div>
                        </div>
                        <div class="row p_para_item">
                            <div class="col-50 p_para_item_left">类别</div>
                            <div class="col-50">全合成机油</div>
                        </div>
                        </div>
                </div>
                <div style="margin:0 auto;text-align: center;" class="row">
                    <div style="margin: 1rem 4rem;">
    <a href="#" onclick="showDetail()"
                           class="button button-success">查看更多详情</a>

                        </div>
                </div>
            </div>
            <div id="tab2" class="tab ">
                <p class="p_detail">
                    <img src="http://img.520czj.com/image/2017/02/15/server1_20170215111526VDJrFZYbKUeiLjuGkcsxTIhW.png">

                    <img src="http://img.520czj.com/image/2017/02/15/server1_20170215111526VDJrFZYbKUeiLjuGkcsxTIhW.png">

                    <img src="http://img.520czj.com/image/2017/02/15/server1_20170215111526VDJrFZYbKUeiLjuGkcsxTIhW.png">

                    <img src="http://img.520czj.com/image/2017/02/15/server1_20170215111526VDJrFZYbKUeiLjuGkcsxTIhW.png">
</p>
            </div>

        </div>
    </div>

</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script src="/style/mobile/swiper3.07.jquery.min.js"></script>
<script type="text/javascript">
$(function () {
    var mySwiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        autoplay: 5000//可选选项，自动滑动
    });
});

function showDetail() {
    $('#tab1').attr('class', 'tab');
    $('#tab2').attr('class', 'tab active');

    if($('#ctab1')) {
        $('#ctab1').attr('class', 'tab-link button');
        $('#ctab2').attr('class', 'tab-link active button');
    }
}

function showMain() {
    $('#tab2').attr('class', 'tab');
    $('#tab1').attr('class', 'tab active');
}

</script>
</body>
</html>

