<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" type="image/png" href="/style/favicon.ico"/>
    <title>{{product['name']}}</title>
    <link rel="stylesheet" href="/style/mobile/sm.css">
    <link rel="stylesheet" href="/style/mobile/swiper3.07.min.css">
    <link rel="stylesheet" href="/style/mobile/style.css">
</head>

<body>
<div class="page">
    {% if product['from'] !='1' %}
    <header class="bar bar-nav">
        <div class="buttons-tab">
            <a href="#tab1" id="ctab1" class="tab-link active button">商品</a>
            <a href="#tab2" id="ctab2" class="tab-link button">详情</a>
        </div>
    </header>
     {% endif %}
    <div class="content" style="background-color: #ededed;">
        <div class="tabs">
            <div id="tab1" class="tab active">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for pic in product['pics']%}
                        <div class="swiper-slide" style="height:240px; text-align: center; background-color: #fff;">
                            <img src="{{pic.pic}}" style="height:240px; width:auto; padding: 10px 0 3px 0;" >
                        </div>
                        {% endfor %}

                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="row no-gutter" style="background-color: white;">
                    <div class="col-85 p_name p_font_title">
                        <span>{{product['name']}}</span><br>
                        <div class="row no-gutter">
                        {% if product['type'] =='1' %}
                    <div class="col-30 p_price">
                        {% if product['login'] %}
                        ￥{{product['price']}}
                        {% else %}
                        未登陆
                        {% endif %}
                    </div>
                    <div class="col-70 p_sale">{{product['buy_count']}}人购买</div>
                            {% elif product['type'] =='2' %}
                    <div class="col-30 p_score">
                        {% if product['login'] %}
                        {{product['price']}} 积分
                        {% else %}
                        未登陆
                        {% endif %}
                        </div>
                    <div class="col-70 p_sale">{{product['buy_count']}}人兑换</div>
                    {% endif %}</div>
                    </div>
                    <div class="col-15 p_share" onclick="share('{{product['name']}}', '{{product['cover']}}'">
                        <div class="icon icon-star" style="font-size:1.1rem;color:#aaa;"></div>
                        <div class="p_small_font">分享</div>
                    </div>
                </div>

                <div class="list-block">
                  <ul style="background-color:#ebebeb;">
                    <li>
                      <div class="item-content">
                        <div class="item-media"><i class="icon icon-home"></i></div>
                        <div class="item-inner">
                          <div class="item-title p_font_title">{{product['store']}}</div>

                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="list-block" style="margin: 0.2rem 0; padding:0.2rem 0 0.75rem 0; background-color:#ffffff;">
                    <div class="p_para_title">商品参数</div>
                    <div class="p_para_body" >
                        {% for attr in product['attributes']%}
                        <div class="row p_para_item" >
                            <div class="col-50 p_para_item_left">{{attr.attribute.name}}</div>
                            <div class="col-50">{{attr.value}}</div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
                <div style="margin:0 auto;text-align: center;" class="row">
                    <div style="margin: 1rem 4rem;">
                        <a href="#" onclick="h5ShowDetail()" class="button button-success">查看更多详情</a>
                    </div>
                </div>
            </div>
            <div id="tab2" class="tab ">
                <p class="p_detail">
                    {{product['intro']}}
            </div>

        </div>
    </div>
<input id="tel" type="hidden" value="{{product['mobile']}}" />
</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script src="/style/mobile/swiper3.07.jquery.min.js"></script>
<script type="text/javascript">
$(function () {
    var mySwiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        autoplay: 5000//可选选项，自动滑动
    });
});

function showDetail() {
    // 原生调用显示详情
    $('#tab1').attr('class', 'tab');
    $('#tab2').attr('class', 'tab active');

        $('#ctab1').attr('class', 'tab-link button');
        $('#ctab2').attr('class', 'tab-link active button');
}


function h5ShowDetail() {
    // html内部使用，并通知原生切换头部按钮
    $('#tab1').attr('class', 'tab');
    $('#tab2').attr('class', 'tab active');

        $('#ctab1').attr('class', 'tab-link button');
        $('#ctab2').attr('class', 'tab-link active button');
{% if product['from'] =='1' %}
    if ("{{product['platform']}}" == "android") {
            androidObj.showDetail();
        }
        else if ("{{product['platform']}}" == "ios") {
            window.webkit.messageHandlers.showDetail.postMessage('');
        }
     {% endif %}
}


function showMain() {
    // 原生调用显示商品基本信息
    $('#tab2').attr('class', 'tab');
    $('#tab1').attr('class', 'tab active');
}

function getBusinessTel() {
    // 原生调用得到电话
    return $('#tel').val();
}

function share(name, pic_url) {
    // 将来调用原生，进行分享
    if ("{{product['platform']}}" == "android") {
            androidObj.share(name, pic_url);
        }
        else if ("{{product['platform']}}" == "ios") {
            window.webkit.messageHandlers.share.postMessage({'name':name, 'pic_url':pic_url});
        }
}

</script>
</body>
</html>

