<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>工具箱</title>
    <link rel="icon" type="image/png" href="/style/favicon.ico"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <style type="text/css">
        .bg {
            background: url(http://img1.imgtn.bdimg.com/it/u=1095007311,2054534482&fm=23&gp=0.jpg) no-repeat;
            filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
            -moz-background-size: 100% 100%;
            background-size: 100% 100%;
            height: 150px;
        }
    </style>
</head>
<body>
<div class="page-group">
    <div class="page">
        <header class="bar bar-nav">
            <h1 class="title">车装甲工具箱</h1>
        </header>
        <div class="content">
            <a href="http://app.dev.test.520czj.com/webapp?f=app" external>
                <div class="bg"></div>
            </a>
        </div>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
</body>
</html>