{% extends "layout/admin.html" %}
{% block css %}
<link href="/style2/css/plugins/dataTables.bootstrap.css" rel="stylesheet">
<style type="text/css">
    .showInfo{display: none; text-align:left;border: 1px solid #519500; color: #666666; background: #ffffff; padding:10px;font-size:12px; position:absolute;min-height:250px; width:300px; z-index:999;}
</style>
{% endblock %}
{% block content %}
<div class="row">
    <nav>
        <div>
            <a class="navbar-brand" href="#">所有待发货订单</a>
            <label class="navbar-brand">
                <input type="checkbox" id="checkall">全选
            </label>

            <div class="navbar-brand btn-group">
                <a type="button" class="btn btn-default {% if order_type==0 %} active {% endif %}" href="/admin/delivery/orders?d={{d}}&order_type=0">普通订单</a>
                <a type="button" class="btn btn-default {% if order_type==1 %} active {% endif %}" href="/admin/delivery/orders?d={{d}}&order_type=1">预售订单</a>
            </div>
            <div class="navbar-brand">
                <button type="button" id="btnAuto"  class="btn btn-primary">自动选择物流</button>
                <button type="button" id="btnSaveDelivery"  class="btn btn-primary" style="display: none;">保存物流</button>
            </div>
        </div>
        <div class="pull-right">

            <form class="navbar-form navbar-left" action="" >

                <div class="btn-group">
                    <a type="button" class="btn btn-default {% if d==0 %} active {% endif %}" href="/admin/delivery/orders?d=0&order_type={{order_type}}">未处理</a>
                    <a type="button" class="btn btn-default {% if d==-1 %} active {% endif %}" href="/admin/delivery/orders?d=-1&order_type={{order_type}}">全部</a>
                    <a type="button" class="btn btn-default {% if d==1 %} active {% endif %}" href="/admin/delivery/orders?d=1&order_type={{order_type}}">宅急送</a>
                    <a type="button" class="btn btn-default {% if d==2 %} active {% endif %}" href="/admin/delivery/orders?d=2&order_type={{order_type}}">速尚</a>
                    <a type="button" class="btn btn-default {% if d==3 %} active {% endif %}" href="/admin/delivery/orders?d=3&order_type={{order_type}}">自送</a>
                </div>
                <button type="button" id="btcombin"  class="btn btn-primary">合并订单</button>
                <button type="button" id="btuncombin"  class="btn btn-primary">拆分订单</button>

                <select class="form-control" id="companies" name="companies">
                    <option value="" selected>选择物流</option>
                    {% for d in deliverys %}
                    <option value="{{d.id}}" >{{d.name}}</option>
                    {% endfor %}
                </select>
                <button type="button" id="btexport"  class="btn btn-primary">导出电子面单</button>
                <button type="button" id="btbisdata"  class="btn btn-primary">导出业务对接</button>
                <button type="button" id="btpdf"  class="btn btn-primary">生成PDF</button>
                <button type="button" id="btchangestatus" class="btn btn-default">发货</button>
            </form>
        </div>
        <div class="pull-right">
        </div>
    </nav>
</div>
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover" id="tb_orders">
                    <thead>
                    <tr>
                        <th>订单号</th>
                        <th>用户账户</th>
                        <th>下单时间</th>
                        <th style="display: none;">物流信息</th>
                        <th>订单详情</th>
                        <th>商品金额</th>
                        <th>运费</th>
                        <th>支付方式</th>
                        <th>收货方信息</th>
                        <th>订单状态</th>
                        <th>客户留言</th>
                        <th>管理备注</th>
                        {% if order_type==1 %}
                        <th style="color:red;">发货时间</th>
                        {% endif %}
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for o in orders -%}
                    <tr {{styles[o.ip]}} data="{{o.take_address}}{{o.take_name}}{{o.take_tel}}" class="trItem">
                        <td>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="order_id_list" value="{{o.id}}">{{o.ordernum}}
                                {% if o.flag==1 %}
                                <i style="color: red;" class="fa fa-flag fa-fw" title="{{o.summary|null}}"></i>
                                {% elif o.flag==2 %}
                                <i style="color: blue;" class="fa fa-flag fa-fw" title="{{o.summary|null}}"></i>
                                {% elif o.flag==3 %}
                                <i style="color: #149904;" class="fa fa-flag fa-fw" title="{{o.summary|null}}"></i>
                                {% elif o.flag==4 %}
                                <i style="color: #751b4c;" class="fa fa-flag fa-fw" title="{{o.summary|null}}"></i>
                                {% elif o.flag==5 %}
                                <i style="color: #eea236;" class="fa fa-flag fa-fw" title="{{o.summary|null}}"></i>
                                {% elif o.flag==6 %}
                                <i style="color: #b4c5bf;" class="fa fa-flag fa-fw" title="{{o.summary|null}}"></i>
                                {% endif %}
                                {% if o.store %}
                                <br><span style="color: red;">({{o.store.name}})</span>
                                {% endif %}
                            </label>
                        </td>
                        <td>
                            {{o.user.username}}<br>
                            {{o.order_type==1 and '<span style="color:red;">预售订单</span>' or '<span style="color:green;">普通订单</span>'}}
                        </td>
                        <td>{{o.ordered|datetimeformat}}</td>
                        <td style="display: none;">
                        </td>
                        <td>
                            {% for i in o.items %}
                            <div>{{i.product.name}} X {{i.quantity}}
                                {% if i.item_type==2 %}
                                <span style="color: #cc0000;">(积分换购)</span>
                                {% elif i.item_type==9 %}
                                <span style="color: #cc0000;">(赠品)</span>
                                {% endif %}
                                {% if i.product.store %}
                                <span style="color: red;">({{i.product.store.name}})</span>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </td>
                        <td>{{o.price}}</td>
                        <td>{{o.shippingprice}}</td>
                        <td>
                            {% if o.payment==0 %}
                            货到付款
                            {% elif o.payment==1 %}
                            支付宝
                            {% elif o.payment==2 %}
                            账户余额
                            {% elif o.payment==3 %}
                            网银支付
                            {% elif o.payment==5 %}
                            积分换购
                            {% elif o.payment==9 %}
                            补单
                            {%endif%}
                        </td>
                        <td>
                            <div>
                                {{o.take_address}}
                            </div>
                            <div>
                                {{o.take_name}} - {{o.take_tel}}
                            </div>

                            <div>公司: {{o.delivery.name|null}}
                                <select class="form-control companies" id="d_{{o.id}}" data-id="{{o.id}}" name="companies" style="display: none;">
                                    <option value="" selected>选择物流</option>
                                    {% for d in deliverys %}
                                    <option value="{{d.id}}" >{{d.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>单号: <a class="showWL" data="{{o.deliverynum|null}}">{{o.deliverynum|null}}<div class="showInfo"></div></a></div>

                        </td>
                        <td>
                            {% if o.status==0 and o.payment==1 %}
                            待付款
                            {% elif o.status==1 or (o.status==0 and o.payment==0) %}
                            待处理
                            {% elif o.status==2 %}
                            正在处理
                            {% elif o.status==3 %}
                            已发货
                            {% elif o.status==4 %}
                            已完成
                            {% elif o.status==5 %}
                            已取消
                            {% endif %}
                        </td>
                        <td>
                            {{o.message}}
                            {% if o.status==5 %}
                            <div>取消原因：{{o.cancelreason}}</div>
                            {%endif%}
                        </td>
                        <td>
                            {{o.summary or ''}}
                        </td>
                        {% if order_type==1 %}
                        <td style="color:red;">{{o.delivery_time | dateformat}}</td>
                        {%endif%}
                        <td>
                            <a target="_blank" href="/admin/order/{{o.id}}" class="btn btn-outline btn-primary btn-xs">详情</a>
                        </td>
                    </tr>
                    {%- endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/style2/js/layer-v1.9/layer.js" type="text/javascript"></script>
<script>
    $(function() {
        $(".trItem").each(function(){
            var c = 0;
            var a = $(this).attr("data");
            $(".trItem").each(function(){
                var b = $(this).attr("data");
                if(a == b){
                    c++;
                }
            });
            if(c > 1){
                //$(this).css("background-color","#70cdff");
                $(this).css("color","#FF684A");
            }
        });
    });

    $(document).ready(function() {
        $('#checkall').bind('click',function () {
            $('#tb_orders :checkbox').prop('checked',this.checked);
        });
        var xsrf='{{handler.xsrf_token}}';
        var gc = {{group_count}};
        var c = {{c}};
        $('#btchangestatus').click(function () {
            $('#btchangestatus').attr("disabled","true").html("提交中…").css("font-size","12px");
            if(c > gc) {
                var msg ="有需合并但未合并订单 "+ (c - gc) + " 个,是否忽略？";
                layer.confirm(msg, {
                    btn: ['忽略继续', '检查合并'],
                    shade: 0.2
                },function () {
                    layer.closeAll();
                    delivery();
                },function () {
                    $('#btchangestatus').removeAttr("disabled").html("发货").css("font-size","14px");
                });
            }else{
                delivery();
            }
        });
    function delivery(){
        var ids = [];
        $('#tb_orders :checkbox').each(function () {
            if ($(this).is(':checked')) {
                ids.push($(this).val());
            }
        });
//        var d = $("#companies").val();
        $.post("/ajax/order/sending",
            {
                company: $('#companies').val(),
                ids: JSON.stringify(ids),
                _xsrf: xsrf
            },
            function (data) {
                var obj = jQuery.parseJSON(data);
                if (obj.err == 0) {
                    alert('成功发货！');
                    location.reload();
                }else if(obj.err == 2){
                    alert(obj.msg);
                }
                else {
                    alert('发货失败：' + obj.msg);
                }
                $('#btchangestatus').removeAttr("disabled").html("发货").css("font-size","14px");
            });
    }
    $('#btpdf').bind('click',function () {
        var ids = [];
        $('#tb_orders :checkbox').each(function(){
            if($(this).is(':checked'))
            {
                ids.push($(this).val());
            }
        });
        $.post("/ajax/pdf/orders",
                {
                    ids:JSON.stringify(ids),
                    _xsrf : xsrf,
                    t: Math.random()
                },
                function(data){
                    var obj = jQuery.parseJSON(data);
                    if(obj.err==0) {
                        alert('生成成功，点击下载连接，下载PDF文件！');
                        window.open("/upload/"+obj.msg);
                    }
                    else{
                        alert('生成失败：'+obj.msg);
                    }
                    //location.reload();
                });
    });

    $('#btexport').bind('click',function () {
        var d = $("#companies").val();
        if (d != "") {
            var ids = [];
            $('#tb_orders :checkbox').each(function () {
                if ($(this).is(':checked')) {
                    ids.push($(this).val());
                }
            });
            $.post("/ajax/export/orders",
                {
                    ids: JSON.stringify(ids),
                    company: $('#companies').val(),
                    _xsrf: xsrf
                },
                function (data) {
                    var obj = jQuery.parseJSON(data);
                    if (obj.err == 0) {
                        alert('生成成功，请保存CSV文件！');
                        window.open("/upload/" + obj.msg);
                    }
                    else {
                        alert('导出失败：' + obj.msg);
                    }
                    location.reload();
                });
        }else{
            layer.alert("请选择物流公司！");
        }
    });

    $('#btbisdata').bind('click',function () {
        var ids = [];
        $('#tb_orders :checkbox').each(function(){
            if($(this).is(':checked'))
            {
                ids.push($(this).val());
            }
        });
        $.post("/ajax/export/bisorder",
                {
                    ids:JSON.stringify(ids),
                    company:$('#companies').val(),
                    _xsrf : xsrf
                },
                function(data){
                    var obj = jQuery.parseJSON(data);
                    if(obj.err==0) {
                        alert('生成成功，请保存业务CSV文件！');
                        window.open("/upload/"+obj.msg);
                    }
                    else{
                        alert('导出失败：'+obj.msg);
                    }
                });
    });


    $('#btcombin').bind('click',function () {
        var ids = [];
        $('#tb_orders :checkbox').each(function(){
            if($(this).is(':checked'))
            {
                ids.push($(this).val());
            }
        });
        $.post("/ajax/grouporder/1",
                {
                    ids:JSON.stringify(ids),
                    _xsrf : xsrf
                },
                function(data){
                    alert(data);
                    location.reload();
                });
    });

    $('#btuncombin').bind('click',function () {
        var ids = [];
        $('#tb_orders :checkbox').each(function(){
            if($(this).is(':checked'))
            {
                ids.push($(this).val());
            }
        });
        $.post("/ajax/grouporder/0",
                {
                    ids:JSON.stringify(ids),
                    _xsrf : xsrf
                },
                function(data){
                    alert(data);
                    location.reload();
                });
    });
    $("#btnAuto").click(function(){
        var ids = [];
        $('#tb_orders :checkbox').each(function(){
            if($(this)){
                ids.push($(this).val());
            }
        });
        $.post("/ajax/auto_delivery", {ids:JSON.stringify(ids),_xsrf : xsrf,t: Math.random()},function(data){
            var obj = jQuery.parseJSON(data);
            debugger;
            if(obj.err==0) {
                for(var n in obj.data){
                    $("#d_"+obj.data[n].id).val(obj.data[n].delivery);
                    $("#d_"+obj.data[n].id).show();
                }
                $("#btnSaveDelivery").show();
            }else{
                alert(obj.msg);
            }
        });
    });
    $("#btnSaveDelivery").click(function(){
        var list = [];
        $(".companies").each(function(){
            debugger;
            list.push({id:$(this).attr("data-id"), did:$(this).val()});
        });
        if(list.length != 0){
            $.post("/ajax/save_delivery", {ids:JSON.stringify(list), _xsrf : xsrf,t: Math.random()},function(data){
                var obj = jQuery.parseJSON(data);
                if(obj.err==0) {
                    location.reload();
                }else{
                    alert(obj.msg);
                }
            });
        }
    });
    });
</script>
{% endblock %}