{% extends "layout/admin.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">汇总信息</h3>
    </div>
</div>
<div class="row">

        <div class="col-md-3 col-sm-6">
            <div class="panel">
                <div class="panel-heading text-center bg-success no-border">
                    <i class="fa fa-group fa-3x margin top bottom text-white"></i>
                </div>
                <div class="inner-t inner-b text-center clearfix">
                    <div class="col-xs-4">
                        <div class="h2 font-bold"><a href="/admin/user">{{report['user']}}</a></div>
                        <span class="text-muted">客户</span>
                    </div>
                    <div class="col-xs-4">
                        <div class="h2 font-bold"><a href="/admin/saler">{{report['saler']}}</a></div>
                        <span class="text-muted">经销商</span>
                    </div>
                    <div class="col-xs-4">
                        <div class="h2 font-bold"><a href="/admin/store">{{report['store']}}</a></div>
                        <span class="text-muted">门店</span>
                    </div>

                </div>
            </div>
        </div>
    <div class="col-md-3 col-sm-6">
            <!-- Google+ Stats  Widget -->
            <div class="panel">
                <div class="panel-heading no-border bg-danger text-center clearfix">

                        <i class="fa fa-picture-o fa fa-3x margin top bottom text-white"></i>

                </div>
                <div class="inner-t inner-b text-center clearfix">
                    <div class="col-xs-6 border right">
                        <div class="h2 font-bold"><a href="/admin/product/0?status=1">{{report['product_n']}}</a></div>
                        <span class="text-muted">普通商品</span>
                    </div>
                    <div class="col-xs-6">
                        <div class="h2 font-bold"><a href="/admin/product/1?status=1">{{report['product_s']}}</a></div>
                        <span class="text-muted">积分商品</span>
                    </div>
                </div>
            </div>
            <!-- End of Google+ Stats Widget -->
        </div>
        <div class="col-md-3 col-sm-6">
                    <div class="panel">
                        <div class="panel-heading text-center bg-warning no-border">
                            <i class="fa fa-money fa-3x margin top bottom text-white"></i>
                        </div>
                        <div class="inner-t inner-b text-center clearfix">
                            <div class="h2 font-bold"><a href="/admin/insurance">{{report['insurance']}}</a></div>
                            <span class="text-muted">保险公司</span>
                        </div>
                    </div>
                </div>
        <div class="col-md-3 col-sm-6">
            <!-- Facebook Stats  Widget -->
            <div class="panel">
                <div class="panel-heading no-border bg-info text-center clearfix">

                        <i class="fa fa-align-justify fa-3x margin top bottom text-white"></i>

                </div>
                <div class="inner-t inner-b text-center clearfix">
                    <div class="col-xs-6 border right">
                        <div class="h2 font-bold"><a href="/admin/insurance_orders">{{report['order_i']}}</a></div>
                        <span class="text-muted">保险订单</span>
                    </div>
                    <div class="col-xs-6">
                        <div class="h2 font-bold"><a href="/admin/product_orders">{{report['order_n']}}</a></div>
                        <span class="text-muted">商品订单</span>
                    </div>
                </div>
            </div>
            <!-- End of Facebook Stats Widget -->
        </div>


</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title" style="height:20px;">
                    <span class="pull-left">系统日志　</span>
                    <span class="pull-right" ><a href="/admin/log" style="font-size:10px; color:#888;">全部日志</a></span>
                </h3>

            </div>
            <div class="panel-body">

                <div style="word-wrap: break-word;word-break: keep-all;">
                    <table class="table" id="tb_users" >
                        <tbody>
                        <tr>
                            <th style="width:10px">用户名</th>
                            <th style="width:180px">时间</th>
                            <th style="width:600px">内容</th>
                        </tr>
                        {% for o in logs -%}
                        <tr>
                            <td width="10%">
                                 {{o.admin_user.realname}}
                            </td>
                            <td width="20%">
                                {{o.created | datetimeformat}}
                            </td>
                            <td width="70%">
                                <div style="width:600px;">
                                 {{o.content}}
                                </div>
                            </td>
                        </tr>
                        {%- endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}