<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>车装甲管理系统登录界面</title>
<link rel="stylesheet" type="text/css" href="/style/css/basic.css" />
<link rel="stylesheet" type="text/css" href="/style/css/admin_login.css" />

    <!-- Bootstrap Core CSS -->
    <link href="/style/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/style/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/style/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/style/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
</head>
<body style="background: #EBFBFF;">
 <div class="head">
   <a href="#"><img src="/style/images/logo.png" /></a>
   <h1 class="jrsc"><a href="#">车装甲管理系统</a></h1> 
 </div>
 <div class="main clearfix">
    <div class="log">
         <form role="form" action="/admin/login" method="post" style="width:480px;margin-top:100px;margin-left:90px;">
             {{xsrf()}}
             <p style="font-size:28px;font-weight:500;marign:30px auto 50px 20px;">欢迎登录</p>
             <fieldset>
                 <div class="form-group" style="margin-top:50px;">
                     <input class="form-control" placeholder="用户名" id="username" name="username" type="input" autofocus required>
                 </div>
                 <div class="form-group" style="margin-top:30px;">
                     <input class="form-control" placeholder="密码" id="password" name="password" type="password" value="" required>
                 </div>
                 <div style="margin-top:30px;margin-bottom: 50px;" />
                 <input type="submit" id="bt_submit" class="btn btn-lg btn-success btn-block" value="登录">
             </fieldset>
         </form>
   </div>
 </div>
  </body>
</html>
