{% extends "layout/admin.html" %}
{% block content %}
<div class="row">
    <nav>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">推送任务</a>
        </div>
    </nav>
</div>
<div class="row">
    <div class="col-xs-6">
    <div class="panel panel-primary">
        <div class="panel-body">
            <h4>创建任务</h4>
            {%set messages=handler.get_flashed_messages() %}
            {%if messages%}
            <div class="msg" style="color:red;">
                {% for type, msg in messages%}
                <span>{{msg}}</span>
                {% endfor %}
            </div>
            {%endif%}
            <form action="" method="post" enctype="multipart/form-data">
                {{xsrf()}}
                 <div class="form-group has-success" id="images">
                    <p><label class="col-sm-4 control-label">plan标题</label></p>
                    <input type="text" id="title" name="title" class="form-control" value="" maxlength="100"  placeholder="B计划" class="col-sm-8"/>
                 </div>
                <div class="form-group has-success">
                    <div class="jpush_type" style="margin-left:10px;">
                        <select name="plan_type" id="plan_type" style="height:28px;margin-left: -10px;margin-top: 10px;border-radius:4px;" >
                            {% for k,v in plan_type.items() %}
                            <option value="{{k}}">{{v}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group has-success">
                    <p><label class="col-sm-4 control-label">频率</label></p>
                    <input type="text" name="rate" id="rate" class="form-control" value="" maxlength="100"  placeholder="例0每天,1-7每周对应星期" class="col-sm-8"/>
                </div>
                 <div class="form-group has-success">
                    <p><label class="col-sm-4 control-label">起始时间</label></p>
                    <input type="text" name="start_time" id="start_time" class="form-control" value="" maxlength="100"  placeholder="例00:00" class="col-sm-8">
                 </div>
                <div class="form-group has-success">
                    <p><label class="col-sm-4 control-label">结束时间</label></p>
                    <input type="text" name="end_time" id="end_time" class="form-control" value="" maxlength="100"  placeholder="例23:00" class="col-sm-8">
                 </div>
                <div class="form-group has-success">
                    <div class="msg" style="margin-left:10px;">
                        <select name="intro" id="intro" style="height:28px;margin-left: -10px;margin-top: 10px;border-radius:4px;" >
                            {% for msg in msgs %}
                            <option value="{{msg.id}}">{{msg.content}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group has-success">
                    <input type="checkbox" id="active" name="active" value="1" /><label for="active" style="margin-right:20px;">启用</label>
                </div>
                <div class="form-group has-success">
                    <input type="submit" name="sub" value="提 交" class="btn btn-outline btn-primary btn-sm">
                </div>
            </form>
        </div>
    </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-primary">
            <div class="panel-body">
                <h4>审核发送</h4>
                <table class="table table-hover" id="tb_users" cellpadding="0" cellspacing="0" border="0" style="text-align:center;width:100%;">
                <thead>
                <tr >
                    <th style="width:15%;text-align:center;">标题</th>
                    <th style="width:15%;text-align:center;">类型</th>
                    <th style="width:15%;text-align:center;">开始时间</th>
                    <th style="width:15%;text-align:center;">结束时间</th>
                    <th style="width:15%;text-align:center;">JPushMSG</th>
                    <th style="width:15%;text-align:center;">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for plan in record_lists %}
                <tr>
                    <td align=center>
                        <span style="color: blue">{{plan.title}}</span>
                    </td>
                    <td align=center>
                        <span style="color: blue">{{plan.type}}</span>
                    </td>
                    <td align=center >
                        <span style="color: blue">{{plan.start_time|datetimeformat}}</span>
                    </td>
                    <td align=center >
                        <span style="color: blue">{{plan.end_time|datetimeformat}}</span>
                    </td>
                    <td align=center>
                        <span style="color: blue">{{plan.intro.title}}</span>
                    </td>
                    <td align=center >
                        <button type="button" onclick="change_status({{plan.id}}, 1)" class="btn btn-xs btn-warning" >
                            通过
                        </button>
                        <button type="button" onclick="change_status({{plan.id}}, 0)" class="btn btn-xs btn-warning" >
                            拒绝
                        </button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-body">
                <h4>推送计划</h4>
                <table class="table table-hover" id="tb_users" cellpadding="0" cellspacing="0" border="0" style="text-align:center;width:100%;">
                <thead>
                <tr >
                    <th style="width:15%;text-align:center;">编号</th>
                    <th style="width:15%;text-align:center;">标题</th>
                    <th style="width:15%;text-align:center;">类型</th>
                    <th style="width:15%;text-align:center;">频率</th>
                    <th style="width:15%;text-align:center;">开始时间</th>
                    <th style="width:15%;text-align:center;">结束时间</th>
                    <th style="width:15%;text-align:center;">JPushMSG</th>
                    <th style="width:15%;text-align:center;">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for plan in plan_lists %}
                <tr>
                    <td align=center >
                        <!--onclick="set_plan_detail('{{plan.title}}',{{plan.type}},'{{plan.rate}}','{{plan.start_time}}','{{plan.end_time}}',{{plan.intro.id}})">-->
                        <span style="color: blue">{{plan.id}}</span>
                    </td>
                    <td align=center>
                        <span style="color: blue">{{plan.title}}</span>
                    </td>
                    <td align=center>
                        <span style="color: blue">{{plan_type[plan.type]}}</span>
                    </td>
                    <td align=center >
                        <span style="color: blue">{{plan.rate}}</span>
                    </td>
                    <td align=center >
                        <span style="color: blue">{{plan.start_time}}</span>
                    </td>
                    <td align=center >
                        <span style="color: blue">{{plan.end_time}}</span>
                    </td>
                    <td align=center>
                        <span style="color: blue">{{plan.intro.id}}/{{plan.intro.content}}</span>
                    </td>
                     <td align=center >
                        <button type="button" onclick="cancle_plan_status({{plan.id}})" class="btn btn-xs btn-warning" >
                            取消
                        </button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    function set_plan_detail(title,type,rate,start_time,end_time,intro,active){
        $('#title').val(title);
        $('#plan_type').val(type);
        $('#rate').val(rate);
        $('#start_time').val(start_time);
        $('#end_time').val(end_time);
        $('#intro').val(intro);
        $('#active').val(active);
    }

    var xsrf='{{handler.xsrf_token}}';
    function change_status(id, state_type){
        $.post("/ajax/jpushmsg_status", { _xsrf:xsrf,id: id, state_type:state_type }, function (data) {
            data = jQuery.parseJSON(data);
            alert(data.msg);
            if(data.flag==1){
                location.reload();
            }
        });
    }
    function cancle_plan_status(id){
        $.post("/ajax/cancle_plan_status", { _xsrf:xsrf,id: id}, function (data) {
            data = jQuery.parseJSON(data);
            alert(data.msg);
            if(data.flag==1){
                location.reload();
            }
        });
    }
    $(function(){
        $(".area").hide();
        $("input:radio[name='is_users']").click(function(){
            var v = $("input:radio[name='is_users']:checked").val();
            if(v == "all_user"){
                $("#number").val('');
                $("#number").prop("readonly","readonly");
                $(".area").hide();
                $("input:radio[name='user_type']").attr("checked",false);
            }else if(v == "group_user"){
                $("#number").val('');
                $("#number").prop("readonly","readonly");
                $(".area").show();
            }
            else{
                $("#number").val('');
                $("#number").removeAttr("readonly");
                $("input:radio[name='user_type']").attr("checked",false);
                $(".area").hide();
            }
        });


        $("input:radio[name='sms_type']").click(function(){
            var v = $("input:radio[name='sms_type']:checked").val();
            if(v == "2"){
                $("#title").show();
            }
            else{
                $("#title").hide();
            }
        });
    });


    function province_change(id, default_id){
//    var id = $(obj).val();
        $("#district_code > option").remove();
        $("#district_code").append("<option value=\"0\">--请选择区县--</option>");
        $("#city_code > option").remove();
        $("#city_code").append("<option value=\"0\">--请选择城市--</option>");
        if(id > 0){
            GetSubAreas(id, "city_code", default_id);
        }
    }
    function city_change(id, default_id){
//    var id = $(obj).val();
        $("#district_code > option").remove();
        $("#district_code").append("<option value=\"0\">--请选择区县--</option>");
        if(id > 0){
            GetSubAreas(id, "district_code", default_id);
        }
    }
    function GetSubAreas(id,ddl_id, default_id) {
//    alert(default_id);
        $.get("/ajax/GetSubAreas", { pcode: id,  t: Math.random() }, function (data) {
            data = jQuery.parseJSON(data);
            if(data.flag==1){
                for(var i=0; i< data.data.length; i++){
                    if(default_id.length>0){
                        if(data.data[i]["code"]==default_id){
                            $("#" + ddl_id).append("<option value=\"" + data.data[i]["code"] + "\" selected>" + data.data[i]["name"] + "</option>");
                        }
                        else{
                            $("#" + ddl_id).append("<option value=\"" + data.data[i]["code"] + "\">" + data.data[i]["name"] + "</option>");
                        }
                    }
                    else {
                        $("#" + ddl_id).append("<option value=\"" + data.data[i]["code"] + "\">" + data.data[i]["name"] + "</option>");
                    }
                }
            }
            else{
                alert(data.msg)
            }
        });
    }

</script>
{% endblock %}