{% extends "layout/admin.html" %}
{% block content %}
<div class="row">
    <nav>
        <div class="navbar-header" style="float: left">
            <a class="navbar-brand" href="#">广告位管理</a>
        </div>
        <div class="navbar-header" style="float: right;margin-top:15px;">
            <a href="/admin/edit_block/0" style="padding:5px 8px;border:1px solid #438bca;border-radius:4px;color:#438bca;font-size:16px;">添加广告位</a>
        </div>
    </nav>
</div>
<div class="row">
    <div class="panel panel-primary">
        {%set messages=handler.get_flashed_messages() %}
        {%if messages%}
        <div class="msg">
            {% for type, msg in messages%}
            <span style="color:red;">{{msg}}</span>
            {% endfor %}
        </div>
        {%endif%}
        <div class="table-responsive">
            <table class="table table-hover" id="tb_users" cellpadding="0" cellspacing="0" border="0" style="text-align:center;width:100%;">
                <thead>
                <tr style="background:#528acb;color:#fff;text-align:center;height:38px;line-height:38px;">
                    <th style="width:10%;text-align:center;">编号</th>
                    <th style="width:15%;text-align:center;">类型名称</th>
                    <th style="width:10%;text-align:center;">使用标记</th>
                    <th style="width:15%;text-align:center;">备注</th>
                    <th style="width:20%;text-align:center;">图示</th>
                    <th style="width:10%;text-align:center;">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for block in blocks %}
                <tr>
                    <td>{{block.id}}</td>
                    <td>{{block.name }}</td>
                    <td>{{block.tag}}</td>
                    <td>{{block.remark}}</td>
                    <td><img src="{{block.img}}" width="100" height="60"></td>
                    <td><a href="/admin/edit_block/{{block.id}}" style="padding:4px 5px;border:1px solid #438bca;color:#438bca;border-radius:4px;font-size:12px;text-decoration:none;">修改</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}