{% extends "layout/admin.html" %}
{% block content %}


<div class="row">
    <nav>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">消息群发</a>
        </div>
    </nav>
</div>
<div class="row">
    <div class="col-xs-6">
    <div class="panel panel-primary">
        <div class="panel-body">
            <h4>测试/发送</h4>
            {%set messages=handler.get_flashed_messages() %}
            {%if messages%}
            <div class="msg" style="color:red;">
                {% for type, msg in messages%}
                <span>{{msg}}</span>
                {% endfor %}
            </div>
            {%endif%}

            <form action="" method="post" enctype="multipart/form-data">
                {{xsrf()}}

                <div class="form-group has-success">
                    <input type="radio" id="jpush" name="sms_type" checked value="0" /><label for="jpush" style="margin-right:20px;">极光</label>
                    <!--<input type="radio" id="sms" name="sms_type" value="1" /><label for="sms" style="margin-right:20px;">短信</label>-->
                    <!--<input type="radio" id="site" name="sms_type" value="2" /><label for="site">站内</label>-->
                </div>
                <div class="form-group has-success">
                    <input type="radio" id="is_all_users" name="is_users" value="all_user" /><label for="is_all_users" style="margin-right:20px;">所有注册用户</label>
                    <input type="radio" id="is_users" name="is_users" checked value="user" /><label for="is_users" style="margin-right:20px;">单个用户</label>
                    <input type="radio" id="is_group_users" name="is_users" value="group_user" /><label for="is_group_users">分组地区</label>
                </div>
                <div class="form-group has-success">
                    <div class="area" style="margin-left:10px;">
                        <select name="province_code" id="province_code" onchange="province_change(this.value,0)" data-default="{{default_province}}" style="height:28px;margin-left: -10px;margin-top: 10px;border-radius:4px;" >
                            <option value="">--请选择省份--</option>
                            {% for area in items %}
                            <option value="{{area.code}}" {{area.code==default_province and 'selected' or ''}}>{{area.name}}</option>
                            {% endfor %}
                        </select>
                        <select name="city_code" id="city_code" onchange="city_change(this.value,0)" data-default="{{default_city}}" style="height:28px;margin-left: 10px;margin-top: 10px;border-radius:4px;" >
                            <option value="">--请选择城市--</option>
                        </select>
                        <select name="district_code" id="district_code" data-default="{{default_district}}" style="height:28px;margin-left: 10px;margin-top: 10px;border-radius:4px;">
                            <option value="">--请选择区县--</option>
                        </select>
                    </div><br>

                    <p><label class="control-label">手机号码（逗号分割）</label></p>
                    <input type="text" name="number" id="number" class="form-control" value=""  required  placeholder="手机号码" style="width:480px;"/>
                </div>
                 <div class="form-group has-success" id="images">
                    <p><label class="control-label">图片网址</label></p>
                    <input type="text" id="img_url" name="image_url" class="form-control" value="" maxlength="100"  placeholder="请输入图片网址：http://img.520czj.com..." style="width:480px;"/>
                </div>
                <div class="form-group has-success" id="title">
                    <!--<p><label class="control-label">标题</label></p>-->
                    <!--<input type="text" name="title" class="form-control" value="" maxlength="100"  placeholder="标题" title="请输入标题" style="width:480px;"/>-->
                </div>
                <div class="form-group has-success">
                    <p><label class="control-label">内容（短信不超过60字符/条）</label></p>
                    <textarea id="textarea" name="content" value="" required rows="10" cols="30" style="width:480px;border-radius:4px;border-color:#3C763D;padding:10px;"></textarea>
                </div>

                <div class="form-group has-success">
                    <div class="articles" style="margin-left:10px;">
                        <select name="article_id" id="article_id" style="height:28px;margin-left: -10px;margin-top: 10px;border-radius:4px;" >
                            <option value="0">--请选择活动文章，不需要可以不选--</option>
                            {% for article in articles %}
                            <option value="{{article.id}}">{{article.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group has-success">
                    <input type="radio" id="send" name="send_type" checked value="0" /><label for="send" style="margin-right:20px;">立即发送</label>
                    <input type="radio" id="save" name="send_type" value="1" /><label for="save" style="margin-right:20px;">保存消息</label>
                    <!--<input type="radio" id="site" name="sms_type" value="2" /><label for="site">站内</label>-->
                </div>
                <div class="form-group has-success">
                    <input type="submit" name="sub" value="提 交" class="btn btn-outline btn-primary btn-sm">
                    <!--<input type="submit" name="get_mobile" value="获取手机号" class="btn btn-outline btn-primary btn-sm">-->
                </div>
            </form>

        </div>
    </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-primary">
            <div class="panel-body">
                <h4>现有消息</h4>
                <table class="table table-hover" id="tb_users" cellpadding="0" cellspacing="0" border="0" style="text-align:center;width:100%;">
                <thead>
                <tr >
                    <th style="width:15%;text-align:center;">编号</th>
                    <th style="width:15%;text-align:center;">图片</th>
                    <th style="width:15%;text-align:center;">内容</th>
                    <th style="width:15%;text-align:center;">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for item in jpushmsg %}
                <tr>
                    <td align=center onclick="setjpushmsg('{{item.img_url}}','{{item.content}}',{{item.jpush_active.id and item.jpush_active.id or 0}});">
                        <span style="color: blue">{{item.id}}</span>
                    </td>
                    <td align=center>
                        <img src="{{item.img_url}}"  height="80">
                    </td>
                    <td align=center >
                        <span>{{item.content}}</span>
                    </td>
                    <td align=center >
                        <!--<button type="button" onclick="change_status({{item.id}}, 1)" id='bt_pass_{{store.id}}'-->
                                <!--class="btn btn-xs btn-success" >-->
                            <!--启用-->
                        <!--</button>-->
                        <button type="button" onclick="change_status({{item.id}}, 2)" class="btn btn-xs btn-warning" >
                            下线
                        </button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    function setjpushmsg(imgurl,title,article){
        $('#img_url').val(imgurl);
        $('#textarea').val(title);
        $('#article_id').val(article);
    }

    var xsrf='{{handler.xsrf_token}}';
    function change_status(id, state_type){
        $.post("/ajax/jpushmsg_status", { _xsrf:xsrf,id: id, state_type:state_type }, function (data) {
            data = jQuery.parseJSON(data);
            alert(data.msg);
            if(data.flag==1){
                location.reload();
            }
        });
    }

    $(function(){
        $(".area").hide();
        $("input:radio[name='is_users']").click(function(){
            var v = $("input:radio[name='is_users']:checked").val();
            if(v == "all_user"){
                $("#number").val('');
                $("#number").prop("readonly","readonly");
                $(".area").hide();
                $("input:radio[name='user_type']").attr("checked",false);
            }else if(v == "group_user"){
                $("#number").val('');
                $("#number").prop("readonly","readonly");
                $(".area").show();
            }
            else{
                $("#number").val('');
                $("#number").removeAttr("readonly");
                $("input:radio[name='user_type']").attr("checked",false);
                $(".area").hide();
            }
        });


        $("input:radio[name='sms_type']").click(function(){
            var v = $("input:radio[name='sms_type']:checked").val();
            if(v == "2"){
                $("#title").show();
            }
            else{
                $("#title").hide();
            }
        });
    });


    function province_change(id, default_id){
//    var id = $(obj).val();
        $("#district_code > option").remove();
        $("#district_code").append("<option value=\"0\">--请选择区县--</option>");
        $("#city_code > option").remove();
        $("#city_code").append("<option value=\"0\">--请选择城市--</option>");
        if(id > 0){
            GetSubAreas(id, "city_code", default_id);
        }
    }
    function city_change(id, default_id){
//    var id = $(obj).val();
        $("#district_code > option").remove();
        $("#district_code").append("<option value=\"0\">--请选择区县--</option>");
        if(id > 0){
            GetSubAreas(id, "district_code", default_id);
        }
    }
    function GetSubAreas(id,ddl_id, default_id) {
//    alert(default_id);
        $.get("/ajax/GetSubAreas", { pcode: id,  t: Math.random() }, function (data) {
            data = jQuery.parseJSON(data);
            if(data.flag==1){
                for(var i=0; i< data.data.length; i++){
                    if(default_id.length>0){
                        if(data.data[i]["code"]==default_id){
                            $("#" + ddl_id).append("<option value=\"" + data.data[i]["code"] + "\" selected>" + data.data[i]["name"] + "</option>");
                        }
                        else{
                            $("#" + ddl_id).append("<option value=\"" + data.data[i]["code"] + "\">" + data.data[i]["name"] + "</option>");
                        }
                    }
                    else {
                        $("#" + ddl_id).append("<option value=\"" + data.data[i]["code"] + "\">" + data.data[i]["name"] + "</option>");
                    }
                }
            }
            else{
                alert(data.msg)
            }
        });
    }

</script>
{% endblock %}