{% extends "layout/admin.html" %}
{% block css %}
<link href="/style2/css/plugins/dataTables.bootstrap.css" rel="stylesheet">
<link href="/style2/css/select2.css" rel="stylesheet"/>
{{xsrf()}}
<style>
 #num{
   width:130px;
   height:30px;
   border:1px solid #aaa;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px; 
   transform:translateY(3px);
   -webkit-transform:translateY(3px);
   }
 #btn{
   height:30px;
   line-height:15px;
   background:#528ACB;
   color:#fff;
 }
</style>
{% endblock %}
{% block content %}

<div class="row">
	<nav>
		<div>
			<a class="navbar-brand" href="#">服务商列表</a>
		</div>
		<div class="pull-right">
			<form id="cx" action="" method="get" style="margin-top:10px;">
				<p>
					<label class="num">地区：</label>
					<select name="province_code" id="province_code" onchange="province_change(this.value,0)" data-default="{{default_province}}" style="height:28px;margin-left: -10px;margin-top: 10px;border-radius:4px;" >
						<option value="">--请选择省份--</option>
						{% for area in items %}
						<option value="{{area.code}}" {{area.code==default_province and 'selected' or ''}}>{{area.name}}</option>
						{% endfor %}
					</select>
					<select name="city_code" id="city_code" onchange="city_change(this.value,0)" data-default="{{default_city}}" style="height:28px;margin-left: 10px;margin-top: 10px;border-radius:4px;" >
						<option value="">--请选择城市--</option>
					</select>
					<select name="district_code" id="district_code" data-default="{{default_district}}" style="height:28px;margin-left: 10px;margin-top: 10px;border-radius:4px;">
						<option value="">--请选择区县--</option>
					</select>
					<label class="num">名称：</label>
					<input class="num" id="num" type="text"  name="keyword" placeholder="名称"/>
					<button class="btn" type="submit" value="{{keyword or ''}}" id="btn">查询</button>
				</p>
			</form>
		</div>
	</nav>
</div>
<div class="row">
	<div class="panel panel-primary">

		<div class="table-responsive">
			<table class="table table-hover" id="tb_need_pay_back_orders" style="text-align:center;">
				<thead>
				<tr style="background:#528ACB;color:#fff;">
					<th style="text-align:center;">编号</th>
					<th style="text-align:center;">账号</th>
					<th style="text-align:center;">名称</th>
					<th style="text-align:center;">所在地区</th>
					<th style="text-align:center;">操作</th>
				</tr>
				</thead>
				<tbody>
				{% set sNo=1 %}
				{% for s in stores %}
				<tr>
					<td>{{ sNo }}</td>
					<td>{{ s.mobile }}</td>
					<td>{{ s.name }}</td>
					<td>{{ Area().get_detailed_address(s.area_code)}}</td>
					<td>
						<span>&nbsp;&nbsp;&nbsp;<a href="/admin/facilitatorarea/{{s.id}}">区域配置</a></span>
						<span style="margin-right:15px;">&nbsp;&nbsp;&nbsp;<a href="/admin/facilitatorquery/{{s.id}}">查看商品</a></span>
                        {% if User.get(store=s.id).grade == 3 %}
						<span id="checkA{{s.id}}" onclick="change_status({{s.id}},5)" style="cursor:pointer;">
                        <span style="color: #528acb;border:1px solid #528acb;border-radius:4px;padding:3px;font-size:14px;">开通保险业务</span><br>
                        {% else %}
                        <span id="checkB{{s.id}}" onclick="change_status({{s.id}},3)" style="cursor:pointer;">
                        <span style="color:#ff5231;border:1px solid #528acb;border-radius:4px;padding:3px;font-size:14px;">取消保险业务</span><br>
                        {% endif %}
					</td>
				</tr>
				{% set sNo = sNo+1 %}
				{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-sm-6">
			<div class="dataTables_info" role="alert" aria-live="polite" aria-relevant="all">
				当前：第{{page}}页 / {{totalpage}}页，合计{{total}}条
			</div>
		</div>
		<div class="col-sm-6">
			<div class="dataTables_paginate paging_simple_numbers">
				<ul class="pagination  pagination-sm" id="pageUl" />
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<script src="/style2/js/jquery.twbsPagination.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
        $('#pageUl').twbsPagination({
            first:'首页',
            prev:'上一页',
            next:'下一页',
            last:'尾页',
            totalPages: {{totalpage}},
            startPage: {{page}},
            visiblePages: 8,
            onPageClick: function (event, page) {
                self.location="/admin/facilitatorlist?keyword={{keyword or ''}}&province_code={{default_province or ''}}&city_code={{default_city or ''}}&district_code={{default_district or ''}}&page="+page;
            }
        });
    });

    var xsrf='{{handler.xsrf_token}}';
    function change_status(id,state_type){
        $.post("/ajax/user_update_grade", { _xsrf:xsrf, id: id, state_type:state_type }, function (data) {
            data = jQuery.parseJSON(data);
            if(data.err==0){
                state = data.msg
                if(state == 1){
                    console.debug('--------')
                    $("#checkA"+id).html("<span style=\"color: #aaa;border:1px solid #aaa;border-radius:4px;padding:3px;font-size:14px;\">开通保险业务</span><br>");
                    $("#checkB"+id).html("<span style=\"color: #aaa;border:1px solid #aaa;border-radius:4px;padding:3px;font-size:14px;\">取消保险业务</span><br>");
                } else {
                    alert(data.msg)
                }

            } else{
                alert(data.msg)
            }
        });
    };

    $(function(){
        init_province();
        var r = {{result |default('-1')}};
        if(r == '1') {
            alert('保存成功！');
            //location.reload();
        } else if (r == '0'){
            alert('保存失败！');
        }
    });

    function init_province(){
        var province_code=$("#province_code").attr("data-default");
        var city_code=$("#city_code").attr("data-default");
        var district_code=$("#district_code").attr("data-default");
        if(province_code.length>0){
            province_change(province_code, city_code);
            if(parseInt(city_code)){
                city_change(city_code, district_code)
            }
        }
    }

    function province_change(id, default_id){
        $("#district_code > option").remove();
        $("#district_code").append("<option value=\"0\">--请选择区县--</option>");
        $("#city_code > option").remove();
        $("#city_code").append("<option value=\"0\">--请选择城市--</option>");
        if(id > 0){
            GetSubAreas(id, "city_code", default_id);
        }
    }

    function city_change(id, default_id){
        $("#district_code > option").remove();
        $("#district_code").append("<option value=\"0\">--请选择区县--</option>");
        if(id > 0){
            GetSubAreas(id, "district_code", default_id);
        }
    }

    function GetSubAreas(id,ddl_id, default_id) {
        //    alert(default_id);
        $.get("/ajax/GetSubAreas", { pcode: id,  t: Math.random() }, function (data) {
            data = jQuery.parseJSON(data);
            if(data.flag==1){
                for(var i=0; i< data.data.length; i++){
                    if(default_id.length>0){
                        if(data.data[i]["code"]==default_id){
                            $("#" + ddl_id).append("<option value=\"" + data.data[i]["code"] + "\" selected>" + data.data[i]["name"] + "</option>");
                        } else{
                            $("#" + ddl_id).append("<option value=\"" + data.data[i]["code"] + "\">" + data.data[i]["name"] + "</option>");
                        }
                    } else {
                        $("#" + ddl_id).append("<option value=\"" + data.data[i]["code"] + "\">" + data.data[i]["name"] + "</option>");
                    }
                }
            } else {
                alert(data.msg)
            }
        });
    }



</script>


{% endblock %}