<div class="bottom_content">
	<p>
		服务商地区配置
	</p>
	<form id="cpfb_form" action="" method="post" >
		<div id="InputsWrapper">
			<ul class="region clearfix">
				<li>
					地区：
					<select name="province_code" id="province_code" onchange="province_change(this.value,0)" data-default="{{default_province}}" style="width:150px;height:28px;margin-top:10px;border-radius:4px;" >
						<option value="">--请选择省份--</option>
						{% for area in items %}
						<option value="{{area.code}}" {{area.code==default_province and 'selected' or ''}}>{{area.name}}</option>
						{% endfor %}
					</select>
					<select name="city_code" id="city_code" onchange="city_change(this.value,0)" data-default="{{default_city}}" style="width:150px;height:28px;margin-top: 10px;border-radius:4px;" >
						<option value="">--请选择城市--</option>
					</select>
					<select name="district_code" id="district_code" data-default="{{default_district}}" style="width:150px;height:28px;margin-top: 10px;border-radius:4px;">
						<option value="">--请选择区县--</option>
					</select>
				</li>
			</ul>
		</div>

		<ul class="region clearfix">
			<li class="xzfbdq">
				<a id="AddMoreFileBox" href="#"><img src="/style2/images/jia.png" style="margin-top:-10px;" />新增地区配置</a>
			</li>
		</ul>

		<button class="butx round" name="submit" type="submit" id="btnx">
			保存
		</button>
		<button class="buty round" name="submit" type="reset" id="btny">
			取消
		</button>
	</form>
</div>

<!-- /*********jquery点击链接无刷新添加内容*********/ -->
<script type="text/javascript">
	$(document).ready(function() {
		var Max = 7;
		var InputsWrapper = $("#InputsWrapper");
		var x = InputsWrapper.length;
		var Count = 0;

		$("#AddMoreFileBox").click(function(e) {
			if (x <= Max) {
				var html = '';
				html += '<ul class="region del_region clearfix">';
				html += '<li>地区：';
				html += '<select name="province_code" id="province_code" onchange="province_change(this.value,1)" data-default="{{default_province}}" style="width:150px;height:28px;margin-left: 5px;margin-top: 10px;border-radius:4px;" >';
				html += '<option value="">--请选择省份--</option>';
				html += '{% for area in items %}';
				html += '<option value="{{area.code}}" {{area.code==default_province and 'selected' or ''}}>{{area.name}}</option>';
				html += '{% endfor %}';
				html += '</select>';
				html += '<select name="city_code" id="city_code" onchange="city_change(this.value,1)" data-default="{{default_city}}" style="width:150px;height:28px;margin-left:5px;margin-top:10px;border-radius:4px;" >';
				html += '<option value="">--请选择城市--</option>';
				html += '</select>';
				html += '<select name="district_code" id="district_code" data-default="{{default_district}}" style="width:150px;height:28px;margin-left:5px;margin-top:10px;border-radius:4px;">';
				html += '<option value="">--请选择区县--</option>';
				html += '</select>';
				html += '</li>';
				html += '<a href="#" class="removeclass">删除</a>';
				html += '</ul>';

				$("#InputsWrapper").append(html);
				x++;
			}

			return false;

		});

		//删除方法
		$("body").on("click", ".removeclass", function(e) {
			if (x > 1) {
				$(this).parent('ul').remove();
				x--;
			}
			return false;
		});
	});

	function init_province() {
		var province_code = $("#province_code").attr("data-default");
		var city_code = $("#city_code").attr("data-default");
		var district_code = $("#district_code").attr("data-default");
		if (province_code.length > 0) {
			province_change(province_code, city_code);
			if (parseInt(city_code)) {
				city_change(city_code, district_code)
			}
		}
	}

	function province_change(id, default_id) {
		//    var id = $(obj).val();
		$("#district_code > option").remove();
		$("#district_code").append("<option value=\"0\">--请选择区县--</option>");
		$("#city_code > option").remove();
		$("#city_code").append("<option value=\"0\">--请选择城市--</option>");
		if (id > 0) {
			GetSubAreas(id, "city_code", default_id);
		}
	}

	function city_change(id, default_id) {
		//    var id = $(obj).val();
		$("#district_code > option").remove();
		$("#district_code").append("<option value=\"0\">--请选择区县--</option>");
		if (id > 0) {
			GetSubAreas(id, "district_code", default_id);
		}
	}

	function GetSubAreas(id, ddl_id, default_id) {
		//    alert(default_id);
		$.get("/ajax/GetSubAreas", {
			pcode : id,
			t : Math.random()
		}, function(data) {
			data = jQuery.parseJSON(data);
			if (data.flag == 1) {
				for (var i = 0; i < data.data.length; i++) {
					if (default_id.length > 0) {
						if (data.data[i]["code"] == default_id) {
							$("#" + ddl_id).append("<option value=\"" + data.data[i]["code"] + "\" selected>" + data.data[i]["name"] + "</option>");
						} else {
							$("#" + ddl_id).append("<option value=\"" + data.data[i]["code"] + "\">" + data.data[i]["name"] + "</option>");
						}
					} else {
						$("#" + ddl_id).append("<option value=\"" + data.data[i]["code"] + "\">" + data.data[i]["name"] + "</option>");
					}
				}
			} else {
				alert(data.msg)
			}
		});
	}

</script>