{% extends "layout/admin.html" %}
{% block css %}
<link href="/style2/css/plugins/dataTables.bootstrap.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="row" style="font-family: 'microsoft yahei';">
   <nav>
   <div class="navbar-header" style="float: left">
      <a class="navbar-brand" href="#">任务列表</a>

   <a class="navbar-brand btn btn-primary btn-sm" href="/admin/add_topic/0">发起话题</a></div>
</nav>

<div class="btn-group btn-group-mg" style="padding: 10px 0 0 10px;;">
<a type="button" class="btn btn-mg btn-default {% if status==-1 %} active {% endif %}" href="/admin/topic?status=-1&page=1">全部</a>
<a type="button" class="btn btn-mg btn-default {% if status==0 %} active {% endif %}" href="/admin/topic?status=0&page=1">未完成</a>
<a type="button" class="btn btn-mg btn-default {% if status==1 %} active {% endif %}" href="/admin/topic?status=1&page=1">已完成</a>
</div>
</div>

<div class="row" style="font-family: 'microsoft yahei';">
    <div class="panel panel-primary">
    <div class="panel-body">
        <div class="table-responsive">
        <table class="table table-hover" id="tb_jobber">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>话题标题</th>
                    <th>话题内容</th>
                    <th>创建人</th>
                    <th>创建时间</th>
                    <th>执行人</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                {% for c in topic -%}
                <tr>
                    <td>{{c.id}}</td>
                    <td>{{c.title}}</td>
                    <td>{{c.content}}</td>
                    <td>{{c.created_by.username}}</td>
                    <td>{{c.created | dateformat}}</td>
                    <td>{{c.executor.username}}</td>
                    <td>{% if c.status == 0%}未完成{% elif c.status == 1 %}已完成{% elif c.status == 2 %}已关闭{% endif %}</td>
                    <td>
                        <a class="btn btn-outline btn-primary btn-xs" href="/admin/discuss/{{c.id}}">进入话题</a>
                        <a class="btn btn-outline btn-primary btn-xs" href="/admin/add_topic/{{c.id}}">修改</a>
                        <a class="btn btn-outline btn-primary btn-xs" href="/admin/change_topic/{{c.id}}?status=-1" onclick="return confirm('确定将此记录删除?')">删除</a>
                        {% if c.status == 0%}
                        <a class="btn btn-outline btn-primary btn-xs" href="/admin/change_topic/{{c.id}}?status=1">完成</a>
                        {% else %}
                        <a class="btn btn-outline btn-primary btn-xs" href="/admin/change_topic/{{c.id}}?status=0">打开</a>
                        {% endif %}
                    </td>
                </tr>
                {%- endfor %}
            </thead>

        </table>
            <div>
                <div class="col-sm-4">
                    <div class="dataTables_info" role="alert" aria-live="polite" aria-relevant="all">
                        当前：第{{page}}页 / {{totalpage}}页，合计{{total}}条
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination  pagination-sm" id="pageUl" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script src="/style2/js/jquery.twbsPagination.min.js"></script>
        <script>
    $(document).ready(function() {
        $('#pageUl').twbsPagination({
            first:'首页',
            prev:'上一页',
            next:'下一页',
            last:'尾页',
            totalPages: {{totalpage}},
            startPage: {{page}},
            visiblePages: 8,
            onPageClick: function (event, page) {
                    self.location="/admin/topic?page="+page+"&status={{status}}";
                }
        });
    });
    </script>
{% endblock %}