<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SK润滑油保养工具</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">

</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header class="bar bar-nav" style="background:#fff;">
            <a class="icon icon-left pull-left" href="/webapp" "></a>
            <h1 class="title">{{brand.brand_name}}</h1>
        </header>
        <div class="content">
            <div class="list-block" style="margin-top: 0px;">
                <div class="list-group">
                    <ul>
                        {% for car in cars %}
                        {% if car.car == 0 %}
                        <li class="list-group-title" style="color:#787878;">{{car.name}}</li>
                        {% elif car.car == 1 %}
                        <li onclick="openDetail({{car.id}})">
                            <div class="item-content">
                                <div class="item-media"><img src="{{car.logo}}" height="40px" alt=""></div>
                                <div class="item-inner">
                                    <div class="item-title"  style="color:#787878;">{{car.name}}
                                        {% if car.saleoff == 1 %}
                                        <span style="color:#c1c1c1;"> (停产)</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-right panel-cover" id='car_detail' style="width:14rem; background: white; border-left: 1px #000 solid;">

        <div style="background: #fff; padding:5px 10px; margin:0; "><span class="close-panel" style="color:#0894ec;">关闭</span></div>
        <div style="background: #fff; margin:0; padding: 5px 0px; color:black;">
            <div class="list-block" style="margin:0;">
            <div class="item-content">
                <div class="item-media">
                    <img src="" height="40px" alt="" id="selImg"></div>
                <div class="item-inner">
                    <div class="item-title" id="carName" style="font-size:18px; color:black;"></div>
                </div>
            </div>
                </div>
        </div>
        <div class="content-block" style="padding: 0 0 0 1px; margin: 0;">

            <div class="list-block" style="margin-top: 0px;">
                <div class="list-group">
                    <ul id="car_list_detail">
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script>

        function openDetail(carid) {
            $.showIndicator();
            $.get("/webapp/car_item_list/" + carid, function (data) {
                var result = JSON.parse(data);
                if (result.flag == 1) {
                    var name = result.data.name;
                    if(result.data.saleoff == 1) {
                        name += '<span style="color:#787878;">(停产)</span>'
                    }
                    $('#carName').html(name);
                    $('#selImg').attr('src', result.data.logo);
                    var ul = $('#car_list_detail');
                    ul.html('');
                    for (var i = 0; i < result.data.detail_list.length; i++) {
                        ul.append('<li class="list-group-title" style="color:#787878;">' + result.data.detail_list[i].name + '</li>');
                        for (var j = 0; j < result.data.detail_list[i].items.length; j++) {
                            var carItemText = result.data.detail_list[i].items[j].name;
                            if(result.data.detail_list[i].items[j].saleoff == 1) {
                                carItemText += '<span style="color:#787878;">(停产)</span>';
                            }
                            var html = '<li onclick="searchDetail('+result.data.detail_list[i].items[j].id+
                                    ')"> <div class="item-content"> ' +
                                    '<div class="item-inner" style="font-size:12px;"> ' +
                                    '<div class="item-title">' + carItemText + '</div> </div> </div> </li>';
                            ul.append(html);
                        }
                    }
                    $.openPanel("#car_detail");
                    $.hideIndicator();
                }
            });
        }

        function searchDetail(id) {
            $.router.load('/webapp/detail/'+id);
        }
    </script>
</body>
</html>