<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SK润滑油保养工具</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">

</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header class="bar bar-nav">
            <a class="icon icon-left pull-left back"></a>
            <h1 class="title">SK润滑油保养工具</h1>
        </header>
        <div class="content">
            <div class="list-block" style="margin: 0;">
                <ul>
                    <li class="item-content">
                        <div class="item-media"><img src="{{car.car.logo}}" height="40px" alt=""></div>
                        <div class="item-inner">
                            <div class="item-title">{{car.car.car_name}}</div>
                            <div class="item-after"></div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">{{car.car_item_name}}</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">变速箱</div>
                            <div class="item-after">{{car.gearbox}}</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="buttons-tab fixed-tab" data-offset="44" style="top: 0px;">
                <a href="#tab1" class="tab-link button active">发动机油</a>
                <a href="#tab2" class="tab-link button">变速箱油</a>
                <a href="#tab3" class="tab-link button">刹车油</a>
                <a href="#tab4" class="tab-link button">防冻液</a>
            </div>
            <div class="tabs">
                <div id="tab1" class="tab active">
                    <div class="content-block" style="padding: 0; margin: 0;">
                        <div class="tabs">
                            {% if car.car_sk_engine_1 %}
                            <div style="height: 40px; background: #dedede; line-height:40px; text-align: center;">
                                <span class="icon icon-star"></span>
                                <span style="vertical-align: middle;">推荐</span>
                                <span class="icon icon-star"></span>
                            </div>
                            <div class="list-block media-list" style="margin: 0">
                                <ul>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-media"><img
                                                    src="{{car.car_sk_engine_1.logo}}"
                                                    width="60"></div>
                                            <div class="item-inner">
                                                <div class="item-title-row" style="margin-top: 0.4rem;">
                                                    <div class="item-title">
                                                        <span style="color:#ef8922; font-size:18px;">{{car.car_sk_engine_1.name}}</span>
                                                    </div>
                                                </div>
                                                <div class="item-subtitle">产品等级：SN/CF</div>
                                                <div class="item-text">包装：{{car.car_sk_engine_1.intro}}</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            {% endif %}
                            {% if car.car_sk_engine_2 %}
                            <div style="height: 40px; background: #dedede; line-height:40px; text-align: center;">
                                <span class="icon icon-star"></span>
                                <span class="icon icon-star"></span>
                                <span style="vertical-align: middle;">推荐</span>
                                <span class="icon icon-star"></span>
                                <span class="icon icon-star"></span>
                            </div>
                            <div class="list-block media-list" style="margin: 0">
                                <ul>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-media"><img
                                                    src="{{car.car_sk_engine_2.logo}}"
                                                    width="60"></div>
                                            <div class="item-inner">
                                                <div class="item-title-row" style="margin-top: 0.5rem;">
                                                    <div class="item-title">
                                                        <span style="color:#ef8922; font-size:18px;">{{car.car_sk_engine_2.name}}</span>
                                                    </div>
                                                </div>
                                                <div class="item-subtitle">产品等级：SN/CF</div>
                                                <div class="item-text">包装：{{car.car_sk_engine_2.intro}}</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div id="tab2" class="tab">
                    <div class="content-block" style="padding: 0; margin: 0;">
                        <div class="tabs">
                            {% if car.car_sk_gearbox_1 %}
                            <div style="height: 40px; background: #ffffff; line-height:40px; text-align: center;">基本
                            </div>
                            <div class="list-block media-list" style="margin: 0">
                                <ul>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-media"><img
                                                    src="{{car.car_sk_gearbox_1.logo}}"
                                                    width="60"></div>
                                            <div class="item-inner">
                                                <div class="item-title-row" style="margin-top: 0.5rem;">
                                                    <div class="item-title">
                                                        <span style="color:#ef8922; font-size:18px;">{{car.car_sk_gearbox_1.name}}</span>
                                                    </div>
                                                </div>
                                                <div class="item-subtitle">包装：{{car.car_sk_gearbox_1.intro}}</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            {% endif %}
                            {% if car.car_sk_gearbox_2 %}
                            <div style="height: 40px; background: #ffffff; line-height:40px; text-align: center;">推荐
                            </div>
                            <div class="list-block media-list" style="margin: 0">
                                <ul>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-media"><img
                                                    src="{{car.car_sk_gearbox_2.logo}}"
                                                    width="60"></div>
                                            <div class="item-inner">
                                                <div class="item-title-row" style="margin-top: 0.5rem;">
                                                    <div class="item-title">
                                                        <span style="color:#ef8922; font-size:18px;">{{car.car_sk_gearbox_2.name}}</span>
                                                    </div>
                                                </div>
                                                <div class="item-subtitle">包装：{{car.car_sk_gearbox_2.intro}}</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div id="tab3" class="tab">
                    <div class="content-block" style="padding: 0; margin: 0;">
                        <div class="tabs">

                            {% if car.brake_oil %}
                            <div style="height: 40px; background: #ffffff; line-height:40px; text-align: center;">推荐
                            </div>
                            <div class="list-block media-list" style="margin: 0">
                                <ul>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-media"><img
                                                    src="{{car.car_sk_gearbox_2.logo}}"
                                                    width="60"></div>
                                            <div class="item-inner">
                                                <div class="item-title-row" style="margin-top: 0.5rem;">
                                                    <div class="item-title">
                                                        <span style="color:#ef8922; font-size:18px;">{{car.brake_oil.name}}</span>
                                                    </div>
                                                </div>
                                                <div class="item-subtitle">包装：{{car.brake_oil.intro}}</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div id="tab4" class="tab">
                    <div class="content-block" style="padding: 0; margin: 0;">
                        <div class="tabs">

                            {% if car.antifreeze_solution %}
                            <div style="height: 40px; background: #ffffff; line-height:40px; text-align: center;">推荐
                            </div>
                            <div class="list-block media-list" style="margin: 0">
                                <ul>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-media"><img
                                                    src="{{car.car_sk_gearbox_2.logo}}"
                                                    width="60"></div>
                                            <div class="item-inner">
                                                <div class="item-title-row" style="margin-top: 0.5rem;">
                                                    <div class="item-title">
                                                        <span style="color:#ef8922; font-size:18px;">{{car.antifreeze_solution.name}}</span>
                                                    </div>
                                                </div>
                                                <div class="item-subtitle">包装：{{car.antifreeze_solution.intro}}</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script>

</script>
</body>
</html>