<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SK润滑油保养工具</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/style/images/logo.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="/style/css/webapp.css" rel="stylesheet">
</head>
<body>
<header class="fixed">
    <div class="header">
        SK润滑油保养工具
    </div>
</header>
<div id="letter"></div>

<div class="sort_box">
    {% for brand in brands %}
        <div class="sort_letter" id="{{brand['char']}}">{{brand['char']}}</div>
        {% for item in brand['items'] %}
            <div class="sort_list" onclick='location.href="/webapp/car/{{item.id}}"'>
                <div class="num_logo">
                    <img src="{{item.logo}}" alt="">
                </div>
                <div class="num_name">{{item.brand_name}}</div>
            </div>
        {% endfor %}
    {% endfor %}


</div>
<div class="initials">
    <ul>
        {{chars}}
    </ul>
</div>
<script src="/style/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        var Initials = $('.initials');
        var LetterBox = $('#letter');

        $(".initials ul li").click(function () {
            var _this = $(this);
            var LetterHtml = _this.html();
            LetterBox.html(LetterHtml).fadeIn();

            setTimeout(function () {
                LetterBox.fadeOut();
            }, 1000);

            var _index = _this.index()
            if (_index == 0) {
                $('html,body').animate({scrollTop: '0px'}, 300);//点击第一个滚到顶部
            } else if (_index == 27) {
                var DefaultTop = $('#default').position().top;
                $('html,body').animate({scrollTop: DefaultTop + 'px'}, 300);//点击最后一个滚到#号
            } else {
                var letter = _this.text();
                if ($('#' + letter).length > 0) {
                    var LetterTop = $('#' + letter).position().top;
                    $('html,body').animate({scrollTop: LetterTop - 45 + 'px'}, 300);
                }
            }
        });

        var windowHeight = $(window).height();
        var InitHeight = windowHeight - 45;
        Initials.height(InitHeight);
        var LiHeight = InitHeight / 23;
        Initials.find('li').height(LiHeight);
    })
</script>
</body>
</html>