<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SK润滑油保养工具</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/style/images/logo.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="/style/css/webapp.css" rel="stylesheet">

</head>
<body>
<header class="fixed">
    <div class="header">
        SK润滑油保养工具
    </div>
</header>

<div id="letter"></div>
<div class="sort_box">

    <div class="sort_letter" id="A">A</div>
    <div class="sort_list" onclick="location.href='/webapp/car/2'">
        <div class="num_logo">
            <img src="/style/images/logo.png" alt="">
        </div>
        <div class="num_name">a九</div>
    </div>
    <div class="sort_letter" id="C">C</div>
    <div class="sort_list">
        <div class="num_logo">
            <img src="/style/images/logo.png" alt="">
        </div>
        <div class="num_name">陈十</div>
    </div>
    <div class="sort_letter" id="H">H</div>
    <div class="sort_list" onclick="location.href='/webapp/car/2'">
        <div class="num_logo">
            <img src="/style/images/logo.png" alt="">
        </div>
        <div class="num_name">黄八</div>
    </div>
    <div class="sort_letter" id="L">L</div>
    <div class="sort_list" >
        <div class="num_logo">
            <img src="/style/images/logo.png" alt="">
        </div>
        <div class="num_name">刘六</div>
    </div>
    <div class="sort_list">
        <div class="num_logo">
            <img src="/style/images/logo.png" alt="">
        </div>
        <div class="num_name">李四</div>
    </div>
    <div class="sort_letter" id="M">M</div>
    <div class="sort_list">
        <div class="num_logo">
            <img src="/style/images/logo.png" alt="">
        </div>
        <div class="num_name">莫九</div>
    </div>
    <div class="sort_list">
        <div class="num_logo">
            <img src="/style/images/logo.png" alt="">
        </div>
        <div class="num_name">马七</div>
    </div>
    <div class="sort_letter" id="W">W</div>
    <div class="sort_list">
        <div class="num_logo">
            <img src="/style/images/logo.png" alt="">
        </div>
        <div class="num_name">王五</div>
    </div>
    <div class="sort_letter" id="Z">Z</div>
    <div class="sort_list">
        <div class="num_logo">
            <img src="/style/images/logo.png" alt="">
        </div>
        <div class="num_name">张三</div>
    </div>
    <div class="sort_letter" id="default">#</div>
    <div class="sort_list">
        <div class="num_logo">
            <img src="/style/images/logo.png" alt="">
        </div>
        <div class="num_name">1十</div>
    </div>
</div>
<div class="initials">
    <ul>
    </ul>
</div>

<script src="/style/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        var Initials = $('.initials');
        var LetterBox = $('#letter');
        Initials.find('ul').append('<li>#</li><li>A</li><li>B</li><li>C</li><li>D</li><li>E</li><li>F</li><li>G</li><li>H</li><li>I</li><li>J</li><li>K</li><li>L</li><li>M</li><li>N</li><li>O</li><li>P</li><li>Q</li><li>R</li><li>S</li><li>T</li><li>U</li><li>V</li><li>W</li><li>X</li><li>Y</li><li>Z</li>');


        $(".initials ul li").click(function () {
            var _this = $(this);
            var LetterHtml = _this.html();
            LetterBox.html(LetterHtml).fadeIn();

            setTimeout(function () {
                LetterBox.fadeOut();
            }, 1000);

            var _index = _this.index()
            if (_index == 0) {
                $('html,body').animate({scrollTop: '0px'}, 300);//点击第一个滚到顶部
            } else if (_index == 27) {
                var DefaultTop = $('#default').position().top;
                $('html,body').animate({scrollTop: DefaultTop + 'px'}, 300);//点击最后一个滚到#号
            } else {
                var letter = _this.text();
                if ($('#' + letter).length > 0) {
                    var LetterTop = $('#' + letter).position().top;
                    $('html,body').animate({scrollTop: LetterTop - 45 + 'px'}, 300);
                }
            }
        });

        var windowHeight = $(window).height();
        var InitHeight = windowHeight - 45;
        Initials.height(InitHeight);
        var LiHeight = InitHeight / 23;
        Initials.find('li').height(LiHeight);
    })
</script>
</body>
</html>