{% extends "layout/admin.html" %}
{% block content %}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="/admin/orders?status=1">返回订单管理</a></li>
        <li class="active">
            {{ o.ordernum }}
        </li>
    </ol>
</div>
<div style="color: red; font-size: 0.6em; margin-bottom: 25px;">
    {%set messages=handler.get_flashed_messages() %}
    {%-if messages-%}
        <div>
            {% for type, msg in messages%}
                {{msg}}
            {% endfor %}
        </div>
    {%-endif-%}
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">订单基本信息</h3>
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <td>订单号：</td>
                            <th>{{o.ordernum}}</th>
                        </tr>
                        <tr>
                            <td>订单状态：</td>
                            <th>
                                {% if o.status==0 and (o.payment==1 or o.payment==3) %}
                                    待付款
                                  {% elif o.status==1 or (o.status==0 and o.payment==0) %}
                                    待处理
                                  {% elif o.status==2 %}
                                    正在处理
                                  {% elif o.status==3 %}
                                    已发货
                                  {% elif o.status==4 %}
                                    已完成
                                  {% elif o.status==5 %}
                                    已取消
                                  {% endif %}
                            </th>
                        </tr>
                        <tr>
                            <td>下单时间：</td>
                            <th>{{o.ordered|datetimeformat}}</th>
                        </tr>
                        <tr>
                            <td>下单方式：</td>
                            <th>
                                {% if o.pay_from==1  %}
                                    网站下单
                                {% elif o.pay_from==2 %}
                                    手机下单
                                {% endif %}
                            </th>
                        </tr>
                        <tr>
                            <td>订单留言：</td>
                            <th>
                                {{o.message}}
                            </th>
                        </tr>
                        <tr>
                            <td>送货方式：</td>
                            <th>
                                {% if o.distribution==1 %}
                                    物流公司送货
                              {% elif o.distribution==2 %}
                                    内部派送
                              {% elif o.distribution==3 %}
                                    用户自提
                              {%endif%}
                            </th>
                        </tr>
                        <tr>
                            <td>是否评价：</td>
                            <th>
                                {% if o.hascomment==0 %}
                                    未评价
                              {% elif o.hascomment==2 %}
                                    已评价
                              {%endif%}
                            </th>
                        </tr>
                        <tr>
                            <td>优惠劵信息：</td>
                            <th>
                                {% if o.coupon %}
                                    未使用优惠劵
                              {% else %}
                                    {{o.coupon.name}}  {{o.coupon.price}}
                              {%endif%}
                            </th>
                        </tr>
                        {% if o.status==5 %}
                        <tr>
                            <td>取消订单原因：</td>
                            <th>{{o.cancelreason}}</th>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>发票信息：</td>
                            <th><span style="color: red;">{{o.invoicename|null}}</span></th>
                        </tr>
                        <tr>
                            <td>最后编辑人：</td>
                            <th>
                                {{o.lasteditedby|null}}
                            </th>
                        </tr>
                        <tr>
                            <td>最后编辑时间：</td>
                            <th>{{o.lasteditedtime|datetimeformat}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">用户信息</h3>
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <td>用户账户：</td>
                            <th><a target="_blank" href="/admin/user/{{o.user.id}}">{{o.user.username}}</a></th>
                        </tr>
                         <tr>
                            <td>用户电话：</td>
                            <th>{{o.user.mobile}}</th>
                        </tr>
                         <tr>
                            <td>用户Email：</td>
                            <th>{{o.user.email}}</th>
                        </tr>

                        <tr>
                            <td>用户IP：</td>
                            <th>{{o.ip}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">配送信息</h3>
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <td>配送公司：</td>
                            <th>{% if o.delivery %} {{o.delivery.name}} {% else %} 未设置物流公司 {% endif %}</th>
                        </tr>
                        <tr>
                            <td>收货人：</td>
                            <th>{{o.take_name}}</th>
                        </tr>
                        <tr>
                            <td>收货地址：</td>
                            <th>{{o.take_address}}</th>
                        </tr>
                        <tr>
                            <td>联系电话：</td>
                            <th>{{o.take_tel}}</th>
                        </tr>
                        <tr>
                            <td></td>
                            <th><a id="showWL" class="btn btn-default" >物流信息</a>
                           <div class="showInfo" style="display: none;border: 1px solid #519500; background: #ffffff; padding:10px;font-size:12px; position:absolute;height:400px; width:300px; z-index:999;"></div>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <h3 class="panel-title">价格信息</h3>
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <td>支付方式：</td>
                            <th>
                                {% if o.payment==0 %}
                                    货到付款
                              {% elif o.payment==1 %}
                                    支付宝
                              {% elif o.payment==2 %}
                                    账户余额
                                {% elif o.payment==3 %}
                                    网银支付
                              {%endif%}
                            </th>
                        </tr>
                        <tr>
                            <td>订单原价：</td>
                            <th><del> ￥{{o.price}} </del></th>
                        </tr>
                        <tr>
                            <td>优惠后价格：</td>
                            <th>￥{{o.currentprice}}</th>
                        </tr>
                        <tr>
                            <td>配送费用：</td>
                            <th>￥{{o.shippingprice }}</th>
                        </tr>
                        <tr>
                            <td>使用部分余额：</td>
                            <th>￥{{o.pay_balance if o.pay_balance else 0.0 }}</th>
                        </tr>
                        <tr>
                            <td>订单总价：</td>
                            <th><h3>￥{{o.shippingprice + o.currentprice }}</h3></th>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">操作</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" action="/admin/order/{{o.id}}" method="post">
                    {{xsrf()}}
                    <div class="form-group">
                      <label class="col-sm-3 control-label">
                         标签：
                      </label>
                      <div class="col-sm-9">
                         <label class="radio-inline">
                             <input type="radio" name="order_flag"  value="1" {% if o.flag==1 %} checked  {% endif %}>
                             <i style="color: red;" class="fa fa-flag fa-fw"></i>
                         </label>
                          <label class="radio-inline">
                             <input type="radio" name="order_flag" value="2" {% if o.flag==2 %} checked  {% endif %}>
                              <i style="color: blue;" class="fa fa-flag fa-fw"></i>
                         </label>
                          <label class="radio-inline">
                             <input type="radio" name="order_flag"  value="3" {% if o.flag==3 %} checked  {% endif %}>
                              <i style="color: #149904;" class="fa fa-flag fa-fw"></i>
                         </label>
                          <label class="radio-inline">
                             <input type="radio" name="order_flag" value="4" {% if o.flag==4 %} checked  {% endif %}>
                              <i style="color: #751b4c;" class="fa fa-flag fa-fw"></i>
                         </label>
                          <label class="radio-inline">
                             <input type="radio" name="order_flag" value="5" {% if o.flag==5 %} checked  {% endif %}>
                              <i style="color: #eea236;" class="fa fa-flag fa-fw"></i>
                         </label>
                          <label class="radio-inline">
                             <input type="radio" name="order_flag"  value="6" {% if o.flag==6 %} checked  {% endif %}>
                              <i style="color: #b4c5bf;" class="fa fa-flag fa-fw"></i>
                         </label>
                      </div>
                   </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">注释：</label>
                       <div class="col-sm-9">
                          <input class="form-control" name="psummary" type="text"
                             value="{{o.summary|null}}" placeholder="填写注释..." >
                       </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">物流单号：</label>
                       <div class="col-sm-9">
                          <input class="form-control" id="wlNum" name="deliverynum" type="text"
                             value="{{o.deliverynum|null}}" placeholder="填写物流单号..." >
                       </div>
                    </div>
                    <hr>
                     <button type="submit" class="btn btn-success btn-block" >保存</button>
                </form>


            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">退款</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" action="/admin/order/payback/{{o.id}}" method="post">
                    {{xsrf()}}

                    <div class="form-group">
                        <label class="col-sm-3 control-label">退款原因：</label>
                       <div class="col-sm-9">
                          <input class="form-control" id="backreason" name="backreason" type="text"
                              placeholder="填写退款原因..." >
                       </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">退款金额：</label>
                       <div class="col-sm-9">
                          <input class="form-control" id="backprice" name="backprice" type="text"
                             placeholder="填写退款金额..." value="{{o.currentprice}}" >
                       </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">退款类型：</label>
                       <div class="col-sm-9">
                         <label class="radio-inline">
                             <input type="radio" name="payback_type"  value="1" >
                             <span>退回用户易凡网账户</span>
                         </label>
                          <label class="radio-inline">
                             <input type="radio" name="payback_type" value="2" checked >
                              <span>原路退回</span>
                         </label>
                      </div>
                    </div>
                    <hr>
                     <button type="submit" class="btn btn-success btn-block" onclick="javascript:return checkinput();" >确认退款</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">产品清单</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover" id="tb_users">
                    <thead>
                        <tr>
                            <th>产品图片</th>
                            <th>基本信息</th>
                            <th>产品价格</th>
                            <th>购买数量</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in o.items -%}
                        <tr>
                            <td>
                                <img src="/upload/{{item.product.sku}}/{{item.product.cover}}" width="80" height="80" />
                          </td>
                        <td>
                            <h4>{{item.product.name}}<small> (SKU：P{{item.product.id}})</small></h4>
                            <p>
                                {{item.product_standard_name or item.product_standard.name}}
                            </p>
                        </td>
                        <td>
                            <h3>{{item.price}}元</h3>
                        </td>
                        <td>
                            <h3>{{item.quantity}}份</h3>
                        </td>
                    </tr>
                    {%- endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
                <h3 class="panel-title">退款历史</h3>
            </div>

    <div class="panel-body">
        <div class="table-responsive">
        <table class="table table-hover" id="tb_need_pay_back_orders">
            <thead>
                <tr>
                    <th>用户支付账户</th>
                    <th>用户交易流水号</th>
                    <th>需退款金额</th>
                    <th>退款发起人</th>
                    <th>退款原因</th>
                </tr>
            </thead>
            <tbody>
            {% for p in o.paybacks -%}
            {% if p.status==0 %}
                <tr style="background-color: #e4b9b9;" >
            {% else %}
                <tr>
            {%endif%}
              <td>
                  {{p.pay_account}}
                  {% if p.status==0 %}
                        <span style="color: red;">[等待退款]</span>
                      {%endif%}
              </td>
                <td>{{p.trade_no}}</td>
                <td>{{p.price}}</td>
              <td>
                  {% if p.back_by==1 %}
                        管理员退款
                  {% elif p.back_by==2 %}
                        用户退款
                  {%endif%}
              </td>
              <td>
                  {{p.reason}}
              </td>
            </tr>
			{%- endfor %}
            </tbody>
        </table>
        </div>
    </div>
    </div>
</div>
<iframe id="theone" src="" width="600" height="700" style="display: none;"></iframe>
{% endblock %}
{% block js %}
    <script>
        function checkinput(){
            var msg = '';
            if($('#backprice').val().length == 0){
                msg = '请输入退款金额';
            }
            if ($('#backreason').val().length == 0){
                msg = '请输入退款原因';
            }

            var payback_type=$('input:radio[name="payback_type"]:checked').val();
            if (payback_type == null){
                msg = '请选择退款方式'
            }
            if (msg.length > 0){
                alert(msg);
                return false;
            }
            else{
                var account = '原路返回';
                if(payback_type=='1')
                {
                    account = '用户易凡网账户';
                }
                else if(payback_type=='2')
                {
                    account = '原路返回';
                }
                return confirm("确要将"+$('#backprice').val()+'元退款至'+account+'吗?');
            }
        }
        $(function() {
            $('#showWL').hover(function () {
                var h = '';
                var wlNum = $("#wlNum").val();
                $.get('/ajax/getwlinfo', {deliverynum: wlNum}, function (data) {
                    data = eval(data);
                    data = jQuery.parseJSON(data);
                    if(data.status != '400') {
                        var wlInfo = data.data;
                        for (i = 0; i < wlInfo.length; i++) {
                            if (i == 0) {
                                h += '<li style="line-height: 30px; color:#1B730C; background: #E7E7E7; ">' + wlInfo[i].context + '<br />' + wlInfo[i].time + '</li>';
                            } else {
                                h += '<li style="line-height: 30px;">' + wlInfo[i].context + '<br />' + wlInfo[i].time + '</li>';
                            }
                        }
                    }else{
                        h += '<li style="line-height: 30px; color: #cc0000; background: #E7E7E7; ">参数错误：请检查物流单号是否正确。</li>';
                    }
                    h = '宅急送 运单号：' + wlNum + '<hr style="margin: 5px;">' + h + '';
                    $(".showInfo").html(h);
                    $(".showInfo").show();
                });
            }, function () {
                $(".showInfo").hide();
            });

            var xsrf='{{handler.xsrf_token}}';
            ids = [{{o.id}}];
            $('#payback').click(function () {
                $.post("/ajax/return_pay",
                  {
                    ids:JSON.stringify(ids),
                    _xsrf : xsrf
                  },
                  function(data){
                      var obj = jQuery.parseJSON(data);
                      if(obj.err==0) {
                          window.open(obj.msg);
                      }
                      else{
                          alert('操作失败：'+obj.msg);
                      }
                  });
            });
        });
    </script>
{% endblock %}