{% extends "layout/admin.html" %}
{% block css %}
<style>
    .buy_number_input, .add_cart.buyer_button .unsellable, .track_click, .ilikewrap {
        background: url(/style2/images/mall_product_v4.png) no-repeat;
    }
    .buy_number_input {
        height: 28px;
        background-position: -198px 0;
        float: left;
        width: 105px;
        display: inline;
        margin-left: 5px;
    }
    .buy_number_input span {
        display: inline;
        float: left;
        height: 28px;
        width: 28px;
        cursor: pointer;
    }
    .buy_number_input input {
        float: left;
        display: inline;
        width: 49px;
        height: 28px;
        text-align: center;
        line-height: 28px;
        border: 0 none;
        overflow: hidden;
        background: transparent;
        margin-top: 1px;
        font-size: 14px;
        color: #080808;
    }
    .btn-group .btn input[type=checkbox] {
        position: absolute;
        clip: rect(0,0,0,0);
        pointer-events: none;
    }
    .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
        color: #fff;
        background-color: #c9302c;
        border-color: #ac2925;
    }
    .btn-primary:focus/*.btn-primary:hover, */{
        color: #fff;
        background-color: #3071a9;
        border-color: #285e8e;
    }
    .panel-footer {
        padding: 8px 0px;
    }
    #share{position:fixed;_position:absolute;_top:
    expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight)-34+"px");
        bottom:34px;left:96%;width:30px;zoom:1.5; z-index: 999;}
#share a{
	background-image:url(/style2/images/share.png);background-repeat:no-repeat;display:block;width:30px;height:30px;margin-bottom:2px;overflow:hidden;text-indent:-999px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#share .sina{background-position:0 0;position:absolute;bottom:32px;}
#share a.sina:hover{background-position:-30px 0;}
#share .tencent{background-position:0 -30px;position:absolute;bottom:0;}
#share a.tencent:hover{background-position:-30px -30px;}
#share a#totop{background-position:0 -120px;position:absolute;bottom:64px;cursor:pointer;}
#share a#totop:hover{background-position:-30px -120px;}


</style>
{% endblock %}
{% block content %}
<div style="color: red; font-size: 0.6em;">
    {%set messages=handler.get_flashed_messages() %}
    {%-if messages-%}
    <div>
        {% for type, msg in messages%}
        <h3 style="line-height: 35px;">{{msg}}</h3>
        {% endfor %}
    </div>
    {%-endif-%}
</div>
<form class="form-horizontal" id="form" method="post" action="">
    {{xsrf()}}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">用户信息
                        <input type="button" value="保存" id="saveOrder" class="btn btn-danger">
                    </h3>
                </div>
                <div class="panel-body">
                    <div style="float: left;">
                        <div style="float: left;">手机号码：</div>
                        <div class="input-group" style="float: left;"><input type="text" value="" class="form-control" id="user_name" name="user_name" style="width:200px;" />
                            <input type="button" value="检测" id="checkUser" class="btn btn-outline btn-default" />
                            <span class="msg" style="color: #cc0000;"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <span>新用户默认密码：123456</span>
                            <input type="hidden" value="" id="user_id" name="user_id">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">订单基本信息</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td>收货人：</td>
                            <td><input type="text" value="" class="form-control" id="take_name" name="take_name">
                            </td>
                        </tr>
                        <tr>
                            <td>收货地址：</td>
                            <td>
                                <select name="ddlProvince" id="ddlProvince" style="height:22px;">
                                </select>
                                <select name="ddlCity" id="ddlCity" style="height:22px;"><!-- disabled="true" -->
                                </select>
                                <select name="ddlCounty" id="ddlCounty" style="height:22px;">
                                </select>
                                <select name="ddlStreet" id="ddlStreet" style="height:22px;">
                                </select>
                                <input type="text" value="" class="form-control" id="take_address" name="take_address" placeholder="详细地址">
                                <input type="hidden" value="" name="hidAddressID" id="hidAddressID"></td>
                        </tr>
                        <tr>
                            <td>联系电话：</td>
                            <td><input type="text" value="" class="form-control" id="take_tel" name="take_tel"></td>
                        </tr>
                        <tr>
                            <td>订单留言：</td>
                            <td>
                                <input type="text" value="" class="form-control" name="message">
                            </td>
                        </tr>
                        <!--<tr>
                            <td>配送费用：</td>
                            <th>￥</th>
                        </tr>-->
                        <tr>
                            <td>送货时间：</td>
                            <td>
                                <input id="delivery_day_weekday" name="distributiontime" type="radio" value="仅工作日送货">
                                <label class="delivery_checked" for="delivery_day_weekday">仅工作日送货</label>
                                <input id="delivery_day_weekend" name="distributiontime" type="radio" value="仅周末送货">
                                <label class="delivery_checked" for="delivery_day_weekend">仅周末送货</label>
                                <input id="delivery_day_" name="distributiontime" type="radio" checked value="工作日/周末/假日均可">
                                <label class="delivery_checked" for="delivery_day_">工作日/周末/假日均可</label>
                            </td>
                        </tr>
                        <tr>
                            <td>订单总价：</td>
                            <th>￥<span id="order_price" name="order_price">0</span></th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">产品清单　
                        <!--<input type="button" id="addItem" value="增加" class="btn btn-outline btn-default btn-xs">-->
                        <a type="button" id="btnFruit" class="btn btn-outline btn-default btn-xs">水果</a>
                        <a type="button" id="btnVegetables" class="btn btn-outline btn-default btn-xs">蔬菜</a>
                    </h3>
                </div>
                <div class="panel-body btn-group" style="width:100%;" data-toggle="buttons">

                    <table class="table table-hover" id="tb_users">
                        <thead>
                        <tr style="width:100%;">
                            <th>产品图片</th>
                            <th>基本信息</th>
                            <th>商品现价</th>
                            <th>商品数量</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--<tr id="trs">
                            <td>
                                <img class="product_img" src="/upload/product.sku/product.cover" width="80" height="80" />
                            </td>
                            <td>
                                <h3><select class="form-control combobox" name="product">
                                    <option value="">--请选择--</option>
                                    {% for c in products %}
                                    <option value="{{c.product.id}}">{{c.product.sku}} - {{c.product.name}}</option>
                                    {% endfor %}
                                </select></h3>
                            </td>
                            <td>
                                <h3><span class="unitPrice">0</span>元</h3>
                            </td>
                            <td>
                                <h3><input type="text" value="0" class="form-control quantity" style="width:45px;" data-id="0" data-price="0" name="quantity"></h3>
                            </td>
                        </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-success" id="fruit">
                <div class="panel-heading">
                    <h3 class="panel-title">水果　</h3>
                </div>
                <div class="panel-body btn-group"  data-toggle="buttons">
            {% for c in products1 %}
            <div class="col-lg-2 .col-xs-4">
                <div class="panel panel-primary" style="text-align: center;">
                    <label class="btn btn-primary item_product">
                        <input type="checkbox" class="chk" autocomplete="off">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="text-left"  style="min-width:162px;">
                                    <input type="hidden" class="product-id" value="{{c.product.id}}">
                                    <input type="hidden" class="product-img" value="{{c.product.cover}}">
                                    <input type="hidden" class="product-sku" value="{{c.product.sku}}">
                                    <h4 class="product-name">{{c.product.name}}</h4>
                                    <div>金额：￥<span class="product-price">{{c.price}}</span></div>
                                    <div>规格：{{(c.name)}} </div>
                                </div>
                            </div>
                        </div>
                    </label>
                        <div class="panel-footer">

                            <div class="btn-group btn-group-xs">
                                <div class="buy_number_input">
                                    <span id="decrease_num" title="减少"></span>
                                    <input class="product-number" id="buy_number" readonly value="1" maxlength="2" />
                                    <span id="increase_num" title="增加"></span>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            {% endfor %}
                </div>
            </div>
            <div class="panel panel-warning" id="vegetables">
                <div class="panel-heading">
                    <h3 class="panel-title">蔬菜　</h3>
                </div>
                <div class="panel-body btn-group"  data-toggle="buttons">
            {% for c in products2 %}
            <div class="col-lg-2 .col-xs-4">
                <div class="panel panel-primary" style="text-align: center;">
                    <label class="btn btn-primary item_product">
                        <input type="checkbox" class="chk" autocomplete="off">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="text-left"  style="min-width:162px;">
                                    <input type="hidden" class="product-id" value="{{c.product.id}}">
                                    <input type="hidden" class="product-img" value="{{c.product.cover}}">
                                    <input type="hidden" class="product-sku" value="{{c.product.sku}}">
                                    <h4 class="product-name">{{c.product.name}}</h4>
                                    <div>金额：￥<span class="product-price">{{c.price}}</span></div>
                                    <div>规格：{{(c.name)}} </div>
                                </div>
                            </div>
                        </div>
                    </label>
                        <div class="panel-footer">

                            <div class="btn-group btn-group-xs" style="z-index:100;">
                                <div class="buy_number_input">
                                    <span id="decrease_num" title="减少"></span>
                                    <input class="product-number" id="buy_number" readonly value="1" maxlength="2" />
                                    <span id="increase_num" title="增加"></span>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="hidpid" name="hidpid" value="">
    <input type="hidden" id="orderPrice" name="orderPrice" value="">
</form>
<div id="share">
	<a id="totop" title="返回顶部">返回顶部</a>
	<a class="sina" title="水果">水果</a>
	<a  class="tencent" title="蔬菜">蔬菜</a>
</div>

{% endblock %}
{% block js %}
<script src="/style2/js/address.js" ></script>
<script>
    $(function() {
        initLocation({sheng_val:"陕西",shi_val:"西安",xian_val:"",xiang_val:""});
        //首先将#back-to-top隐藏
        $("#totop").hide();
        //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
        $(window).scroll(function(){
            if ($(window).scrollTop()>50){
                $("#totop").fadeIn();
            }else{
                $("#totop").fadeOut();
            }
        });
        //当点击跳转链接后，回到页面顶部位置
        $("#totop").click(function(){
            $('body,html').animate({scrollTop:0},500);
            return false;
        });
        $(".sina,#btnFruit").click(function(){
            $('body,html').animate({scrollTop:$('#fruit').offset().top},500);
            return false;
        });
        $(".tencent,#btnVegetables").click(function(){
            $('body,html').animate({scrollTop:$('#vegetables').offset().top},500);
            return false;
        });


        $("#leftTree").hide();
        $("#controlLeft").html('显示左栏');
        $("#page-wrapper").css('margin','0');

        $("#checkUser").click(function(){
            checkUser();
        });

        $("#user_name").change(function(){
            checkUser();
        });
        function checkUser(){
            $.get("/ajax/check_user", {mobile: $("#user_name").val()},function(data){
                var obj = jQuery.parseJSON(data);
                if(obj.msg == '503') {
                    $("#ddlStreet").show();
                    $("#take_name").val(obj.take_name);
                    $("#take_tel").val(obj.take_tel);
                    $("#take_address").val(obj.take_address);
                    $("#ddlCounty").val(obj.region);
                    $("#ddlCounty").change();
                    $("#ddlStreet").val(obj.street);
                    $("#user_id").val(obj.user_id);
                    $("#hidAddressID").val(obj.addr_id);
                    $(".msg").text("用户已存在！");
                    $(".msg").css("color","#129a00");
                }else{
                    $("#take_name").val('');
                    $("#take_tel").val($("#user_name").val());
                    $("#take_address").val('');
                    $("#ddlCounty").val('');
                    $("#ddlStreet").val('');
                    $("#user_id").val('');
                    $("#hidAddressID").val('');
                    $(".msg").text("此用户不存在！");
                    $(".msg").css("color","#cc0000");
                }
            });
        }
        $(".item_product").click(function(){
            var id = $(this).find(".product-id").val();
            var name = $(this).find(".product-name").html();
            var img = $(this).find(".product-img").val();
            var sku = $(this).find(".product-sku").val();
            var pprice = $(this).find(".product-price").html();
            var quantity = $(this).nextAll().find(".product-number").val();
            var price = 0;
            //'/upload/'+obj.sku+'/'+obj.cover
            if($(this).find(".chk").prop("checked")==false){
                //alert(name);
                var itemProduct = '<tr id="tr'+id+'"><td><img class="product_img" src="/upload/'+ sku +'/'+ img + '" width="80" height="80" /></td>';
                itemProduct += '<td><h3><input class="form-control" name="product" value="'+ sku + ' - ' +name+'" /></h3></td>';
                itemProduct += '<td><h3><span class="unitPrice">'+pprice+'</span>元</h3></td><td><h3>';
                itemProduct += '<input type="text" value="'+quantity+'" class="form-control quantity" style="width:45px;" data-id="'+id+'" data-price="'+pprice+'" name="quantity"></h3></td></tr>';
                var $tr=$("#tb_users tr").eq(-1);
                if($tr.size()==0){
                    alert("指定的table id或行数不存在！");
                    return;
                }
                $tr.after(itemProduct);
                quantityKeyup();
            }else{
                var tr = $('#tr'+id);
                tr.remove();
            }
            $('input[name="quantity"]').each(function(){
                price += parseFloat($(this).attr("data-price")) * parseInt($(this).val());
            });
            $('#order_price').text(price.toFixed(2));
            $('#orderPrice').val(price.toFixed(2));
        });

        $(".buy_number_input").each(function () {
            $(this).children("#decrease_num").bind('click', function () {
                var q = $(this).next();
                var ovalue = parseInt(q.val());
                if (ovalue > 1) { q.val(ovalue - 1); }

            });
            $(this).children("#increase_num").bind('click', function () {
                var q = $(this).prev();
                var ovalue = parseInt(q.val());
                if (ovalue < 99) { q.val(ovalue + 1); }

            });
        });

        $("#saveOrder").click(function(){
            var item = $('input[name=quantity]');
            var jsonarr = [];
            item.each(function(){
                var arr = {"pid":$(this).attr('data-id'),"quantity":$(this).val()}
                jsonarr.push(arr);
            });
            $('#hidpid').val(JSON.stringify(jsonarr));
            if(jsonarr.length > 0){
                $('#form').submit();
            }
        });

        $("#addItem").click(function(){
            addTr($('#trs').html());
        });
        quantityKeyup();
        cbxChange();
    });
    function quantityKeyup(){
        $('input[name="quantity"]').bind('keyup',function(){
            var price = 0;
            var count =$(this).val();
            $('input[name="quantity"]').each(function(){
                price += parseFloat($(this).attr("data-price")) * parseInt($(this).val());
            });
            $('#order_price').text(price.toFixed(2));
            $('#orderPrice').val(price.toFixed(2));
        });
    }
    function cbxChange(){
        $('.combobox').change(function(){
            var pid = $(this).val();
            var product_img = $(this).parents("tr").find(".product_img");
            var unitPrice = $(this).parents("tr").find(".unitPrice");
            var quantity = $(this).parents("tr").find(".quantity");
            $.get('/ajax/getproduct', {pid: pid}, function(data){
                var obj = jQuery.parseJSON(data);
                if(obj.err != ''){
                    alery(obj.err);
                }else{
                    product_img.attr('src','/upload/'+obj.sku+'/'+obj.cover);
                    unitPrice.text(obj.price);
                    quantity.attr('data-price',obj.price);
                    quantity.attr('data-id',pid);
                }

                var price = 0;
                $('input[name="quantity"]').each(function(){
                    price += parseFloat($(this).attr("data-price")) * parseInt($(this).val());
                });
                $('#order_price').text(price.toFixed(2));
                $('#orderPrice').val(price.toFixed(2));
            });
        });
    }
    function addTr(trHtml){
        var $tr=$("#tb_users tr").eq(-1);
        if($tr.size()==0){
            alert("指定的table id或行数不存在！");
            return;
        }
        $tr.after('<tr>'+trHtml+'</tr>');
        cbxChange();
        quantityKeyup()
    }
</script>
{% endblock %}