{% extends "layout/admin.html" %}
{% block content %}
<style>
    .mb5{ margin-bottom: 5px;}
</style>
<script language="javascript" type="text/javascript" src="/style2/js/My97DatePicker/WdatePicker.js"></script>
<script>
    function checkSubmit(){
        var content = $("#content").val();
        if(content==""){
            alert("请先填写您的问题描述！");
            return false;
        }
        else{
            if(content.length>500){
                alert("问题描述不能超出500个字符哟！");
                return false;
            }
        }
        return true;
    }
</script>
<div class="row">
    <ol class="breadcrumb">
        <li><a href="/admin/question">问答管理</a></li>
        <li class="active">
            浏览问答
        </li>
    </ol>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">提问信息
            </h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-lg-2">提问者</label>
                <div class="col-lg-10 mb5">
                    {{p.user.username}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2">提问时间</label>
                <div class="col-lg-10 mb5">
                    {{p.created | datetimeformat }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2">
                    问题描述
                </label>
                <div class="col-lg-10 mb5">
                    {{p.content}}
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">回答信息</h3>
        </div>
        <div class="panel-body">
            {% for c in items_sub %}
            <div class="col-lg-3 .col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="text-left">
                                <div>{{c.content}}</div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="btn-group btn-group-xs">
                            <a type="button" class="btn btn-default" href="/admin/question/{{p.id}}/{{c.id}}">删除</a>
                            {% if c.is_best == 0 %}
                            <a type="button" class="btn btn-default" href="/admin/question_best/{{p.id}}/{{c.id}}">设为最佳</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}