{% extends "layout/admin.html" %}
{% block content %}
<div class="row">
   <nav>
   <div class="navbar-header" style="float: left">
      <a class="navbar-brand" href="#">手机广告管理</a>
   </div>
      <div class="navbar-header" style="float: right"><a class="navbar-brand" href="/admin/mobile/addad">添加手机首页广告</a></div>
</nav>
</div>
<div class="row">
    <div class="panel panel-primary">
    <div class="panel-body">
        <div class="table-responsive">
        <table class="table table-hover" id="tb_users">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>图片</th>
                    <th>打开方式</th>
                    <th>排序</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            {% for ad in ads -%}
            <tr>
              <td>{{ad.id}}</td>
              <td><img src="/upload/ad/{{ad.picurl}}" width="100" height="60" alt="{{ad.imgalt}}"></td>
              <td>{{ad.url}}</td>
                <td>{{ad.sort}}</td>
              <td><a href="/admin/mobile/editad/{{ad.id}} ">修改</a> / <a href="/admin/mobile/delad/{{ad.id}} " onclick="return confirm('确定将此记录删除?')">删除</a></td>
            </tr>
			{%- endfor %}
            </tbody>
        </table>
        </div>
    </div>
    </div>
</div>
{% endblock %}