{% extends "layout/admin.html" %}
{% block css %}
<link href="/style2/css/plugins/dataTables.bootstrap.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/style2/permissionAdm/css/tjzy_right.css"/>
{% endblock %}
{% block content %}
<div class="row main" style="margin-left:-30px;">
      <div>
        <a class="navbar-brand" href="#" style="margin:10px auto auto 30px;">添加模块</a>
      </div>
    	
	 <div id=tagContent>
	  	<form action="" method="post">
	  		<p><label>模块名称：</label>
	  			<input type="text" name="name" class="name" id="name" value="" required placeholder="模块名称"/></p>
	  		<p><label>模块排序：</label>
		       <input type="text" name="name" class="name" id="brand" value="" required placeholder="模块排序"/>  </p>
		  	<button class="btn btnx" name="submit" type="submit">确定</button>
			<button class="btn btny" name="reset" type="reset">取消</button>
	  	</form>  	
    </div>
</div>
{% endblock %}


































