{% extends "layout/admin.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/style2/permissionAdm/css/basic.css" />
<link rel="stylesheet" type="text/css" href="/style2/permissionAdm/css/shqxpz_right.css" />
<script type="text/javascript" src="/style2/permissionAdm/js/flxz.js"></script>
<script type="text/javascript" src="/style2/permissionAdm/js/jquery-1.9.1.min.js"></script>
{% endblock %}
{% block content %}

<div class="row" id="main" style="margin-left:-30px;">
	<div>
      <a class="navbar-brand" href="#">权限管理</a>
    </div>
<form action="" method="post" style="margin-top:50px;">
<ul id="ulx">
  <span class="yw">角色</span>
  <div class="inner">
  <li><a class="select" onclick="left_btn(0)" href="#">修理厂</a></li>
  <li><a onclick="left_btn(1)" href="#">经销商</a></li>
  <li><a onclick="left_btn(2)" href="#">保险服务商</a></li>
  </div>
 </ul>
 <img src="/style2/permissionAdm/images/arrow.png" class="jt01" />
 <ul id="ul0">
  <span class="js">模块</span>
  <div class="inner">
  <li>
  <a onclick="selectTag('tagContent0',this)" 
  href="javascript:void(0)">
    <div class="checkboxFive">
		<input type="checkbox" forcheckboxgroup="groupname1" value="1" id="checkboxFiveInput00" name="" />
		<label for="checkboxFiveInput00">
		<font>保险业务</font>
		</label>
	</div>
  </a>
  </li>
  <li>
  <a onclick="selectTag('tagContent1',this)" href="javascript:void(0)">
  	<div class="checkboxFive">
		<input type="checkbox" forcheckboxgroup="groupname2" value="1" id="checkboxFiveInput01" name="" />
		<label for="checkboxFiveInput01">
		<font>订单业务</font>
		</label>
	</div>
  </a>
  </li>
  <li>
  <a onclick="selectTag('tagContent2',this)" href="javascript:void(0)">
  	<div class="checkboxFive">
		<input type="checkbox" forcheckboxgroup="groupname3" value="1" id="checkboxFiveInput02" name="" />
		<label for="checkboxFiveInput02">
		<font>商品业务</font>
		</label>
	</div>
  </a>
  </li>
  <li>
  <a onclick="selectTag('tagContent3',this)" href="javascript:void(0)">
  	<div class="checkboxFive">
		<input type="checkbox" forcheckboxgroup="groupname4" value="1" id="checkboxFiveInput03" name="" />
		<label for="checkboxFiveInput03">
		<font>账户信息</font>
		</label>
	</div>
  </a>
  </li>
  </div>
 </ul>
 <img src="/style2/permissionAdm/images/arrow.png" class="jt02" />
 <div id="tagContent">
 <span class="qx">资源</span>
  <div class="tagContent selectTag list" id="tagContent0">  
	<ul class="yiji">
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" group="groupname1" value="1" id="checkboxFivexInput04" name="" />
					<label for="checkboxFivexInput04">
					<font>保险列表</font>
					</label>
				</div>
			</a>	
			</li>
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" value="1" id="checkboxFivexInput05" name="" />
					<label for="checkboxFivexInput05">
					<font>订单列表</font>
					</label>
				</div>
			</a>	
			</li>
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" value="1" id="checkboxFivexInput06" name="" />
					<label for="checkboxFivexInput06">
					<font>发布产品</font>
					</label>
				</div>
			</a>
			</li>
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" value="1" id="checkboxFivexInput07" name="" />
					<label for="checkboxFivexInput07">
					<font>订单管理</font>
					</label>
				</div>
			</a>	
			</li>
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" value="1" id="checkboxFivexInput08" name="" />
					<label for="checkboxFivexInput08">
					<font>产品管理</font>
					</label>
				</div>
			</a>	
			</li>
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" value="1" id="checkboxFivexInput09" name="" />
					<label for="checkboxFivexInput09">
					<font>设置账户信息</font>
					</label>
				</div>
			</a>	
			</li>
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" value="1" id="checkboxFivexInput10" name="" />
					<label for="checkboxFivexInput10">
					<font>门店资料修改</font>
					</label>
				</div>
			</a>	
			</li>
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" value="1" id="checkboxFivexInput11" name="" />
					<label for="checkboxFivexInput11">
					<font>我的消息</font>
					</label>
				</div>
			</a>	
			</li>
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" value="1" id="checkboxFivexInput12" name="" />
					<label for="checkboxFivexInput12">
					<font>修改密码</font>
					</label>
				</div>
			</a>	
			</li>
		</ul>	
  </div>
  
  <div class="tagContent  list" id="tagContent1">  
	<ul class="yiji">
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" group="groupname2" value="1" id="checkboxFivexInput13" name="" />
					<label for="checkboxFivexInput13">
					<font>订单列表</font>
					</label>
				</div>
			</a>	
			</li>
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" value="1" id="checkboxFivexInput14" name="" />
					<label for="checkboxFivexInput14">
					<font>保险列表</font>
					</label>
				</div>
			</a>	
			</li>
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" value="1" id="checkboxFivexInput15" name="" />
					<label for="checkboxFivexInput15">
					<font>发布产品</font>
					</label>
				</div>
			</a>
			</li>
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" value="1" id="checkboxFivexInput16" name="" />
					<label for="checkboxFivexInput16">
					<font>订单管理</font>
					</label>
				</div>
			</a>	
			</li>
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" value="1" id="checkboxFivexInput17" name="" />
					<label for="checkboxFivexInput17">
					<font>产品管理</font>
					</label>
				</div>
			</a>	
			</li>
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" value="1" id="checkboxFivexInput18" name="" />
					<label for="checkboxFivexInput18">
					<font>设置账户信息</font>
					</label>
				</div>
			</a>	
			</li>
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" value="1" id="checkboxFivexInput19" name="" />
					<label for="checkboxFivexInput19">
					<font>门店资料修改</font>
					</label>
				</div>
			</a>	
			</li>
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" value="1" id="checkboxFivexInput20" name="" />
					<label for="checkboxFivexInput20">
					<font>我的消息</font>
					</label>
				</div>
			</a>	
			</li>
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" value="1" id="checkboxFivexInput21" name="" />
					<label for="checkboxFivexInput21">
					<font>修改密码</font>
					</label>
				</div>
			</a>	
			</li>
	</ul>
  </div>
  
  <div class="tagContent list" id="tagContent2">
	<ul class="yiji">
		<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" group="groupname3" value="1" id="checkboxFivexInput22" name="" />
					<label for="checkboxFivexInput22">
					<font>发布产品</font>
					</label>
				</div>
			</a>
			</li>
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" group="groupname3" value="1" id="checkboxFivexInput23" name="" />
					<label for="checkboxFivexInput23">
					<font>订单管理</font>
					</label>
				</div>
			</a>	
			</li>
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" group="groupname3" value="1" id="checkboxFivexInput24" name="" />
					<label for="checkboxFivexInput24">
					<font>产品管理</font>
					</label>
				</div>
			</a>	
			</li>
		<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" value="1" id="checkboxFivexInput25" name="" />
					<label for="checkboxFivexInput25">
					<font>保险列表</font>
					</label>
				</div>
			</a>	
			</li>
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" value="1" id="checkboxFivexInput26" name="" />
					<label for="checkboxFivexInput26">
					<font>订单列表</font>
					</label>
				</div>
			</a>	
			</li>
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" value="1" id="checkboxFivexInput27" name="" />
					<label for="checkboxFivexInput27">
					<font>设置账户信息</font>
					</label>
				</div>
			</a>	
			</li>
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" value="1" id="checkboxFivexInput28" name="" />
					<label for="checkboxFivexInput28">
					<font>门店资料修改</font>
					</label>
				</div>
			</a>	
			</li>
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" value="1" id="checkboxFivexInput29" name="" />
					<label for="checkboxFivexInput29">
					<font>我的消息</font>
					</label>
				</div>
			</a>	
			</li>
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" value="1" id="checkboxFivexInput30" name="" />
					<label for="checkboxFivexInput30">
					<font>修改密码</font>
					</label>
				</div>
			</a>	
			</li>
	</ul>	
  </div>
  
  <div class="tagContent list" id="tagContent3">
	<ul class="yiji">
		<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" group="groupname4" value="1" id="checkboxFivexInput31" name="" />
					<label for="checkboxFivexInput31">
					<font>设置账户信息</font>
					</label>
				</div>
			</a>	
			</li>
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" group="groupname4" value="1" id="checkboxFivexInput32" name="" />
					<label for="checkboxFivexInput32">
					<font>门店资料修改</font>
					</label>
				</div>
			</a>	
			</li>
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" group="groupname4" value="1" id="checkboxFivexInput33" name="" />
					<label for="checkboxFivexInput33">
					<font>我的消息</font>
					</label>
				</div>
			</a>	
			</li>
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" group="groupname4" value="1" id="checkboxFivexInput34" name="" />
					<label for="checkboxFivexInput34">
					<font>修改密码</font>
					</label>
				</div>
			</a>	
			</li>
		<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" value="1" id="checkboxFivexInput35" name="" />
					<label for="checkboxFivexInput35">
					<font>发布产品</font>
					</label>
				</div>
			</a>
			</li>
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" value="1" id="checkboxFivexInput36" name="" />
					<label for="checkboxFivexInput36">
					<font>订单管理</font>
					</label>
				</div>
			</a>	
			</li>
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" value="1" id="checkboxFivexInput37" name="" />
					<label for="checkboxFivexInput37">
					<font>产品管理</font>
					</label>
				</div>
			</a>	
			</li>
		<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" value="1" id="checkboxFivexInput38" name="" />
					<label for="checkboxFivexInput38">
					<font>保险列表</font>
					</label>
				</div>
			</a>	
			</li>
			<li>
			<a href="#" class="inactive">
				<div class="checkboxFive">
					<input type="checkbox" value="1" id="checkboxFivexInput39" name="" />
					<label for="checkboxFivexInput39">
					<font>订单列表</font>
					</label>
				</div>
			</a>	
			</li>
	</ul>	
  </div>
  
 </div>
 <button class="btnx" name="submit" type="submit">确定</button>
 <button class="btny" name="reset" type="reset">取消</button>
 
 </form>
</div>

{% endblock %}
{% block js %}
<script type="text/javascript">
	
function left_btn(n)
{
 var a_num=document.getElementById("ulx").getElementsByTagName("a");
 for(i=0;i<a_num.length;i++)
 {
 a_num[i].className=i==n?"select":"";
 }
}

$(function(){

	var _jgroupCons = $("[forcheckboxgroup]"), //所有具有 forcheckboxgroup 属性的元素
		_jcheckboxs = $(":checkbox[group]"), //所有具有 group 属性的复选框
		_checkgroups = new Array; //复选框组数组，该数组每一项保存一组由 _jcheckboxs 过滤的复选框组，组名称即是数组项的键

	_jcheckboxs.each(function (i) {
		var _groupname = $(this).attr("group");	//group 是非标准属性，必须由 attr 方法获得值，prop 方法不能获得
		if (!_checkgroups[_groupname]) {
			_checkgroups[_groupname] = _jcheckboxs.filter("[group='" + _groupname + "']");
		}
	});

	//将所有与组关联的非复选框的元素设为无效
	_jgroupCons.filter(":not(:checkbox)").prop("disabled", true).addClass("disabled");

	_jgroupCons.filter(":checkbox")    //选择所有可以控制复选框组状态的复选框
		.change(function () {  // 绑定 change 事件
			var _jthis = $(this),
				forgroupname = _jthis.attr("forcheckboxgroup"); //forcheckboxgroup 是非标准属性，必须由 attr 方法获得值，prop 方法不能获得
			//点击此复选框后只做以下三件事：

			// 1. 设置所控制的复选框组内所有复选框的状态
			_jcheckboxs.filter("[group='" + forgroupname + "']").prop("checked", this.checked);

			// 2. 设置与自己具有相同功能的复选框的状态
			_jgroupCons.filter(":checkbox[forcheckboxgroup='" + forgroupname + "']").prop("checked", this.checked).prop("indeterminate", false);

			// 3. 设置所有与该复选框组相关联的元素的状态
			_jgroupCons.filter("[forcheckboxgroup='" + forgroupname + "']:not(:checkbox)").prop("disabled", !this.checked).toggleClass("disabled", !this.checked);
		});

	/*_jcheckboxs   //选择所有成组的复选框
		.change(function () {  //绑定 change 事件
			var _jthis = $(this),
				_blnStat = this.checked, //此复选框的选中状态
				_groupname = _jthis.attr("group"), //此复选框所属的组名称，非标准属性，必须由 attr 方法获得值，prop 方法不能获得
				_checkedcount = _checkgroups[_groupname].filter("[checked]").length,//所在组处于选中状态的复选框数量
				_blnEqual =  _checkedcount==0 || _checkedcount == _checkgroups[_groupname].length;    //该组所有成员的选中状态是否相同，即全都选中，或全都未选

			//设置所有可控制该组状态的复选框的状态
			_jgroupCons.filter(":checkbox[forcheckboxgroup='" + _groupname + "']").prop("checked", _blnStat).prop("indeterminate", !_blnEqual);

			//设置所有与组关联的非复选框的元素状态
			_jgroupCons.filter("[forcheckboxgroup='" + _groupname + "']:not(:checkbox)").prop("disabled", !(_blnStat || !_blnEqual)).toggleClass("disabled", !(_blnStat || !_blnEqual));
		});*/
});

</script>

{% endblock %}
