{% extends "layout/admin.html" %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="/style2/agreement/css/agreement.css"/>

	<!--[if lt IE 9]>
	<script type="text/javascript" src="/style/agreement/js/html5shiv.min.js"></script>
	<script type="text/javascript" src="/style/agreement/js/respond.min.js"></script>
	<![endif]-->

	<script type="text/javascript" src="/style2/agreement/js/jquery.min.js"></script>
	<script type="text/javascript" src="/style2/agreement/js/bootstrap.min.js"></script>
{% endblock %}
{% block content %}

 <div class="row main">
	  <div>
        <a class="navbar-brand" href="#">历史记录</a>
    </div>
	 <div class="content">
		 <span class="time">时间：2016-11-24&nbsp;&nbsp;&nbsp;09:28:48</span>
		 <table class="table table-hover text-center">
			 <thead>
				 <tr>
					 <th>购买险种</th>
					 <th>商业险保费（金额/元）</th>
					 <th>保险公司</th>
					 <th>车主油品型号</th>
					 <th>车主油品数量</th>
					 <th>修理厂油品型号</th>
					 <th>修理厂油品数量</th>
				 </tr>
			 </thead>
	 
			 <tbody>
			 <tr>
				 <td>单交强险</td>
				 <td></td>
				 <td>人保/国寿</td>
				 <td>ZIC X5特级</td>
				 <td>0</td>
				 <td>ZIC X5特级</td>
				 <td>1</td>
			 </tr>
			 
			 <tr>
				 <td>单商业险</td>
				 <td>1200-1499</td>
				 <td>人保/国寿</td>
				 <td>ZIC X5特级</td>
				 <td>0</td>
				 <td>ZIC X5特级</td>
				 <td>3</td>
			 </tr>
			 
			 <tr>
				 <td>单商业险</td>
				 <td>1500-1999</td>
				 <td>人保/国寿</td>
				 <td>ZIC X5特级</td>
				 <td>0</td>
				 <td>ZIC X5特级</td>
				 <td>3</td>
			 </tr>
			 
			 <tr>
				 <td>单商业险</td>
				 <td>2000-2499</td>
				 <td>人保/国寿</td>
				 <td>ZIC X5特级</td>
				 <td>1</td>
				 <td>ZIC X5特级</td>
				 <td>2</td>
			 </tr>
			 
			 <tr>
				 <td>交强险+商业险</td>
				 <td>1200-1499</td>
				 <td>人保/国寿</td>
				 <td>ZIC X5特级</td>
				 <td>1</td>
				 <td>ZIC X5特级</td>
				 <td>3</td>
			 </tr>
			 
			 <tr>
				 <td>交强险+商业险</td>
				 <td>1500-1999</td>
				 <td>人保/国寿</td>
				 <td>ZIC X5特级</td>
				 <td>3</td>
				 <td>ZIC X5特级</td>
				 <td>4</td>
			 </tr>
			 
			 <tr>
				 <td>交强险+商业险</td>
				 <td>2000-2499</td>
				 <td>人保/国寿</td>
				 <td>ZIC X5特级</td>
				 <td>2</td>
				 <td>ZIC X5特级</td>
				 <td>3</td>
			 </tr>
			 
			 </tbody>
		 </table>
		 <div class="col-sm-6">
            <div class="dataTables_info" role="alert" aria-live="polite" aria-relevant="all">
                当前：第{{page}}页 / {{totalpage}}页，合计{{total}}条
            </div>
        </div>
        <div style="float:right;">
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination  pagination-sm" id="pageUl" />
            </div>
        </div>
	 </div>
 </div>
	
{% endblock %}
{% block js %}
<script src="/style2/js/jquery.twbsPagination.min.js"></script>
<script type="text/javascript">
   $(document).ready(function() {
        $('#pageUl').twbsPagination({
            first:'首页',
            prev:'上一页',
            next:'下一页',
            last:'尾页',
            totalPages: {{totalpage}},
            startPage: {{page}},
            visiblePages: 8,
            onPageClick: function (event, page) {
                self.location="/admin/insuranceadmin?keyword={{keyword or ''}}&province_code={{default_province or ''}}&city_code={{default_city or ''}}&district_code={{default_district or ''}}&checkbox={{checkbox or ''}}&insuranceC={{insuranceC or ''}}&page="+page;
            }
        });
    });

    $(function(){
    init_province();
        var r = {{result |default('-1')}};
        if(r == '1')
        {
            alert('保存成功！');
            //location.reload();
        }
        else if(r == '0'){
            alert('保存失败！');
        }
    });

</script>
{% endblock %}



































