{% extends "layout/admin.html" %}
{% block content %}
<div class="row">
   <nav>
   <div class="navbar-header">
      <a class="navbar-brand" href="#">广告位信息</a>
   </div>
</nav>
</div>
<div class="row">
    <div class="panel panel-primary">
    <div class="panel-body">

        {%set messages=handler.get_flashed_messages() %}
        {%if messages%}
            <div class="msg">
                {% for type, msg in messages%}
                    <span>{{msg}}</span>
                {% endfor %}
            </div>
        {%endif%}

        <form action="" method="post" enctype="multipart/form-data">
            {{xsrf()}}
            <div class="form-group has-success">
            <label class="control-label">位置名称</label>
            <input type="text" class="form-control"  name="name" value="{{ ad_type.name }}" style="width:480px;">
            </div>
            <div class="form-group has-success">
            <label class="control-label">所属分类</label>
            <select name="ad_location_category" id="ad_location_category" class="form-control" style="width:480px;">
                      <option value="用户端PC" {% if ad_type.category == "用户端PC" %}selected="selected"{%endif%}>用户端PC</option>
                      <option value="手机端APP" {% if ad_type.category == "手机端APP" %}selected="selected"{%endif%} >手机端APP</option>
                  </select>
            </div>
            <div class="form-group has-success">
            <label class="control-label">广告图示</label>
            <input type="file" class="form-control"  name="file" style="width:480px;">
            <img src="{{ad_type.imagename}}"  height="200">
            </div>
            <div class="form-group has-success">
                <a class="btn btn-outline btn-warning btn-sm" href="/admin/ad_type" style="padding:7px 28px;border:1px solid #438bca;color:#438bca;border-radius:4px;font-size:16px;margin-right:30px;">取消</a>
            <input type="submit" name="sub" value="提交" class="btn btn-outline btn-primary btn-sm" style="width:90px;height:32px;background:#438bca;color:#fff;border-radius:4px;border:none;font-size:16px;">
            </div>
        </form>
    </div>
    </div>
</div>
{% endblock %}