<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>车装甲管理系统</title>

    <!-- Bootstrap Core CSS -->
    <link href="/style/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/style/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/style/css/plugins/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/style/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/style/css/plugins/morris.css" rel="stylesheet">

    <link href="/style/css/chosen.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/style/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    {% block css %}{% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body style="font-family: 'microsoft yahei', arial">

<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin">车装甲管理系统</a>
            <a class="navbar-brand" href="javascript:void(0);" id="controlLeft">隐藏左栏</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">

            <li>
                <a href="#">
                    <i class="fa fa-user fa-fw"></i> {{admin.realname}} <i class="fa fa-caret-down"></i>
                </a>
            </li>
            <li>
                <a href="/admin/logout">
                    <i class="fa fa-power-off fa-fw"></i> 退出 <i class="fa fa-caret-down"></i>
                </a>
            </li>
        </ul>

        <div class="navbar-default sidebar" id="leftTree" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li {% if active=='saler' or active=='refer' or active=='store' or active=='admin_user'
                        or active=='user'%} class="active"{% endif %} ">
                    <a href="#"><i class="fa fa-user fa-fw"></i>&nbsp;&nbsp;&nbsp;用户管理
                        <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li >
                            <a {% if active=='user' %} class="active"{% endif %} href="/admin/user">客户</a>
                        </li>
                        <li >
                            <a {% if active=='saler' %} class="active"{% endif %} href="/admin/saler">经销商</a>
                        </li>
                        <li>
                            <a {% if active=='store' %} class="active"{% endif %} href="/admin/store">门店</a>
                        </li>
                        <li>
                            <a {% if active=='refer' %} class="active"{% endif %} href="/admin/refer">推广人员</a>
                        </li>
                        <li>
                            <a {% if active=='admin_user' %}class="active" {% endif %}href="/admin/admin_user/0">后台用户</a>
                        </li>
                    </ul>
                    </li>
                    <li {% if active=='block' or active=='block_items' or active=='hot_search' %} class="active" {%endif %}>
                    <a  href="#"><i class="fa fa-briefcase fa-fw"></i>&nbsp;&nbsp;&nbsp;App管理
                        <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a {% if active=='block' %}class="active"{% endif %} href="/admin/block">广告位管理</a>
                        </li>
                        <li>
                            <a {% if active=='block_items' %}class="active"{% endif %} href="/admin/block_items">广告管理</a>
                        </li>
                        <li>
                            <a {% if active=='hot_search' %}class="active"{% endif %} href="/admin/hot_search">热门搜索</a>
                        </li>

                    </ul>
                    </li>
                    <li {% if active=='category' or active=='brand' or active=='product_n'  or  active=='product_n' %}class="active"{% endif %}>
                        <a  href="#"><i class="fa fa-picture-o fa-fw"></i>&nbsp;&nbsp;&nbsp;商品管理
                            <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a {% if active=='category' %} class="active"{% endif %} href="/admin/category">商品分类</a>
                            </li>
                            <li>
                                <a {% if active=='brand' %} class="active"{% endif %} href="/admin/brand">商品品牌</a>
                            </li>
                            <li>
                                <a {% if active=='product_n' %} class="active"{% endif %} href="/admin/product_n">普通商品</a>
                            </li>
                            <li>
                                <a {% if active=='product_s' %} class="active"{% endif %} href="/admin/product_s">积分商品</a>
                            </li>
                        </ul>
                    </li>
                    <li {% if active=='payback' or active == 'withdraw' or active == 'statement' %}class="active"{% endif %}>
                    <a  href="#"><i class="fa fa-qrcode fa-fw"></i>&nbsp;&nbsp;&nbsp;财务对账
                        <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">

                        <li>
                            <a {% if active=='payback' %}class="active"{% endif %} href="/admin/mobile/payback">退款处理</a>
                        </li>
                        <li>
                            <a {% if active=='withdraw' %}class="active"{% endif %} href="/admin/mobile/withdraw">提现处理</a>
                        </li>
                        <li>
                            <a {% if active=='statement' %}class="active"{% endif %} href="/admin/mobile/statement">对账单</a>
                        </li>
                    </ul>
                    </li>
                    <li {% if active=='p_order' or active=='p_order_finish' or active=='i_order' or active=='i_order_finish'
                         %}class="active"{% endif %}>
                        <a href="#"><i class="fa fa-align-justify fa-fw"></i>&nbsp;&nbsp;&nbsp;订单管理
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a {% if active=='p_order' %}class="active"{% endif %} href="/admin/product/orders?status=2">商品订单</a>
                            </li>
                             <li>
                                <a {% if active=='p_order_finish' %}class="active"{% endif %} href="/admin/product/orders?status=2">商品订单归档</a>
                            </li>
                            <li>
                                <a {% if active=='i_order' %}class="active"{% endif %} href="/admin/insurance/orders?status=0">保险订单</a>
                            </li>
                            <li>
                                <a {% if active=='i_order_finish' %}class="active"{% endif %} href="/admin/insurance/orders?status=3">保险订单归档</a>
                            </li>
                        </ul>
                    </li>

                    <li {% if active=='insurance' or active=='gift_area' or active=="score_policy"  or active=="lube_policy"
                         %}class="active"{% endif %}>
                        <a href="#"><i class="fa fa-yen fa-fw"></i>&nbsp;&nbsp;&nbsp;保险业务
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a {% if active=='insurance' %}class="active"{% endif %} href="/admin/insurance">保险公司</a>
                            </li>
                            <li>
                                <a {% if active=='gift_area' %}class="active"{% endif %} href="/admin/gift_area">返佣地域</a>
                            </li>
                            <li>
                                <a {% if active=='score_policy' %}class="active"{% endif %} href="/admin/score_policy">积分规则</a>
                            </li>
                            <li>
                                <a {% if active=='lube_policy' %} class="active"{% endif %} href="/admin/lube_policy">返油协议</a>
                            </li>
                        </ul>
                    </li>

                    <li {% if active=='r_user' or active=='r_summary' or active=='r_sale' or active=='r_product'
                            or active=='r_log' or active=='r_order' or active=='r_user_order' or active=='r_invoice'
                            or active=='refereeReport' or active=='insuranceReport' or active=='areaReport' %}class="active"{% endif %}>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>&nbsp;&nbsp;&nbsp;统计报表<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a {% if active=='refereeReport' %} class="active"{% endif %} href="/admin/report/referee">推广人员出单统计</a>
                            </li>
                            <li>
                                <a {% if active=='insuranceReport' %} class="active"{% endif %} href="/admin/report/insuranceOrder">保险公司出单统计</a>
                            </li>
                            <li>
                                <a {% if active=='areaReport' %} class="active"{% endif %} href="/admin/report/areaorder">各地区交易数据统计</a>
                            </li>

                            <li>
                                <a {% if active=='areaReport' %} class="active"{% endif %} href="/admin/report/areaorder">提现统计</a>
                            </li>
                        </ul>
                    </li>
                    <li {% if active=='static' or active=='msg' or active=='log' or active=='update' or active=='pw' %}class="active"{% endif %}>
                        <a href="#"><i class="fa fa-unlock fa-fw"></i>&nbsp;&nbsp;&nbsp;系统设置
                            <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a {% if active=='static' %} class="active"{% endif %} href="/admin/static">静态页面</a>
                            </li>

                            <li>
                                <a {% if active=='msg' %} class="active"{% endif %} href="/admin/msg">消息群发</a>
                            </li>
                            <li>
                                <a {% if active=='log' %}class="active"{% endif %} href="/admin/log">系统日志</a>
                            </li>
                            <li>
                                <a {% if active=='update' %}class="active"{% endif %} href="/admin/update">更新管理</a>
                            </li>
                            <li>
                                <a {% if active=='pw' %} class="active"{% endif %} href="/admin/pw">修改密码</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="page-wrapper">
        {% block content %}&nbsp;{% endblock %}
    </div>

</div>


<script src="/style/js/jquery-1.11.1.min.js"></script>

<script src="/style/js/chosen.jquery.js"></script>
<script language="javascript" type="text/javascript" src="/style/js/My97DatePicker/WdatePicker.js"></script>

<script type="text/javascript">
        $(function(){
            var status = 0;
            $("#controlLeft").click(function() {
                if (status == 0) {
                    $("#leftTree").hide();
                    $("#controlLeft").html('显示左栏');
                    $("#page-wrapper").css('margin','0');
                    status = 1;
                }else{
                    $("#leftTree").show();
                    $("#controlLeft").html('隐藏左栏');
                    $("#page-wrapper").css('margin','0 0 0 250px');
                    status = 0;
                }
            });
        });
        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': { allow_single_deselect: true },
            '.chosen-select-no-single': { disable_search_threshold: 10 },
            '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
            '.chosen-select-width': { width: "95%" }
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }
	</script>

<!-- Bootstrap Core JavaScript -->
<script src="/style/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/style/js/plugins/metisMenu/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/style/js/sb-admin-2.js"></script>
{% block js %}{% endblock %}

<link rel="stylesheet" href="/style/css/jquery.confirm.css" type="text/css" media="screen" />
<script type="text/javascript" src="/style/js/jquery.confirm.js"></script>
</body>

</html>
