<!DOCTYPE html>
<html lang="zh-cn" class="csstransitions cssanimations ic_webkit ic_chrome ic_latest">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>  {% block title %}车装甲 {% endblock %}</title>
    <link rel="stylesheet" href="/style2/css/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/style2/css/gb.css" type="text/css" media="screen">

    {% block css %} {% endblock %}
    <script type="text/javascript" src="/style2/js/jquery.min.js"></script>

    {% block js %} {% endblock %}
</head>
<body>
<div>
    <div class="ic_toolbar">
        <div class="grid_c1">
            <div class="mod_entry">
                <span  class="mod_entry_mix"  ><b>网上买菜，时尚生活&nbsp;</b>	  </span>

            </div>
            <div class="mod_sitemap" role="navigation">
                <ul class="mod_sitemap_ul" id="j_sitemap">


                    <li class="mod_sitemap_li">
                        <a href="/"   rel="nofollow">首页&nbsp;</a>
                    </li>

                    <li class="mod_sitemap_gap">|</li>

                    <li class="mod_sitemap_li">
                        <a href="/signin"   rel="nofollow">登录&nbsp;</a>
                    </li>

                    <li class="mod_sitemap_gap">|</li>
                    <li class="mod_sitemap_li">
                        <a href="javascript:window.location=request('next')" rel="nofollow">注册&nbsp;</a>
                    </li>
                    <li class="mod_sitemap_gap">|</li>
                    <li class="mod_sitemap_li">
                        <a href="/mobileclient"   rel="nofollow">手机易凡&nbsp;</a>
                    </li>


                </ul>
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
</div>
</body>
</html>
