<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8" />
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
<title>登录界面</title>
<link rel="stylesheet" type="text/css" href="style2/css/login_css/basic.css" />
<link rel="stylesheet" type="text/css" href="style2/css/login_css/login.css" />
<script type="text/javascript" src="style2/js/login_js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="style2/js/login_js/script.js"></script>

<!--[if lte IE 9]>
   <style type="text/css">
     .log{
       background:transparent;
	   zoom:1;
    }
    </style>
<![endif]-->
	
</head>
<body>
 <div class="head">
   <img src="/style2/images/logo.png" />
   <span class="jrsc">欢迎登录</span>
 </div>

 <div class="main">
  <div class="log">
  <div class="sjdl" id="sjdl">
    <form id="contact"  action="/login" method="post">
		{{xsrf()}}
        <span class="control-group" id="username_input">
			 <input class="user" id="username" name="mobile" placeholder="用户名" type="text" autocomplete="off" tabindex="1" value="" onfocus="this.style.borderColor='#00A73B';" onblur="this.style.borderColor='#ddd';" />
		</span>
		<span class="control-group" id="password1_input">
			 <input class="password" id="password1" name="password" placeholder="密码" type="password" value="" tabindex="2" onfocus="this.style.borderColor='#00A73B';" onblur="this.style.borderColor='#ddd';" />
		</span>
		<p class="pzjmm">
			<input id="mima" type="checkbox" style="display: none;"  name="mm" />
			<img id="mima" src="/style2/images/login_no.png" onclick="myFun(this.id)"/>
			<img id="mima" style="display: none;" src="/style2/images/login_yes.png" onclick="myFun1(this.id)"/><span class="jzmm">记住密码</span>
		</p>
		<button class="btn" name="submit" type="submit" id="submit_btn" data-submit="...Sending">登录</button>

	</form>

  </div>
  </div>
  </div>

  <div class="footer">
    <!-- <p class="dz01">公司地址：西安市碑林区金花南路立丰国际公寓407室</p>-->
	<p class="dz02">Copyright&copy;2016&nbsp;车装甲公司版权所有&nbsp;京ICP备1600154号-1</p>
  </div>

<script>
/* function changemenu(){
  var  aa = document.getElementById('sjdl');
  var  bb = document.getElementById('ewmdl');
  if (aa.style.display=='none'){
    aa.style.display='block';
	bb.style.display='none';
  }else{
    aa.style.display='none';
	bb.style.display='block';
  }
}  */

//记住密码单选框调用图片
        function myFun(sId) {
		    var oImg = document.getElementsByTagName('img');
		      if (sId == oImg[1].id) {

		        oImg[1].previousSibling.previousSibling.checked = true;
		        oImg[1].style.display = "none" ;
		      	oImg[2].style.display = "block";
		      }

		  }
        function myFun1(sId){
        	var oImg = document.getElementsByTagName('img');
        	 if(sId == oImg[2].id){
        	 	oImg[2].previousSibling.previousSibling.checked = false ;
		      	oImg[2].style.display = "none" ;
		      	oImg[1].style.display = "block";
		      }
        }

 	  //点击登录 判断用户名 ，密码
      function check() {
			hideAllTooltips();  //隐藏所有提示标签
			<!-- var ckh_result = true; -->
			//用户名是否为空
			if ($('#username').val() == ''){
				showTooltips('username_input','用户名不能为空',3000);
				return false;
			}
			//密码是否为空
			if ($('#password1').val() == '') {
				showTooltips('password1_input','密码不能为空',3000);
				return false;
			}
			//密码是否小于6位
			if ($('#password1').val().length <6) {
				showTooltips('password1_input','密码不能小于6位',3000);
				return false;
			}
			//验证码是否为空
			if($('#J_codetext').val() == ''){
				showTooltips('code_input','验证码不能为空',3000)
				return false;
			}
			//验证码是否输入正确
			if($('#J_codetext').val().toUpperCase() != code.toUpperCase()){
				showTooltips('code_input','验证码不正确',3000)
				return false;
			}

			return true;
    }
//为确定按钮添加回车事件
 document.onkeydown=function(event){
     var e = event || window.event || arguments.callee.caller.arguments[0];
     if(e && e.keyCode==13){ // enter 键
         validate();
    }
 };
</script>
</body>
</html>
