<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/style2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="row" style="margin:1px 12px;">
    <nav>
        <div>
            <a class="navbar-brand" href="#">选择转发的钣喷厂家</a>
            <label class="navbar-brand">
                <input type="checkbox" id="checkall">全选
            </label>
        </div>
        <div class="pull-right">
            <button type="button" id="btchangestatus" class="btn btn-primary">确定</button>
        </div>
    </nav>
</div>
<div class="row" style="margin:1px 12px;">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover" id="tb_users">
                    <thead>
                    <tr>
                        <th>选择</th>
                        <th>厂家名</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for s in stores -%}
                    <tr>
                        <td>
                            <label>
                                <input type="checkbox" name="order_id_list" value="{{s.id}}"
                                        {% if s.id==s.value %}
                            checked
                            {%endif%}
                                        >
                            </label>
                        </td>
                        <td>{{s.name}}
                        </td>
                    </tr>
                    {%- endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script src="/style2/js/jquery-1.11.1.min.js"></script>
<script>
    $(document).ready(function() {

    $('#checkall').bind('click',function () {
        $('#tb_users :checkbox').prop('checked',this.checked);
    });
    var xsrf='{{handler.xsrf_token}}';
    $('#btchangestatus').bind('click',function () {
        var ids = [];
        $('#tb_users :checkbox').each(function(){
            if($(this).is(':checked'))
            {
                ids.push($(this).val());
            }
        });
        $.post("/ajax/order/resend",
                {
                    oid:{{ oid }},
                    ids:JSON.stringify(ids),
                    _xsrf : xsrf
                },
                function(data){
                    var obj = jQuery.parseJSON(data);
                    if(obj.err==0) {
                        alert('操作完成！'+ obj.msg);
                    }
                    else{
                        alert('操作失败：'+obj.msg);
                    }
                });
    });
    });

</script>