{% extends "layout/admin.html" %}
{% block css %}
<style>
    .buy_number_input, .add_cart.buyer_button .unsellable, .track_click, .ilikewrap {
        background: url(/style2/images/mall_product_v4.png) no-repeat;
    }
    .buy_number_input {
        height: 28px;
        background-position: -198px 0;
        float: left;
        width: 105px;
        display: inline;
        margin-left: 5px;
    }
    .buy_number_input span {
        display: inline;
        float: left;
        height: 28px;
        width: 28px;
        cursor: pointer;
    }
    .buy_number_input input {
        float: left;
        display: inline;
        width: 49px;
        height: 28px;
        text-align: center;
        line-height: 28px;
        border: 0 none;
        overflow: hidden;
        background: transparent;
        margin-top: 1px;
        font-size: 14px;
        color: #080808;
    }
    .btn-group .btn input[type=checkbox] {
        position: absolute;
        clip: rect(0,0,0,0);
        pointer-events: none;
    }
    .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
        color: #fff;
        background-color: #c9302c;
        border-color: #ac2925;
    }
    .btn-primary:focus/*.btn-primary:hover, */{
        color: #fff;
        background-color: #3071a9;
        border-color: #285e8e;
    }
    .panel-footer {
        padding: 8px 0px;
    }
    #share{position:fixed;_position:absolute;_top:
    expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight)-34+"px");
        bottom:34px;left:96%;width:30px;zoom:1.5; z-index: 999;}

    .panel-right-tt {
        display: inline;
        padding: 3px 0px 3px 5px;
        background-color: #fff;
        border: none;
    }
    .padding0{padding: 0px;}
    .paddingl0{padding-left: 0px;}
    .panel-heading{padding: 0px 0px 0px 5px;}
    .panel-primary{margin-bottom: 5px;}
    .product-price{font-weight: bold;}
    .btn-primary {
        background-color: #fff;
        border-color: #fff;
        color: #000;
    }
    .panel-body{width: 100%;}
#share a{
	/*background-image:url(/style2/images/share.png);background-repeat:no-repeat;display:block;width:30px;height:30px;margin-bottom:2px;overflow:hidden;text-indent:-999px;*/
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
    cursor: pointer;
}
#share .sina{background-position:0 0;position:absolute;bottom:32px;}
#share a.sina:hover{background-position:-30px 0;}
#share .tencent{background-position:0 -30px;position:absolute;bottom:0;}
#share a.tencent:hover{background-position:-30px -30px;}
#share a#totop{background-position:0 -120px;position:absolute;bottom:64px;cursor:pointer;}
#share a#totop:hover{background-position:-30px -120px;}
.table{margin-bottom: 0px;}

</style>
{% endblock %}
{% block content %}
<div class="row">
    <nav>
        <a class="navbar-brand" href="#">大客户下单</a>
        <div class="pull-right navbar-form">
            <input type="button" onclick="goNext();" class="btn btn-danger" value="选好了，去选择产品">
        </div>
    </nav>
</div>

<form class="form-horizontal" id="form" method="post" action="">
    {{xsrf()}}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-success" id="fruit">
                <div class="panel-heading" style="padding: 10px 10px;">
                    <h3 class="panel-title">选择大客户　</h3>
                </div>
                <div class="panel-body btn-group"  data-toggle="buttons">

                    <select class="form-control" placeholder="请选择大客户" id="storeid" >
                        <option value="0" >请选择大客户</option>
                        {% for o in stores -%}
                        <option value="{{o.id}}">{{o.name}}</option>
                        {%- endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block js %}
<script>
        function goNext() {
            var storeid = $("#storeid").val();
//            alert(storeid)
            if (storeid <= 0) {
                alert("请选择大客户")
                return false
            }
            else{
                location.href = '/admin/bulk_product_sel/' + storeid;
            }
        }


</script>
{% endblock %}