{% extends "layout/admin.html" %}
{% block content %}
<link href="/style2/css/store_bigimg.css" rel="stylesheet">
<link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.5.0/css/amazeui.min.css" />
<script type="text/javascript" src="/style2/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/style2/js/bigimg.js"></script>
<style>
	.middle-img {
		position: absolute;
		left: 259px;
		top: 0px;
		width: 40px;
	}

	.up-img {
		position: absolute;
		top: -40px;
		left: 261px;
		width: 40px;
	}

	.down-img {
		position: absolute;
		top: 40px;
		left: 257px;
		width: 40px;
	}

	.left-img {
		position: absolute;
		left: 218px;
		width: 40px;
	}

	.right-img {
		position: absolute;
		left: 300px;
		width: 40px;
	}
	@media screen and (max-width:450px) {
		.middle-img {
			position: absolute;
			left: 259px;
			top: 0px;
			width: 40px;
			display: none;
		}

		.up-img {
			position: absolute;
			top: -40px;
			left: 261px;
			width: 40px;
			display: none;
		}

		.down-img {
			position: absolute;
			top: 40px;
			left: 257px;
			width: 40px;
			display: none;
		}

		.left-img {
			position: absolute;
			left: 218px;
			width: 40px;
			display: none;
		}

		.right-img {
			position: absolute;
			left: 300px;
			width: 40px;
			display: none;
		}

		.rotate_jia{
			display: none;
		}.rotate_div{
			display: none;
		}.rotate_jian{
			display: none;
		}
	}
</style>
<div class="mskeLayBg"></div>

<div id="fade" class="black_overlay">
</div>
<div class="row" style="background:none;">
    <ol class="breadcrumb">
        <li>
            <!--<input type=button value=返回订单管理 style="background:#438bca;color:#fff;border:none;border-radius:4px;margin-top:10px;" onclick="window.history.back()">-->
            <!--<input type=button value=后退 onclick="window.history.go(-1);window.location.reload()">-->
            <a href="/admin/insurances/{{state}}?status={{status}}&page={{page}}" style="background:#438bca;color:#fff;border:none;border-radius:4px;margin-top:10px;">返回订单</a>
        </li>
        <li class="active">
            {{ o.ordernum }}
        </li>
    </ol>
</div>
<div style="color: red; font-size: 0.6em; margin-bottom: 25px;">
    {%set messages=handler.get_flashed_messages() %}
    {%-if messages-%}
    <div>
        {% for type, msg in messages%}
        {{msg}}
        {% endfor %}
    </div>
    {%-endif-%}
</div>
<div class="row">
    <div class="col-lg-6" style="width:100%;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">订单基本信息</h3>
            </div>
            <div class="panel-body">
                <table class="table table-condensed" cellpadding="0" cellspacing="0" border="0" style="text-align:left;">
                    <tbody>
                    <tr>
                        <td>订单号：{{o.ordernum}}</td>
                    </tr>

                    <tr>
                        <td style="color:#ff5231;">订单状态：{% if o.status==0 %}
                            待确认
                            {% elif o.status==1  %}
                            待付款
                            {% elif o.status==2 %}
                            付款完成
                            {% elif o.status==3 %}
                            已办理
                            {% elif o.status==5 %}
                            已取消
                            {% endif %}</td>
                    </tr>

                    <tr>
                        <td>
                            {% if o.ordertype == 1 %}
                            保险信息：
                            {% elif o.ordertype == 2 %}
                            钣喷信息：
                            {% endif %}
                            {{ o.insurance.name }}
                        </td>
                    </tr>
                    <tr>
                        <td>  下单时间：{{o.ordered|datetimeformat}}
                        </td>
                    </tr>

                    {% if o.status != 0 %}
                    <tr>
                        <td>最后编辑人：{{o.lasteditedby|null}}
                        </td>
                    </tr>
                    <tr>
                        <td>最后编辑时间：{{o.lasteditedtime|datetimeformat}}
                        </td>
                    </tr>
                    {% endif %}
                    {% if o.status==2 %}
                    <tr>
                        <td>支付时间：{{paytime}}
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>订单留言：{{o.message}}</td>
                    </tr>
                    {% if o.status==5 %}
                    <tr>
                        <td>取消订单原因：</td>
                    </tr>

                    <tr>
                        <td>{{o.cancelreason}}</td>
                    </tr>
                    {% endif %}

                    <tr>
                        <td>取消订单：<input class="form-control" id="cancel_cause" name="cancel_cause" type="text" value="{{o.cancelreason}}" placeholder="订单取消原因..." style="width:480px;height:86px;">
                            {% if o.status>-1 and o.status< 5 %}
                            <input type="button" data-id="{{o.id}}" id="btnCancel" class="btn btn-outline btn-primary btn-xs" value="取消订单" style="width:90px;height:32px;background:#528ACB;color:#fff;border:none;border-radius:4px;margin-top:10px;">
                            {% endif %}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-6" style="width:100%;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">保险险种</h3>
            </div>
            <div class="panel-body">
                <table class="table table-condensed" cellpadding="0" cellspacing="0" border="0" style="text-align:left;">
                    <tbody>
                    {% for key in keys %}
                    {% set prc=o.__dict__['_data'][key] %}
                    {% if prc and prc != 'false' %}
                    <tr>
                        <td>{{ dictI[key][1] }}：</td>
                        <td>{{ dictI[key][0] }}{% if prc!='true' and prc!='ture' %}: {{ prc }} {% endif %}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-6" style="width:100%;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">用户信息</h3>
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <tbody>
                    <tr>
                        <td>用户账户：<a target="_blank" href="/admin/user/{{o.user.id}}">{{o.user.username}}</a></td>
                    </tr>

                    <tr>
                        <td>用户电话：{{o.user.mobile}}</td>
                    </tr>

                    <tr>
                        <td>用户Email：{{o.user.email}}</td>
                    </tr>

                    <tr>
                        <td>用户IP：{{o.ip}}</td>
                    </tr>

                    <tr>
                        <td>联系电话：{{o.mobile}}</td>
                    </tr>
                    <tr>
                        <td>
                            <textarea id="contents" style="width:340px;padding:2px;">www.520czj.com/user/showInsurance/{{o.id}}</textarea>
                            <input type="button" onClick="jsCopy();" value="复制" style="transform:translateY(-8px);	-webkit-transform:translateY(-8px);"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-6" style="width:100%;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">寄送信息</h3>
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <tbody>
                    <tr>
                        <td>联系人：{{o.contact}}</a></td>
                    </tr>

                    <tr>
                        <td>联系电话：{{o.mobile}}</td>
                    </tr>

                    <tr>
                        {% if ior %}
                        <td>所属省市：{{ior.address}}</td>
                        {% else %}
                        <td>所属省市： </td>
                        {% endif %}
                    </tr>

                    <tr>
                        {% if ior %}
                        <td>详细地址：{{ior.paddress}}</td>
                        {% else %}
                        <td>详细地址：</td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-6" style="width:100%;">
        <div class="panel panel-yellow" style="border:1px solid #ccc;">
            <div class="panel-heading" style="background:#f5f5f5;border-bottom:1px solid #ccc;">
                <h3 class="panel-title" style="color:#333;">图片信息</h3>
            </div>

            <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2
am-avg-md-3 am-avg-lg-4 am-gallery-overlay" data-am-gallery="{ pureview: true }" >
                <li>
                    <div class="am-gallery-item">
                        <a href="{{o.idcard}}" class="">
                            <img style="width:197;height:197" src="{{o.idcard}}"/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="am-gallery-item">
                        <a href="{{o.idcardback}}" class="">
                            <img style="width:197;height:197" src="{{o.idcardback}}"/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="am-gallery-item">
                        <a href="{{o.drivercard}}" class="">
                            <img style="width:197;height:197" src="{{o.drivercard}}"/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="am-gallery-item">
                        <a href="{{o.drivercard2}}" class="">
                            <img style="width:197;height:197" src="{{o.drivercard2}}"/>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

    </div>

    <div class="col-lg-6" style="width:100%;margin-bottom:30px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">操作</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" action="/admin/insurance/{{o.id}}" method="post">
                    {{xsrf()}}
                    <div class="form-group">
                        <label class="col-sm-1 control-label" style="font-weight:500;">
                            {% if o.ordertype == 1 %}
                            保险信息：
                            {% elif o.ordertype == 2 %}
                            钣喷信息：
                            {% endif %}
                        </label>
                        <div class="col-sm-9">
                            <select name="sel_pid" id="sel_pid" class="form-control" style="width:480px;height:34px;">
                                {% for p in products %}
                                <option value="{{p.id}}" {% if p == o.insurance %} selected="selected" {%endif%}>{{p.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" style="font-weight:500;">本地备注：</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="localsummary" name="localsummary" type="text"
                                   value="{{o.localsummary|null}}" placeholder="填写本地备注..." style="width:480px;height:34px;float:left;">
                            <span onclick="change_status('{{o.ordernum}}')" style="float:left;padding:5px 10px;margin-left:20px;margin-top:3px;background:#438bca;color:#fff;border-radius:4px;font-size:14px;cursor:pointer;">保存备注</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" style="font-weight:500;">交强险(元)：</label>
                        <div class="col-sm-9">
                            <input class="form-control" name="forceIprc" type="text"
                                   value="{{o.forceIprc}}" onkeyup="checkNum(this)" style="width:480px;height:34px;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" style="font-weight:500;">商业险(元)：</label>
                        <div class="col-sm-9">
                            <input class="form-control" name="businessIprc" type="text"
                                   value="{{o.businessIprc}}" onkeyup="checkNum(this)" style="width:480px;height:34px;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" style="font-weight:500;">车船税(元)：</label>
                        <div class="col-sm-9">
                            <input class="form-control" name="vehicleTax" type="text"
                                   value="{{o.vehicleTax}}" onkeyup="checkNum(this)" style="width:480px;height:34px;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" style="font-weight:500;">订单价格(元)：</label>
                        <div class="col-sm-9">
                            <input class="form-control" name="price" type="text"
                                   value="{{o.price}}" onkeyup="checkNum(this)" style="width:480px;height:34px;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" style="font-weight:500;">短信通知：</label>
                        <div class="col-sm-9">
                            <textarea id="psummary"  name="psummary" cols="60" rows="15">{{msgs}}</textarea>
                        </div>
                    </div>

                    <input id="sid" name="sid" type="hidden" value="{{o.store.id}}">
                    <input id="state" name="state" type="hidden" value="{{state}}">
                    <input id="status" name="status" type="hidden" value="{{status}}">
                    <input id="page" name="page" type="hidden" value="{{page}}">
                    <hr>
                    <button type="submit" style="width:90px;height:36px;margin-left:30px;border:none;background:#438bca;color:#fff;border-radius:4px;font-size:16px;">保存</button>
                    <button type="submit" name="saveAndSendMSG" value="1" style="width:150px;height:36px;margin-left:30px;border:none;background:#438bca;color:#fff;border-radius:4px;font-size:16px;">保存并发送短信</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-6" style="width:100%;margin-bottom:30px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">选择险种</h3>
            </div>
            <div class="panel-body">
                <input id="Button2" type="button" value="请选择险种" onclick="ShowDiv('MyDiv02','fade')" />

                <div class="bxarea" id="btn_box">
                    <pre>2016-09-29 10:25:28</pre>
                    <ul onclick="left_btn(0)">
                        <li><strong>保险公司：</strong><span>安盛天平</span></li>
                        <li><strong>商业险：</strong><span>交强险</span></li>
                        <li><strong>商业险-主险：</strong><span>车辆损失险</span></li>
                        <li><strong>商业险-主险：</strong><span>机动车车上人员责任险（司机）</span><em>5千元</em></li>
                        <li><strong>商业险-附加险：</strong><span>车身划痕损失</span><em>2千元</em></li>
                        <li><strong>保险总价：</strong><span>8千元</span></li>
                    </ul>

                    <pre>2016-09-29 11:38:28</pre>
                    <ul onclick="left_btn(1)">
                        <li><strong>保险公司：</strong><span>安盛天平</span></li>
                        <li><strong>商业险：</strong><span>交强险</span></li>
                        <li><strong>商业险-主险：</strong><span>车辆损失险</span></li>
                        <li><strong>商业险-主险：</strong><span>机动车车上人员责任险（司机）</span><em>5千元</em></li>
                        <li><strong>商业险-附加险：</strong><span>车身划痕损失</span><em>2千元</em></li>
                        <li><strong>保险总价：</strong><span>8千元</span></li>
                    </ul>
                </div>

                <!--选择险种弹出框开始-->
                <div id="MyDiv02" class="white_content tcdivx">
                    <div class="bt">
                        <span class="tjjs">选择险种</span>
                        <span class="gb" onclick="CloseDiv('MyDiv02','fade')"><img src="/style2/images/mke_close.png"/></span>
                    </div>

                    <form class="f_bxxz" action="" method="post">
                        <div class="div_gs">
                            <p>保险公司</p>
                            <div class="div_sel">
                                <select id="bxgs" style="width:210px;float:left;">
                                    <option value="安盛天平">安盛天平</option>
                                    <option value="太平洋">太平洋</option>
                                    <option value="阳光">阳光</option>
                                </select>
                            </div>
                        </div>
                        <div class="div_gs">
                            <p>交强险</p>
                            <div class="div_sel">
                                <div class="checkboxFive">
                                    <input type="checkbox" value="0" id="checkboxFiveInput0" name="cx" />
                                    <label for="checkboxFiveInput0">
                                        <font>交强险</font>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="div_gs div_syx">
                            <p>商业险--主险</p>
                            <div class="div_sel">
                                <div class="checkboxFive">
                                    <input type="checkbox" value="1" id="checkboxFiveInput01" name="cx" />
                                    <label for="checkboxFiveInput01">
                                        <font>车辆损失险</font>
                                    </label>
                                </div>
                            </div>

                            <div class="div_sel">
                                <div class="checkboxFive">
                                    <input type="checkbox" value="2" id="checkboxFiveInput02" name="cx" />
                                    <label for="checkboxFiveInput02">
                                        <font>第三者责任险</font>
                                    </label>
                                </div>
                                <select id="zrx">
                                    <option value="5千">5千</option>
                                    <option value="6千">6千</option>
                                    <option value="8千">8千</option>
                                </select>
                            </div>

                            <div class="div_sel">
                                <div class="checkboxFive">
                                    <input type="checkbox" value="3" id="checkboxFiveInput03" name="cx" />
                                    <label for="checkboxFiveInput03">
                                        <font>机动车全车盗抢险</font>
                                    </label>
                                </div>
                            </div>

                            <div class="div_sel">
                                <div class="checkboxFive">
                                    <input type="checkbox" value="4" id="checkboxFiveInput04" name="cx" />
                                    <label for="checkboxFiveInput04">
                                        <font>动车车上人员责任险（司机）</font>
                                    </label>
                                </div>
                                <select id="zrx_sj">
                                    <option value="5千">5千</option>
                                    <option value="6千">6千</option>
                                    <option value="8千">8千</option>
                                </select>
                            </div>

                            <div class="div_sel">
                                <div class="checkboxFive">
                                    <input type="checkbox" value="5" id="checkboxFiveInput05" name="cx" />
                                    <label for="checkboxFiveInput05">
                                        <font>动车车上人员责任险（乘客）</font>
                                    </label>
                                </div>
                                <select id="zrx_ck">
                                    <option value="5千">5千</option>
                                    <option value="6千">6千</option>
                                    <option value="8千">8千</option>
                                </select>
                            </div>
                        </div>

                        <div class="div_gs div_syx">
                            <p>商业险--附加险</p>
                            <div class="div_sel">
                                <div class="checkboxFive">
                                    <input type="checkbox" value="6" id="checkboxFiveInput06" name="cx" />
                                    <label for="checkboxFiveInput06">
                                        <font>玻璃单独破碎险</font>
                                    </label>
                                </div>
                            </div>

                            <div class="div_sel">
                                <div class="checkboxFive">
                                    <input type="checkbox" value="7" id="checkboxFiveInput07" name="cx" />
                                    <label for="checkboxFiveInput07">
                                        <font>车身划痕损失</font>
                                    </label>
                                </div>
                                <select id="hhss">
                                    <option value="2千">2千</option>
                                    <option value="3千">3千</option>
                                    <option value="5千">5千</option>
                                </select>
                            </div>

                            <div class="div_sel">
                                <div class="checkboxFive">
                                    <input type="checkbox" value="8" id="checkboxFiveInput08" name="cx" />
                                    <label for="checkboxFiveInput08">
                                        <font>自然损失险</font>
                                    </label>
                                </div>
                            </div>

                            <div class="div_sel">
                                <div class="checkboxFive">
                                    <input type="checkbox" value="9" id="checkboxFiveInput09" name="cx" />
                                    <label for="checkboxFiveInput09">
                                        <font>发动机涉水损失险</font>
                                    </label>
                                </div>
                            </div>

                            <div class="div_sel">
                                <div class="checkboxFive">
                                    <input type="checkbox" value="10" id="checkboxFiveInput10" name="cx" />
                                    <label for="checkboxFiveInput10">
                                        <font>不计免赔特约险</font>
                                    </label>
                                </div>
                            </div>

                            <div class="div_sel">
                                <div class="checkboxFive check_ts">
                                    <input type="checkbox" value="11" id="checkboxFiveInput11" name="cx" />
                                    <label for="checkboxFiveInput11">
                                        <font>机动车损失保险无法找到第三方特约金</font>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <p class="bxzj">总价：<input class="bxzj" id="bxzj" type="text" value="" required placeholder="总价" /></p>
                        <p class="bxbz"><em>备注：</em><textarea id="bz" name="contactus"></textarea></p>

                        <button class="btny" name="reset" type="reset" style="margin-left: 230px;">取消</button>
                        <button class="btnx" name="submit" type="submit">确定</button>
                    </form>
                </div>
                <!--选择险种弹出框结束-->

                <button class="btny" name="reset" type="reset" style="margin-top:30px;">取消</button>
                <button class="btnx" name="submit" type="submit">确定</button>

            </div>
        </div>
    </div>

</div>
<iframe id="theone" src="" width="600" height="700" style="display: none;"></iframe>

{% endblock %}
{% block js %}
<script src="/style2/js/jquery.min.js"></script>
<script src="/style2/js/amazeui.js"></script>
<script src="/style2/js/layer-v1.9/layer.js" type="text/javascript"></script>
<script>
    $(function() {
        var xsrf='{{handler.xsrf_token}}';
        ids = [{{o.id}}];
        $("#btnCancel").click(function() {
            var oid = $(this).attr("data-id");
            var cause = $("#cancel_cause").val();
            if (cause != "") {
                layer.confirm("您确认要取消此订单吗？", {
                    btn: ['确认', '放弃'],
                    shade: 0.2
                },function () {
                    $.post("/ajax/cancel_insurance_order", {_xsrf: xsrf, id: oid, status: 5, cause: cause}, function (data) {
                        var result = jQuery.parseJSON(data);
                        if (result.err == 0) {
                            layer.msg("取消成功！");
                            location.reload();
                        }
                        else {
                            layer.alert(result.msg)
                        }
                    });
                });
            }else{
                layer.alert("请输入取消原因！");
            }
        });

        $("#sbmt").click(function() {
            var forceIprc=parseFloat(document.getElementById("forceIprc").value);
            var businessIprc=parseFloat(document.getElementById("businessIprc").value);
            var vehicleTax=parseFloat(document.getElementById("vehicleTax").value);
            var price=parseFloat(document.getElementById("price").value);
            var totalPrice = forceIprc+businessIprc+vehicleTax
            if(price != totalPrice){
                layer.alert("订单价格 不等于 交强险+商业险+车船税 ");
            }
        });
    });

    //弹出隐藏层
    function ShowDiv(show_div,bg_div){
        document.getElementById(show_div).style.display='block';
        document.getElementById(bg_div).style.display='block' ;
        var bgdiv = document.getElementById(bg_div);
        bgdiv.style.width = document.body.scrollWidth;
        // bgdiv.style.height = $(document).height();
        $("#"+bg_div).height($(document).height());
    };
    //关闭弹出层
    function CloseDiv(show_div,bg_div)
    {
        document.getElementById(show_div).style.display='none';
        document.getElementById(bg_div).style.display='none';
    };

    function left_btn(n)
    {
        var a_num=document.getElementById("btn_box").getElementsByTagName("ul");
        for(i=0;i<a_num.length;i++)
        {
        a_num[i].className=i==n?"select":"";
        }
    }

    function checkNum(obj) {
         //检查是否是非数字值
         if (isNaN(obj.value)) {
             obj.value = "";
         }
         if (obj != null) {
             //检查小数点后是否对于两位http://blog.csdn.net/shanzhizi
             if (obj.value.toString().split(".").length > 1 && obj.value.toString().split(".")[1].length > 2) {
                 alert("小数点后多于两位！");
                 obj.value = "";
             }
         }
     }

    function jsCopy(){
       var e=document.getElementById("contents");//对象是contents
       e.select(); //选择对象
       var e="hello world"
       tag=document.execCommand("Copy"); //执行浏览器复制命令
       if(tag){
         alert('复制内容成功');
       }
    }

    var xsrf='{{handler.xsrf_token}}';
    function change_status(ordernum){
        var localsummary=document.getElementById("localsummary").value;
        $.post("/ajax/submit_local_summary", { _xsrf:xsrf, ordernum:ordernum, localsummary:localsummary}, function (data) {
            var obj = jQuery.parseJSON(data);
            if (obj.flag == 1) {
                alert('成功');
            }
            else {
                alert(obj.msg);
            }
        });
    }

   </script>
{% endblock %}