{% extends "layout/admin.html" %}
{% block content %}
<link href="/style/css/store_bigimg.css" rel="stylesheet">
<link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.5.0/css/amazeui.min.css" />
<script type="text/javascript" src="/style/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/style/js/bigimg.js"></script>
<style>
    .middle-img {
        position: absolute;
        left: 259px;
        top: 0px;
        width: 40px;
    }

    .up-img {
        position: absolute;
        top: -40px;
        left: 261px;
        width: 40px;
    }

    .down-img {
        position: absolute;
        top: 40px;
        left: 257px;
        width: 40px;
    }

    .left-img {
        position: absolute;
        left: 218px;
        width: 40px;
    }

    .right-img {
        position: absolute;
        left: 300px;
        width: 40px;
    }
    @media screen and (max-width:450px) {
        .middle-img {
            position: absolute;
            left: 259px;
            top: 0px;
            width: 40px;
            display: none;
        }

        .up-img {
            position: absolute;
            top: -40px;
            left: 261px;
            width: 40px;
            display: none;
        }

        .down-img {
            position: absolute;
            top: 40px;
            left: 257px;
            width: 40px;
            display: none;
        }

        .left-img {
            position: absolute;
            left: 218px;
            width: 40px;
            display: none;
        }

        .right-img {
            position: absolute;
            left: 300px;
            width: 40px;
            display: none;
        }

        .rotate_jia{
            display: none;
        }.rotate_div{
             display: none;
         }.rotate_jian{
              display: none;
          }
    }
</style>
<div class="mskeLayBg"></div>

<div id="fade" class="black_overlay"></div>
<div class="row" style="background:none;">
    <ol class="breadcrumb">
        <li>
            <a href="/admin/insurances/{{state}}?status={{status}}&page={{page}}" style="background:#438bca;color:#fff;border:none;border-radius:4px;margin-top:10px;">返回订单</a>
        </li>
    </ol>
</div>
<div style="color: red; font-size: 0.6em; margin-bottom: 25px;">
    {%set messages=handler.get_flashed_messages() %}
    {% if messages %}
    <div>
        {% for type, msg in messages%}
        {{msg}}
        {% endfor %}
    </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-lg-6" style="width:100%;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">订单基本信息</h3>
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <tbody>
                    <tr>
                        <td>订单号：{{o.ordernum}}</td>
                        <td>订单状态：
                            {% if o.status==0 %}
                            待确认
                            {% elif o.status==1 %}
                            待付款
                            {% elif o.status==2 %}
                            付款完成
                            {% elif o.status==3 %}
                            已办理
                            {% elif o.status==4 %}
                            已邮寄
                            {% elif o.status==-1 %}
                            已取消
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>保险信息：{{ o.current_order_price.insurance.name }}</td>
                        <td>返佣方式：
                            {% if o.current_order_price.gift_policy == 0 %}
                            其它
                            {% elif o.current_order_price.gift_policy == 1 %}
                            返油
                            {% elif o.current_order_price.gift_policy == 2 %}
                            返积分：{{ o.scoreNum }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>  下单门店：{{o.ordered|datetimeformat}}</td>
                        <td>  下单时间：{{o.ordered|datetimeformat}}</td>
                    </tr>
                    <tr>
                        <td>下单用户：<a target="_blank" href="/admin/user/{{o.user.id}}">{{o.user.username}}</a></td>
                        <td>用户电话：{{o.user.mobile}}</td>
                    </tr>
                    <tr>
                        <td>收件人：{{o.delivery_to}} </td>
                        <td> 电话：{{o.delivery_tel}}</td>
                    </tr>
                    <tr>
                        <td>收件省市：</td>
                        <td>详细地址：</td>
                    </tr>
                    {% if o.status==2 %}
                    <tr>
                        <td>支付时间：{{paytime}}</td>
                        <td>支付方式：{{paytime}}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>最后编辑人：{{o.current_order_price.admin_user.name|null}}</td>
                        <td>最后编辑时间：</td>
                    </tr>
                    <tr>
                        <td>分享保单：
                            <textarea id="contents" style="width:400px;padding:2px;">www.520czj.com/user/showInsurance/{{poid}}</textarea>
                            <input type="button" onClick="jsCopy();" value="复制" style="transform:translateY(-8px);	-webkit-transform:translateY(-8px);"/>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>分享保单（不含门店信息）：
                            <textarea id="contents_without_add" style="width:400px;padding:2px;">www.520czj.com/user/showInsurance/{{poid2}}?addr=1</textarea>
                            <input type="button" onClick="jsCopy2();" value="复制" style="transform:translateY(-8px);	-webkit-transform:translateY(-8px);"/>
                        </td>
                        <td></td>
                    </tr>
                    {% if o.status>-1 and o.status<3 %}
                    <tr>
                        <td>取消订单：<input class="form-control" id="cancel_cause" name="cancel_cause" type="text" value="{{o.cancelreason}}" placeholder="订单取消原因..." style="width:480px;height:86px;">
                            <input type="button" data-id="{{o.id}}" id="btnCancel" class="btn btn-outline btn-primary btn-xs" value="取消订单" style="width:90px;height:32px;background:#528ACB;color:#fff;border:none;border-radius:4px;margin-top:10px;">
                    </tr>
                    {% endif %}
                    <tr>
                        <td>本地备注：<input class="form-control" name="cancel_cause" type="text" value="{{o.cancelreason}}" style="width:480px;height:86px;">
                            <input type="button" data-id="{{o.id}}" class="btn btn-outline btn-primary btn-xs" value="本地备注" style="width:90px;height:32px;background:#528ACB;color:#fff;border:none;border-radius:4px;margin-top:10px;">
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-6" style="width:100%;">
        <div class="panel panel-yellow" style="border:1px solid #ccc;">
            <div class="panel-heading" style="background:#f5f5f5;border-bottom:1px solid #ccc;">
                <h3 class="panel-title" style="color:#333;">图片信息</h3>
            </div>
            <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2am-avg-md-3 am-avg-lg-4 am-gallery-overlay" data-am-gallery="{ pureview: true }" >
                <li>
                    <div class="am-gallery-item">
                        <a href="{{o.id_card_front}}" class="">
                            <img style="width:197px;height:197px" src="{{o.id_card_front}}"/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="am-gallery-item">
                        <a href="{{o.id_card_back}}" class="">
                            <img style="width:197;height:197" src="{{o.id_card_back}}"/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="am-gallery-item">
                        <a href="{{o.drive_card_front}}" class="">
                            <img style="width:197;height:197" src="{{o.drive_card_front}}"/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="am-gallery-item">
                        <a href="{{o.drive_card_back}}" class="">
                            <img style="width:197;height:197" src="{{o.drive_card_back}}"/>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div id="asdf">
    {% for program in programs %}
    <div class="col-lg-6" style="width:100%;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">方案ID：{{program['pid']}}</h3>
            </div>
            <div id="{{program['pid']}}" class="panel-body">
                <table class="table table-condensed">
                    <tbody>
                    <tr>
                        <td>
                            <label>保险公司：</label>
                            <select name="insurance">
                                {% for p in insurances %}
                                <option value="{{p.id}}" {{p.name == program['insurance'].name and "selected" or ''}}>{{p.name}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <label>返佣方式：</label>
                            <select name="gift_policy">
                                <option value="1" {{ 1 == program['gift_policy'] and "selected" or '' }}>返油</option>
                                <option value="2" {{ 2 == program['gift_policy'] and "selected" or '' }}>返积分</option>
                            </select>
                        </td>
                    </tr>

                    {% for i_item in program['program'] %}
                    <tr>
                        <td>{{ i_item['name'] }}：</td>
                        <td>
                            {% if i_item['value']!='1' %}
                            险额：{{i_item['value']}}
                            {% endif %}
                            报价：<input name="i_item" e_name="{{i_item['e_name']}}" c_name="{{i_item['name']}}" i_type="{{i_item['style_id']}}" value="{{i_item['price']}}" style="width: 80px;"/>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            车船税：<input name="vehicle_tax_price" value="{{program['vehicle_tax_price']}}" style="width: 80px;"/>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            商业险折扣：<input name="business_rate" value="" style="width: 80px;"/>
                        </td>
                        <td>
                            交强险折扣：<input name="force_rate" value="" style="width: 80px;"/>
                        </td>
                    </tr>
                    <tr>
                        <td>返点率（百分数）：
                            <input name="business_s" value="" placeholder="商业返佣率" style="width: 100px;"/>
                            <input name="force_s" value="" placeholder="交强返佣率" style="width: 100px;"/>
                            <input name="ali_rate" value="" placeholder="转账费率" style="width: 80px;"/>
                            <input name="profit" value="" placeholder="利润率" style="width: 80px;"/>
                            <input name="business_tax" value="" placeholder="商业【税率】" style="width: 100px;"/>
                            <input name="force_tax" value="" placeholder="交强【税率】" style="width: 100px;"/>
                            <input name="base_money" value="" placeholder="起兑金额" style="width: 100px;"/>
                        </td>
                        <td>
                            <span onclick="get_score_rate({{ program['pid'] }})" style="float:left;padding:5px 10px;margin-left:20px;margin-top:3px;background:#438bca;color:#fff;border-radius:4px;font-size:14px;cursor:pointer;">获取返点</span>
                        </td>
                    </tr>
                    <tr>
                        <td><span onclick="auto_calculation({{ program['pid'] }})" style="float:left;padding:5px 10px;margin-left:20px;margin-top:3px;background:#438bca;color:#fff;border-radius:4px;font-size:14px;cursor:pointer;">自动计算</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            商业险总价：<input name="business_price" value="{{program['business_price']}}" style="width: 80px;"/>
                        </td>
                        <td>
                            交强险总价：<input name="force_price" value="{{program['force_price']}}" style="width: 80px;"/>
                        </td>
                    </tr>
                    <tr>
                        <td>返点：<input name="score" value="{{program['score']}}" style="width: 80px;"/></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            总价：<input name="total_price" value="{{program['total_price']}}" style="width: 80px;"/>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            短信通知：<textarea name="psummary" cols=100%; rows="10">{{program['msg']}}</textarea>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>最终方案：<input name="last_program" value="" style="width: 80px;"/></td>
                        <td>
                            <span onclick="saveData({{ program['pid'], 0 }})" style="float:left;padding:5px 10px;margin-left:20px;margin-top:3px;background:#438bca;color:#fff;border-radius:4px;font-size:14px;cursor:pointer;">保存</span>
                            <span onclick="saveData({{ program['pid'], 1 }})" style="float:left;padding:5px 10px;margin-left:20px;margin-top:3px;background:#438bca;color:#fff;border-radius:4px;font-size:14px;cursor:pointer;">保存并发短信</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}
{% block js %}
<script src="/style/js/amazeui.js"></script>
<script src="/style/js/layer-v1.9/layer.js" type="text/javascript"></script>
<script>
    $(function() {
        var xsrf='{{handler.xsrf_token}}';
        ids = [{{o.id}}];
        $("#btnCancel").click(function() {
            var oid = $(this).attr("data-id");
            var cause = $("#cancel_cause").val();
            if (cause != "") {
                layer.confirm("您确认要取消此订单吗？", {
                    btn: ['确认', '放弃'],
                    shade: 0.2
                },function () {
                    $.post("/ajax/cancel_insurance_order", {_xsrf: xsrf, id: oid, status: 5, cause: cause}, function (data) {
                        var result = jQuery.parseJSON(data);
                        if (result.err == 0) {
                            layer.msg("取消成功！");
                            window.location.href="/admin/insurance/"+oid;
                        }
                        else {
                            layer.alert(result.msg)
                        }
                    });
                });
            }else{
                layer.alert("请输入取消原因！");
            }
        });
    });

    function checkNum(obj) {
        //检查是否是非数字值
        if (isNaN(obj.value)) {
            obj.value = "";
        }
        if (obj != null) {
            //检查小数点后是否对于两位http://blog.csdn.net/shanzhizi
            if (obj.value.toString().split(".").length > 1 && obj.value.toString().split(".")[1].length > 2) {
                alert("小数点后多于两位！");
                obj.value = "";
            }
        }
    }

    function jsCopy(){
        var e=document.getElementById("contents");//对象是contents
        e.select(); //选择对象
        var e="hello world"
        tag=document.execCommand("Copy"); //执行浏览器复制命令
        if(tag){
            alert('复制内容成功');
        }
    }

    function jsCopy2(){
        var e=document.getElementById("contents_without_add");//对象是contents
        e.select(); //选择对象
        var e="hello world"
        tag=document.execCommand("Copy"); //执行浏览器复制命令
        if(tag){
            alert('复制内容成功');
        }
    }

    var xsrf='{{handler.xsrf_token}}';
    function change_status(ordernum){
        var localsummary=document.getElementById("localsummary").value;
        $.post("/ajax/submit_local_summary", { _xsrf:xsrf, ordernum:ordernum, localsummary:localsummary}, function (data) {
            var obj = jQuery.parseJSON(data);
            if (obj.flag == 1) {
                alert('成功');
            }
            else {
                alert(obj.msg);
            }
        });
    }
    // 自动计算
    function auto_calculation(program_id){
        // 根据获取 ID 获取元素
        var program = document.getElementById(program_id);
        // 获取数据
        var insurance = $(program).find('select[name="insurance"]').val();   // 保险 ID
        var gift_policy = $(program).find('select[name="gift_policy"]').val();   // 返佣方式
        var vehicle_tax_price = $(program).find('input[name="vehicle_tax_price"]').val();    // 车船税价格
        var business_rate = $(program).find('input[name="business_rate"]').val();    // 商业险折扣
        if( business_rate == ''){
            business_rate = 10;
        }
        var force_rate = $(program).find('input[name="force_rate"]').val();    // 交强险折扣
        if( force_rate == ''){
            force_rate = 10;
        }
        var business_s = $(program).find('input[name="business_s"]').val();    // 商业险返佣率
        var force_s = $(program).find('input[name="force_s"]').val();    // 交强险返佣率
        var ali_rate = $(program).find('input[name="ali_rate"]').val();    // 转账费率
        var profit = $(program).find('input[name="profit"]').val();    // 利润率
        var business_tax = $(program).find('input[name="business_tax"]').val();    // 商业险税率
        var force_tax = $(program).find('input[name="force_tax"]').val();    // 交强险税率

        var total_force = 0;
        var total_business = 0;
        var insurance_details = '';
        // 获取循环的险种数据
        $(program).find('table tr td').each(function (index, element) {
            var i_item_name = $(this).find('input[name="i_item"]').attr('c_name');
            var i_item = $(this).find('input[name="i_item"]').attr('e_name');
            var i_type = $(this).find('input[name="i_item"]').attr('i_type');
            var i_item_value = $(this).find('input[name="i_item"]').val();
            if(i_type == 1){
                total_force = i_item_value*force_rate/10;    // 交强险总金额
                insurance_details = insurance_details+i_item_name+i_item_value+'元\n';
            }else if (i_type == 2 | i_type == 3){
                total_business = total_business*1 + i_item_value*1;    // 商业险总金额
                insurance_details = insurance_details+i_item_name+i_item_value+'元\n';
            }
        });
        // 计算总额
        total_business = (total_business*business_rate/10);
        var total_price = total_force + total_business + vehicle_tax_price*1;
        var score = total_business*(1-business_tax/100)*business_s/100 + total_force*(1-force_tax/100)*force_s/100 - total_price*(ali_rate/100+profit/100);
        if(gift_policy == '2'){
            $(program).find('input[name="score"]').val(score.toFixed(0));
        } else {
            $(program).find('input[name="score"]').val(0);
        }
        // 回填
        $(program).find('input[name="business_price"]').val(total_business.toFixed(2));
        $(program).find('input[name="force_price"]').val(total_force.toFixed(2));
        $(program).find('input[name="total_price"]').val(total_price.toFixed(2));
        var msg = '';
        if(business_rate == '10'){
            msg = '商业险'+total_business+'元\n'
        } else{
            msg = '商业险'+business_rate+'折'+total_business+'元\n'
        }
        if(force_rate == '10'){
            msg = msg+'交强险'+total_force+'元\n'
        } else {
            msg = msg+'交强险'+force_rate+'折'+total_force+'元\n'
        }
        msg = msg+'车船税'+vehicle_tax_price+'元\n' + '合计'+total_price+'元；\n'+'其中:'+insurance_details;
        $(program).find('textarea[name="psummary"]').val(msg);
    }
    // 获取返点
    function get_score_rate(pid) {
        var program = document.getElementById(pid);
        var gift_policy = $(program).find('select[name="gift_policy"]').val();   // 获取返佣方式

        $.get("/ajax/get_score_rate", {pid: pid}, function (data) {
            var obj = jQuery.parseJSON(data);
            if (obj.flag == 1) {
                if (gift_policy == '1') {
                    alert('返佣方式为返油，所以返点为0！');
                    $(program).find('input[name="business_s"]').val(0);    // 商业险返佣率
                    $(program).find('input[name="force_s"]').val(0);    // 交强险返佣率
                    $(program).find('input[name="ali_rate"]').val(0);    // 转账费率
                    $(program).find('input[name="profit"]').val(0);    // 利润率
                    $(program).find('input[name="business_tax"]').val(0);    // 商业险税率
                    $(program).find('input[name="force_tax"]').val(0);    // 交强险税率
                    $(program).find('input[name="base_money"]').val(0);    // 起兑金额
                } else {
                    $(program).find('input[name="business_s"]').val(obj.data.business_s);    // 商业险返佣率
                    $(program).find('input[name="force_s"]').val(obj.data.force_s);    // 交强险返佣率
                    $(program).find('input[name="ali_rate"]').val(obj.data.ali_rate);    // 转账费率
                    $(program).find('input[name="profit"]').val(obj.data.profit_rate);    // 利润率
                    $(program).find('input[name="business_tax"]').val(obj.data.business_tax);    // 商业险税率
                    $(program).find('input[name="force_tax"]').val(obj.data.force_tax);    // 交强险税率
                    $(program).find('input[name="base_money"]').val(obj.data.base_money);    // 起兑金额
                }
            }
            else {
                alert(obj.msg);
            }
        });
    }
    // 保存
    function  saveData(program_id, send_msg) {
        // 根据获取 ID 获取元素
        var program = document.getElementById(program_id);
        // 获取数据
        var i_items = {};
        $(program).find('table tr td').each(function (index, element) {
            var i_item = $(this).find('input[name="i_item"]').attr('e_name');
            var i_type = $(this).find('input[name="i_item"]').attr('i_type');
            var i_item_value = $(this).find('input[name="i_item"]').val();
            if(i_type == 1 | i_type == 2 | i_type == 3){
                i_items[i_item] = i_item_value;
            }
        });

        var insurance = $(program).find('select[name="insurance"]').val();   // 保险 ID
        var gift_policy = $(program).find('select[name="gift_policy"]').val();   // 返佣方式
        var vehicle_tax_price = $(program).find('input[name="vehicle_tax_price"]').val();    // 车船税价格
        var business_price = $(program).find('input[name="business_price"]').val();    // 商业险价格
        var force_price = $(program).find('input[name="force_price"]').val();    // 交强险价格
        var total_price = $(program).find('input[name="total_price"]').val();    // 总价
        var score = $(program).find('input[name="score"]').val();    // 积分
        var psummary = $(program).find('textarea[name="psummary"]').val();    // 短信
        var last_program = $(program).find('input[name="last_program"]').val();    // 是否最终方案
        var groups = {};
        groups['pid'] = program_id;
        groups['insurance'] = insurance;
        groups['gift_policy'] = gift_policy;
        groups['vehicle_tax_price'] = vehicle_tax_price;
        groups['business_price'] = business_price;
        groups['force_price'] = force_price;
        groups['total_price'] = total_price;
        groups['score'] = score;
        groups['psummary'] = psummary;
        groups['last_program'] = last_program;
        for(var key in groups){
            console.debug(key, groups[key]);
            if(groups[key] ){

            }
        }
        for(var key in i_items){
            console.debug(key, i_items[key]);
        }

        $.post('/ajax/save_iop_data', {_xsrf:xsrf, i_items:JSON.stringify(i_items), groups:JSON.stringify(groups), send_msg:send_msg}, function (data) {
            var obj = jQuery.parseJSON(data);
            if (obj.flag == 1) {
                alert('保存成功!');
            } else {
                alert(obj.msg);
            }
        });
    }

</script>
{% endblock %}