{% extends "layout/admin.html" %}
{% block css %}
<link href="/style/css/plugins/dataTables.bootstrap.css" rel="stylesheet">
<style>
    #province_code,#city_code{
        height:34px;
        margin-left: 0px;
        transform:translateY(2px);
        -webkit-transform:translateY(2px);
        border-radius:4px;
        border-color:#ccc;
    }
    .table th{
        text-align:center;
    }
</style>
{% endblock %}

{% block content %}
<script language="javascript" type="text/javascript" src="/style/js/My97DatePicker/WdatePicker.js"></script>
{%set messages=handler.get_flashed_messages() %}
{% if messages %}
<div style="color: red; font-size: 0.6em; margin-bottom: 25px;">
    <div>
        {% for type, msg in messages%}
        {{msg}}
        {% endfor %}
    </div>
</div>
{% endif %}
<div class="row">
    <nav>
        <div><a class="navbar-brand" href="#">保险订单</a></div>
        <div class="pull-right">
            <form class="navbar-form navbar-left" action="" method="get" role="search">
                <input type="hidden" name="page" value="1">
                <input type="hidden" name="archive" value="{{archive}}">
                <label class="num">地区：</label>
                <select name="province_code" id="province_code" onchange="province_change(this.value, 0)" data-default="{{default_province}}" style="width:120px;">
                    <option value="">--选择省份--</option>
                    {% for area in items %}
                    <option value="{{area.code}}" {{area.code==default_province and 'selected' or ''}}>{{area.name}}</option>
                    {% endfor %}
                </select>
                <select name="city_code" id="city_code" data-default="{{default_city}}" style="width:120px;">
                    <option value="">--选择城市--</option>
                </select>
                <div class="btn-group btn-group-xs">
                    <select class="form-control" name="status" id="sel_type" style="width:100px;">
                        {% if active == 'i_order' %}
                        <option value="0" {{ status==0 and 'selected' or '' }}>待报价</option>
                        <option value="1" {{ status==1 and 'selected' or '' }}>待付款</option>
                        <option value="2" {{ status==2 and 'selected' or '' }}>已付款</option>
                        <option value="-2" {{ status==-2 and 'selected' or '' }}>全部</option>
                        {% else %}
                        <option value="3" {{ status==3 and 'selected' or '' }}>已办理</option>
                        <option value="-1" {{ status==-1 and 'selected' or '' }}>已取消</option>
                        <option value="-2" {{ status==-2 and 'selected' or '' }}>全部</option>
                        {% endif %}
                    </select>
                </div>

                <div class="input-group">
                    <input type="text" name="begin_date" id="begin_date" value="{{begin_date}}" class="Wdate form-control"  onClick="WdatePicker()" style="width:110px; height: 34px;margin-right:5px;border:1px solid #ccc;border-radius:4px;" placeholder="开始日期"/>
                    <input type="hidden" name="statuscheck" id="statuscheck" class="form-control" value="">
                    <input type="text" name="end_date" id="end_date" value="{{end_date}}" class="Wdate form-control" onClick="WdatePicker()" style="width:110px; height:34px;margin-right:5px;border:1px solid #ccc;border-radius:4px;" placeholder="截止日期"/>
                    <input type="text" name="keyword" class="form-control" placeholder="订单号" value="{{keyword or ''}}" style="width:145px;height:34px;border:1px solid #ccc;border-bottom-left-radius:4px;border-top-left-radius:4px;" />
                    <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                     <i class="fa fa-search"></i>
                 </button>
            </span>
                </div>
            </form>
        </div>

    </nav>
</div>
<div class="row">
    <div class="panel panel-primary">
        <div class="table-responsive">
            <table class="table table-hover" id="tb_users" cellpadding="0" cellspacing="0" border="0" style="text-align:center;">
                <thead>
                <tr style="background:#528acb;color:#fff;text-align:center;height:38px;line-height:38px;">
                    <th style="width:7%;text-align:center;">订单号</th>
                    <th style="width:8%;text-align:center;">店铺</th>
                    <th style="width:14%;text-align:center;">地址</th>
                    <th style="width:10%;text-align:center;">报单时间</th>
                    <th style="width:10%;text-align:center;">支付时间</th>
                    <th style="width:7%;text-align:center;">保险名称</th>
                    <th style="width:5%;text-align:center;">价格</th>
                    <th style="width:5%;text-align:center;">状态</th>
                    <th style="width:4%;text-align:center;">优惠</th>
                    <th style="width:6%;text-align:center;">支付方式</th>
                    <th style="width:12%;text-align:center;">备注</th>
                </tr>
                </thead>
                <tbody>
                {% for o in orders %}
                <tr>
                    <td>
                        <a href="/admin/insurance_order/{{o.id}}?state={{state}}&status={{status}}&page={{page}}">{{o.ordernum}}</a>
                    </td>
                    <td>{{o.store.name}}</td>
                    <td>{{Area.get_detailed_address(o.store.area_code)}}</td>
                    <td>{{o.current_order_price.created|datetimeformat}}</td>
                    <td>{{o.pay_time|datetimeformat}}</td>
                    <td>{{o.current_order_price.insurance.name}}</td>
                    <td>{{o.current_order_price.total_price}}</td>
                    <td>
                        {% if o.status==0 %}
                        <div style="color:#FF0800;">待报价</div>
                        {% elif o.status==1  %}
                        <div style="color:#990033;">待付款</div>
                        {% elif o.status==2 %}
                        <div style="color:#00CC00;">已付款</div>
                        {% elif o.status==3 %}
                        <div style="color:#487;">已办理</div>
                        {% elif o.status==-1 %}
                        <div style="color:#000800;">已取消</div>
                        {% endif %}
                    </td>
                    <td>
                        {% if o.status == 2 %}
                            {% if o.current_order_price.gift_policy == 2 %}
                            <a href="/admin/insurance_dispose/{{o.id}}?o_status={{o.status}}&status={{status}}&page={{page}}&dispose=finish"
                               onclick="return confirm('确定现在返现？');" style="color:#990033;">{% if o.status == 2 %}* {% endif %}返现</a>
                            {% elif o.current_order_price.gift_policy == 1 %}
                            <a href="/admin/insurance_dispose/{{o.id}}?o_status={{o.status}}&status={{status}}&page={{page}}&dispose=finish"
                               onclick="return confirm('确定现在送油？');" style="color:#00CC00;">{% if o.status == 2 %}* {% endif %}返油</a>
                            {% elif o.current_order_price.gift_policy == 3 %}
                            <a href="/admin/insurance_dispose/{{o.id}}?o_status={{o.status}}&status={{status}}&page={{page}}&dispose=finish"
                               onclick="return confirm('确定现在返积分？');" style="color:#0071ceDD;">{% if o.status == 2 %}* {% endif %}返积分</a>
                            {% else %}
                            <div style="color:#000800;">无</div>
                            {% endif %}
                        {% else %}
                            {% if o.current_order_price.gift_policy == 2 %}
                            <a href="#" onclick="return alert('该订单状态不能返佣');" style="color:#990033;">{% if o.status == 2 %}* {% endif %}返现</a>
                            {% elif o.current_order_price.gift_policy == 1 %}
                            <a href="" onclick="return alert('该订单状态不能返佣'); cansole;" style="color:#00CC00;">{% if o.status == 2 %}* {% endif %}返油</a>
                            {% elif o.current_order_price.gift_policy == 3 %}
                            <a href="" onclick="return alert('该订单状态不能返佣'); cansole;" style="color:#0071ceDD;">{% if o.status == 2 %}* {% endif %}返积分</a>
                            {% else %}
                            <div style="color:#000800;">无</div>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        <!--# 支付方式  1支付宝  2微信 3银联 4余额 5积分 6支付宝二维码 7微信二维码-->
                        {% if o.status==2 or o.status==3 %}
                            {% if o.payment==1 or o.payment==6 %}
                            支付宝
                            {% elif o.payment==2 or o.payment==7 %}
                            微信
                            {% elif o.payment==3 %}
                            银联
                            {% elif o.payment==4 %}
                            余额
                            {% elif o.payment==5 %}
                            积分
                            {%endif%}
                        {% else %}
                        --
                        {% endif %}
                    </td>
                    <td>
                        {{o.local_summary or ''}}
                        {% if o.status==-1 %}
                        <div>取消原因：{{o.cancel_reason}}</div>
                        {%endif%}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div>
                <div class="col-sm-4">
                    <div class="dataTables_info" role="alert" aria-live="polite" aria-relevant="all">
                        当前：第{{page}}页 / {{totalpage}}页，合计{{total}}条
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination  pagination-sm" id="pageUl" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/style/js/jquery.twbsPagination.min.js"></script>
<script>
    $(document).ready(function() {
        var province_code=$("#province_code").attr("data-default");
        var city_code=$("#city_code").attr("data-default");
        if(province_code.length>0){
            console.debug(city_code);
            province_change(province_code, city_code);
        }

        {% if totalpage==0 %}
        {% set totalpage=1 %}
        {% endif %}

        $('#pageUl').twbsPagination({
            first:'首页',
            prev:'上一页',
            next:'下一页',
            last:'尾页',
            totalPages: {{totalpage}},
            startPage: {{page}},
            visiblePages: 8,
            onPageClick: function (event, page) {
                self.location="/admin/insurance_orders?archive={{archive}}&status={{status}}&begin_date={{begin_date or ''}}&end_date={{end_date or ''}}&keyword={{keyword or ''}}&province_code={{default_province or ''}}&city_code={{default_city or ''}}&page="+page;
            }
        });

        $('#checkall').bind('click',function () {
            $('#tb_users :checkbox').prop('checked',this.checked);
        });
        var xsrf='{{handler.xsrf_token}}';
    });

    function province_change(id, default_id){
        $("#city_code > option").remove();
        $("#city_code").append("<option value=\"0\">--请选择城市--</option>");
        if(id > 0){
            GetSubAreas(id, "city_code", default_id);
        }
    }
    function GetSubAreas(id, ddl_id, default_id) {
        $.get("/ajax/GetSubAreas", { pcode: id,  t: Math.random() }, function (data) {
            data = jQuery.parseJSON(data);
            if(data.flag==1){
                for(var i=0; i< data.data.length; i++){
                    if(default_id.length>0){
                        if(data.data[i]["code"]==default_id){
                            $("#" + ddl_id).append("<option value=\"" + data.data[i]["code"] + "\" selected>" + data.data[i]["name"] + "</option>");
                        }
                        else{
                            $("#" + ddl_id).append("<option value=\"" + data.data[i]["code"] + "\">" + data.data[i]["name"] + "</option>");
                        }
                    }
                    else {
                        $("#" + ddl_id).append("<option value=\"" + data.data[i]["code"] + "\">" + data.data[i]["name"] + "</option>");
                    }
                }
            }
            else{
                alert(data.msg)
            }
        });
    }

    function request(paras){
        var url = location.href;
        var paraString = url.substring(url.indexOf("?")+1,url.length).split("&");
        var paraObj = {};
        for (i=0; j=paraString[i]; i++){
            paraObj[j.substring(0,j.indexOf("=")).toLowerCase()] = j.substring(j.indexOf("=")+1,j.length);
        }
        var returnValue = paraObj[paras.toLowerCase()];
        if(typeof(returnValue)=="undefined"){
            return "-1";
        }else{
            return returnValue;
        }
    };

    $("#statuscheck").val(request('status'));
    if(!request('begin_date'))
    {$("#begin_date").val(request('begin_date'));}
    if(!request('end_date'))
    {$("#end_date").val(request('end_date'));}

</script>
{% endblock %}