{% extends "layout/admin.html" %}
{% block content %}
<link href="/style/css/store_bigimg.css" rel="stylesheet">
<link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.5.0/css/amazeui.min.css" />
<script type="text/javascript" src="/style/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/style/js/bigimg.js"></script>
<style>
    .middle-img {
        position: absolute;
        left: 259px;
        top: 0px;
        width: 40px;
    }

    .up-img {
        position: absolute;
        top: -40px;
        left: 261px;
        width: 40px;
    }

    .down-img {
        position: absolute;
        top: 40px;
        left: 257px;
        width: 40px;
    }

    .left-img {
        position: absolute;
        left: 218px;
        width: 40px;
    }

    .right-img {
        position: absolute;
        left: 300px;
        width: 40px;
    }
    @media screen and (max-width:450px) {
        .middle-img {
            position: absolute;
            left: 259px;
            top: 0px;
            width: 40px;
            display: none;
        }

        .up-img {
            position: absolute;
            top: -40px;
            left: 261px;
            width: 40px;
            display: none;
        }

        .down-img {
            position: absolute;
            top: 40px;
            left: 257px;
            width: 40px;
            display: none;
        }

        .left-img {
            position: absolute;
            left: 218px;
            width: 40px;
            display: none;
        }

        .right-img {
            position: absolute;
            left: 300px;
            width: 40px;
            display: none;
        }

        .rotate_jia{
            display: none;
        }.rotate_div{
             display: none;
         }.rotate_jian{
              display: none;
          }
    }
</style>
<div class="mskeLayBg"></div>

<div id="fade" class="black_overlay"></div>
<div class="row" style="background:none;">
    <ol class="breadcrumb">
        <li>
            <a href="/admin/insurances/{{state}}?status={{status}}&page={{page}}" style="background:#438bca;color:#fff;border:none;border-radius:4px;margin-top:10px;">返回订单</a>
        </li>
    </ol>
</div>
<div style="color: red; font-size: 0.6em; margin-bottom: 25px;">
    {%set messages=handler.get_flashed_messages() %}
    {% if messages %}
    <div>
        {% for type, msg in messages%}
        {{msg}}
        {% endfor %}
    </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-lg-6" style="width:100%;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">订单基本信息</h3>
            </div>
            <div class="panel-body">
                <table class="table table-condensed" cellpadding="0" cellspacing="0" border="0" style="text-align:left;">
                    <tbody>
                    <tr>
                        <td>订单号：{{o.ordernum}}</td>
                        <td>订单状态：
                            {% if o.status==0 %}
                            待确认
                            {% elif o.status==1 %}
                            待付款
                            {% elif o.status==2 %}
                            付款完成
                            {% elif o.status==3 %}
                            已办理
                            {% elif o.status==4 %}
                            已邮寄
                            {% elif o.status==-1 %}
                            已取消
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>保险信息：{{ o.current_order_price.insurance.name }}</td>
                        <td>返佣方式：
                            {% if o.current_order_price.gift_policy == 0 %}
                            其它
                            {% elif o.current_order_price.gift_policy == 1 %}
                            返油
                            {% elif o.current_order_price.gift_policy == 2 %}
                            返积分：{{ o.scoreNum }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>  下单门店：{{o.ordered|datetimeformat}}</td>
                        <td>  下单时间：{{o.ordered|datetimeformat}}</td>
                    </tr>
                    <tr>
                        <td>下单用户：<a target="_blank" href="/admin/user/{{o.user.id}}">{{o.user.username}}</a></td>
                        <td>用户电话：{{o.user.mobile}}</td>
                    </tr>
                    <tr>
                        <td>收件人：{{o.delivery_to}} </td>
                        <td> 电话：{{o.delivery_tel}}</td>
                    </tr>
                    <tr>
                        <td>收件省市：</td>
                        <td>详细地址：</td>
                    </tr>
                    {% if o.status==2 %}
                    <tr>
                        <td>支付时间：{{paytime}}</td>
                        <td>支付方式：{{paytime}}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>最后编辑人：{{o.current_order_price.admin_user.name|null}}</td>
                        <td>最后编辑时间：</td>
                    </tr>
                    <tr>
                        <td>分享保单：
                            <textarea id="contents" style="width:400px;padding:2px;">www.520czj.com/user/showInsurance/{{poid}}</textarea>
                            <input type="button" onClick="jsCopy();" value="复制" style="transform:translateY(-8px);	-webkit-transform:translateY(-8px);"/>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>分享保单（不含门店信息）：
                            <textarea id="contents_without_add" style="width:400px;padding:2px;">www.520czj.com/user/showInsurance/{{poid2}}?addr=1</textarea>
                            <input type="button" onClick="jsCopy2();" value="复制" style="transform:translateY(-8px);	-webkit-transform:translateY(-8px);"/>
                        </td>
                        <td></td>
                    </tr>
                    {% if o.status>-1 and o.status<3 %}
                    <tr>
                        <td>取消订单：<input class="form-control" id="cancel_cause" name="cancel_cause" type="text" value="{{o.cancelreason}}" placeholder="订单取消原因..." style="width:480px;height:86px;">
                            <input type="button" data-id="{{o.id}}" id="btnCancel" class="btn btn-outline btn-primary btn-xs" value="取消订单" style="width:90px;height:32px;background:#528ACB;color:#fff;border:none;border-radius:4px;margin-top:10px;">
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-6" style="width:100%;">
        <div class="panel panel-yellow" style="border:1px solid #ccc;">
            <div class="panel-heading" style="background:#f5f5f5;border-bottom:1px solid #ccc;">
                <h3 class="panel-title" style="color:#333;">图片信息</h3>
            </div>
            <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2am-avg-md-3 am-avg-lg-4 am-gallery-overlay" data-am-gallery="{ pureview: true }" >
                <li>
                    <div class="am-gallery-item">
                        <a href="{{o.id_card_front}}" class="">
                            <img style="width:197;height:197" src="{{o.id_card_front}}"/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="am-gallery-item">
                        <a href="{{o.id_card_back}}" class="">
                            <img style="width:197;height:197" src="{{o.id_card_back}}"/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="am-gallery-item">
                        <a href="{{o.drive_card_front}}" class="">
                            <img style="width:197;height:197" src="{{o.drive_card_front}}"/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="am-gallery-item">
                        <a href="{{o.drive_card_back}}" class="">
                            <img style="width:197;height:197" src="{{o.drive_card_back}}"/>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div id="asdf">
    {% for program in programs %}
    <div class="col-lg-6" style="width:100%;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">方案ID：{{program['pid']}}</h3>
            </div>
            <div class="panel-body">
                <table name="a" class="table table-condensed" cellpadding="0" cellspacing="0" border="0" style="text-align:left;">
                    <tbody>
                    <tr>
                        <td>
                            <label>保险公司：</label>
                            <select name="insurance">
                                {% for p in insurances %}
                                <option value="{{p.id}}" {{p.name == program['insurance'].name and "selected" or ''}}>{{p.name}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td></td>
                    </tr>

                    {% for i_item in program['program'] %}
                    <tr>
                        <td>{{ i_item['name'] }}：</td>
                        <td>
                            {% if i_item['value']!='1' %}
                            险额：{{i_item['value']}}
                            {% endif %}
                            报价：<input name="i_item" e_name="{{ i_item['e_name'] }}" value="" style="width: 80px;"/>
                        </td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <td>
                            <label>返佣方式：</label>
                            <select name="gift_policy">
                                <option value="1" {{ 1 == program['gift_policy'] and "selected" or '' }}>返油</option>
                                <option value="2" {{ 2 == program['gift_policy'] and "selected" or '' }}>返积分</option>
                            </select>
                        </td>
                        {% if 1 == program['gift_policy'] %}
                        <td></td>
                        {% else %}
                        <td>返点：<input name="{{ program['score'] }}" value="" style="width: 80px;"/>
                            返点率：<input name="{{ program['rates'] }}" value="" style="width: 80px;"/>
                        </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>
                            交强险总价：<input name="force_price" value="{{program['force_price']}}" style="width: 80px;"/>
                        </td>
                        <td>
                            商业险总价：<input name="business_price" value="{{program['business_price']}}" style="width: 80px;"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            车船税总价：<input name="vehicle_tax_price" value="{{program['vehicle_tax_price']}}" style="width: 80px;"/>
                        </td>
                        <td>
                            总&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价：<input name="total_price" value="{{program['total_price']}}" style="width: 80px;"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            短信通知：<textarea name="psummary" cols=100%; rows="10">{{msgs}}</textarea>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <span onclick="auto_calculation({{program['pid']}})" style="float:left;padding:5px 10px;margin-left:20px;margin-top:3px;background:#438bca;color:#fff;border-radius:4px;font-size:14px;cursor:pointer;">自动计算</span>
                            <span onclick="change_status('{{o.ordernum}}')" style="float:left;padding:5px 10px;margin-left:20px;margin-top:3px;background:#438bca;color:#fff;border-radius:4px;font-size:14px;cursor:pointer;">保存</span>
                            <span onclick="change_status('{{o.ordernum}}')" style="float:left;padding:5px 10px;margin-left:20px;margin-top:3px;background:#438bca;color:#fff;border-radius:4px;font-size:14px;cursor:pointer;">保存并发短信</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}
{% block js %}
<script src="/style/js/amazeui.js"></script>
<script src="/style/js/layer-v1.9/layer.js" type="text/javascript"></script>
<script>
    $(function() {
        var xsrf='{{handler.xsrf_token}}';
        ids = [{{o.id}}];
        $("#btnCancel").click(function() {
            var oid = $(this).attr("data-id");
            var cause = $("#cancel_cause").val();
            if (cause != "") {
                layer.confirm("您确认要取消此订单吗？", {
                    btn: ['确认', '放弃'],
                    shade: 0.2
                },function () {
                    $.post("/ajax/cancel_insurance_order", {_xsrf: xsrf, id: oid, status: 5, cause: cause}, function (data) {
                        var result = jQuery.parseJSON(data);
                        if (result.err == 0) {
                            layer.msg("取消成功！");
                            window.location.href="/admin/insurance/"+oid;
                        }
                        else {
                            layer.alert(result.msg)
                        }
                    });
                });
            }else{
                layer.alert("请输入取消原因！");
            }
        });
    });

    function checkNum(obj) {
        //检查是否是非数字值
        if (isNaN(obj.value)) {
            obj.value = "";
        }
        if (obj != null) {
            //检查小数点后是否对于两位http://blog.csdn.net/shanzhizi
            if (obj.value.toString().split(".").length > 1 && obj.value.toString().split(".")[1].length > 2) {
                alert("小数点后多于两位！");
                obj.value = "";
            }
        }
    }

    function jsCopy(){
        var e=document.getElementById("contents");//对象是contents
        e.select(); //选择对象
        var e="hello world"
        tag=document.execCommand("Copy"); //执行浏览器复制命令
        if(tag){
            alert('复制内容成功');
        }
    }

    function jsCopy2(){
        var e=document.getElementById("contents_without_add");//对象是contents
        e.select(); //选择对象
        var e="hello world"
        tag=document.execCommand("Copy"); //执行浏览器复制命令
        if(tag){
            alert('复制内容成功');
        }
    }

    var xsrf='{{handler.xsrf_token}}';
    function change_status(ordernum){
        var localsummary=document.getElementById("localsummary").value;
        $.post("/ajax/submit_local_summary", { _xsrf:xsrf, ordernum:ordernum, localsummary:localsummary}, function (data) {
            var obj = jQuery.parseJSON(data);
            if (obj.flag == 1) {
                alert('成功');
            }
            else {
                alert(obj.msg);
            }
        });
    }

    function auto_calculation(a){
        console.debug('------');
        $(a).each(function(){
            var i_item = $(this).find('input[name="i_item"]').attr('e_name');
            var a = $(this).find('input[name="i_item"]').val();
            var i_id = $(this).find('select[name="insurance"]').val();
            if(i_id){
                console.debug(i_id, i_item, a);
            }
            console.debug('------');

        });
    }

</script>
{% endblock %}