{% extends "layout/admin.html" %}
{% block css %}
<link href="/style2/css/plugins/dataTables.bootstrap.css" rel="stylesheet">
{% endblock %}
{% block content %}

<script language="javascript" type="text/javascript" src="/style2/js/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="/style2/js/My97DatePicker/WdatePicker.js"></script>

<SCRIPT LANGUAGE="javascript">
    var xsrf='{{handler.xsrf_token}}';
</SCRIPT>
<div class="row">
    <nav>
        <a class="navbar-brand" href="javascript:void(0)">订单价格对比</a>
        <div class="pull-right navbar-form" style="display: none;">
            <div class="input-group custom-search-form">
                <input type="text" name="keyword" id="keyword" class="form-control" placeholder="产品名称" value="{{keyword or ''}}" style="width: 150px;" />
                <select data-id="{{store_id}}" class="form-control" placeholder="选择店铺" id="store_id" name="store_id" style="width:150px;">
                    <option value="0" {{store_id ==0 and 'selected'}} >选择店铺</option>
                    {% for o in stores -%}
                    <option value="{{o.id}}" {{o.id == store_id and 'selected'}}>{{o.name}}</option>
                    {%- endfor %}
                </select>
                <span class="input-group-btn">
                     <button class="btn btn-default" type="button" onclick="search();">
                         <i class="fa fa-search"></i>
                     </button>
                </span>
            </div>
        </div>
    </nav>
</div>
<div class="row">
        <div class="panel panel-default">
            <div class="panel-heading" style="padding: 10px;">
                <h3 class="panel-title">基本信息</h3>
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <td>管理备注：</td>
                            <th><input type="text" value="{{order.summary}}" class="form-control" name="summary">
                            </th>
                        </tr>
                        <tr>
                            <td>客户留言：</td>
                            <th><input type="text" value="{{order.message}}" class="form-control" name="message" readonly>
                            </th>
                        </tr>
                        <tr>
                            <td>总金额：</td>
                            <th><input type="text" value="{{order.currentprice}}" class="form-control" name="order_price" id="order_price">
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover" id="tb_users">
                    <thead>
                    <tr>
                        <th>店铺名称</th>
                        <th>产品名称</th>
                        <th>采购价格(元/KG)</th>
                        <th>易凡价格(元/KG)</th>
                        <th>销售价格(元/KG)</th>
                        <th>数量({% if order.ordertype==2 %}
                                份
                                {% elif order.ordertype==3 or order.ordertype==4 %}
                                KG
                                {% endif %})</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for o in orderitems -%}
                    <tr>
                        <td>
                            {{uStore.store.name}}
                        </td>
                        <td>
                            {{o.productname}}
                        </td>
                        <td>
                            {{o.cgprice}}
                        </td>
                        <td>
                            {% if o.ourprice*2 < o.cgprice %}
                                <span style="color: red;">{{o.ourprice*2}}</span>
                            {% else %}
                                {{o.ourprice*2}}
                            {% endif %}
                        </td>
                        <td>
                            {% if (o.saleprice < o.cgprice) or (o.saleprice < o.ourprice*2) %}
                                <span style="color: red;">{{o.saleprice}}</span>
                            {% else %}
                                {{o.saleprice}}
                            {% endif %}
                        </td>
                        <td> {{o.quantity_actual}}
                        </td>
                    </tr>
                    {%- endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    function search(){
        var keyword=$("#keyword").val();
        var store_id=$("#store_id").val();
        location.href="/admin/store/price?store_id="+store_id+"&keyword="+keyword;
    }

</script>
{% endblock %}