{% extends "layout/admin.html" %}
{% block content %}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="/admin/orders?status=1">返回订单管理</a></li>
        <li class="active">
            {{ o.ordernum }}
        </li>
    </ol>
</div>
<div style="color: red; font-size: 0.6em; margin-bottom: 25px;">
    {%set messages=handler.get_flashed_messages() %}
    {%-if messages-%}
        <div>
            {% for type, msg in messages%}
                {{msg}}
            {% endfor %}
        </div>
    {%-endif-%}
</div>
<div class="row">
    <div class="col-lg-6" style="width:100%;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" style="color:#438bca;">订单基本信息</h3>
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <td style="width:10%;">订单号：</td>
                            <td style="width:20%;">{{o.ordernum}}</td>
                        <!--</tr>-->
                        <!--<tr>-->
							<td style="width:10%;">订单状态：</td>
                            <td style="width:20%;">
                                {% if o.status==0 and (o.payment==1 or o.payment==3 or o.payment==6) %}
                                    待付款
                                  {% elif o.status==1 or (o.status==0 and o.payment==0) %}
                                    待处理
                                  {% elif o.status==2 %}
                                    正在处理
                                  {% elif o.status==3 %}
                                    已发货
                                  {% elif o.status==4 %}
                                    已完成
                                  {% elif o.status==5 %}
                                    已取消
                                  {% endif %}
                            </td>
                        </tr>
                        
                        <tr>
                            <td>下单时间：</td>
                            <td>{{o.ordered|datetimeformat}}</td>
							<td>下单方式：</td>
                            <td>
                                {% if o.order_from==1  %}
                                    网站下单
                                {% elif o.order_from==2 %}
                                    手机下单
                                {% elif o.order_from==3 %}
                                    后台下单
                                {% endif %}
                            </td>
                        </tr>
                        
                        <tr>
                            <td>订单留言：</td>
                            <td>
                                {{o.message}}
                            </td>
							<td>送货方式：</td>
                            <td>
                                {% if o.distribution==1 %}
                                    物流公司送货
                              {% elif o.distribution==2 %}
                                    内部派送
                              {% elif o.distribution==3 %}
                                    用户自提
                              {%endif%}
                            </td>
                        </tr>
                       
                        <tr>
                            <td>是否评价：</td>
                            <td>
                                {% if o.hascomment==0 %}
                                    未评价
                              {% elif o.hascomment==2 %}
                                    已评价
                              {%endif%}
                            </td>
							<td>优惠劵信息：</td>
                            <td>
                                {% if o.coupon %}
                                    {{o.coupon.coupontotal.name}}  {{o.coupon.coupontotal.price}}
                              {% else %}
                                    未使用优惠劵
                              {%endif%}
                            </td>
                        </tr>
                        
                        <!--{% if o.status==5 %}-->
                        <!--<tr>-->
                            <!--<td>取消订单原因：</td>-->
                            <!--<th>{{o.cancelreason}}</th>-->
                        <!--</tr>-->
                        <!--{% endif %}-->
                        <tr>
                            <td>发票信息：</td>
                            <td><span style="color: red;">{{o.invoicename|null}}</span></td>
							<td>最后编辑人：</td>
                            <td>
                                {{o.lasteditedby|null}}
                            </td>
                        </tr>
                       
                        <tr>
                            <td>最后编辑时间：</td>
                            <td>{{o.lasteditedtime|datetimeformat}}</td>
							<td>是否问题订单：</td>
                            <td>
                                <!--{% if tid != 0 %}-->
                                <!--<a class="btn btn-outline btn-primary btn-xs" href="/admin/discuss/{{tid}}">查看问题</a>-->
                                <!--{% else %}-->
                                <!--<a class="btn btn-outline btn-primary btn-xs" href="/admin/add_topic/0?order={{o.ordernum}}">添加问题</a>-->
                                <!--{% endif %}-->
                            </td>
                        </tr>
                       
                        <tr>
                            <td>
                                订单所属：
                            </td>
                            <td>
                                <select id="storeid{{o.id}}" class="form-control" placeholder="订单所属" name="orderbelong" style="width:150px;display: inline;">
                                    <option value="0" {{'selected' if not o.store}} >车装甲</option>
                                    {% for store in stores %}
                                    <option value="{{store.id}}" {% if o.store and o.store.id == store.id%} selected {% endif%}>{{store.name}}</option>
                                    {% endfor %}
                                </select>
                                <input type="button" data-id="{{o.store.id}}" onclick="orderUpdateStore({{o.id}})" class="btn btn-outline btn-primary btn-xs" value="修改所属">
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
						
                        <tr>
                            <td>取消订单：</td>
                            <td><input class="form-control" id="cancel_cause" name="cancel_cause" type="text" value="{{o.cancelreason}}" placeholder="订单取消原因..." style="width:480px;">
                                {% if o.status>-1 and o.status< 5 %}
                                <input type="button" data-id="{{o.id}}" id="btnCancel" class="btn btn-outline btn-primary btn-xs" value="取消订单" style="padding:6px 13px;margin-top:20px;background:#438bca;color:#fff;border:none;border-radius:4px;font-size:16px;">
                                {% endif %}
                            </td>
                             <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-6" style="width:100%;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" style="color:#438bca;">用户信息</h3>
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <td style="width:10%;">用户账户：</td>
                            <td style="width:20%;"><a target="_blank" href="/admin/user/{{o.user.id}}">{{o.user.username}}</a></td>
							<td style="width:10%;">用户电话：</td>
                            <td style="width:20%;">{{o.user.mobile}}</td>
                        </tr>
                         
                         <tr>
                            <td>用户Email：</td>
                            <td>{{o.user.email}}</td>
							<td>用户IP：</td>
                            <td>{{o.ip}}</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6" style="width:100%;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" style="color:#438bca;">配送信息</h3>
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <td style="width:10%;">配送公司：</td>
                            <td style="width:20%;">{% if o.delivery %} {{o.delivery.name}} {% else %} 未设置物流公司 {% endif %}</td>
							<td style="width:10%;">收货人：</td>
                            <td style="width:20%;">{{o.take_name}}</td>
                        </tr>
                        
                        <tr>
                            <td>收货地址：</td>
                            <td>{{o.take_address}}</td>
							<td>联系电话：</td>
                            <td>{{o.take_tel}}</td>
                        </tr>
                       
<!-- {#                        <tr>#}
{#                            <td></td>#}
{#                            <td><a id="showWL" class="btn btn-default" >物流信息</a>#}
{#                            <div class="showInfo" style="display: none;border: 1px solid #519500; background: #ffffff; padding:10px;font-size:12px; position:absolute;height:400px; width:300px; z-index:999;"></div>#} 
{#                            </td>#}
{#                        </tr>#} -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6" style="width:100%;">
        <div class="panel panel-yellow" style="border:1px solid #ccc;">
            <div class="panel-heading" style="background:#f5f5f5;border-bottom:1px solid #ccc;">
                <h3 class="panel-title" style="color:#438bca;">价格信息</h3>
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <td style="width:10%;">支付方式：</td>
                            <td style="width:20%;">
                              {% if o.payment==0 %}
                                    货到付款
                              {% elif o.payment==1 %}
                                    支付宝
                              {% elif o.payment==2 %}
                                    账户余额
                              {% elif o.payment==3 %}
                                    网银支付
                              {% elif o.payment==5 %}
                                    积分换购
                              {% elif o.payment==6 %}
                                    微信支付
                              {%endif%}
                            </td>
                            <td style="width:10%;">订单原价：</td>
                            <td style="width:20%;"><del> ￥{{o.price}} </del></td>
                        </tr>
                        
                        <tr>
                            <td>优惠卷金额：</td>
                            <td>

                                {% if o.coupon %}
                                    ￥{{o.coupon.coupontotal.price}}
                              {% else %}
                                    ￥0
                              {%endif%}
                            </td>
							<td>优惠后价格：</td>
                            <td>￥{{o.currentprice-o.shippingprice}}</td>
                        </tr>
                        
                        <tr>
                            <td>配送费用：</td>
                            <td>￥{{o.shippingprice }}</td>
							<td>使用部分余额：</td>
                            <td>￥{{o.pay_balance if o.pay_balance else 0.0 }}</td>
                        </tr>
                        
                        <tr>
                            <td>订单总价：</td>
                            <th><h3>￥{{o.currentprice }}</h3></th>
                            <td></td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6" style="width:100%;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" style="color:#438bca;">操作</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" action="/admin/order/{{o.id}}" method="post">
                    {{xsrf()}}
                    <div class="form-group">
                      <label class="col-sm-1 control-label">
                         标签：
                      </label>
                      <div class="col-sm-9">
                         <label class="radio-inline">
                             <input type="radio" name="order_flag"  value="1" {% if o.flag==1 %} checked  {% endif %}>
                             <i style="color: red;" class="fa fa-flag fa-fw"></i>
                         </label>
                          <label class="radio-inline">
                             <input type="radio" name="order_flag" value="2" {% if o.flag==2 %} checked  {% endif %}>
                              <i style="color: blue;" class="fa fa-flag fa-fw"></i>
                         </label>
                          <label class="radio-inline">
                             <input type="radio" name="order_flag"  value="3" {% if o.flag==3 %} checked  {% endif %}>
                              <i style="color: #149904;" class="fa fa-flag fa-fw"></i>
                         </label>
                          <label class="radio-inline">
                             <input type="radio" name="order_flag" value="4" {% if o.flag==4 %} checked  {% endif %}>
                              <i style="color: #751b4c;" class="fa fa-flag fa-fw"></i>
                         </label>
                          <label class="radio-inline">
                             <input type="radio" name="order_flag" value="5" {% if o.flag==5 %} checked  {% endif %}>
                              <i style="color: #eea236;" class="fa fa-flag fa-fw"></i>
                         </label>
                          <label class="radio-inline">
                             <input type="radio" name="order_flag"  value="6" {% if o.flag==6 %} checked  {% endif %}>
                              <i style="color: #b4c5bf;" class="fa fa-flag fa-fw"></i>
                         </label>
                      </div>
                   </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">管理备注：</label>
                        <div class="col-sm-9">
                            <input class="form-control" name="psummary" type="text"
                                value="{{o.summary|null}}" placeholder="填写备注..." style="width:480px;">
                       </div>
                    </div>
<!-- {#                    <div class="form-group">#}
{#                        <label class="col-sm-3 control-label">物流公司：</label>#}
{#                        <div class="col-sm-9">#}
{#                            <select class="form-control" placeholder="物流公司" name="delivery" style="width:150px;">#}
{#                                <option value="" {{o.delivery or 'selected'}} >未设置物流公司</option>#}
{#                                <option value="1" {{o.delivery.id == 1 and 'selected'}}>宅急送</option>#}
{#                                <option value="2" {{o.delivery.id == 2 and 'selected'}}>速尚快递</option>#}
{#                                <option value="3" {{o.delivery.id == 3 and 'selected'}}>自送</option>#}
{#                            </select>#}
{#                       </div>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <label class="col-sm-3 control-label">物流单号：</label>#}
{#                       <div class="col-sm-9">#}
{#                          <input class="form-control" id="wlNum" name="deliverynum" type="text"#}
{#                             value="{{o.deliverynum|null}}" placeholder="物流单号只允许为数字" onkeyup="this.value=this.value.replace(/[^\d]/g,'') " onafterpaste="this.value=this.value.replace(/[^\d]/g,'') " >#}
{#                       </div>#}
{#                    </div>#} -->
                    <hr>
                     <button type="submit" style="width:90px;height:36px;margin-left:30px;border:none;background:#438bca;color:#fff;border-radius:4px;font-size:16px;">保存</button>
                </form>


            </div>
        </div>
    </div>
    <div class="col-lg-6" style="width:100%;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" style="color:#438bca;">退款</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" action="/admin/order/payback/{{o.id}}" method="post">
                    {{xsrf()}}

                    <div class="form-group">
                        <label class="col-sm-1 control-label">退款原因：</label>
                       <div class="col-sm-9">
                          <input class="form-control" id="backreason" name="backreason" type="text"
                              placeholder="填写退款原因..." style="width:480px;">
                       </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">退款金额：</label>
                       <div class="col-sm-9">
                          <input class="form-control" id="backprice" name="backprice" type="text"
                             placeholder="填写退款金额..." value="{{o.currentprice}}" style="width:480px;">
                       </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">退款类型：</label>
                       <div class="col-sm-9">
                         <label class="radio-inline">
                             <input type="radio" name="payback_type"  value="1" >
                             <span>退回用户车装甲账户</span>
                         </label>
                          <label class="radio-inline">
                             <input type="radio" name="payback_type" value="2" checked >
                              <span>原路退回</span>
                         </label>
                      </div>
                    </div>
                    <hr>
                     <button type="submit" onclick="javascript:return checkinput();" style="width:90px;height:36px;margin-left:30px;border:none;background:#438bca;color:#fff;border-radius:4px;font-size:16px;">确认退款</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-12" style="width:100%;">
        <div class="panel panel-primary" style="border:1px solid #ccc;">
            <div class="panel-heading" style="background:#f5f5f5;border-bottom:1px solid #ccc;">
                <h3 class="panel-title" style="color:#438bca;">产品清单</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover" id="tb_users">
                    <thead>
                        <tr>
                            <th style="width:10%;">产品图片</th>
                            <th style="width:30%;">基本信息</th>
                            <th style="width:10%;">产品价格</th>
                            <th style="width:10%;">购买数量</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in o.items -%}
                        <tr>
                            <td>
                                <img src="{{item.product.cover}}" width="80" height="80" />
                          </td>
                        <td>
                            <h4>{{item.product.name}}<small> 【{{item.product_standard_name or item.product_standard.name}}】</small></h4>
                            <p>

                                {% if item.item_type==2 %}
                                <span style="color: #cc0000;">(积分换购)</span>
                                {% elif item.item_type==9 %}
                                <span style="color: #cc0000;">(赠品)</span>
                                {% endif %}
                                {% if item.product.store %}
                                <span style="color: red;">({{item.product.store.name}})</span>
                                {% endif %}
                            </p>
                        </td>
                        <td>
                            <h3>{{item.price}}元</h3>
                        </td>
                        <td>
                            <h3>{{item.quantity}}份</h3>
                        </td>
                    </tr>
                    {%- endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row" style="width:100%;margin-left:0px;margin-bottom:50px;">
    <div class="panel panel-primary" style="border:1px solid #ccc;">
        <div class="panel-heading" style="background:#f5f5f5;border-bottom:1px solid #ccc;">
                <h3 class="panel-title" style="color:#438bca;">退款历史</h3>
            </div>

    <div class="panel-body">
        <div class="table-responsive">
        <table class="table table-hover" id="tb_need_pay_back_orders">
            <thead>
                <tr>
                    <th>用户支付账户</th>
                    <th>用户交易流水号</th>
                    <th>需退款金额</th>
                    <th>退款发起人</th>
                    <th>退款原因</th>
                </tr>
            </thead>
            <tbody>
            {% for p in o.paybacks -%}
            {% if p.status==0 %}
                <tr style="background-color: #e4b9b9;" >
            {% else %}
                <tr>
            {%endif%}
              <td>
                  {{p.pay_account}}
                  {% if p.status==0 %}
                        <span style="color: red;">[等待退款]</span>
                      {%endif%}
              </td>
                <td>{{p.trade_no}}</td>
                <td>{{p.price}}</td>
              <td>
                  {% if p.back_by==1 %}
                        管理员退款
                  {% elif p.back_by==2 %}
                        用户退款
                  {%endif%}
              </td>
              <td>
                  {{p.reason}}
              </td>
            </tr>
			{%- endfor %}
            </tbody>
        </table>
        </div>
    </div>
    </div>
</div>
<iframe id="theone" src="" width="600" height="700" style="display: none;"></iframe>
{% endblock %}
{% block js %}
<script src="/style2/js/layer-v1.9/layer.js" type="text/javascript"></script>
    <script>
        function checkinput(){
            var msg = '';
            if($('#backprice').val().length == 0){
                msg = '请输入退款金额';
            }
            if ($('#backreason').val().length == 0){
                msg = '请输入退款原因';
            }

            var payback_type=$('input:radio[name="payback_type"]:checked').val();
            if (payback_type == null){
                msg = '请选择退款方式'
            }
            if (msg.length > 0){
                alert(msg);
                return false;
            }
            else{
                var account = '原路返回';
                if(payback_type=='1')
                {
                    account = '用户车装甲账户';
                }
                else if(payback_type=='2')
                {
                    account = '原路返回';
                }
                return confirm("确要将"+$('#backprice').val()+'元退款至'+account+'吗?');
            }
        }
        $(function() {
            $('#showWL').hover(function () {
                var h = '';
                var wlNum = $("#wlNum").val();
                setTimeout(function() {
                    $.get('/ajax/getwlinfo', {deliverynum: wlNum}, function (data) {
                        data = eval(data);
                        data = jQuery.parseJSON(data);
                        if (data.status != '400') {
                            var wlInfo = data.data;
                            for (i = 0; i < wlInfo.length; i++) {
                                if (i == 0) {
                                    h += '<li style="line-height: 30px; color:#1B730C; background: #E7E7E7; ">' + wlInfo[i].context + '<br />' + wlInfo[i].time + '</li>';
                                } else {
                                    h += '<li style="line-height: 30px;">' + wlInfo[i].context + '<br />' + wlInfo[i].time + '</li>';
                                }
                            }
                        } else {
                            h += '<li style="line-height: 30px; color: #cc0000; background: #E7E7E7; ">参数错误：请检查物流单号是否正确。</li>';
                        }
                        h = '宅急送 运单号：' + wlNum + '<hr style="margin: 5px;">' + h + '';
                        $(".showInfo").html(h);
                        $(".showInfo").show();
                    });
                },1000)
            }, function () {
                $(".showInfo").hide();
            });

            var xsrf='{{handler.xsrf_token}}';
            ids = [{{o.id}}];
            $('#payback').click(function () {
                $.post("/ajax/return_pay",
                  {
                    ids:JSON.stringify(ids),
                    _xsrf : xsrf
                  },
                  function(data){
                      var obj = jQuery.parseJSON(data);
                      if(obj.err==0) {
                          window.open(obj.msg);
                      }
                      else{
                          alert('操作失败：'+obj.msg);
                      }
                  });
            });

            $("#btnCancel").click(function() {
                var oid = $(this).attr("data-id");
                var cause = $("#cancel_cause").val();
                if (cause != "") {
                    layer.confirm("您确认要取消此订单吗？", {
                        btn: ['确认', '放弃'],
                        shade: 0.2
                    },function () {
                        $.post("/ajax/cancel_order", {_xsrf: xsrf, id: oid, status: 5, cause: cause}, function (data) {
                            var result = jQuery.parseJSON(data);
                            if (result.err == 0) {
                                layer.msg("取消成功！");
                                location.reload();
                            }
                            else {
                                layer.alert(result.msg)
                            }
                        });
                    });
                }else{
                    layer.alert("请输入取消原因！");
                }
            });
        });


    function orderUpdateStore(orderid){
        var storeid = parseInt($("#storeid"+orderid).val());
        $.get("/ajax/orderUpdateStore", { orderid: orderid, storeid: storeid, t: Math.random() }, function (data) {
            var result = jQuery.parseJSON(data);
            if(result.flag==1){
                alert("修改成功！")
            }
            else{
                alert(result.msg)
                }
            });
    }
    </script>
{% endblock %}