{% extends "layout/admin.html" %}
{% block css %}
<link href="/style2/css/plugins/dataTables.bootstrap.css" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="row">
   <nav>
   <div>
      <a class="navbar-brand" href="#">待退款订单</a>

   </div>
       <div class="pull-right">

      <form class="navbar-form navbar-left" action="" method="get" role="search">

          <div class="btn-group btn-group-xs">
              <a type="button" class="btn btn-default {% if status==0 %} active {% endif %}" href="/admin/order_payback?status=0" style="padding:8px 4px;border:1px solid #ccc;border-bottom-left-radius:4px;border-top-left-radius:4px;">等待退款</a>
            <a type="button" class="btn btn-default {% if status==1 %} active {% endif %}" href="/admin/order_payback?status=1" style="padding:8px 4px;border:1px solid #ccc;border-left:none;border-bottom-right-radius:4px;border-top-right-radius:4px;">退款历史</a>

          </div>
         <div class="input-group">
             <input type="text" name="keyword" class="form-control" placeholder="订单号" value="{{keyword or ''}}" style="width:210px;height:34px;border:1px solid #ccc;border-bottom-left-radius:4px;border-top-left-radius:4px;" />
             <span class="input-group-btn">
                 <button class="btn btn-default" type="submit">
                     <i class="fa fa-search"></i>
                 </button>
            </span>
         </div>
      </form>
   </div>
</nav>
</div>
<div class="row">
    <div class="panel panel-primary">
    <!--<div class="panel-body">-->
        <div class="table-responsive">
        <table class="table table-hover" id="tb_need_pay_back_orders" cellpadding="0" cellspacing="0" border="0" style="text-align:center;">
            <thead>
                <tr style="background:#528acb;color:#fff;text-align:center;height:38px;line-height:38px;">
                    <th style="width:10%;text-align:center;">订单号</th>
                    <th style="width:15%;text-align:center;">收件人信息</th>
                    <th style="width:15%;text-align:center;">下单时间</th>
                    <th style="width:5%;text-align:center;">订单金额</th>
                    <th style="width:15%;text-align:center;">用户交易流水号</th>
                    <th style="width:10%;text-align:center;">需退款金额</th>
                    <th style="width:10%;text-align:center;">退款发起人</th>
                    <th style="width:10%;text-align:center;">退款原因</th>
                    <th style="width:10%;text-align:center;">操作</th>
                </tr>
            </thead>
            <tbody>
            {% for p in paybacks -%}
            {% if p.status==0 %}
                <tr style="background-color: #e4b9b9;" >
            {% else %}
                <tr>
            {%endif%}
              <td>
                {{p.order.ordernum}}
              </td>
              <td>{{p.order.take_name}}({{p.order.take_tel}})</td>
              <td>{{p.order.ordered|datetimeformat}}</td>
              <td>{{p.order.currentprice}}</td>
                <td>{{p.trade_no}}</td>
                <td>{{p.price}}</td>
              <td>
                  {% if p.back_by==1 %}
                        管理员退款
                  {% elif p.order.payment==2 %}
                        用户退款
                  {%endif%}
              </td>
              <td>
                  {{p.reason}}
              </td>
                <td>
                    {% if p.status == 0 %}
                    <a id="bt_back" onclick="pay_back({{p.id}})" class="btn btn-outline btn-primary btn-xs" >确认退款</a>
                <a id="bt_cancel" pid="{{p.id}}" class="btn btn-outline btn-primary btn-xs" >取消退款</a>
                    {% endif %}
              </td>
            </tr>
			{%- endfor %}
            </tbody>
        </table>
        </div>
    <!--</div>-->
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    function pay_back(id) {
        var xsrf = '{{handler.xsrf_token}}';
        var ids = [];
        ids.push(id);

        $.post("/ajax/return_pay",
                {
                    ids: JSON.stringify(ids),
                    _xsrf: xsrf
                },
                function (data) {
                    var obj = jQuery.parseJSON(data);
                    if (obj.err == 0) {
                        window.open(obj.msg);
                    }
                    else {
                        alert('操作失败：' + obj.msg);
                    }

                });

    }

    function cancel_payback(id) {
        var xsrf = '{{handler.xsrf_token}}';
        var ids = [];
        ids.push(id);

        $.post("/ajax/cancel_return_pay",
                {
                    ids: JSON.stringify(ids),
                    _xsrf: xsrf
                },
                function (data) {
                    var obj = jQuery.parseJSON(data);
                    if (obj.err == 1) {

                        alert('操作失败：' + obj.msg);
                    }
                    location.reload();
                });

    }


    </script>
{% endblock %}