{% extends "layout/admin.html" %}
{% block css %}
<link href="/style2/css/plugins/dataTables.bootstrap.css" rel="stylesheet">
<style>
.table tr td img{
	float:left;
	width:60px;
	height:60px;
}
.table tr td span{
	margin-left:10px;
	float:left;
}
</style>
{% endblock %}
{% block content %}

<script language="javascript" type="text/javascript" src="/style2/js/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="/style2/js/My97DatePicker/WdatePicker.js"></script>

<div class="row">
    <nav>
        <div>
            <a class="navbar-brand" href="#">兑换商品订单</a>
        </div>
        <div class="pull-right">

            <form class="navbar-form navbar-left" action="" method="get" role="search">
                <input type="hidden" name="status" value="{{status}}">
                <input type="hidden" name="page" value="{{page}}">

                <div class="btn-group btn-group-xs">
                    <a type="button" class="btn btn-default {% if status==0 %} active {% endif %}" href="/admin/banpen?status=0&begindate={{begindate}}&enddate={{enddate}}" style="padding:8px 4px;border:1px solid #ccc;border-bottom-left-radius:4px;border-top-left-radius:4px;">全部</a>
                    <a type="button" class="btn btn-default {% if status==1 %} active {% endif %}" href="/admin/banpen?status=1&begindate={{begindate}}&enddate={{enddate}}" style="padding:8px 4px;border:1px solid #ccc;border-left:none;">待收货</a>
                    <a type="button" class="btn btn-default {% if status==-1 %} active {% endif %}" href="/admin/banpen?begindate={{begindate}}&enddate={{enddate}}&keyword={{keyword or ''}}" style="padding:8px 4px;border:1px solid #ccc;border-left:none;border-bottom-right-radius:4px;border-top-right-radius:4px;">已完成</a>
                </div>
                <div class="input-group">
                    <input type="text" name="begindate" id="begindate" value="{{begindate}}" class="Wdate form-control"  onClick="WdatePicker()" style="width:110px;height:34px;margin-right:5px;border:1px solid #ccc;border-radius:4px;" placeholder="开始日期" />
                    <input type="hidden" name="statuscheck" id="statuscheck" class="form-control" value="">
                    <input type="text" name="enddate" id="enddate" value="{{enddate}}" class="Wdate form-control" onClick="WdatePicker()" style="width:110px; height:34px;margin-right:5px;border:1px solid #ccc;border-radius:4px;" placeholder="截止日期" />
                    <input type="text" name="keyword" class="form-control" placeholder="订单号" value="{{keyword or ''}}" style="width:210px;height:34px;border:1px solid #ccc;border-bottom-left-radius:4px;border-top-left-radius:4px;" />
             <span class="input-group-btn">
                 <button class="btn btn-default" type="submit">
                     <i class="fa fa-search"></i>
                 </button>
            </span>
                </div>
            </form>
        </div>
    </nav>
</div>
<div class="row">
    <div class="panel panel-primary">
        <!--<div class="panel-body">-->
            <div class="table-responsive">
                <table class="table table-hover" id="tb_users" cellpadding="0" cellspacing="0" border="0" style="text-align:center;">
                    <thead>
                    <tr style="background:#528acb;color:#fff;text-align:center;height:38px;line-height:38px;">
                        <th style="width:10%;text-align:center;">订单号</th>
                        <th style="width:10%;text-align:center;">用户账户</th>
                        <th style="width:15%;text-align:center;">下单时间</th>
                        <th style="width:18%;text-align:center;">商品信息</th>
                        <th style="width:7%;text-align:center;">花费积分</th>
                        <th style="width:10%;text-align:center;">联系电话</th>
                        <th style="width:5%;text-align:center;">订单状态</th>
                        <th style="width:7%;text-align:center;">客户留言</th>
                        <th style="width:8%;text-align:center;">管理备注</th>
                        <th style="width:10%;text-align:center;">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for o in orders -%}
                    <tr>
                        <td>
                                {{o.ordernum}}
                                {% if o.store %}
                                <br><span style="color:red;float:none;">({{o.store.name}})</span>
                                {% endif %}   
                        </td>
                        <td><a href="/admin/user/{{o.user.id}}" target="_blank">{{o.user.username}}</a>
                        </td>
                        <td>
                            {{o.ordered|datetimeformat}}
                        </td>
                        <td>
                            <img src="/style2/order/images/img.png"/><span>SK&nbsp;ZIC&nbsp;X5特级机油&nbsp;润滑油</span><br><span>5W-30&nbsp;&nbsp;&nbsp;4L</span><br><span style="color:#6d6d6d;">*1</span>
                        </td>
                        <td>300</td>
                        <td>
                            {{o.mobile}}
                        </td>
                        <td>
                           待收货 
                        </td>
                        <td>
                            {{o.message}}
                            {% if o.status==5 %}
                            <div>取消原因：{{o.cancelreason}}</div>
                            {%endif%}
                        </td>
                        <td>{{o.summary or ''}}</td>
                        <td>
                            <a href="/admin/insurance/{{o.id}}" class="btn btn-outline btn-primary btn-xs">详情</a>
                            <a href="#" onclick="sendorder({{ o.id }})" class="btn btn-outline btn-primary btn-xs">收货</a>
                        </td>
                    </tr>
					
					<tr>
                        <td>
                                {{o.ordernum}}
                                {% if o.store %}
                                <br><span style="color:red;float:none;">({{o.store.name}})</span>
                                {% endif %}   
                        </td>
                        <td><a href="/admin/user/{{o.user.id}}" target="_blank">{{o.user.username}}</a>
                        </td>
                        <td>
                            {{o.ordered|datetimeformat}}
                        </td>
                        <td>
                            <img src="/style2/order/images/img.png"/><span>SK&nbsp;ZIC&nbsp;X5特级机油&nbsp;润滑油</span><br><span>5W-30&nbsp;&nbsp;&nbsp;4L</span><br><span style="color:#6d6d6d;">*1</span>
                        </td>
                        <td>300</td>
                        <td>
                            {{o.mobile}}
                        </td>
                        <td>
                           已完成 
                        </td>
                        <td>
                            {{o.message}}
                            {% if o.status==5 %}
                            <div>取消原因：{{o.cancelreason}}</div>
                            {%endif%}
                        </td>
                        <td>{{o.summary or ''}}</td>
                        <td>
                            <a href="/admin/insurance/{{o.id}}" class="btn btn-outline btn-primary btn-xs">详情</a>
                        </td>
                    </tr>
					
                    {%- endfor %}
                    </tbody>
                </table>
                <div>
                    <div class="col-sm-4">
                        <div class="dataTables_info" role="alert" aria-live="polite" aria-relevant="all">
                            当前：第{{page}}页 / {{totalpage}}页，合计{{total}}条
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="dataTables_paginate paging_simple_numbers">
                            <ul class="pagination  pagination-sm" id="pageUl" />
                        </div>
                    </div>
                </div>
            </div>
        <!--</div>-->
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/style2/js/layer-v1.9/layer.js" type="text/javascript"></script>
<script src="/style2/js/jquery.twbsPagination.min.js"></script>
<script>
    $(document).ready(function() {

                $('#pageUl').twbsPagination({
                    first:'首页',
                    prev:'上一页',
                    next:'下一页',
                    last:'尾页',
                    totalPages: {{totalpage}},
            startPage: {{page}},
    visiblePages: 8,
            onPageClick: function (event, page) {
        self.location="/admin/banpen?status={{status}}&begindate={{begindate or ''}}&enddate={{enddate or ''}}&keyword={{keyword or ''}}&page="+page;
    }
    });
    $('#checkall').bind('click',function () {
        $('#tb_users :checkbox').prop('checked',this.checked);
    });
    var xsrf='{{handler.xsrf_token}}';
    $('#btchangestatus').bind('click',function () {
        var ids = [];
        $('#tb_users :checkbox').each(function(){
            if($(this).is(':checked'))
            {
                ids.push($(this).val());
            }
        });
        $.post("/ajax/insurance/changestatus",
                {
                    status:$('#orderstatus').val(),
                    ids:JSON.stringify(ids),
                    _xsrf : xsrf
                },
                function(data){
                    var obj = jQuery.parseJSON(data);
                    if(obj.err==0) {
                        alert('操作完成！'+ obj.msg);
                    }
                    else{
                        alert('操作失败：'+obj.msg);
                    }
                    location.reload();
                });
    });
    });


    function request(paras){
        var url = location.href;
        var paraString = url.substring(url.indexOf("?")+1,url.length).split("&");
        var paraObj = {};
        for (i=0; j=paraString[i]; i++){
            paraObj[j.substring(0,j.indexOf("=")).toLowerCase()] = j.substring(j.indexOf("=")+1,j.length);
        }
        var returnValue = paraObj[paras.toLowerCase()];
        if(typeof(returnValue)=="undefined"){
            return "-1";
        }else{
            return returnValue;
        }
    };

    $("#statuscheck").val(request('status'));
    if(!request('begindate'))
    {$("#begindate").val(request('begindate'));}
    if(!request('enddate'))
    {$("#enddate").val(request('enddate'));}

    function sendorder(oid) {
         layer.open({
              title:'选择钣喷厂家',
              type: 2,
              area: ['780px', '530px'],
              fix: false, //不固定
              maxmin: true,
              content: '/admin/sendbanpenorder?oid='+oid
            });
    }
</script>
{% endblock %}