{% extends "layout/admin.html" %}
{% block js %}
    <script type="text/javascript" src="/style2/js/PinYin.js"></script>
    <script type="text/javascript">
        function GetPinYin(cc) {
            var spell = CC2PY(cc);
            $("input[name='spell']").val(spell) ;
            var arr1 = spell.split("");
            var spellabb = "";
            for (var i = 0; i < arr1.length; i++) {
                var iNum = arr1[i].charCodeAt();
                if (iNum >= 65 && iNum <= 90) {
                    spellabb += arr1[i];
                }
            }
            $("input[name='spell_abb']").val(spellabb) ;
        }
    </script>
{% endblock %}
{% block content %}
<div class="row">
   <nav>
   <div class="navbar-header">
      <a class="navbar-brand" href="#">{% if id==0 %} 添加区域 {%else%} 修改区域 {% endif %}</a>
   </div>
</nav>
</div>
<div class="row">
    <div class="panel panel-primary">
    <div class="panel-body">
        {%set messages=handler.get_flashed_messages() %}
        {%if messages%}
            <div class="msg red">
                {% for type, msg in messages%}
                    <span>{{msg}}</span>
                {% endfor %}
            </div>
        {%endif%}

        <form action="" method="post" enctype="multipart/form-data">
            {{xsrf()}}
            <div class="form-group has-success">
                <label class="control-label">父类</label>
                <select class="form-control" name="pid" disabled style="width:480px;">
                    {{options_parent}}
                </select>
            </div>
            <div class="form-group has-success">
                <label class="control-label">名称</label>
                <input type="text" class="form-control" value="{{area.name}}" onblur="GetPinYin(this.value);" name="name" required placeholder="名称不能为空" style="width:480px;" />
            </div>
            <div class="form-group has-success">
                <label class="control-label">拼音</label>
                <input type="text" class="form-control"  name="spell" value="{{area.spell}}" style="width:480px;" />
            </div>
            <div class="form-group has-success">
                <label class="control-label">拼音缩写</label>
                <input type="text" class="form-control"  name="spell_abb" value="{{area.spell_abb}}"  required placeholder="拼音缩写不能为空" style="width:480px;" />
            </div>
            <div class="form-group has-success">
                <label class="control-label">排列顺序  数字越小越靠前</label>
                <input type="text" class="form-control" value="{{area.sort or '99'}}" name="sort" style="width:480px;" />
            </div>
            <div class="form-group has-success" style="display: ">
                <label class="control-label">是否站点</label>
                <input type="checkbox" name="is_site" value="1"  {% if area.is_site==1 %} checked  {% endif %} >是否是站点
            </div>
            <div class="form-group has-success" style="display: none">
                <label class="control-label">连续添加</label>
                <input type="checkbox" name="is_continue"  value="1" {% if is_continue==1 %} checked  {% endif %} >是否连续添加
            </div>
            <div class="form-group has-success">
            <input type="submit" name="sub" value="提交" class="btn btn-outline btn-primary btn-sm" style="width:90px;height:32px;background:#438bca;color:#fff;border:none;border-radius:4px;font-size:16px;">
            </div>
        </form>
    </div>
    </div>
</div>
{% endblock %}