{% extends "layout/admin.html" %}
{% block content %}
<div class="row">
    <ol class="breadcrumb">
        <li>后台用户管理</li>
    </ol>
</div>
<div style="color: red; font-size: 0.6em; margin-bottom: 25px;">
    {% set messages=handler.get_flashed_messages() %}
    {% if messages %}
    <div>
        {% for type, msg in messages%}
        {{msg}}
        {% endfor %}
    </div>
    {% endif %}
</div>
<form class="form-horizontal" id="form" method="post" action="/admin/admin_user/{{adminUser and adminUser.id or 0}}">
    {{xsrf()}}
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <h3 class="panel-title" style="background:#438bca;color:#fff;width:100%;height:38px;line-height:38px;border-top-left-radius: 4px;
border-top-right-radius: 4px;padding-left:15px;
">添加/修改用户
                </h3>
                <div class="panel-body" style="margin-left:20px;">
                    <table class="table table-condensed">
                        <tbody>
                        <tr style="border:none;">
                            <th>
                                <input type="text" id="username" class="form-control" value="{{adminUser.username}}" name="username" placeholder="用户名不能为空！" style="width:480px;">
                            </th>
                        </tr>
                        <tr style="border:none;">
                            <th>
                                <input type="password" class="form-control" id="password" name="password" placeholder="用户密码初始密码不能为空，不修改请为空！" style="width:480px;">
                            </th>
                        </tr>
                        <tr style="border:none;">
                            <th>
                                <input type="text" class="form-control" value="{{adminUser.realname}}" name="realname" placeholder="请输入真实姓名！" style="width:480px;">
                            </th>
                        </tr>
                        <tr style="border:none;">
                            <th>
                                <input type="text" class="form-control" value="{{adminUser.mobile}}" name="mobile" placeholder="请输入手机号！" style="width:480px;">
                            </th>
                        </tr>
                        <tr style="border:none;">
                            <th>
                                <input type="text" class="form-control" value="{{adminUser.code}}" name="code" placeholder="请输入工号！" style="width:480px;">
                            </th>
                        </tr>
                        {% if handler.vrole('AD') %}
                        <tr style="border:none;">
                            <th>
                                <input type="text" class="form-control" value="{{adminUser.roles}}" name="roles" placeholder="请输入角色:D开发人员,A管理员,Y运营,S市场,K客服;可组合,如:YS！"style="width:480px;">
                            </th>
                        </tr>
                        <tr style="border:none;">
                            <th>
                                <input type="checkbox" name="active" {% if adminUser and adminUser.active==1%}checked='true'{%endif%}>是否启用
                            </th>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>
                    <input type="submit" value="保存" class="btn btn-outline btn-default btn-xs" style="width:90px;height:32px;background:#438bca;color:#fff;border:none;border-radius:4px;font-size:16px;">
                    <a href="/admin/admin_user/0">新建用户</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <h3 class="panel-title" style="background:#438bca;color:#fff;width:100%;height:38px;line-height:38px;border-top-left-radius: 4px;
border-top-right-radius: 4px;padding-left:15px;
">角色说明
                </h3>
                <div class="panel-body" style="margin-left:20px;">

                    <div>
                        A: 管理员
                    </div>
                    <div>
                        K: 客服
                    </div>
                    <div>
                        G: 客服主管
                    </div>
                    <div>
                        D: 开发人员
                    </div>
                    <div>
                        C: 财务
                    </div>
                    <div>
                        S: 市场
                    </div>
                    <div>
                        Y:运营
                    </div>
                    <div>
                        W:外部算保险订单人员
                    </div>
                </div>
            </div>
        </div>
        {% if handler.vrole('AD') %}
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">用户列表　
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="table-responsive">
                        <table class="table table-hover" id="tb_users" style="text-align:center;">
                            <tbody>
                            <tr>
                                <th style="width:10%;text-align:center;">ID</th>
                                <th style="width:10%;text-align:center;">用户名</th>
                                <th style="width:10%;text-align:center;">真实姓名</th>
                                <th style="width:10%;text-align:center;">用户角色</th>
                                <th style="width:10%;text-align:center;">手机</th>
                                <th style="width:10%;text-align:center;">推广代码</th>
                                <th style="width:20%;text-align:center;">最后登录时间</th>
                                <th style="width:10%;text-align:center;">帐户状态</th>
                                <th style="width:10%;text-align:center;">操作</th>
                            </tr>
                            {% for o in ivs %}
                            <tr>
                                <td>{{o.id}}</td>
                                <td>{{o.username}}</td>
                                <td>{{o.realname}}</td>
                                <td>{{o.roles}}</td>
                                <td>{{o.mobile}}</td>
                                <td>{{o.code}}</td>
                                <td>{{o.lsignined | datetimeformat}}</td>
                                <td>{{o.isactive==0 and '<span style="color:#ff5231;">删除</span>' or '<span style="color:#438bca;">启用</span>'}}</td>
                                <td><a class="btn btn-outline btn-primary btn-xs" href="/admin/admin_user/{{o.id}}">编辑</a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div>
                            <div class="col-sm-4">
                                <div class="dataTables_info" role="alert" aria-live="polite" aria-relevant="all">
                                    当前：第{{page}}页 / {{totalpage}}页，合计{{total}}条
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="dataTables_paginate paging_simple_numbers">
                                    <ul class="pagination  pagination-sm" id="pageUl" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</form>
{% endblock %}
{% block js %}
<script src="/style/js/jquery.twbsPagination.min.js"></script>
<script>
    $(document).ready(function() {
        $('#pageUl').twbsPagination({
            first:'首页',
            prev:'上一页',
            next:'下一页',
            last:'尾页',
            totalPages: {{totalpage}},
            startPage: {{page}},
            visiblePages: 8,
                onPageClick: function (event, page) {
                self.location="/admin/admin_user/"+{{adminUser and adminUser.id or 0}}+"?page="+page;//{{store.id}}/{{adminUser and adminUser.id or 0}}
            }
        });
    });
</script>
{% endblock %}