<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<link href="/style/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
<link href="/style/css/plugins/dataTables.bootstrap.css" rel="stylesheet">
<div class="mskeLayBg"></div>
<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-primary">
            <form role="form" method="post">
                {{xsrf()}}
                <div class="panel-body">
                        <ul id="treeDemo" class="ztree"></ul>
                </div>

                <div class="form-group has-success">
                    <a href="#" class="btn btn-xs btn-success" onclick="publish(1)">添加</a>
                    <a href="#" class="btn btn-xs btn-success" onclick="publish(0)">删除</a>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<script src="/style/js/jquery-1.11.1.min.js"></script>
<script src="/style/js/chosen.jquery.js"></script>
<script language="javascript" type="text/javascript" src="/style/js/My97DatePicker/WdatePicker.js"></script>
<script src="/style/js/bootstrap.min.js"></script>
<script src="/style/js/plugins/metisMenu/metisMenu.min.js"></script>
<script src="/style/js/sb-admin-2.js"></script>

<script type="text/javascript" src="/style/js/jquery.ztree.core.min.js"></script>
<script type="text/javascript" src="/style/js/jquery.ztree.excheck.min.js"></script>
<script type="text/javascript" src="/style/js/layer/layer.js"></script>
<script src="/style/js/jquery.twbsPagination.min.js"></script>
<script>
    var xsrf='{{handler.xsrf_token}}';

    function publish(flag) {
        var zTree = $.fn.zTree.getZTreeObj("treeDemo");
        var nodes = zTree.getCheckedNodes(true);
        var check_list = [];
        var codes = [];
        for (var i=0; i<nodes.length; i++) {
            if(nodes[i].check_Child_State==-1 | nodes[i].check_Child_State==2)
            {
                if(nodes[i].data.length == 12) {
                    if(check_list.indexOf(nodes[i].data.substring(0, 4)) == -1 &&
                        check_list.indexOf(nodes[i].data.substring(0, 8)) == -1)
                    {
                        codes.push(nodes[i].data);
                    }
                }
                else if(nodes[i].data.length == 8){
                    if(check_list.indexOf(nodes[i].data.substring(0, 4)) == -1 &&
                        check_list.indexOf(nodes[i].data) == -1)
                    {
                        check_list.push(nodes[i].data);
                        codes.push(nodes[i].data);
                    }
                }
                else if(nodes[i].data.length == 4){
                    check_list.push(nodes[i].data);
                    codes.push(nodes[i].data);
                }
            }
        }
        console.log(codes);
        if(codes.length > 0) {
            $.post("/admin/change_release_area/{{sid}}", { _xsrf:xsrf, flag:flag, area_codes:codes.toString()}, function (data) {
                data = jQuery.parseJSON(data);
                layer.alert(data.msg);
            });
        }
        else {
            layer.alert('请选择要发布的地区');
        }
    }

    $(document).ready(function() {
        var setting = {
            async: {
                enable: true,
                type:"get",
                contentType: "application/json",
                url:"/ajax/area_tree?type=serverarea&bi_id={{sid}}",
                dataFilter: filter
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
            check: {
                enable: true
            },
        };

        function filter(treeId, parentNode, childNodes) {
            if (!childNodes) return null;
            for (var i=0, l=childNodes.length; i<l; i++) {
                childNodes[i].name = childNodes[i].name.replace(/\.n/g, '.');
            }
            return childNodes;
        }
        $.fn.zTree.init($("#treeDemo"), setting);
    });

    function pop(title, url) {
        layer.open({
            type: 2,
            title: title,
            shadeClose: true,
            shade: 0.8,
            area: ['90%', '90%'],
            content: url
        });
    }
</script>

</body>


</html>