<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/style/css/bootstrap.min.css" rel="stylesheet">
    <script src="/style/js/jquery-1.11.1.min.js"></script>
    <script src="/style/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/style/js/layer/layer.js"></script>
</head>
<body>
<div class="row" style="margin:5px 5px 0 5px;">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row">
                <form action="/admin/edit_saver_ticket" method="post" style="margin-top:10px;">
                    {{xsrf()}}
                    <input type="hidden" name="sid" value="{{sid}}">
                    <input type="hidden" name="ticket_id" value="{{id}}">
                    <input type="hidden" name="json" id="json" value='{{data}}'>
                    <div class="col-sm-12">
                        <input class="btn btn-primary" type="submit" value="保存" onclick="javascript:return saveData();"/>
                    </div>
                </form>

                <div class="col-sm-12" style="margin-top: 5px;" id="giftGroup">
                    <div class="panel panel-default" name="gift_item">
                        <div class="panel-heading">
                            <h3 class="panel-title" style="height:20px;">
                                <span class="pull-right">
                                    <a href="#" style="font-size:8px; margin:0px 20px;" onclick="addLine(this)">增加行</a>
                                </span>
                            </h3>
                        </div>
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>优惠券</th>
                                <th>数量</th>
                                <th>操作</th>
                            </tr>
                            {% for t in data %}
                            <tr>
                                <td><select class="form-control">
                                    {% for car_type in car_types %}
                                    <option value="{{car_type.id}}" {% if int(t['CarServiceType_id']) == int(car_type.id) %} selected {% endif %}>{{car_type.name}}/{{car_type.price}} </option>
                                    {% endfor %}
                                </select></td>
                                <td>
                                    <input type="text" class="form-control" name="count" placeholder="数量" value="{{t['count']}}"></td>
                                <td><a href="#" style="font-size:8px;" onclick="removeLine(this)">减少行</a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    function addLine(obj) {
        var html = '<tr><td><select class="form-control">' +
            '{% for car_type in car_types %}'+
            '<option value="{{car_type.id}}">{{car_type.name}}/{{car_type.price}}</option>'+
            '{% endfor %}' +
            '</select> </td>';
        html+='<td><input type="text" class="form-control" name="count" placeholder="数量"></td>';
        html+='<td><a href="#" style="font-size:8px;" onclick="removeLine(this)">减少行</a></td></tr>';
        $(obj).parent().parent().parent().parent().find('table').append(html);
    }

    function removeLine(obj) {
        var line = $(obj).parent().parent();
        line.remove();
    }

    function saveData() {
        var groups = [];
        $('div[name="gift_item"]').each(function(index, element){
            $(element).find('table tr').each(function(index2, element2){
                if (index2 > 0) {
                    var group = {};
                    group.CarServiceType_id = $(element2).find('select').val();
                    group.count = $(element2).find('input[name="count"]').val();
                    console.log(group.CarServiceType_id, group.count);
                    groups.push(group);
                }
            });
        });
        $('#json').val(JSON.stringify(groups));
        return true;
    }
</script>
