{% extends "layout/admin.html" %}
{% block content %}
<link href="/style/css/store_bigimg.css" rel="stylesheet">
<script type="text/javascript" src="/style/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/style/js/bigimg.js"></script>
<script type="text/javascript" src="/style/js/layer/layer.js"></script>
<div class="mskeLayBg"></div>
<div class="row">
    <nav>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                {% if s.store_type == 1 %}
                经销商
                {% elif s.store_type == 2 %}
                门店
                {% endif %}
                详情
            </a>
        </div>
    </nav>
</div>

<input id="sid" type="hidden" value="{{s.id}}">
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-body">
                <h4>基本信息</h4>
                {%set messages=handler.get_flashed_messages() %}
                {%if messages%}
                <div class="msg" style="color:red;">
                    {% for type, msg in messages%}
                    <span>{{msg}}</span>
                    {% endfor %}
                </div>
                {%endif%}
                <form action="" method="post" enctype="multipart/form-data">
                    {{xsrf()}}
                    <div class="form-group has-success">
                        <label class="control-label">门店名称</label>
                        <input type="text" name="name" class="form-control" value="{{s.name or ''}}"  required placeholder="门店名称" />
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label">经销商地址</label>
                        <div class="input-group">
                            <select name="province" id="province" onchange="GetSubAreas(this.value, 'city', '')" style="width:160px;height:32px;border-radius: 4px;margin-right:15px;">
                                <option value="">--所有省份--</option>
                                {% for area in areas %}
                                <option value="{{area.code}}" {{ 'selected' if area.code==s.area_code[:4] else ''}}>{{area.name}}</option>
                                {% endfor %}
                            </select>
                            <select name="city" id="city" onchange="GetSubAreas(this.value, 'district', '')"
                                    style="width:160px;height:32px;border-radius: 4px;margin-right:15px;">
                                <option value="">--所有城市--</option>
                            </select>
                            <select name="district" id="district" style="width:160px;height:32px;border-radius: 4px;margin-right:15px;">
                                <option value="">--所有区县--</option>
                            </select>
                        </div>
                        <input style="margin-top:10px;" type="text" name="address" class="form-control" value="{{s.address or ''}}" required  placeholder="经销商地址" />
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label">门店角色</label>
                        <label class="checkbox-inline">
                            <input type="radio" name="store_type" value="1" {{ 'checked' if s.store_type ==1 else ''}}> 经销商
                        </label>
                        <label class="checkbox-inline">
                            <input type="radio" name="store_type" value="2" {{ 'checked' if s.store_type ==2 else ''}}> 修理厂
                        </label>
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label">审核状态</label>
                        <label class="checkbox-inline">
                            <input type="radio" name="active" value="1" {{ 'checked' if s.active ==1 else ''}}> 通过
                        </label>
                        <label class="checkbox-inline">
                            <input type="radio" name="active" value="2" {{ 'checked' if s.active ==2 else ''}}> 拒绝
                        </label>
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label">开通保险业务</label>
                        <label class="checkbox-inline">
                            <input type="radio" name="process_insurance" value="1" {{ 'checked' if s.process_insurance ==1 else ''}}> 通过
                        </label>
                        <label class="checkbox-inline">
                            <input type="radio" name="process_insurance" value="0" {{ 'checked' if s.process_insurance ==0 else ''}}> 关闭
                        </label>
                    </div>
                    <div class="aa"></div>
                    <div class="mskelayBox">
                        <div class="mske_html"></div>
                        <div id="tool">
                            <a href="###" id="arr_left" onclick="funrotateEvent('example','left')">向左</a>
                            <a href="###" id="arr_right" onclick="funrotateEvent('example','right')">向右</a>
                        </div>
                        <img class="mskeClaose" src="/style/images/mke_close.png" width="27" height="27" />
                    </div>
                    <span class="hidden" style="diplay:none"><img id="example"/></span>

                    <div class="col-sm-6">
                        <div class="form-group has-success">
                            <label class="control-label">门店图片</label>
                            <img class="preview" id="img_image" src="{{s.store_image}}" width="80" height="80" style="display:block;">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-success">
                            <label class="control-label">营业执照</label>
                            <img class="preview" id="img_license" src="{{s.license_image}}" width="80" height="80" style="display:block;">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group has-success">
                            <label class="control-label">法人</label>
                            <input type="text" name="legal_person" class="form-control" value="{{s.legal_person or ''}}"  required placeholder="法人" />
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group has-success">
                            <label class="control-label">营业执照注册号</label>
                            <input type="text" name="license_code" class="form-control" value="{{s.license_code or ''}}"  required placeholder="营业执照注册号" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group has-success">
                            <label class="control-label">联系人</label>
                            <input type="text" name="linkman" class="form-control" value="{{s.linkman or ''}}"  required placeholder="联系人" />
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group has-success">
                            <label class="control-label">联系人手机号</label>
                            <input type="text" name="mobile" class="form-control" value="{{s.mobile or ''}}"  required placeholder="联系人手机号" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group has-success">
                        <label class="control-label">返佣策略区域</label>
                        <div class="input-group">
                            <select name="policy_code_province" id="province2" onchange="GetSubAreas(this.value, 'city2', '')" style="width:160px;height:32px;border-radius: 4px;margin-right:15px;">
                                <option value="">--所有省份--</option>
                                {% for area in areas %}
                                <option value="{{area.code}}" {{ 'selected' if area.code==s.insurance_policy_code[:4] else ''}}>{{area.name}}</option>
                                {% endfor %}
                            </select>
                            <select name="policy_code" id="city2" style="width:160px;height:32px;border-radius: 4px;margin-right:15px;">
                                <option value="">--所有城市--</option>
                            </select>
                        </div>
                    </div>
                    </div>

                    {% if 'A' in admin.roles or 'D' in admin.roles %}
                    <div class="col-sm-4">
                    <div class="form-group has-success">
                        <label class="control-label">推广人员</label>
                        <div class="input-group">
                            <select name="referee" style="width:160px;height:32px;border-radius: 4px;margin-right:15px;">
                                <option value="">--选择推广人--</option>
                                {% for referee in referees %}
                                <option value="{{referee.code}}"{% if s.admin_code == referee.code %} selected="selected" {% endif %}>{{referee.realname}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    </div>
                    {% endif %}
                    <div class="col-sm-12"></div>
                    <div class="form-group has-success col-sm-8">
                        <input style="width:90px;height:32px;border:1px solid #438bca;border-radius:4px;background:#438bca;color:#fff;margin-right:30px;font-size:16px;" type="submit" name="sub" value="保 存">
                        <input type="reset" name="sub" value="重 置" style="width:90px;height:32px;border:1px solid #438bca;border-radius:4px;background:#fff;color:#438bca;font-size:16px;">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-body">
                <h4>业务信息</h4>
                <div class="row">
                    <div class="col-sm-6"><label>推广人员：{{s.admin_user.realname if s.admin_user else '无'}}</label></div>
                    <div class="col-sm-6"><label>创建时间：{{s.created | dateformat}}</label></div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><label>积分：{{s.score}} (<a href='#' onclick="pop('积分变动记录','/admin/score_history?store_id={{s.id}}')">查看变动记录</a>)</label></div>
                    <div class="col-sm-6"><label>余额：￥{{s.price}}(<a href='#' onclick="pop('余额变动记录','/admin/money_history?store_id={{s.id}}')">查看变动记录</a>)</label></div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><label>保险订单数：{{s.insurance_orders.count()}} (<a href='#' onclick="pop('保险订单历史','/admin/insurance_order_history?store_id={{s.id}}')">查看详情</a>)</label></div>
                    {% if s.store_type == 1 %}
                    <div class="col-sm-6"><label>商品销售订单：{{s.saler_sub_orders.count()}}(<a href='#' onclick="pop('售出订单历史','/admin/order_history?store_id={{s.id}}')">查看详情</a>)</label></div>
                    {% elif s.store_type == 2 %}
                    <div class="col-sm-6"><label>商品购买订单：{{s.orders.count()}}(<a href='#' onclick="pop('采购订单历史','/admin/order_history?store_id={{s.id}}')">查看详情</a>)</label></div>
                    {% endif %}
                </div>
                {% if s.process_car_service == 1 %}
                <div class="row">
                    <div class="col-sm-6"><label>核销服务券：{{s.store_service_cards.count()}} (<a href='#' onclick="pop('核销服务券记录','/admin/car_service_cards?store_id={{s.id}}')">查看记录</a>)</label></div>
                </div>
                {% endif %}
                <br>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">门店员工账户</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover" id="tb_user" cellpadding="0" cellspacing="0" border="0" style="text-align:center;">
                                <thead>
                                <tr>
                                    <th style="width:10%;text-align:center;">姓名</th>
                                    <th style="width:10%;text-align:center;">电话</th>
                                    <th style="width:10%;text-align:center;">角色</th>
                                    <th style="width:15%;text-align:center;">最后登录时间</th>
                                    <th style="width:10%;text-align:center;">状态</th>
                                </tr>
                                {% for user in s.users %}
                                <tr>
                                    <td><a href="/admin/user?id={{user.id}}" target="_blank">{{user.truename}}</a></td>
                                    <td>
                                        {{user.mobile}}
                                    </td>
                                    <td>
                                        {% if user.role=='A' %}
                                        <span style="">管理员</span><br>
                                        {% elif user.active=='G' %}
                                        <span style="">员工</span><br>
                                        {% endif %}
                                    </td>
                                    <td>{{user.lsignined|dateformat}}</td>

                                    <td>
                                        {% if user.active==0 %}
                                        <span style="">已禁用</span>
                                        {% elif user.active==1 %}
                                        <span style="">正常</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-sm-12 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-body">
                <h4>返佣配置</h4>
                <div class="panel panel-success">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover" id="tb_user_2" cellpadding="0" cellspacing="0" border="0" style="text-align:center;">
                                <thead>
                                <tr>
                                    <th style="width:10%;text-align:center;">保险公司</th>
                                    <th style="width:15%;text-align:center;">送油商</th>
                                    <th style="width:10%;text-align:center;">返现率</th>
                                    <th style="width:10%;text-align:center;">返油率</th>
                                    <th style="width:10%;text-align:center;">操作</th>
                                </tr>
                                {% for policy in policies %}
                                <tr>
                                    <td><a href="#" onclick="pop('修改政策','/admin/change_policy/{{policy.id}}')">{{policy.insurance.name}}</a></td>
                                    <td>{{policy.dealer_store.name}}</td>
                                    <td><a href="#" onclick="pop('返现政策','/admin/insurance/score?iid={{policy.insurance.id}}&sid={{policy.store.id}}')">查看/修改</a></td>
                                    <td><a href="#" onclick="pop('返油政策','/admin/insurance/lube?iid={{policy.insurance.id}}&sid={{policy.store.id}}')">查看/修改</a></td>
                                    <td>
                                        <a href="/admin/delete_policy/{{s.id}}?iid={{policy.insurance.id}}" onclick="return confirm('确定删除此政策?')" style="padding:4px 5px;border:1px solid #438bca;color:#438bca;border-radius:4px;font-size:12px;text-decoration:none;">删除</a>
                                        <a href="/admin/clone_policy/{{policy.id}}" style="display:none;padding:4px 5px;border:1px solid #438bca;color:#438bca;border-radius:4px;font-size:12px;text-decoration:none;">克隆</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </thead>
                            </table>
                        </div>
                        <td><a href="#" onclick="pop('添加返佣政策','/admin/add_policy/{{s.id}}')" style="padding:4px 5px;border:1px solid #438bca;color:#438bca;border-radius:4px;font-size:12px;text-decoration:none;">新增</a></td>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}

<script>
    $(document).ready(function() {
        // 页面初始化时绑定地址信息：省、市、区
        if("{{s.area_code}}".length >= 4) {
            GetSubAreas("{{s.area_code[:4]}}", "city", "{{s.area_code[:8]}}");
            if("{{s.area_code}}".length >= 12) {
                GetSubAreas("{{s.area_code[:8]}}", "district", "{{s.area_code[:12]}}");
            }
        }

        if("{{s.insurance_policy_code}}".length >= 4) {
            GetSubAreas("{{s.insurance_policy_code[:4]}}", "city2", "{{s.insurance_policy_code[:8]}}");
        }
    });

    function pop(title, url) {
        layer.open({
            type: 2,
            title: title,
            shadeClose: true,
            shade: 0.8,
            area: ['90%', '90%'],
            content: url,
            end: function () { window.location.reload(); }
        });
    }

    function GetSubAreas(parent_code, ddl_id, seleted_code) {
        if(parent_code.length == 0) {
            if(ddl_id == "city" | ddl_id == "district"){
                $("#city").html('');
                $("#city").append("<option value=''>--所有城市--</option>");
                $("#district").html('');
                $("#district").append("<option value=''>--所有区县--</option>");
                return;
            } else if(ddl_id == "city2"){
                $("#city2").html('');
                $("#city2").append("<option value=''>--所有城市--</option>");
                return;
            }
        }
        $.get("/ajax/GetSubAreas", { pcode: parent_code,  t: Math.random() }, function (data) {
            data = jQuery.parseJSON(data);
            if(data.flag==1){
                $("#" + ddl_id).html('');
                if(parent_code.length == 4) {
                    $("#" + ddl_id).append("<option value=''>--所有城市--</option>");
                }
                else if (parent_code.length == 8) {
                    $("#" + ddl_id).append("<option value=''>--所有区县--</option>");
                }
                for(var i=0; i< data.data.length; i++){
                    if(data.data[i]["code"]==seleted_code){
                        $("#" + ddl_id).append("<option value=\"" + data.data[i]["code"] + "\" selected>" + data.data[i]["name"] + "</option>");
                    } else{
                        $("#" + ddl_id).append("<option value=\"" + data.data[i]["code"] + "\">" + data.data[i]["name"] + "</option>");
                    }
                }
            }
        });
    }
</script>
{% endblock %}