{% extends "layout/admin.html" %}
{% block css %}
<link href="/style/css/plugins/dataTables.bootstrap.css" rel="stylesheet">
<link href="/style/css/store_bigimg.css" rel="stylesheet">
<script type="text/javascript" src="/style/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/style/js/bigimg.js"></script>

<style>
    #province,#city{
        height:34px;
        margin-left: 0px;
        transform:translateY(2px);
        -webkit-transform:translateY(2px);
        border-radius:4px;
        border-color:#ccc;
    }
    .table th{
        text-align:center;
    }
</style>
{% endblock %}
{% block content %}
<div class="mskeLayBg"></div>

<div class="row">
    <nav>
        <div><a class="navbar-brand" href="#">修理厂管理</a></div>
        <div class="pull-right">
            <form class="navbar-form navbar-left" action="" method="get" role="search">
                <label class="num">状态：&nbsp;</label>
                <select class="form-control" id="status" name="status">
                    <option value="-1" {{status==-1 and 'selected'}} >全部</option>
                    <option value="0" {{status==0 and 'selected'}} >待审核</option>
                    <option value="1" {{status==1 and 'selected'}}>已通过</option>
                    <option value="2" {{status==2 and 'selected'}}>未通过</option>
                </select>
                <label class="num">地区：</label>
                <select name="province" id="province" onchange="GetSubAreas(this.value, 'city', '')" data-default="{{default_province}}" style="width:120px;">
                    <option value="">--所有省份--</option>
                    {% for area in items %}
                    <option value="{{area.code}}" {{ 'selected' if area.code==province else ''}}>{{area.name}}</option>
                    {% endfor %}
                </select>
                <select name="city" id="city" onchange="GetSubAreas(this.value, 'district', '')" style="width:120px;">
                    <option value="">--选择城市--</option>
                </select>
                <div class="input-group">
                    <input type="text" name="begin_date" id="begin_date" value="{{begin_date}}" class="Wdate form-control"  onClick="WdatePicker()" style="width:110px; height: 34px;margin-right:5px;border:1px solid #ccc;border-radius:4px;" placeholder="开始日期"/>
                    <input type="text" name="end_date" id="end_date" value="{{end_date}}" class="Wdate form-control" onClick="WdatePicker()" style="width:110px; height:34px;margin-right:5px;border:1px solid #ccc;border-radius:4px;" placeholder="截止日期"/>
                    <input type="text" name="keyword" class="form-control" placeholder="店名/手机号" value="{{keyword or ''}}" style="width:145px;height:34px;border:1px solid #ccc;border-bottom-left-radius:4px;border-top-left-radius:4px;" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                        <button class="btn btn-default" type="submit" name="download" value="1">
                            <i class="fa fa-download"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </nav>
</div>
<div class="row">
    <div class="panel panel-primary">
        <div class="aa"></div>
        <div class="mskelayBox">
            <div class="mske_html"></div>
            <div id="tool">
                <a href="###" id="arr_left" onclick="funrotateEvent('example','left')">向左</a>
                <a href="###" id="arr_right" onclick="funrotateEvent('example','right')">向右</a>
            </div>
            <img class="mskeClaose" src="/style/images/mke_close.png" width="27" height="27" />
        </div>
        <div class="table-responsive">
            <table class="table table-hover" id="tb_vendor" cellpadding="0" cellspacing="0" border="0" style="text-align:center;">
                <thead>
                <tr style="background:#528acb;color:#fff;text-align:center;height:38px;line-height:38px;">
                    <th style="width:10%;text-align:center;">名称</th>
                    <th style="width:15%;text-align:center;">图片</th>
                    <th style="width:6%;text-align:center;">联系人</th>
                    <th style="width:15%;text-align:center;">地址信息</th>
                    <th style="width:10%;text-align:center;">积分/余额</th>
                    <th style="width:8%;text-align:center;">账户状态</th>
                    <th style="width:10%;text-align:center;">创建时间</th>
                    <th style="width:10%;text-align:center;">操作</th>
                </tr>
                {% for store in stores %}
                <tr>
                    <td><a href="/admin/store_detail/{{store.id}}">{{store.name}}</a><br/>{{store.mobile}}</td>
                    <td>
                        <img class="preview" src="{{store.store_image}}" title="门店图片" width="80" height="60" />
                        <img class="preview" src="{{store.license_image}}" title="营业执照" width="80" height="60" />
                        <span class="hidden" style="diplay:none">
                            <img id="example" class="img-modal"/>
                        </span>
                    </td>
                    <td>{{store.linkman}}</td>
                    <td>{{Area().get_detailed_address(store.area_code)}}<br />{{store.address}}</td>
                    <td>积分：{{store.score}}<br />
                        余额：{{store.price}}</td>
                    <td>
                            <span id="check{{store.id}}">
                                {% if store.active==0 %}
                                <span style="color: red;">待审核</span><br>
                                {% elif store.active==1 %}
                                <span style="color: #5cb85c;">已通过</span><br>
                                {% elif store.active==2 %}
                                <span style="color: #f0ad4e;">未通过</span><br>
                                {% endif %}
                            </span>
                    </td>
                    <td>{{store.created|dateformat}}</td>
                    <td>
                        {% if store.active==0 %}
                        <button type="button" onclick="change_status({{store.id}}, 1)" id='bt_pass_{{store.id}}'
                                class="btn btn-xs btn-success" >
                            通过
                        </button>
                        <button type="button" onclick="change_status({{store.id}}, 2)" id='bt_fail_{{store.id}}'
                                class="btn btn-xs btn-warning" >
                            拒绝
                        </button>
                        {% elif store.active==1 %}
                        <button type="button" onclick="change_status({{store.id}}, 2)" id='bt_fail_{{store.id}}'
                                class="btn btn-xs btn-warning" >
                            拒绝
                        </button>
                        {% elif store.active==2 %}
                        <button type="button" onclick="change_status({{store.id}}, 1)" id='bt_pass_{{store.id}}'
                                class="btn btn-xs btn-success" >
                            通过
                        </button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </thead>
            </table>
            <div>
                <div class="col-sm-4">
                    <div class="dataTables_info" role="alert" aria-live="polite" aria-relevant="all">
                        当前：第{{page}}页 / {{totalpage}}页，合计{{total}}条
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination  pagination-sm" id="pageUl" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="/style/js/jquery.twbsPagination.min.js"></script>
<script type="text/javascript" src="/style/js/jQueryRotate.js"></script>
<script>
    $(document).ready(function() {
        $('#bt_export').bind('click', function () {
            var xsrf='{{handler.xsrf_token}}';
            $.post("/ajax/exportStore",
                {
                    _xsrf: xsrf,
                    keyword: $("#keyword").val(),
                    province: $("#province").val(),
                    city: $("#city").val(),
                    district: $("#district").val(),
                    status: $("#status").val()
                },
                function (data) {
                    var obj = jQuery.parseJSON(data);
                    if (obj.flag == 1) {
                        window.open("/upload/" + obj.msg);
                    }
                    else {
                        alert('导出Excel失败');
                    }
                });
        });

        $('#pageUl').twbsPagination({
            first:'首页',
            prev:'上一页',
            next:'下一页',
            last:'尾页',
            totalPages: {{totalpage}},
            startPage: {{page}},
            visiblePages: 8,
                onPageClick: function (event, page) {
                self.location="/admin/store?keyword={{keyword or ''}}&province={{province or ''}}&city={{city or ''}}&district={{district or ''}}&status={{status or '-1'}}&page="+page;
            }
        });

        // 页面初始化时绑定地址信息：省、市、区
        if("{{province}}".length > 0) {
            GetSubAreas("{{province}}", "city", "{{city}}");
            if("{{city}}".length > 0) {
                GetSubAreas("{{city}}", "district", "{{district}}");
            }
        }
    });

    var xsrf='{{handler.xsrf_token}}';
    function change_status(id, state_type){
        $.post("/ajax/store_update_state", { _xsrf:xsrf,id: id, state_type:state_type }, function (data) {
            data = jQuery.parseJSON(data);
            alert(data.msg);
            if(data.flag==1){
                location.reload();
            }
        });
    }

    function GetSubAreas(parent_code,ddl_id, seleted_code) {
        if(parent_code.length == 0) {
            $("#city").html('');
            $("#city").append("<option value=''>--所有城市--</option>");
            $("#district").html('');
            $("#district").append("<option value=''>--所有区县--</option>");
            return;
        }
        $.get("/ajax/GetSubAreas", { pcode: parent_code,  t: Math.random() }, function (data) {
            data = jQuery.parseJSON(data);
            if(data.flag==1){
                $("#" + ddl_id).html('');
                if(parent_code.length == 4) {
                    $("#" + ddl_id).append("<option value=''>--所有城市--</option>");
                }
                else if (parent_code.length == 8) {
                    $("#" + ddl_id).append("<option value=''>--所有区县--</option>");
                }
                for(var i=0; i< data.data.length; i++){
                    if(data.data[i]["code"]==seleted_code){
                        $("#" + ddl_id).append("<option value=\"" + data.data[i]["code"] + "\" selected>" + data.data[i]["name"] + "</option>");
                    } else{
                        $("#" + ddl_id).append("<option value=\"" + data.data[i]["code"] + "\">" + data.data[i]["name"] + "</option>");
                    }
                }
            }
        });
    }
</script>
{% endblock %}