{% extends "layout/admin.html" %}
{% block css %}
<link href="/style2/css/plugins/dataTables.bootstrap.css" rel="stylesheet">
<link href="/style2/css/store_bigimg.css" rel="stylesheet">
<script type="text/javascript" src="/style2/js/jquery-1.9.1.min.js"></script>

<script type="text/javascript" src="/style2/js/bigimg.js"></script>

{% endblock %}
{% block content %}
<div class="mskeLayBg"></div>
<div class="row">
    <nav>
        <div class="navbar-header" style="float: left">
            <a class="navbar-brand" href="#" style="font-weight:500;">门店管理</a>
        </div>
        <div class="pull-right">
            <input id="bt_export" class="btn btn-info" type="button" value="导出EXCEL" style="margin-top:8px;" />
            <form class="navbar-form navbar-left" action="" >

                <div class="btn-group" style="display: none;">
                    <a type="button" class="btn btn-default {% if d==0 %} active {% endif %}" href="/admin/stores">全部</a>
                    <a type="button" class="btn btn-default {% if check_state==1 %} active {% endif %}" href="/admin/stores?check_state=0">未审核</a>
                    <a type="button" class="btn btn-default {% if check_state==2 %} active {% endif %}" href="/admin/stores?check_state=2">未通过</a>
                </div>

                <select class="form-control" id="check_state" name="check_state">
                    <option value="0" {{check_state==0 and 'selected'}} >未审核</option>
                    <option value="1" {{check_state==1 and 'selected'}}>通过</option>
                    <option value="2" {{check_state==2 and 'selected'}}>未通过</option>
                </select>
                <div class="input-group custom-search-form">
                    <input type="text" name="keyword" class="form-control" style="width:150px;" value="{{keyword}}" placeholder="门店名称/登录名/地区">
                    <span class="input-group-btn">
                       <button class="btn btn-default" type="submit">
                           <i class="fa fa-search"></i>
                       </button>
                   </span>
               </div>
           </form>
       </div>
   </nav>
</div>
<div class="row">
    <div class="panel panel-primary">
        <div class="aa"></div>
        <div class="mskelayBox">
            <div class="mske_html">
            </div>
            <div id="tool">
                <a href="###" id="arr_left" onclick="funrotateEvent('example','left')">向左</a>
                <a href="###" id="arr_right" onclick="funrotateEvent('example','right')">向右</a>
            </div>
            <img class="mskeClaose" src="/style2/images/mke_close.png" width="27" height="27" />
        </div>
        <div class="table-responsive">
            <table class="table table-hover" id="tb_vendor" cellpadding="0" cellspacing="0" border="0" style="text-align:center;">
                <thead>
                    <tr style="background:#528acb;color:#fff;text-align:center;height:38px;line-height:38px;">
                        <th style="width:8%;text-align:center;">登录名</th>
                        <th style="width:10%;text-align:center;">客户名称</th>
                        <th style="width:6%;text-align:center;">角色</th>
                        <th style="width:24%;text-align:center;">图片</th>
                        <th style="width:6%;text-align:center;">联系人</th>
                        <th style="width:10%;text-align:center;">地区</th>
                        <th style="width:14%;text-align:center;">详细地址</th>
                        <th style="width:7%;text-align:center;">账户状态</th>
                        <th style="width:9%;text-align:center;">创建时间</th>
                        <th style="width:6%;text-align:center;">操作</th>
                    </tr>
                    {% for c in cfs %}
                    <tr>
                        <td>
                            {{c.mobile}}
                        </td>
                        <td>{{c.store.name}}</td>
                        {% if c.grade==1 %}
                        <td>门店</td>
                        {% elif c.grade==3 %}
                        <td>代理商</td>
                        {% elif c.grade==4 %}
                        <td>银行服务商</td>
                        {% elif c.grade==5 %}
                        <td>super代理商</td>
                        {% else %}
                        <td>其它</td>
                        {% endif %}
                        <td>
                            <img class="preview" src="{{c.store.image}}" title="门店图片" width="80" height="80" />
                            <!--<img class="preview" src="{{c.store.image_legal}}" title="法人身份证照片" width="80" height="80" />-->
                            <img class="preview" src="{{c.store.image_license}}" title="营业执照" width="80" height="80" />
                            <span class="hidden" style="diplay:none">
                                <img id="example" class="img-modal"/>
                            </span>
                        </td>
                        <td>
                            {{c.store.link_man}}
                        </td>
                        <td>
                            {{Area.get(code=c.store.area_code[:4]).name}}
                            {% if len(c.store.area_code)>=8 %}
                            {{Area.get(code=c.store.area_code[:8]).name}}
                            {% endif %}
                            {% if len(c.store.area_code)==12 %}
                            {{Area.get(code=c.store.area_code).name}}
                            {% endif %}

                        </td>
                        <td>{{c.store.address}}</td>
                        <td>
                            <span id="check{{c.store.id}}">
                                {% if c.store.check_state==0 %}
                                <span style="color: #528acb;">未审核</span><br>
                                {% elif c.store.check_state==1 %}
                                <span style="color: #528acb;">已通过</span><br>
                                {% elif c.store.check_state==2 %}
                                <span style="color: #262626;">未通过</span><br>
                                {% endif %}
                            </span>

                            <span id="active{{c.store.id}}">
                                {% if c.isactive==0 %}
                                <span style="color: #ff5231">禁用</span>
                                {% elif c.isactive==1 %}
                                <span style="color: #528acb;">启用</span>
                                {% endif %}
                            </span>
                        </td>
                        <td>{{c.store.created|dateformat}}</td>
                        <td>
                            <a class="btn btn-outline btn-primary btn-xs" href="/admin/store_add/{{c.store.id}}" style="color: #528acb;border:1px solid #528acb;border-radius:4px;padding:3px;font-size:14px;margin-bottom:20px;">详情</a><br>
                            <span id="checkB{{c.store.id}}" onclick="change_status({{c.store.id}},0)" style="cursor:pointer;">
                                {% if c.store.check_state==0 %}
                                <span style="color: #528acb;border:1px solid #528acb;border-radius:4px;padding:3px;font-size:14px;">通过</span><br>
                                {% else %}
                                <span style="color: #aaa;border:1px solid #aaa;border-radius:4px;padding:3px;font-size:14px;">通过</span><br>
                                {% endif %}
                            </span><br>

                            <span id="checkC{{c.store.id}}" onclick="change_status({{c.store.id}},1)" style="cursor:pointer;">
                                {% if c.store.check_state==0 %}
                                <span style="color: #528acb;border:1px solid #528acb;border-radius:4px;padding:3px;font-size:14px;">不通过</span><br>
                                {% else %}
                                <span style="color: #aaa;border:1px solid #aaa;border-radius:4px;padding:3px;font-size:14px;">不通过</span><br>
                                {% endif %}
                            </span><br>
                            <span id="activeB{{c.store.id}}" onclick="change_status({{c.store.id}},2)" style="cursor:pointer;">
                                {{c.isactive==1 and '<span style="color: #ff5231;border:1px solid #ff5231;border-radius:4px;padding:3px;font-size:14px;">禁用</span>' or '<span style="color: #528acb;border:1px solid #528acb;border-radius:4px;padding:3px;font-size:14px;">启用</span>'}}
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                </thead>

            </table>
            <div>
                <div class="col-sm-4">
                    <div class="dataTables_info" role="alert" aria-live="polite" aria-relevant="all">
                        当前：第{{page}}页 / {{totalpage}}页，合计{{total}}条
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination  pagination-sm" id="pageUl" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="/style2/js/jquery.twbsPagination.min.js"></script>
<script type="text/javascript" src="/style2/js/jQueryRotate.js"></script>
<script>

    $(document).ready(function() {
        $('#bt_export').bind('click', function () {
            var sql = {'begindate':'1970-01-01', 'enddate':'2016-09-09'};
            var xsrf='{{handler.xsrf_token}}';
            $.post("/ajax/orders/exportStore",
            {
                sql: JSON.stringify(sql),
                _xsrf: xsrf,
                keyword: '{{keyword}}'
            },
            function (data) {
                var obj = jQuery.parseJSON(data);
                if (obj.err == 0) {
                    alert('生成成功，点击下载连接，下载数据文件！');
                    window.open("/upload/" + obj.msg);
                }
                else {
                    alert('生成失败：' + obj.msg);
                }
            });
        });

        $('#pageUl').twbsPagination({
            first:'首页',
            prev:'上一页',
            next:'下一页',
            last:'尾页',
            totalPages: {{totalpage}},
            startPage: {{page}},
            visiblePages: 8,
            onPageClick: function (event, page) {
                self.location="/admin/stores?keyword={{keyword}}&page="+page;
            }
        });
    });
    var xsrf='{{handler.xsrf_token}}';
    function change_status(id,state_type){
        $.post("/ajax/store_update_state", { _xsrf:xsrf,id: id, state_type:state_type }, function (data) {
            data = jQuery.parseJSON(data);
            if(data.err==0){
                state = data.msg
                if(state_type==0){ // 更新审核状态
                    if(state == 0){
                        $("#check"+id).html("未审核");
                    }
                    else if(state == 1){
                        $("#check"+id).html("<span style=\"color: #528acb;\">已通过</span><br>");
                        $("#checkB"+id).html("<span style=\"color: #aaa;border:1px solid #aaa;border-radius:4px;padding:3px;font-size:14px;\">通过</span><br>");
                        $("#checkC"+id).html("<span style=\"color: #aaa;border:1px solid #aaa;border-radius:4px;padding:3px;font-size:14px;\">不通过</span><br>");
                    }
                }
                else if(state_type==1){ // 更新 账户状态
                    if(state == 0){
                        $("#check"+id).html("未审核");
                    }
                    else if(state == 2){
                        $("#check"+id).html("<span style=\"color: #528acb;\">未通过</span><br>");
                        $("#checkB"+id).html("<span style=\"color: #aaa;border:1px solid #aaa;border-radius:4px;padding:3px;font-size:14px;\">通过</span><br>");
                        $("#checkC"+id).html("<span style=\"color: #aaa;border:1px solid #aaa;border-radius:4px;padding:3px;font-size:14px;\">不通过</span><br>");
                    }
                }
                else if(state_type==2){ // 更新 账户状态
                    if(state == 1){
                     $("#active"+id).html("<span style=\"color: #528acb;\">启用</span>");
                     $("#activeB"+id).html("<span style=\"color: #ff5231;border:1px solid #ff5231;border-radius:4px;padding:3px;font-size:14px;\">禁用</span>");
                 }
                 else{
                     $("#active"+id).html("<span style=\"color: #ff5231;\">禁用</span>");
                     $("#activeB"+id).html("<span style=\"color: #528acb;border:1px solid #528acb;border-radius:4px;padding:3px;font-size:14px;\">启用</span>");
                 }
             }
         }
         else{
            alert(data.msg)
        }
    });
    }
    
</script>
{% endblock %}