{% extends "layout/admin.html" %}
{% block css %}
<link href="/style2/css/plugins/dataTables.bootstrap.css" rel="stylesheet">
<style>
    .hz{color:#129a00; font-weight: bold;}
</style>
{% endblock %}
{% block content %}
<div class="row">
   <nav>
   <div>
      <a class="navbar-brand" href="#">会员管理</a>
   </div>
   <div class="pull-right">
      <form class="navbar-form navbar-left" action="" method="get" role="search">
	  
	     <div class="btn-group btn-group-xs">
          <!-- <div class="btn-group btn-group-xs"> -->
            <a type="button" class="btn btn-default" href="/admin/users?keyword={{keyword or ''}}&ordernum={{ordernum or ''}}" style="padding:8px 4px;border:1px solid #ccc;border-bottom-left-radius:4px;border-top-left-radius:4px;">全部</a>
            <a type="button" class="btn btn-default" href="/admin/users?group=1&keyword={{keyword or ''}}&ordernum={{ordernum or ''}}" style="padding:8px 4px;border:1px solid #ccc;border-left:none;">已启用</a>
            <a type="button" class="btn btn-default" href="/admin/users?group=0&keyword={{keyword or ''}}&ordernum={{ordernum or ''}}" style="padding:8px 4px;border:1px solid #ccc;border-left:none;border-bottom-right-radius:4px;border-top-right-radius:4px;">已禁用</a>
         </div>
		
         <div class="input-group custom-search-form">
             <input type="text" name="begindate" id="begindate" value="{{begindate}}" class="Wdate form-control"  onClick="WdatePicker()" style="width:110px; height: 34px;margin-right:5px;border:1px solid #ccc;border-radius:4px;" placeholder="开始日期" />
             <input type="text" name="enddate" id="enddate" value="{{enddate}}" class="Wdate form-control" onClick="WdatePicker()" style="width:110px; height: 34px;margin-right:5px;border:1px solid #ccc;border-radius:4px;" placeholder="截止日期" />

            <select class="form-control" style="width:108px;height:34px;margin-right:5px;border:1px solid #ccc;border-radius:4px;" id="order_sign" name="order_sign">
                <option value="0" {{order_sign=='0' and 'selected'}}>注册降序</option>
                <option value="1" {{order_sign=='1' and 'selected'}}>注册升序</option>
                <option value="2" {{order_sign=='2' and 'selected'}}>订单降序</option>
                <option value="3" {{order_sign=='3' and 'selected'}}>订单升序</option>
            </select>
             <input type="text" name="keyword" style="width:210px;height:34px;border:1px solid #ccc;border-bottom-left-radius:4px;border-top-left-radius:4px;" id="keyword" value="{{keyword or ''}}" class="form-control" placeholder="登录名/订单号" />
             <!-- <input type="text" name="ordernum" style="width:100px;"  id="ordernum" value="{{ordernum or ''}}" class="form-control" placeholder="订单号查找" /> -->
             <span class="input-group-btn" style="margin-right:5px;">
                 <button class="btn btn-default" type="submit" id="bt_submit">
                     <i class="fa fa-search"></i>
                 </button>
            </span>
         </div>
		 
		  <input type="button" class="btn btn-info" value="导出" id="btn_export" style="width:60px;height:34px;border:none;  background:#528ACB;border-radius:4px;color:#fff;">
		 
      </form>
   </div>
</nav>
</div>
<div class="row">
    <div class="panel panel-primary">
    <!--<div class="panel-body">-->
        <div class="table-responsive">
        <table class="table table-hover" id="tb_users" cellpadding="0" cellspacing="0" border="0" style="text-align:center;">
            <thead>
                <tr style="background:#528acb;color:#fff;text-align:center;height:38px;line-height:38px;">
                    <th style="width:15%;text-align:center;">登录名</th>
                    <!--<th>手机号</th>
                    <th>邮箱</th>-->
                    <th style="width:25%;text-align:center;">注册时间</th>
                    <th style="width:25%;text-align:center;">最后登录时间</th>
                    <th style="width:15%;text-align:center;">来源</th>
                    <th style="width:10%;text-align:center;">有效单数</th>
                    <th style="width:10%;text-align:center;">操作</th>
                </tr>
            </thead>
            <tbody>
            {% if users %}
            {% for u in users -%}
            {% if u.isactive==0 %}
                <tr>
            {% else %}
                <tr>
            {%endif%}

                <td><a href="/admin/user/{{u.id}}">{{u.username}}</a></td>
                <!--<td>{{u.mobile}}</td>
                <td>{{u.email}}</td>-->
                <td>{{u.signuped|datetimeformat}}</td>
                <td>{{u.lsignined|datetimeformat}}</td>
                <td>
                {% if u.phoneactived==0  %}
                    网站注册
                {% elif u.phoneactived==1 %}
                    手机注册
                {% endif %}
                </td>
                <td align="center" ><span style="color:#00a73b; font-weight: bold;">{{u.order_count}}单</span></td>
                <td>
                    <a style="display:none;" class="btn btn-default btn-xs btnzcl {{u.gift[0] == '1' and 'hz' or ''}}" data-id="{{u.id}}" data-name="{{u.username}}">{{u.gift[0] == '1' and '已兑换' or '注册礼'}}</a>
                    <a style="display: none;" class="btn btn-default btn-xs btnsdl {{u.gift[1] == '1' and 'hz' or ''}}" data-id="{{u.id}}">{{u.gift[1] == '1' and '已获赠' or '首单礼'}}</a>
                    <a style="display:none;" class="btn btn-default btn-xs" href="/admin/add_gift/{{u.id}}">赠品</a>
                    <a class="btn btn-default btn-xs" href="/admin/user_interview/{{u.id}}">访谈</a>
                </td>
            </tr>
			{%- endfor %}
            {% endif %}
            </tbody>
        </table>
            <div>
                <div class="col-sm-4">
                    <div class="dataTables_info" role="alert" aria-live="polite" aria-relevant="all">
                        当前：第{{page}}页 / {{totalpage}}页，合计{{total}}条
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination  pagination-sm" id="pageUl" />
                    </div>
                </div>
            </div>
        </div>
    <!--</div>-->
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/style2/js/jquery.twbsPagination.min.js"></script>
<script src="/style2/js/layer-v1.9/layer.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript" src="/style2/js/My97DatePicker/WdatePicker.js"></script>
        <script>
    $(document).ready(function() {
        $('#pageUl').twbsPagination({
            first:'首页',
            prev:'上一页',
            next:'下一页',
            last:'尾页',
            totalPages: {{totalpage}},
            startPage: {{page}},
            visiblePages: 8,
            onPageClick: function (event, page) {
                    self.location="/admin/users?page="+page + "&order_sign={{order_sign}}";
                }
        });
    });
    var xsrf='{{handler.xsrf_token}}';
    var begin = '{{begindate}}';
    var end = '{{enddate}}';
    var order_sign = '{{order_sign}}';

    $(function(){
        $(".btnzcl").click(function(){
            var uid = $(this).attr('data-id');
            var aa = $(this);
            var name = '<span style="color: orangered;">' + $(this).attr('data-name') + '</span>';
            layer.confirm("您确定要对用户"+name+"执行此操作吗？", {
                        btn: ['确定', '取消'],
                        shade: 0.2
                    },function () {
                $.post('/ajax/user_singup_gift', {
                    uid: uid,
                    _xsrf: xsrf,
                    t: Math.random()
                }, function (data) {
                    var obj = jQuery.parseJSON(data);
                    if (obj.err == 1) {
                        aa.html('已兑换');
                        aa.addClass('hz');
                    } else if (obj.err == 2) {
                        aa.html('注册礼');
                        aa.removeClass('hz');
                    }
                    layer.msg(obj.msg);
                });
                layer.closeAll();
            });
        });
        $(".btnsdl").click(function(){
            var uid = $(this).attr('data-id');
            var type = 2;
            var aa = $(this);
            $.post('/ajax/user_update_gift',{uid:uid, type:type, _xsrf:xsrf, t: Math.random()}, function(data){
                if(data == 1){
                    aa.html('已获赠');
                    //aa.removeClass('btnsdl');
                    aa.addClass('hz');
                }else if(data == 2){
                    aa.html('首单礼');
                    aa.removeClass('hz');
                }
            });
        });

        $('#btn_export').bind('click',function () {
            $.post("/ajax/export/users",{
                    begin: begin, end: end,
                    order_sign: order_sign,
                    _xsrf: xsrf
                },
                function (data) {
                    var obj = jQuery.parseJSON(data);
                    if (obj.err == 0) {
                        alert('生成成功，请保存CSV文件！');
                        window.open("/upload/" + obj.msg);
                    }
                    else {
                        alert('导出失败：' + obj.msg);
                    }
                });
        });
    });
    </script>
{% endblock %}