{% extends "layout/admin.html" %}
{% block css %}
<link href="/style/css/plugins/dataTables.bootstrap.css" rel="stylesheet">
<link href="/style/css/store_bigimg.css" rel="stylesheet">
<script type="text/javascript" src="/style/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/style/js/bigimg.js"></script>

{% endblock %}
{% block content %}
<div class="mskeLayBg"></div>
<div class="row">
    <nav>
        <div class="navbar-header" style="float: left">
            <a class="navbar-brand" href="#" style="font-weight:500;">客户管理</a>
        </div>
        <div class="pull-right">
            <form class="navbar-form navbar-left" action="" >
                <label class="num">状态：&nbsp;</label>
                <select class="form-control" id="status" name="status">
                    <option value="-1" {{status==-1 and 'selected'}} >全部</option>
                    <option value="1" {{status==1 and 'selected'}} >正常</option>
                    <option value="0" {{status==0 and 'selected'}}>已禁用</option>
                </select>
                
                <div class="input-group custom-search-form">
                    <input type="text" id="keyword" name="keyword" class="form-control" style="width:150px;" value="{{keyword}}" placeholder="门店、用户名、电话">
                    <span class="input-group-btn">
                     <button class="btn btn-default" type="submit">
                         <i class="fa fa-search"></i>
                     </button>
                 </span>
             </div>
         </form>
    </div>
</nav>
</div>
<div class="row">
    <div class="panel panel-primary">
        <div class="table-responsive">
            <table class="table table-hover" id="tb_vendor" cellpadding="0" cellspacing="0" border="0" style="text-align:center;">
                <thead>
                    <tr style="background:#528acb;color:#fff;text-align:center;height:38px;line-height:38px;">
                        <th style="width:10%;text-align:center;">姓名</th>
                        <th style="width:10%;text-align:center;">电话</th>
                        <th style="width:10%;text-align:center;">角色</th>
                        <th style="width:15%;text-align:center;">注册时间</th>
                        <th style="width:15%;text-align:center;">最后登录时间</th>
                        <th style="width:7%;text-align:center;">所属店铺</th>
                        <th style="width:10%;text-align:center;">状态</th>
                        <th style="width:10%;text-align:center;">操作</th>
                    </tr>
                    {% for user in users %}
                    <tr>
                        <td>{{user.truename}}</td>
                        <td>
                            {{user.mobile}}
                        </td>
                        <td>
                            {% if user.role=='A' %}
                                <span style="color: #528acb;">管理员</span><br>
                                {% elif user.active=='G' %}
                                <span style="color: #528acb;">员工</span><br>
                                {% endif %}
                        </td>
                        <td>
                            {{user.signuped|dateformat}}
                        </td>
                        <td>{{user.lsignined|dateformat}}</td>
                        <td>
                            {{user.store.name}}
                        </td>
                        <td>
                        	{% if user.active==0 %}
                                <span style="color: #528acb;">已禁用</span>
                                {% elif user.active==1 %}
                                <span style="color: #528acb;">正常</span>
                                {% endif %}
                        </td>
                        <td>
                            {% if user.active==0 %}
                            <button type="button" onclick="change_status({{user.id}}, 1)" 
                                    class="btn btn-xs btn-success" >
                                恢复
                            </button>
                            {% elif user.active==1 %}
                            <button type="button" onclick="change_status({{user.id}}, 0)" 
                                    class="btn btn-xs btn-warning" >
                                禁用
                            </button>
                            {% endif %}

                        </td>
                    </tr>
                    {% endfor %}
                </thead>

            </table>
            <div>
                <div class="col-sm-4">
                    <div class="dataTables_info" role="alert" aria-live="polite" aria-relevant="all">
                        当前：第{{page}}页 / {{totalpage}}页，合计{{total}}条
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination  pagination-sm" id="pageUl" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="/style/js/jquery.twbsPagination.min.js"></script>
<script type="text/javascript" src="/style/js/jQueryRotate.js"></script>
<script>

    $(document).ready(function() {
        $('#pageUl').twbsPagination({
            first:'首页',
            prev:'上一页',
            next:'下一页',
            last:'尾页',
            totalPages: {{totalpage}},
            startPage: {{page}},
            visiblePages: 8,
            onPageClick: function (event, page) {
                self.location="/admin/user?keyword={{keyword or ''}}&status={{status or '-1'}}&page="+page;
            }
        });
    });

    var xsrf='{{handler.xsrf_token}}';
    function change_status(id, state_type){
        $.post("/ajax/user_update_state", { _xsrf:xsrf,id: id, state_type:state_type }, function (data) {
            data = jQuery.parseJSON(data);
            alert(data.msg);
            if(data.flag==1){
                location.reload();
            } 
        });
    }
    
</script>
{% endblock %}